[2017-12-13 21:13] #899 closed

[2017-12-13 21:18] ethanwhite opened #1029 "Search for datasets by license"
We currently store license data in the `licenses` field for some datasets. It would be useful to be able to find datasets matching a particular license or set of licenses, e.g.,

CLI:
[code]

Python interface:
[code]

This should return a list of datasets with one of the specified licenses.

Similar CLI functionality exists at https://github.com/weecology/retriever/blob/master/retriever/__main__.p

[2017-12-13 21:20] ethanwhite commented on #856
Closing due to inactivity and lack of need for the issue at this point. Feel free to reopen if there's more to discuss.

[2017-12-13 21:20] #856 closed

[2017-12-13 21:21] ethanwhite commented on #562
I think the way we're failing when a dataset doesn't exist is sufficient for the time being.

[2017-12-13 21:21] #562 closed

[2017-12-13 21:23] ethanwhite commented on #969
See also #1029

[2017-12-13 21:32] ethanwhite commented on #386
That link isn't working anymore unfortunately. Here's the current source:

[code]

[2017-12-13 21:40] ethanwhite commented on #121
I think this is a low priority addition. In most cases folks should have a good idea that a dataset is large if they are downloading it. Closing for now as low priority.

[2017-12-13 21:40] #121 closed

[2017-12-13 21:42] ethanwhite commented on #186
Closing since we haven't heard back. Not much to do about this one.

[2017-12-13 21:42] #186 closed

[2017-12-13 21:44] ethanwhite commented on #182
The single table tsv version of this data is available here:
https://depot.globalbioticinteractions.org/snapshot/target/data/tsv/interactions.tsv.gz

[2017-12-13 23:25] ethanwhite commented on #36
Closing since this clearly hasn't risen to the top of the list. We do have some plans for implementing checksums as mentioned above.

[2017-12-13 23:25] #36 closed

[2017-12-13 23:28] ethanwhite commented on #51
This hasn't turned out to be a much needed feature so closing.

[2017-12-13 23:28] #51 closed

[2017-12-13 23:31] ethanwhite commented on #57
Closing due to lack to access to a direct download. Would love to add something like this. If someone finds meaningfully open data for this please reopen.

[2017-12-13 23:31] #57 closed

[2017-12-29 18:37] goelakash opened #1032 "Raise NotImplementedError for methods in base classes that should be overridden in child classes."
For eg., the `engine` class has several 'abstract' methods that are supposed to be overridden in the child classes, however, it is not enforced, as a call to the unimplemented parent class function will `pass`.
More context here: https://stackoverflow.com/questions/44576167/force-child-class-to-override-parents-methods

[2018-01-02 13:00] adhaamehab commented on #1029
Hi @ethanwhite
I will to work on this issue. How do I get started?

[2018-01-02 13:23] henrykironde commented on #1029
Hi @adhaamehab the best way to start is by looking at the developer docs on how to set up the environment. Let me know if you need any help when setting up the environment

[2018-01-02 20:49] adhaamehab commented on #1029
Hi @henrykironde  @ethanwhite
I'm a bit confused with issue #969
[code]
 will print

[code]
so what should this command output ? how should I differentiate between keyword and license?
should I first check if the input -or set of inputs- is a licenses ?

[2018-01-02 21:18] shreyneil commented on #939
I'll to try to work something out.
What are the desired values of insert_limit required for each engine.

[2018-01-02 23:56] henrykironde commented on #939
Depending on the database, for example sqlite https://www.sqlite.org/limits.html

[2018-01-03 00:37] henrykironde commented on #1029
We are using `argparse` in `retriever/retriever/lib/get_opts.py` to parse arguments.
Right now, for this specific command `retriever ls -l MIT`, Retriever searches for dataset that have keywords that are like MIT.
_We need to make it better actually, because MIT is not so close to the results provided._

However, If we add licenses, then we should adjust the code to look for datasets(scripts) that

[2018-01-03 06:44] shreyneil commented on #939
Just to be clear, So is the insert limit the number of parameters in an insert statement or the number of insert statements itself.

I guess SQLITE_MAX_COLUMN would work then.

[2018-01-04 01:27] henrykironde commented on #939
Thanks for this @shreyneil. The limit is on the number of rows to insert.

Given a multi row insert statement

[code]

How many of the  rows can you insert

[code]

SQL insert statements are limited by the size, which could be the number of columns or the rows
(Incase of a composite/multi insert statements) or just the total size of bytes.

In our case, we assume the number is more dependent on th

[2018-01-04 04:15] shreyneil commented on #939
For sqlite :  https://www.sqlite.org/limits.html
For mysql: https://dev.mysql.com/doc/refman/5.7/en/database-count-limit.html
For postgresqll: https://www.postgresql.org/message-id/42C3C382.5020108@cineca.it
For Msaccess : https://support.office.com/en-us/article/Access-2016-specifications-0cf3c66f-9cf2-4e32-9568-98c1025bb47c
For Xml : https://www.ibm.com/support/knowledgecenter/en/SS6NHC/com.ibm.

[2018-01-04 04:16] shreyneil commented on #939
Will run the tests and will get back.

[2018-01-04 06:46] henrykironde commented on #939
@shreyneil, This is a good start.
I have found some references too.

Using Bulk Insert Statement example:
- The first few lines show the difference between bulk insert and the classic one row at a time insert. You don't have to read all of it. http://www.geeksengine.com/database/data-manipulation/bulk-insert.php

Mysql
- https://dev.mysql.com/doc/refman/5.7/en/insert-optimization.html
This talks a

[2018-01-04 09:56] shreyneil commented on #939
This is great , now i get the proper idea will work out the same for all other engines.

[2018-01-04 11:26] shreyneil commented on #939
Please tell me something if you find something about csv,xml,json and postgresql.
The following limits were found for some of the engines:
Mysql : 524288000
sqlite : 500
msacess 75000000

[2018-01-04 11:46] henrykironde commented on #939
How have you arrived to these number? They look unreal.
Based on the links I sent you, seems that for Mysql, ~1000 rows is a good number.
Which I believe could be increased.

[code]

We need to find very good sources and test them out.

Then we could use the vertnet-birds dataset to test the speed before and after.

[2018-01-05 01:56] shreyneil commented on #939
Ok will try this out.

[2018-01-06 06:35] shreyneil commented on #939
@henrykironde
I ran the tests and the changes seem fine to work with all the engines except i could not test msaccess as i am using linux environment and for mysql i was getting the following error:

shreyash@shreyash-Inspiron-13-5378:~$ retriever install mysql vertnet-birds
=> Installing vertnet-birds
Creating database vertnet_birds...

Couldn't create database (No module named pymysql). Trying t

[2018-01-06 09:50] henrykironde commented on #939
No module named psycopg2, No module named pymysql
Install pymysql and psycopg2

[2018-01-07 05:13] shreyneil commented on #939
Sir installed the modules , now getting the following errors:
For mysql

$ retriever install mysql vertnet-birds
=> Installing vertnet-birds
Creating database vertnet_birds...

Couldn't create database ((2003, "Can't connect to MySQL server on 'localhost' ([Errno 111] Connection refused)")). Trying to continue anyway.
Creating table vertnet_birds.birds...
Couldn't create table ((2003, "Can't conne

[2018-01-07 05:56] shreyneil commented on #1009
@henrykironde  i am looking to work on this.
can you give me a heads up on how to proceed ?
Thank you.

[2018-01-07 15:38] shreyneil commented on #1012
Sir , just give me heads up on how to proceed.
Thank you.

[2018-01-07 22:23] henrykironde commented on #939
Your MySQL server looks like is not set to port 5432 or may not be running

[2018-01-08 01:21] shreyneil commented on #939
Done, these all seem to work fine with an inert limit of 1000,.

[2018-01-08 01:47] henrykironde commented on #939
okey

[2018-01-09 11:13] apoorvaeternity opened #1038 "There should be a separate command to get the description of a dataset"
Currently the description of a database appears under the `citation` command.
[code]

IMO there should be a separate command for getting the description of the dataset.
Something like

[code]

@ethanwhite @henrykironde Your thoughts on this?

[2018-01-10 05:10] shreyneil commented on #967
@ethanwhite sir , where is the citation for this dataset available?

[2018-01-10 05:14] henrykironde commented on #967
This does not have a citation.

[2018-01-13 04:48] adhaamehab commented on #1019
Hi @ethanwhite @henrykironde @zhangcandrew
I'll work on this issue.
Any example test or advice to start working on it ?

[2018-01-15 02:51] henrykironde commented on #1019
This should be worked on after the PR #1042 .
It will be much simpler.

The mail goal is to use the python interface to load the dataset into a data frame like Pandas
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html
http://www.datacarpentry.org/python-ecology-lesson/08-working-with-sql/

The retriever has several engines. We want to use the SQlite(prefered) or CSV engine

[2018-01-15 11:09] adhaamehab commented on #988
Hi @henrykironde .
Can I work on this one ?
Could you provide me with some information/resources about how retriever store the datasets so I can get this issue done ?

[2018-01-15 13:05] henrykironde commented on #988
http://retriever.readthedocs.io/en/latest/scripts.html

[2018-01-17 17:48] #975 closed

[2018-01-17 23:05] #1032 closed

[2018-01-17 23:36] #966 closed

[2018-01-18 12:04] adhaamehab commented on #903
I think [Requests](https://github.com/requests/requests) will make sense here.
@henrykironde @ethanwhite  Should I go with it or you have other thoughts ?

[2018-01-18 19:34] henrykironde commented on #903
Thank you @adhaamehab, Let not include more dependencies unless there is no way to solve the problem.

[2018-01-20 23:54] #967 closed

[2018-01-21 09:32] shreyneil commented on #988
@henrykironde  is there any direct download link related to this data?

[2018-01-21 15:22] ethanwhite commented on #988
@shreyneil - looks like this might be it http://gain.nd.edu/assets/256365/resources_2017_03_10_14h04.zip

[2018-01-21 19:11] shreyneil commented on #988
Thanx sir, but i think this  https://gain-new.crc.nd.edu/assets/gain/files/resources-2017-03-10-14h04.zip  a more appropriate link as i was getting errors with the previous link.

[2018-01-23 16:24] #1029 closed

[2018-01-23 16:25] #969 closed

[2018-01-23 21:42] adhaamehab commented on #1019
Hi @henrykironde
as PR #1042  is now merged could I work on this issue now ?

[2018-01-23 21:44] adhaamehab commented on #903
Alright, I'll work on this issue this weekend.

[2018-01-23 21:50] henrykironde commented on #1019
@adhaamehab yes sure

[2018-01-24 05:42] shreyneil commented on #1012
I was thinking of making a shell script for formating the builds. Any ideas on how to run the .iss file.

[2018-01-24 08:58] adhaamehab commented on #1019
Great. I will work on it.

[2018-01-26 03:00] #939 closed

[2018-01-30 04:11] ss-is-master-chief commented on #1038
@ethanwhite @henrykironde
Even though a CLI command like `retriever description <data-set-name>` could be implemented, it would function so as to just not fetch meta-data regarding i.e. `Citation` for the data-set in spotlight.

`retriever citation <data-set-name>` gives us all the details in one single go. @apoorvaeternity It would be great if you could elaborate on why `description` would be fun

[2018-01-30 11:59] apoorvaeternity commented on #1038
@ss-is-master-chief A `citation` is the way you tell that certain material in your work came from another source and you also give information necessary to find that source again.
A `description` is something that tells you what something  is like.

As a user when I fetched the dataset list from retriever I wanted to get the details of a particular dataset that what kind of data it contains. Thoug

[2018-01-30 13:00] apoorvaeternity commented on #1038
@ss-is-master-chief Yeah just now I was thinking the same. We can have `citation` renamed to `description`

[2018-01-30 13:05] ss-is-master-chief opened #1053 "DOCS : A more comprehensive documentation for Data Retriever using Python"
The [Data Retriever using Python ](https://retriever.readthedocs.io/en/latest/pyretriever.html#) page needs a bit of updation. The CLI documentation is a work in progress but for users like me who would like to interface with Data-Retriever using Python, the document could do better maybe.

@ethanwhite @henrykironde Should I go ahead and start working on the documentation?

[2018-01-30 15:43] henrykironde commented on #1038
Thank you guys for this great discussion. I personally don't want several commands, however, I will discus with the team and get back to you.

[2018-01-30 15:47] henrykironde commented on #1053
@ss-is-master-chief, that would be great.

[2018-01-30 16:44] ss-is-master-chief commented on #1038
@henrykironde That would be great Sir.

[2018-01-31 02:27] ss-is-master-chief commented on #1028
@ethanwhite Want me to look into this?

[2018-01-31 10:10] ss-is-master-chief opened #1056 "Failing Travis CI tests"
I wrote a simple JSON file to an exiting Python Script and issued a PR for it. Upon running the tests, the log stated stated `test/test_json.py::test_valid_json **FAILED**`.

Here is the JSON script

`{
  "citation": "Myhrvold, N.P., Baldridge, E., Chan, B., Sivam, D., Freeman, D.L. and Ernest, S.M., 2015. An amniote life-history database to perform comparative analyses with birds, mammals, and re

[2018-01-31 10:35] apoorvaeternity commented on #1056
@ss-is-master-chief Did you mention the json file in `version.txt`?

[2018-01-31 12:29] ss-is-master-chief commented on #1056
@apoorvaeternity Worked like a charm. Thank you so much. May I know why mentioning the file to the `version.txt` facilitates Travis CI to validate the JSON validity tests?

[2018-01-31 15:30] ss-is-master-chief commented on #1056
#1057 `aquatic_animal_excretion.json` shows a **FAILED** JSON Validation Case as well. @apoorvaeternity Please look into it.

[2018-02-01 13:10] ss-is-master-chief opened #1060 "retriever/lib/repository.py"
The `repository.py` script has a function `_redownload_from_repository(filepath, newpath, repo=REPOSITORY)`. Where has this been called?

The code that follows, also has a call to the function `_download_from_repository()`. Where has this been defined to not throw an error upon execution?

@ethanwhite @henrykironde

[2018-02-01 14:15] #1056 closed

[2018-02-01 15:18] henrykironde commented on #1060
Could you provide the  line numbers, can't seem to find `_redownload_from_repository`

[2018-02-01 15:25] ss-is-master-chief commented on #1060
@henrykironde The issue is resolved. Looks like I was trying something out the other day and forgot to revert the changes to original.

Thank you.

[2018-02-01 15:25] #1060 closed

[2018-02-01 16:13] ss-is-master-chief opened #1062 "Working on : Expansion of Spatial Data Support to the Data Retriever"
I have started to look into and working on the project : **Expansion of Spatial Data Support to the Data Retriever**.

@ethanwhite @henrykironde Please let me know of any aspects in particular I should be prioritising over others.

Would it be okay if I carried on the discussion through this `Issue`?

[2018-02-01 18:03] henrykironde commented on #1062
Great @ss-is-master-chief, We can have this discussion here.  Have you worked on GIS data before?

[2018-02-01 18:30] ss-is-master-chief commented on #1062
@henrykironde I have mostly worked with the basics of it, but I am willing to learn as much as I can. For the past few days I have been looking into SQLite support for Data-Retriever. How may I proceed?

[2018-02-01 18:36] #1003 closed

[2018-02-01 19:07] henrykironde commented on #1062
First steps would be to try a small script to install Rasters into Sqlite.

Sample rasters that you could use are `https://viewer.nationalmap.gov/:`  https://s3-us-west-2.amazonaws.com/prd-tnm/StagedProducts/NLCD/data/2011/landcover/3x3/NLCD2011_LC_N39W105.zip

Also `retriever download bioclim` will give you some more samples to work with

There is an extension for Sqlite that can do that.

[2018-02-01 19:13] zhangcandrew opened #1063 "Excessive script downloads caused by name-matching function"
Right now there is a function called name_matches in engine_tools which helps users download scripts that are closely related to what they type in. I.e. if a user accidentally types `retriever install csv iriis`, the name_matches function should still download iris since it recognizes the user just made a simple error.

The problem we have right now is that if we type `retriever install csv mapped

[2018-02-01 19:18] ss-is-master-chief commented on #1062
@henrykironde I go ahead with this Sir. Thank you for the reference.

[2018-02-01 19:21] ethanwhite commented on #1063
My personal take is that we should match other package managers and:

1. Only install if the names match exactly
2. If the name doesn't match an existing dataset then check to see if there is something close using `name_matches`, tell the user that there is no dataset by that name, and return a "did you mean XXXX" message.

[2018-02-01 20:30] henrykironde opened #1064 "Add test on tab delimiter data"
In the test_integration, we have tests on CSV(comma separated). We need a similar example for tab separated data.

An example of comma separated data. The tab separated data will follow the same setup.
You may get an error if you specify the delimiter as tab ("    "),  we can track the error and include a patch

[code]

[2018-02-02 05:00] aswanipranjal commented on #1064
Hey @henrykironde, I'd like to take up this issue.

[2018-02-02 12:44] aswanipranjal opened #1066 "Errors when building from source: Mac"
Hey @henrykironde, @ethanwhite: I am trying to install retriever from source. I downloaded the repository, then ran `python setup.py develop`. Then on running the `retriever` command i got the options that i could use with retriever.
After that i ran `retriever update` and it gave me:
[code]

now everytime i run the command `retriever`, i get similar exceptions listed out before it gives me the op

[2018-02-02 13:17] ss-is-master-chief commented on #1064
@shreyneil Regarding the specified delimiter for the tab spaced data. Doesn't it throw an error when run locally?

[2018-02-02 13:44] ss-is-master-chief commented on #1066
[code]

@aswanipranjal The retriever repository might not have been cloned properly. Also, check if you changed to the `retriever` directory before running `python setup.py install`. Let me know if this resolved your issue.

[2018-02-02 13:54] ss-is-master-chief commented on #1063
@ethanwhite @zhangcandrew Rather than having different packaged functions like `install_csv`, `install_json`, etc. would it be scalable to have just `install` as a command for the CLI, followed by the type? Something like this :
[code]

[2018-02-02 14:48] ethanwhite commented on #1063
@ss-is-master-chief - I don't understand the relationship between the install functions and the name matching in this issue, so this may be best discussed in a separate issue.

[2018-02-02 15:15] ss-is-master-chief commented on #1062
@henrykironde The rasters file which was referred to only provides `txt` and `xlsx` formats for data. To import such files, it might be necessary to convert them into one of the supported formats by SQLite. One of the ways they could be converted is through the `pandoc` wrapper `pypandoc`. But it seems that the file conversion doesn't take place correctly always and many a times may show errors as

[2018-02-02 16:25] henrykironde commented on #1064
The raw data should be tab separated
[code]

[2018-02-02 16:26] henrykironde commented on #1064
And i think we should escape the tab to work

[2018-02-02 16:34] henrykironde commented on #1066
1. Update your local repository to be on the same commit as master.
2. Then clean the repo. `git clean -fx`
3. Remove the . retriever directory from your home. `rm -rf ~/.retriever`
4. Do afresh install. `pip install . -U` or `python setup.py install` and let me know if there are errors

[2018-02-02 16:48] henrykironde commented on #1062
The only file to consider is the image file `NLCD2011_LC_N39W105.tif` and you can use Qgis to see the map https://qgis.org/en/site/

[2018-02-02 17:48] aswanipranjal commented on #1066
@henrykironde Thank you! That did it.

[2018-02-02 17:48] #1066 closed

[2018-02-02 19:40] shreyneil commented on #1064
i have made some changes, Please review @henrykironde.

[2018-02-02 19:57] ss-is-master-chief commented on #1062
@henrykironde When we talk of installing raster datasets into SQLite, how do we exactly mean to do that. Is Data Retriever supposed to take into consideration the raster image from online sources and extract data from it? Once data is extracted, what are the supposed fields to the tables? What kind of information should be derived from the `.tif` so as to have a moderate size of the data set?

I a

[2018-02-02 22:52] henrykironde commented on #1062
Is Data Retriever supposed to take into consideration the raster image from online sources and extract data from it? yes

To handle rasters, SQlite has an extension called rasterlite http://www.gaia-gis.it/gaia-sins/rasterlite-docs/rasterlite-how-to.pdf

[2018-02-04 06:27] ss-is-master-chief commented on #1062
@henrykironde The `TIF` raster-image was installed in the SQLite database. These are the tables. I have converted the contents into a CSV format for better readability.

How would you like me to proceed?

<img width="324" alt="screen shot 2018-02-04 at 11 54 13 am" src="https://user-images.githubusercontent.com/26060275/35774870-55a9d25c-09a2-11e8-9021-986642551889.png">

[2018-02-04 06:31] henrykironde commented on #1062
let's make a simple python program to do the same

[2018-02-04 10:08] ss-is-master-chief commented on #1062
@henrykironde Wrote a basic script for fetching spatial data from SQLite database and converting each of the tables into their respective `CSV` files. The code seems to work fine until this error shows up:

```OperationalError: no such module: VirtualSpatialIndex```

How do I go about this? The code written in [here]( https://github.com/ss-is-master-chief/scratchpad/blob/master/create_csv.py)

<im

[2018-02-04 16:22] henrykironde commented on #1062
That's okey we shall figure out what went wrong later. lets also write a script that takes the image and installs it into sqlite.

[2018-02-04 16:31] ss-is-master-chief commented on #1062
@henrykironde Working on it.

[2018-02-04 20:32] henrykironde commented on #1062
What did you use to insert the data into Sqlite?

[2018-02-04 20:36] ss-is-master-chief commented on #1062
@henrykironde The first drafting was just the module to convert SQLite data into CSV formats. It was done using Rasterlite from the Command Line itself.

[2018-02-04 20:41] henrykironde commented on #1062
` module to convert SQLite data into CSV formats` what does this mean? The problem at hand is to get a raster and insert it into SQLite. So i think i am lost. could you paste the command you used?

[2018-02-04 20:50] ss-is-master-chief commented on #1062
@henrykironde The TIFF image was converted into raster data using `rasterlite_load` as per the documentation here : http://www.gaia-gis.it/gaia-sins/rasterlite-docs/rasterlite-how-to.pdf.

This created a database called : truemarble.sqlite, and the data was inserted here successfully.

Now coming back to Python, I took the database and converted the tables into respective CSV files.

If I haven't

[2018-02-04 21:09] henrykironde commented on #1062
Great, Okey let us create a script and the input will be the path to the raster file and it will do everything you have done. Load the data and get that data out. I understand loading is a command line. And we can use python to call that.

[2018-02-04 21:10] henrykironde commented on #1062
Let me know if I am clear

[2018-02-05 02:02] ss-is-master-chief commented on #1062
@henrykironde Yes absolutely.

[2018-02-05 06:55] ss-is-master-chief commented on #1062
@henrykironde
[Please have a look](https://github.com/ss-is-master-chief/scratchpad/blob/master/create_csv.py)

[2018-02-05 07:09] henrykironde commented on #1062
looks good overall. when you are done removing the errors, we shall try to import and export other raster data formats.

[2018-02-05 07:35] ss-is-master-chief commented on #1062
@henrykironde On it..

[2018-02-05 13:03] ss-is-master-chief commented on #1062
@henrykironde [Debugged Code](https://github.com/ss-is-master-chief/scratchpad/blob/master/create_csv.py) : Please do have a look and advice on the necessary.

[2018-02-05 21:38] shreyneil commented on #905
The Following PR https://github.com/weecology/retriever/pull/1045 has aready fixed the issue. It would be great if you could close this.

[2018-02-05 22:41] ethanwhite commented on #905
Thanks @shreyneil. Closing now.

[2018-02-05 22:41] #905 closed

[2018-02-06 06:30] shreyneil commented on #988
@henrykironde it would be great if you could close this.

[2018-02-06 13:47] ethanwhite commented on #988
Thanks @shreyneil.

[2018-02-06 13:47] #988 closed

[2018-02-06 21:22] shreyneil commented on #117
@ethanwhite It would be great if you could close this issue.

[2018-02-06 21:28] shreyneil commented on #60
@ethanwhite  sir, is there any direct link to download this dataset?

[2018-02-07 04:20] shreyneil commented on #1016
@henrykironde  it would be great if you could close this issue.

[2018-02-07 12:49] ethanwhite commented on #1016
Thanks @shreyneil.

[2018-02-07 12:49] #1016 closed

[2018-02-07 13:15] ethanwhite commented on #117
Thanks @shreyneil!

[2018-02-07 13:15] #117 closed

[2018-02-07 13:17] ethanwhite commented on #60
@shreyneil - interesting. Looks like it was removed from the EPA website. Fortunately it's on the archive:

https://archive.epa.gov/water/archive/web/html/nla_data.html

[2018-02-07 13:19] ethanwhite commented on #60
Actually it looks like the data itself is now completely missing, even from the archive. I'll look around a bit more.

[2018-02-07 13:28] ethanwhite commented on #60
OK, it looks like there's still a copy in a snapshot (which I'm now backing up to local resources in case this disappears as well):

https://19january2017snapshot.epa.gov/national-aquatic-resource-surveys/data-national-aquatic-resource-surveys_.html

For 2007 we can get a full zip of all of the files:

https://19january2017snapshot.epa.gov/sites/production/files/2013-09/nla2007_alldata.zip

For 20

[2018-02-07 20:09] #1064 closed

[2018-02-07 20:38] shreyneil commented on #60
So do you suggest writing two different scripts for 2007 and 2012 as a single archive package is not available for both the years ?

[2018-02-08 12:44] ethanwhite commented on #60
If the schema's match then a single package would be great. My impression from a first glance was that they might not line up perfectly.

[2018-02-08 20:07] ss-is-master-chief commented on #1009
@ethanwhite @henrykironde May I look into this?

[2018-02-08 20:08] henrykironde commented on #1009
Sure Go for it

[2018-02-09 03:41] shreyneil commented on #60
okay will look into it and get back.

[2018-02-09 17:16] ss-is-master-chief opened #1074 "Fetching Raster Data from online sources"
A lot of websites offer good quality and cleaned raster datasets in `zip` formats..

Websites

[http://atlas.ca.gov/download.html](http://atlas.ca.gov/download.html)
[https://freegisdata.rtwilson.com/](https://freegisdata.rtwilson.com/)

@henrykironde @ethanwhite  Any suggestions?

[2018-02-10 04:23] ss-is-master-chief opened #1076 "[TEST] Error at test_modified_scripts.py"
Running `py.test ./test/test_modified_scripts.py` throws the following error

<img width="1279" alt="screen shot 2018-02-10 at 9 50 16 am" src="https://user-images.githubusercontent.com/26060275/36058501-17638bc8-0e48-11e8-82e8-0947f0e80388.png">

[code]

[2018-02-11 00:07] henrykironde commented on #1076
Get the recent copy of master.
Install either `pip install . -U` or `python setup.py`. (sudo if required).
Run `retriever reset all`. and `git clean -fx`.
Then run `python test/test_modified_scripts.py`.

Test if it works:
Change iris's version number and update the `version.txt` using `python version.py`.
Run` python test/test_modified_scripts.py`

To test using `py.test`
uncomment the line
[code

[2018-02-11 00:48] henrykironde commented on #1074
Thanks @ss-is-master-chief these are good datasets. We do not store/distribute data, so we can not save the files. The retriever has that capability to unzip the files, We just need to figure out the right `urls` that point to these datasets. Thanks for the sources. I will describe the sample dataset script for raster and vector data in the coming week.

[2018-02-11 15:35] ss-is-master-chief commented on #1074
@henrykironde Looking forward to it

[2018-02-11 15:54] ss-is-master-chief commented on #1076
@henrykironde The error still persists. I tried looking for looping dependencies among the classes but they aren't an issue.

[2018-02-11 16:15] henrykironde commented on #1076
Give me results of `git log`

[2018-02-12 17:42] apoorvaeternity opened #1078 "wine_composition.json has no urls key"
While working on #1068 I found that wine_composition.json has no urls key so when I use dataset.urls it returns an empty dictionary where dataset is a script object of `wine-composition`

[2018-02-12 18:26] henrykironde commented on #1078
As I mentioned earlier, you should consider the tables not urls keys.
The `table{}` dict is a cleaning version of `urls {keys: }`.  If you debug the code to look at the objects as they are created, you will notice the wine_composition object has tables. These tables are what you need to process instead of url.keys.
<img width="966" alt="screen shot 2018-02-12 at 1 20 03 pm" src="https://user-image

[2018-02-12 18:32] henrykironde commented on #1078
Thanks @apoorvaeternity for the issue. I hope this will help you with understanding the new code base more. The `url.key` was used previously, right now, the best way to handle and get table names is by looking at the tables' property of the script(dataset object).

If that did not work as you wanted, let me know you can reopen this issue anytime

[2018-02-12 18:32] #1078 closed

[2018-02-12 19:03] apoorvaeternity commented on #1078
Okay

[2018-02-12 19:08] ethanwhite commented on #41
Never heard back so closing this for now.

[2018-02-12 19:08] #41 closed

[2018-02-12 19:11] ethanwhite commented on #217
Given the lack of interaction from the data providers I'm not sure that any cleanup here will reach the top of our To Do list, so I'm going to go ahead and close this. If someone working with Gentry wants to do some more work here it would be welcome. Feel free to reopen.

[2018-02-12 19:11] #217 closed

[2018-02-12 19:12] ethanwhite commented on #416
Given the lack to response from the data providers there isn't much for us to do here.

[2018-02-12 19:12] #416 closed

[2018-02-12 19:15] ethanwhite commented on #812
Completed in #1042.

[2018-02-12 19:15] #812 closed

[2018-02-12 19:18] ethanwhite commented on #884
This has now been implemented.

[2018-02-12 19:18] #884 closed

[2018-02-12 19:22] ethanwhite commented on #1063
Fixed in 8ad74192ce9ca1508452ff3dd6c1dfcf43cafab2

[2018-02-12 19:22] #1063 closed

[2018-02-13 13:15] ss-is-master-chief opened #1079 "[Spatial Data WIP] HDF support"
@henrykironde Working on support for HDF files. Need to test code. It would be helpful if you could link some downloadable `.hf5` files. Thank you.

[2018-02-13 13:57] henrykironde commented on #1079
https://ndownloader.figshare.com/files/7024985

obtained from http://neondataskills.org/self-paced-tutorial/Python-HDF5-basics

[2018-02-13 14:24] apoorvaeternity commented on #1078
@henrykironde The tables property of following datasets returns an empty dictionary.
[code]

[2018-02-13 14:27] ss-is-master-chief commented on #1079
@henrykironde Thank you for the reference.

[2018-02-13 14:29] apoorvaeternity commented on #1078
I think right now if the tables is empty I will have to check urls.

[2018-02-13 15:00] henrykironde commented on #1078
Okey that sounds right, because those are python custom scripts. Go to the urls

[2018-02-13 15:06] henrykironde commented on #1079
I am not sure if hdf5 can be loaded directly by `rasterlite_load` but you can check the formats supported

[2018-02-13 15:16] apoorvaeternity commented on #1078
So should I add urls key in wine_composition.json? Though I have modified my code to work as I mentioned in [my comment](https://github.com/weecology/retriever/issues/1078#issuecomment-365282983).

[2018-02-13 15:31] henrykironde commented on #1078
Let us not add those url keys because if you look at the values, they are a composition of already existing properties. So if we can do with out them, that would be good, else we can try to see how to accommodate that issue.

[2018-02-13 15:57] ss-is-master-chief commented on #1079
@henrykironde The dataset has to loaded using the `h5py` module. It comes pre-loaded with `conda`. I can make the functions to be executed conditionally.

[2018-02-13 16:41] henrykironde commented on #1079
We don't need conda to load this. If the files can't be loaded directly, I guess we can transform them to single files and load them as individual datasets. Reference http://www2.geog.ucl.ac.uk/~plewis/geogg122_local/geogg122.old/Chapter4_GDAL/GDAL_HDF.html

[2018-02-13 17:29] henrykironde commented on #972
Currently we have tests on Travis and Appveyor.  Travis run tests for `linux` and` Appveyor` for windows.

We  need to include tests on OS x platform.
There are two ways. We could use Circle CI or Travis CI
ref
https://docs.travis-ci.com/user/multi-os/
https://circleci.com/build-environments/xcode/osx/

[2018-02-13 19:53] zhangcandrew commented on #979
Finally got around to digging into this a little more, so it looks like the urls property has only two main uses right now:

1. Checking to see if any scripts are already downloaded (found in engine.py):
![image](https://user-images.githubusercontent.com/15080652/36169839-6ae1fb38-10cb-11e8-93e3-20d2028a347d.png)

2. Grabbing information from the scripts quickly for citations/descriptions (found i

[2018-02-13 20:31] ethanwhite commented on #979
The one downside to keeping this is that we are storing the same information in two different places. These two places can get out of sync if someone only remembers to update one of them and this can be confusing (see #1078).

Seems like we could store the urls only with the tables and then recreate the urls attribute with something like:

[code]

This would let us keep the functionality without n

[2018-02-14 14:40] ss-is-master-chief commented on #1074
@henrykironde Please update me regarding the `urls` and sample dataset script.

[2018-02-14 14:48] henrykironde commented on #1074
Thanks for the reminder, I have it on my calendar on this weekend Friday - Sunday. Will get back to you on one of those days

[2018-02-14 14:52] ss-is-master-chief commented on #1074
@henrykironde Sure Sir.

[2018-02-14 15:03] apoorvaeternity opened #1084 "Installation of breed-bird-survey dataset is failing"
![screenshot from 2018-02-14 11-42-39](https://user-images.githubusercontent.com/21103831/36210998-f23b5764-11c5-11e8-9cba-1fa13900bd8d.png)

[2018-02-14 16:10] ethanwhite commented on #1084
This seems to be working for me right now on `master` and the url seems to be working in the browser. Can you run again in case it was just a temporary connectivity issue and if it's still not working see if you can see this url in your browser?

ftp://ftpext.usgs.gov/pub/er/md/laurel/BBS/DataFiles/SpeciesList.txt

[2018-02-14 16:21] apoorvaeternity commented on #1084
I tried opening this URL in the browser in the morning at that time it was not working and I checked again an hour back it was not working but just now and it seems to work fine.
While working on #1068 I get to check all the urls of all datasets so encountered it at that time.

For how long should we wait before actually reporting that a dataset is failing?

Closing this now.

[2018-02-14 16:21] #1084 closed

[2018-02-14 16:25] ethanwhite commented on #1084
I think it's OK to flag it immediately. This sort of situation won't be very common.

[2018-02-14 16:45] zhangcandrew commented on #979
I think that's a good solution to address the consistency issue.

I'll have a PR up for this soon!

[2018-02-14 19:14] ss-is-master-chief commented on #1079
@henrykironde Yes, we could also opt for the GDAL method. Since on MacOS, I have some unresolved issues with the `gdal` libraries. Hence, I am facing difficulty testing. Would it okay if I created the scaffolding with `h5py` and have a fully functional module? What I could do following this, is to make changes to the code wrt `gdal`.

[2018-02-14 21:43] henrykironde commented on #1079
What issues are you facing on mac?

[2018-02-14 22:05] henrykironde commented on #1079
`Would it okay if I created the scaffolding with h5py and have a fully functional module?` Sure go for it.
_Some additional reference for issue_
https://gis.stackexchange.com/questions/209075/postgis-storing-large-gridded-time-series.
http://lists.osgeo.org/pipermail/postgis-users/2014-July/039405.html
https://trac.osgeo.org/postgis/ticket/1761
http://slideplayer.com/slide/5144580/

[2018-02-14 22:23] henrykironde commented on #1084
Yes. I also tested it and it was  failing then, I have not tested again. Any error or perceived error should be reported and we do appreciated this a lot.

[2018-02-14 23:26] ethanwhite commented on #1084
Yes, thanks very much for reporting this @apoorvaeternity!

[2018-02-15 05:08] ss-is-master-chief commented on #1079
@henrykironde Thank you for the references

[2018-02-15 16:16] apoorvaeternity commented on #1084
@ethanwhite @henrykironde My pleasure :)

[2018-02-15 18:24] zhangcandrew commented on #386
I've got some URLS here for downloads of the different regions:
[code]

On the website, they have some toggling options to switch from common names to scientific names, and to only display species of importance or all species for each table. I was thinking as far as the scripts go, we could create 4 tables for reach url above based on the combinations of common/scientific names and species of impo

[2018-02-15 18:34] shreyneil commented on #386
Going for this one, thanx @zhangcandrew

[2018-02-16 15:11] ss-is-master-chief opened #1090 "different usage prompt for retriever install"
If we use `retriever install`, we are prompted with `usage: retriever install [-h] [--compile] [--debug] [--not-cached] {mysql,postgres,sqlite,msaccess,csv,json,xml} ...` and on using, for example`retriever install csv`, prompted with `usage: retriever install csv [-h] [--table_name [TABLE_NAME]] dataset`.

Could we change the usage alert into something common to both the incomplete command? How a

[2018-02-16 15:33] ss-is-master-chief commented on #1076
[code]

[2018-02-16 15:38] henrykironde commented on #1076
try `sudo py.tests .....`

[2018-02-16 15:43] ss-is-master-chief commented on #1076
Same error @henrykironde

[2018-02-16 15:45] henrykironde commented on #1090
@ss-is-master-chief, thanks for that idea, however this cannot be generic. It is a step wise process that only returns usage per level at which you are messing up. let me know if we are on the same page.

[2018-02-16 15:47] ss-is-master-chief commented on #1090
@henrykironde I agree. What about `[-path]`?

[2018-02-16 15:49] henrykironde commented on #1076
Give me `which retriever` and `which python` results

[2018-02-16 15:52] henrykironde commented on #1090
Good question. So in the CSV engine we don't have `path` as part of the `required_opts`
[code]

[2018-02-16 15:56] ss-is-master-chief commented on #1090
@henrykironde Got it. Thanks for the clarification.

[2018-02-16 15:56] #1090 closed

[2018-02-16 16:04] ss-is-master-chief commented on #1076
`/Users/sumitsaha/Desktop/venv/bin/retriever` : `which retriever`
`/Users/sumitsaha/Desktop/venv/bin/python` : `which python`

v2.1.dev [retriever version]

[2018-02-16 16:09] ss-is-master-chief commented on #1079
@henrykironde Resolved issues with `gdal`.

[2018-02-16 16:12] henrykironde commented on #1076
On the same terminal run` python`
And then run these commands
[code]

[2018-02-16 16:18] ss-is-master-chief commented on #1076
In this manner?

<img width="910" alt="screen shot 2018-02-16 at 9 47 34 pm" src="https://user-images.githubusercontent.com/26060275/36317426-138e07b0-1363-11e8-8750-5dc2e6c2ea4d.png">

[2018-02-16 16:26] henrykironde commented on #1076
Are using anaconda?

[2018-02-16 16:31] henrykironde commented on #1076
From what I see, it sometimes runs and then fails. Try to run with -v.
`py.test ./test/test_modified_scripts.py -v `
and uncomment these lines
[code]

[2018-02-16 17:37] ss-is-master-chief commented on #1076
`Are using anaconda?` : Yes
`py.test ./test/test_modified_scripts.py -v` : Still persists.

Already unocmmented:
[code]

[2018-02-16 20:38] shreyneil commented on #386
@zhangcandrew sir, how exactly you would plan to achieve this as the files downloaded from above urls have common name and scientific name in the same ,so how do i exactly bifurcate each file into 4?

[2018-02-16 20:41] shreyneil commented on #940
@henrykironde how to go about this one, i am unable to get a clear idea?

[2018-02-16 20:59] apoorvaeternity commented on #1076
For me, it is failing on `retriever version 2.1.0` and working on `retriever version 2.1.dev`.
![screenshot from 2018-02-17 02-25-36](https://user-images.githubusercontent.com/21103831/36328913-f5fd396a-1389-11e8-86ce-69b6e540331b.png)

[2018-02-16 21:13] apoorvaeternity commented on #1076
`engine_tools` is not added to `__all__` of `__init__.py` in `lib` that is why it cannot be imported but if you create a new environment and use `python setup.py develop` to install `retriever` the script will run fine.

[2018-02-17 03:07] ss-is-master-chief commented on #1076
@apoorvaeternity I had created a virtual environment to test this and included `engine_tools` under `__all__`, but the issue persisted.

`__all__` doesn't contain `defaults` or `scripts` either. The respective imports in `test_modified_scripts.py` doesn't seem to throw that error. Why is this so? @henrykironde

[2018-02-17 04:47] apoorvaeternity commented on #1076
I saw the code again` __all__` is not the reason behind it because `__all__` is the list of module names that should be imported when `from package import *` is encountered but in this case, we are directly referring to `from retriever.lib.engine_tools import get_module_version`.

What I can see is that `engine_tools.py` is not part of the final package.
![screenshot from 2018-02-17 10-16-25](http

[2018-02-17 05:52] ss-is-master-chief commented on #1076
```__all__ is the list of module names that should be imported when from package import * is encountered```  CORRECT!

<img width="886" alt="screen shot 2018-02-17 at 11 21 11 am" src="https://user-images.githubusercontent.com/26060275/36338424-bb863ffc-13d4-11e8-8655-e67398d6be63.png">

Yep. It is not there.

[2018-02-17 09:42] henrykironde commented on #940
We decided to stick to the old way. This was solved in #912 by reusing the old method.

[2018-02-17 09:42] #940 closed

[2018-02-18 18:45] zhangcandrew commented on #386
Hey @shreyneil!

Looks like it was my mistake, I thought the toggle would change what was downloaded, but seeing as it downloads both in the sheet, we can just forego the splitting up of the tables into the 4, and use whatever is provided by the URLS.

[2018-02-18 19:11] zhangcandrew opened #1091 "Verbose Mode Overwritten by License/Keyword Search"
In a prior version of retriever, the user was allowed to run `retriever ls -l` to return a verbose list of all of our datasets. This functionality no longer exists since it was overwritten in a newer PR.

I think it might still be useful to have in the retriever though.

See #488,  #1037.

[2018-02-18 19:40] adhaamehab commented on #903
@henrykironde  @ethanwhite  how should we handle a fault download at
https://github.com/weecology/retriever/blob/master/retriever/lib/engine.py#L407
should we raise an Error or what?

[2018-02-18 21:03] adhaamehab commented on #1091
Hi @zhangcandrew I will work in this issue

[2018-02-18 22:09] adhaamehab commented on #1091
@zhangcandrew  could you review the PR?

[2018-02-19 01:10] henrykironde commented on #903
The main goal is to know the error we are facing. In the code, I see two errors that may clearly happen. One is `import errors` and the other falls under `url request errors`.
When it comes to the` import errors`, we have to handle both for python 2 and 3. So if we could add some clean up to identify what exactly went wrong for the user.

[2018-02-19 01:23] henrykironde commented on #926
We have updated the test documentation over time.  I have not seen the recent user having any more trouble when it comes to tests and setting up the test environment. Thanks @goelakash.

[2018-02-19 01:23] #926 closed

[2018-02-19 01:27] henrykironde commented on #50
We have moved to new specifications and new designs, I think the current design of the specification and that of the tables specifications makes this out dated. Feel free to open a new issue

[2018-02-19 01:27] #50 closed

[2018-02-19 07:43] ss-is-master-chief commented on #1062
<img width="1062" alt="screen shot 2018-02-19 at 12 14 00 pm" src="https://user-images.githubusercontent.com/26060275/36366895-39497704-1576-11e8-9014-ad8b445cece6.png">

Source : [GIS Formats: Wikipedia](https://en.wikipedia.org/wiki/GIS_file_formats)

@ethanwhite @henrykironde Please let me know the initial formats to extend support to.

[2018-02-19 13:44] ethanwhite commented on #903
A couple of thoughts on this:

1. One of the big things is that we don't want to cache the data (or we want to remove the cached data) in the case of an error.
2. At least on the CLI we don't want to throw a Python error to the user, but inform them of what specifically went wrong. I'm not sure off the top of my head whether we want to throw an error in the Python interface.

[2018-02-19 16:16] adhaamehab commented on #151
@ethanwhite @henrykironde
I'm working on this issue as discussed on gitter with @henrykironde

[2018-02-19 16:24] henrykironde commented on #1062
So in the script you created, you only consider `tif` files, `Scouts all files with the extension : TIF`.

[code]

But as you have shown above, there are many extensions for spatial data. And the good thing is that they are handled by gdal and postgis straight out of the box. Reference: http://postgis.net/docs/manual-2.1/using_raster_dataman.html#RT_Raster_Loader

If you run `raster2pgsql -G` you

[2018-02-19 16:28] ss-is-master-chief commented on #1062
@henrykironde I was working on support for HDF. What I was thinking was to tackle the popular formats (as mentioned above) first and have them ready. I could get the relevant documentation ready in parallel.

[2018-02-19 16:29] henrykironde commented on #1062
Okey keep working on the` HDF`.

[2018-02-19 16:30] ss-is-master-chief commented on #1062
Since HDF deals with Hierarchical datasets, it would take more time. I suggest I work on the above formats first.

[2018-02-20 22:09] shreyneil commented on #182
Sir, i am unable to access this data as whenever i try to access it through a reader ,the software itself gets hanged due to the huge size, any other way on how to access  the data, that you might have in your mind?

[2018-02-20 22:16] shreyneil commented on #210
I think this issue was solved using  https://github.com/weecology/retriever/pull/488 . Please review and close this issue.

[2018-02-20 23:33] ethanwhite commented on #182
To figure out the basic structure I would start by using the command line to grab a small piece of the data. E.g.,

[code]

would give you the first 200 lines of the file in `small_interactions.tsv`, which you could then easily open in the usual way. That will let you figure out the basic structure, which should let you write the `json` script. Since database management systems can work with data

[2018-02-22 16:29] zhangcandrew commented on #979
Closing this issue!

[2018-02-22 16:29] #979 closed

[2018-02-24 14:33] ethanwhite opened #1097 "Python 2 encoding issues in Python interface only"
In the Python interface some datasets (at least `airports` and `gentry-forest-transects`) report encoding issues and fail. E.g.,

[code]

But these same datasets install fine from the CLI.

[2018-02-24 14:34] ethanwhite commented on #1091
Fixed in a6ddc9cbd697c0cae91db79ca2983c8e0b46eabe. Thanks @adhaamehab!

[2018-02-24 14:34] #1091 closed

[2018-02-24 15:52] ss-is-master-chief commented on #1097
May I go ahead with this? @ethanwhite

[2018-02-24 16:44] ethanwhite commented on #1097
Go for it. If you have questions @goelakash may have some ideas since he dealt with a lot of the issues involving encoding in the past.

[2018-02-24 16:47] ss-is-master-chief commented on #1097
Thank you.

[2018-02-24 19:55] ethanwhite commented on #978
Switching to `root` does solve this problem, and the issues with hashes differing due to different MySQL settings is now gone. However, when I turn the MySQL tests back on on Travis (https://travis-ci.org/ethanwhite/retriever/jobs/345697735) we have one failing test. It is the integration test for `latin1` data.

[code]

So, there's another Travis vs. default configuration issue, but it appears to

[2018-02-25 22:08] henrykironde opened #1099 "Add support for sequence data"
Open for discussion:
As the data retriever grows to support various formats of datasets. We could provide support for Sequence data.

From a quick search, I have come across some resources that we could borrow a few ideas from.
Reference:
https://github.com/biosql/biosql
http://biopython.org/DIST/docs/biosql/python_biosql_basic.html
http://biopython.org/wiki/BioSQL

[2018-02-26 09:43] apoorvaeternity commented on #1097
@ethanwhite
According to docs
`The csv module doesn’t directly support reading and writing Unicode, but it is 8-bit-clean save for some problems with ASCII NUL characters. So you can write functions or classes that handle the encoding and decoding for you as long as you avoid encodings like UTF-16 that use NULs. UTF-8 is recommended.`

[Link to docs](https://docs.python.org/2/library/csv.html)
A p

[2018-02-26 10:01] ss-is-master-chief commented on #1097
@apoorvaeternity Please go ahead :)

[2018-02-26 10:22] ss-is-master-chief commented on #1099
Some of the data-sets I found are as follows

1. [Berkeley Drosophila Genome Project: GENIE ](http://www.fruitfly.org/data/seq_tools/datasets/Human/)
2. [Berkeley Drosophila Genome Project: Human Splice Sites ](http://www.fruitfly.org/data/seq_tools/datasets/Human/)
3. [Berkeley Drosophila Genome Project: Human and additional Eukaryotic Promoter regions ](http://www.fruitfly.org/data/seq_tools/dat

[2018-02-26 13:25] ethanwhite commented on #1097
I think the big question (which maybe @apoorvaeternity answered, but I didn't follow) is why this is only happening in the Python interface not the CLI. The should both be running largely the same code for the actual data processing and installation. Once we understand that then I think we'll understand the best fix.

[2018-02-26 18:47] shreyneil commented on #386
it would be great if you could close this one.

[2018-02-26 19:06] shreyneil commented on #639
Was this solved? and if not how to go about it @ethanwhite sir?

[2018-02-26 19:06] henrykironde commented on #386
Thanks @shreyneil once again 👍

[2018-02-26 19:06] #386 closed

[2018-02-26 19:29] henrykironde commented on #639
Not yet. We had issues with this data back then. I had mad some script e9743b5, I am not sure if it would work now.

But you could try and test out a new json script

[2018-02-26 19:43] ethanwhite commented on #639
@shreyneil - definitely give it a go if you'd like. Thanks!

[2018-02-27 14:30] henrykironde commented on #639
@shreyneil,

[code]
The paths you have are wrong, here is a sample using one resource.

[2018-02-27 22:01] #60 closed

[2018-02-27 23:44] pranita-s opened #1100 "Retriever does not display "Directory does not exist""
Retriever does not display "Directory does not exist" when target directory for installation of files does not exist.

![retriever](https://user-images.githubusercontent.com/14193989/36761659-196ea6e4-1c46-11e8-8cf7-ffcd5b3638b8.png)

It neither displays error,nor it installs files

[2018-02-28 01:19] pranita-s commented on #1100
@henrykironde I found this necessary because in the R wrapper, it is present in Fetch command and it was not pointing out that the temp folder does not exist and therefore the return value of the fetch command was an empty list.

[2018-02-28 01:50] henrykironde commented on #1100
Thank you @pranita-s, I will review the PR

[2018-02-28 02:11] ethanwhite commented on #1100
@pranita-s does the retriever report the missing directory if you remote the `-q`?

[2018-02-28 02:14] ethanwhite opened #1101 "Incorrectly lower casing table_name for csv"
It looks like we're lower casing manually set table/directory names, at least for csv but probably for all flat file engines.

[code]

This is causing issues for the R package, see https://github.com/ropensci/rdataretriever/issues/131, but is also a general problem since directory names are case sensitive for 2/3 OSs.

[2018-02-28 02:57] pranita-s commented on #1100
Yes, it does. I am closing this issue.
I raised it because I felt it as a bottleneck to the R's wrapper for fetch function. After reading the doc of retriever I could not comprehend the meaning of "quiet" in this context.

[2018-02-28 02:57] #1100 closed

[2018-02-28 13:38] ethanwhite commented on #1100
Thanks. I think it's an excellent point that this error should be seen in the R wrapper. With the addition to our new progress bar system I suspect that we don't need the `-q` flag in the R wrapper anymore. Would you mind opening an issue over there for this same problem? Thanks!

[2018-02-28 13:42] henrykironde commented on #1100
@pranita-s sorry for the 👎 it had to be 👍 .

[2018-02-28 13:49] ethanwhite commented on #1101
This happens in the very first line of `__main__.py`:

[code]

This makes sense of course, but is an issue for that particular arg. I suspect that something changed in how R was creating it's temp dirs recently which is why this suddenly cropped up over there, but this is a bug regardless.

[2018-02-28 14:00] ethanwhite commented on #1101
@henrykironde - do you remember the motivation for https://github.com/weecology/retriever/commit/33788bd236a04c77bb4de66688ff3c590427f0bf ?

[2018-02-28 14:34] henrykironde commented on #1101
That is definitely a bug, I think it was a something I added when working on `the retriever ls ... `.

[2018-02-28 15:51] #1101 closed

[2018-03-01 12:54] pranita-s commented on #1100
@ethanwhite Sure !

[2018-03-01 14:06] pranita-s commented on #1100
@ethanwhite Its related to ropensci/rdataretriever#113. Should a separate issue be raised for this?

[2018-03-01 14:11] ethanwhite commented on #1100
@pranita-s Yes, I think so. The fixes might end up being the same, but the problems are different. Mention the relationship with https://github.com/ropensci/rdataretriever/issues/113 in the new issue. Thanks!

[2018-03-02 15:19] apoorvaeternity commented on #1097
@ethanwhite In CLI we use `__main__.py`. In it we have set the default encoding as
[code]
Removing these lines give the same error in CLI too. In python interface we have not set the default encoding so the error occurs.

[2018-03-02 16:22] henrykironde commented on #1097
@apoorvaeternity thats sounds right. I was expecting a PR on that. I think @ss-is-master-chief was working on that. We could confirm from @ss-is-master-chief else you could go ahead and put in a fix.

[2018-03-02 16:26] apoorvaeternity commented on #1097
@henrykironde I already asked him.  (See)[https://github.com/weecology/retriever/issues/1097#issuecomment-368449124]. Shall I work on the fix?

[2018-03-02 16:44] henrykironde commented on #1097
Yes, thanks

[2018-03-05 07:28] henrykironde commented on #639
@shreyneil, Thank you for the contribution on this issue. Please close the PRs #1102 and #1108 and create a new PR. Below is the working code revised from the contribution you made on both of those PR. Go ahead and make a new PR, test the code and make sure it works. If it fails, report the error that you are facing with the code. Also let's use the word `Review`, for only PR's that the contributo

[2018-03-05 07:32] henrykironde commented on #639
Note: The pasted code needs cleaning up and ensure that the fields are correct, self.ref, self.url,..

[2018-03-06 23:03] adhaamehab opened #1112 "Add performance benchmark for data retriever"
To improve data retriever efficiency for out-of-memory scale data and performance in general first, We should determine the heavy parts in the source code.

Using [Profiler](https://docs.python.org/3/library/profile.html) we should benchmark performance of both time and memory for large datasets operations
This is the first step in GSOC18 project [improve Data Retriever efficiency for out-of-memor

[2018-03-07 20:28] ethanwhite commented on #1112
Step one is just getting the retriever fully setup with the tests running successfully locally. I think you've already done a nice job of stating the next big step which is running the profiler and starting to get a feel for where the bottlenecks are. I'd probably do a couple of examples of both large and small datasets to produce benchmarks on both and get a feel for what are large data issues vs

[2018-03-13 17:01] #1097 closed

[2018-03-13 17:55] zhangcandrew commented on #847
I believe this is fixed, so I'll close this for now.

[2018-03-13 17:55] #847 closed

[2018-03-14 20:34] adhaamehab opened #1113 "Unable to install nla into mysql"
retriever throw an error when installing nla dataset into mysql
[code]

Looks like a table named `nla2007_visualassessment_20091015` is the reason for this

[2018-03-15 16:20] zhangcandrew commented on #1113
Thanks for opening up the issue @adhaamehab!

MySQL has some reserved keywords that can't be used while making tables. One of those words is "repeat" which happens to be a column name in the table nla2007_visualassessment_20091015.

Changing the column name to something closely related allowed me to add the table into mysql!

[2018-03-15 16:25] ethanwhite commented on #1113
Nice detective work @zhangcandrew!

We can fix this by adding this column name and an appropriate replacement to `replace_dict` in `clean_column_name`:
https://github.com/weecology/retriever/blob/76fcc677e4545a8fbe85be2cab6dd3cc90b2e4b9/retriever/lib/table.py#L153

@adhaamehab - are you interested in testing and submitting a PR for this solution?

[2018-03-15 16:26] adhaamehab commented on #1113
@zhangcandrew  Thanks.
@ethanwhite  I'll open a PR of this and fix it.

[2018-03-15 16:30] zhangcandrew opened #1114 "Switch from urllib to requests"
Right now the retriever uses the urllib/urllib2 module, but the requests module has proven itself as a much friendlier url request handler.

Switching over would save us a lot of trouble/code in the future.

Reference: http://docs.python-requests.org/en/master/

[2018-03-15 16:51] apoorvaeternity commented on #1114
Yes the requests module is a lot easier and error handling is also better.

[2018-03-15 19:31] #1113 closed

[2018-03-18 10:27] blue-atom commented on #1114
Can I do this??

[2018-03-19 01:32] henrykironde commented on #1114
Go for it @blue-atom

[2018-03-19 02:24] henrykironde opened #1117 "Error on custom table name."
The current state of the retriever uses the required_opts  `"table_name"` to customize the installation of dataset into dataset. This works fine for single table datasets however, it over rides the tables when the dataset contains multi tables. The best way to use this option is by using this custom `table_name` as a prefix to the table name.

For example:

"{db}.{prefix_name}_{table}")

[2018-03-19 02:26] henrykironde commented on #1117
@adhaamehab i have create an issue for the bug

[2018-03-19 03:54] blue-atom commented on #1114
@henrykironde  Thanks for assigning it to me.....

[2018-03-19 10:04] adhaamehab commented on #1117
@henrykironde  I'll look into this bug

[2018-03-21 15:01] #182 closed, assigned to nobody

[2018-03-21 18:32] adhaamehab commented on #1112
@henrykironde  @ethanwhite I made a new repo with the benchmark. Can you give me your feedback?
https://github.com/adhaamehab/retriever-benchmark

[2018-03-21 22:52] henrykironde opened #1119 "Make sure python modules use _ instead of - and may be Json files should follow the same"
Based on the namespace standards, Package and Module Names should have short, all-lowercase names. Underscores can be used in the module name if it improves readability not in the package name.

I think all Json files should use the _ instead of - for consistency.
We have a file that tests Json scripts, we can add some procedures to keep that uniform if we agree to that.

[2018-03-23 01:31] henrykironde commented on #1112
@adhaamehab the best way is to start by doing some research on stress test for each engine.
There are many articles and youtube videos that you could start with. use "mysql performance test" or "mysql stress test"

[2018-03-27 15:34] ethanwhite opened #1120 "Add a description field(s) to setup.py"
This populates the description on PYPI:

https://packaging.python.org/tutorials/distributing-packages/#description

[2018-03-27 15:43] apoorvaeternity commented on #1120
@ethanwhite Shall I send a PR for this?

[2018-03-27 15:46] apoorvaeternity commented on #1120
`The Data Retriever is a package manager for data. It downloads, cleans, and stores publicly available data, so that analysts spend less time cleaning and managing data, and more time analyzing it.`
Is this text fine? It's the same as on http://www.data-retriever.org/

[2018-03-27 16:16] zhangcandrew commented on #1119
Do you mean like changing the output from retriever ls for json files? I think the names of the json files already use _, but I think I might be missing something here.

[2018-03-27 16:22] zhangcandrew commented on #1074
Hey @ss-is-master-chief, just wanted to pop in and say you can find the urls that all the zip files come from by right clicking and just copying the link address. As far as the sample dataset script goes, looking over some of the .py files in the scripts folder should get you started on the right foot with that!

[2018-03-27 16:41] ethanwhite commented on #1120
Looks great. Go for it!

[2018-03-27 17:09] ss-is-master-chief commented on #1074
Thank you for the input @zhangcandrew !!

[2018-03-27 20:15] henrykironde commented on #1119
We have this right now. I also thought all use _ but we have some
[code]

[2018-03-27 23:45] #1120 closed

[2018-03-28 10:29] ss-is-master-chief opened #1122 "Selection of TIFF sub-datasets from larger collection of datasets"
@zhangcandrew
@ethanwhite
@henrykironde

http://www.naturalearthdata.com/downloads/10m-raster-data/10m-cross-blend-hypso/

The link above offers TIFF dataset for 1:10m Cross-blended Hypsometric Tints. Moreover, there are quite a few options with an increase in the number of features included. How do we plan to select one of them through Data Retriever? Do we wish to have different datasets for eac

[2018-03-28 10:41] ss-is-master-chief commented on #1074
Some Raster-Data Sources:
1. https://planet.openstreetmap.org/ - historical shapefiles, planet data, etc.
2. http://www.naturalearthdata.com/downloads/ - small, medium, large scale earth data
3. https://hub.arcgis.com/pages/open-data - data is available in form of spreadsheets, shapefiles, GeoJSON, etc
4. https://gisgeography.com/free-satellite-imagery-data-list/ - list of Satellite Image sources

[2018-03-28 15:55] zhangcandrew commented on #1119
Oh I see, I didn't realize that! Ok, I think it makes sense to keep naming consistent with _ instead of -. The file that tests JSON scripts you were talking about, is that test_json.py?

[2018-03-28 17:21] henrykironde commented on #1122
@ss-is-master-chief thanks for the new dataset. I have gone through the dataset and I think we should have one script for each dataset.

[2018-03-28 17:25] henrykironde commented on #1119
Yes for json file test_json.py  and make sure filename does not have -
And another test on python filenames, this could be a new file or we can add it to test_json.py

[2018-03-28 19:37] ss-is-master-chief commented on #1122
@henrykironde Should I work on the scripts along with the project?

The website also provides a NaturalEarth starter kit in `.sqlite` format.

[2018-03-28 20:53] henrykironde commented on #1122
We have the module that will create a data package or script for the files.
The first step is download the file and use [Qgis](https://www.qgis.org/en/site/)   and [Grass](https://grass.osgeo.org/) to investigate the files. Here you look for properties associated with the file.
for example, projection, raster bands in the file, transorm

Then Using the script below, run it  with the path of the fi

[2018-03-28 20:56] henrykironde commented on #1122
one thing you will have to change is
[code]
since you are using IOS
sys.path.insert(0,'/Library/Frameworks/GDAL.framework/Versions/2.2/Python/3.6/site-packages')

[2018-03-29 05:30] ss-is-master-chief commented on #1122
@henrykironde Thank you for the input!!

[2018-03-29 13:00] ethanwhite opened #1123 "Add BioTIME dataset"
Database of biodiversity time series. The data is available here:
https://zenodo.org/record/1095628

I think we just want the three csv files.

[2018-03-30 18:11] ethanwhite commented on #1119
Fixed in 03d20e65a19d00579066824d94f5b72eea477f9d.

[2018-03-30 18:11] #1119 closed

[2018-03-30 18:14] ethanwhite commented on #1053
Fixed in several commits by @ss-is-master-chief. Thanks @ss-is-master-chief!

[2018-03-30 18:14] #1053 closed

[2018-03-31 21:45] ss-is-master-chief commented on #1053
@ethanwhite Thank you

[2018-03-31 22:03] ss-is-master-chief commented on #1123
@ethanwhite Python and JSON scripts are to be made for the BioTIME dataset?

[2018-03-31 22:07] henrykironde commented on #1123
@ss-is-master-chief, just checked the dataset and only json files may be enough for this dataset.
The .csv files are the one that we want.
BioTIMECitations_06_12_2017.csv
BioTIMEMetadata_06_12_2017.csv
BioTIMEQuery_06_12_2017.csv

[2018-04-01 11:12] ss-is-master-chief commented on #1123
Thank you for the update @henrykoronde!!

[2018-04-05 18:22] dlebauer opened #1127 "Broken link to datasets in online documentation"
When
* I go to the home page http://www.data-retriever.org/
* then click 'docs'
* then click link to available datasets https://retriever.readthedocs.io/en/latest/datasets.html

I get the message "Sorry this page does not exist yet"

Perhaps a simple broken link? Something wrong with https://github.com/weecology/retriever/blob/master/retriever/lib/datasets.py?

[2018-04-05 19:37] zhangcandrew commented on #1127
Just Fixed! Closing the issue. Thanks @dlebauer.

[2018-04-05 19:37] #1127 closed

[2018-04-07 15:38] henrykironde commented on #1123
@ss-is-master-chief, how is this issue going on?

[2018-04-07 18:03] ss-is-master-chief commented on #1123
@henrykironde I'll share an update by 17th April

[2018-04-07 19:38] apoorvaeternity opened #1132 "Installation of aquatic-animal-excretion is failing"
![aqua](https://user-images.githubusercontent.com/21103831/38459565-d0d994d8-3ac8-11e8-974c-d7f48ad82937.png)
The url http://onlinelibrary.wiley.com/store/10.1002/ecy.1792/asset/supinfo/ecy1792-sup-0001-DataS1.zip?v=1&s=3a9094a807bbc2d03ba43045d2b72782bfb348ef is resulting into a 404 page.
![screenshot from 2018-04-08 01-06-57](https://user-images.githubusercontent.com/21103831/38459594-363aa3b2-3

[2018-04-15 19:20] ethanwhite opened #1136 "Create absent directories when installing to flat files"
The flat file engines will currently error if asked to install into a directory that doesn't exist, e.g.,

[code]

We should create these directories on the fly. This may require some refactoring to split of the path into directories and file names, but I haven't looked yet.

[2018-04-15 19:24] ethanwhite opened #1137 "Add a `directory` or `path` argument to flat file installs"
It's not uncommon to want to install data files into a specific directory. We currently support this through the `table_name` function and `-t` CLI flag, but this requires being familiar with the somewhat tricky table name syntax, e.g.,

`retriever install csv mammal-masses -t datadir/{db}_{table}.csv`

A simpler and more common version of this would be something like

`retriever install csv mamma

[2018-04-17 20:26] #1117 closed

[2018-04-18 23:34] gmyenni opened #1138 "Add LTREB data"
[correct me if some of these are already included, I tried to avoid ones that are]

- [ ] [Desert Laboratory](http://www.eebweb.arizona.edu/faculty/venable/LTREB/LTREB%20data.htm)

- [ ] [The North Carolina Piedmont Forest LTREB Project/Duke forest](http://labs.bio.unc.edu/Peet/PEL/df.htm)

- [ ] [Fernow Experimental forest LTREB](http://www.as.wvu.edu/fernow/data.html)

- [ ] [Prairie-forest ecot

[2018-04-19 01:08] henrykironde commented on #1138
We do not have any of these datasets.

[2018-04-24 20:11] zhangcandrew opened #1139 "Breed-Bird-Survey Raw Data Location Change"
The raw data for breed-bird-survey has been moved to a different location, so none of the ftp addresses in the breed-bird-survey work currently. The ftp addresses need to be switched over to the newest ones found here:

ftp://ftpext.usgs.gov/pub/er/md/laurel/BBS/Archivefiles/

[2018-04-29 20:54] zhangcandrew commented on #1139
Thanks!

Looks like they reuploaded it, but it's all working now.

Closing this. Fixed in #1140.

[2018-04-29 20:54] #1139 closed

[2018-05-10 02:08] ethanwhite commented on #1132
Here's the new link:
http://onlinelibrary.wiley.com/store/10.1002/ecy.1792/asset/supinfo/ecy1792-sup-0001-DataS1.zip?v=1&s=3a9094a807bbc2d03ba43045d2b72782bfb348ef

Unfortunately it looks like it has some of the redirect issues so the new url won't fix this until we implement #1114.

[2018-05-10 12:24] ethanwhite opened #1144 "Gentry site_code incorrectly includes directory name"
At some point a behavior changed that caused site names extracted from the file names in gentry-forest-transects to including the directory in which they were located. This leads to site_code values like `africa/NDAKANNI`, which isn't what we want.

[2018-05-21 20:00] henrykironde opened #1147 "Urgent: Datasets failing with Exception KeyError: KeyError weakref to 'tqdm'"
Something is not right with the tqdm package. If anyone gets the same error let me know

Try to install
[code]

`Exception KeyError: KeyError(<weakref at 0x105995d8; to 'tqdm' at 0x1051d0>,) in <object repr() failed> ignored`

[2018-05-21 20:11] ethanwhite commented on #1147
Working fine for me on Python 2 and 3 on Ubuntu 18.04.

[2018-05-21 20:27] henrykironde commented on #1147
Closing, Installing fine after update of tqdm

[2018-05-21 20:27] #1147 closed

[2018-05-30 05:26] #1114 closed

[2018-05-30 05:42] #1123 closed

[2018-05-30 06:28] #1144 closed

[2018-06-11 18:08] zhangcandrew commented on #1132
This seems to be have been solved after #1114 and the new link. Feel free to re-open if it becomes an issue again.

[2018-06-11 18:08] #1132 closed

[2018-06-28 05:02] #1079 closed

[2018-06-28 05:03] #1122 closed

[2018-06-28 05:04] #1076 closed

[2018-06-28 18:59] KristinaRiemer opened #1160 "Datasets Available webpage link broken"
The "Edit on GitHub" link at the top of [Datasets Available](https://retriever.readthedocs.io/en/latest/datasets_list.html) goes to a 404 page. I wasn't sure what link should replace it.

[2018-07-02 17:57] ethanwhite commented on #1160
Yeah, we automatically generate that page, so there's nothing to edit on GitHub, but the docs templates assume that there is. I'm not sure how easy it would be to remove that from the template, but we can definitely look into it. Was the process that led you to click on the link something that you think other people will do frequently?

[2018-07-02 18:00] henrykironde commented on #1160
We shall insert a file `docs/datasets_list.rst` with that information. It will fix it.

[2018-07-02 22:06] henrykironde commented on #1160
fixed in 1b213a6952ba5cacb7c8cc691adf1374dcb799e5

[2018-07-02 22:06] #1160 closed

[2018-07-03 13:54] KristinaRiemer commented on #1160
@ethanwhite FYI, I only clicked on that link to try to fix the mistake that was addressed in 3a0d73e2. I don't think many people would click on it.

[2018-07-03 14:08] ethanwhite commented on #1160
Even if it wouldn't have been common it's always great to fix these sorts of things when possible. Thanks!

[2018-07-15 21:40] henrykironde opened #1165 "Add Noaa fisheries data set"
The NOAA Fisheries Monthly Commercial Landing Statistic.
This is a summary of U.S. commercial fisheries landings.

https://www.st.nmfs.noaa.gov/commercial-fisheries/commercial-landings/monthly-landings/index
There some species whose data we cannot obtain

`SHRIMP,ATLANTIC & GULF,ROUGHNECK`
`CATFISHES & BULLHEADS` They did not escape the & so no data for those two

[2018-07-17 15:58] MarkMusumba opened #1168 "Production data"
I am requesting help in securing production data from FAO .
http://www.fao.org/fishery/statistics/global-capture-production/en
MM

[2018-07-23 19:43] henrykironde opened #1172 "Use shared table schema"
Use a shared table schema in frictionless data json files:
https://discuss.okfn.org/t/shared-table-schema/6969

[2018-07-25 19:00] #1165 closed

[2018-07-26 01:40] #1168 closed

[2018-07-26 01:49] ethanwhite commented on #1168
Hi @MarkMusumba - thanks for getting in touch about this. It took a little bit because some of the files contain four different alphabets which causes some encoding challenges, but @henrykironde figured it out for most cases and I just merged his PR (#1169). This works for all of our back ends except for MySQL, so unless you needed that specific back end you should be able to install this now by r

[2018-07-26 02:14] henrykironde commented on #1168
And for the case of CSV use `retriever install csv fao-global-capture-product`

[2018-07-26 13:14] ethanwhite opened #1174 "Warnings in current release from new changes"
[code]

Will bumping the minimum version to `2.1.dev` fix this?

[2018-07-26 16:11] henrykironde commented on #1174
Have you tried removing retriever reset scripts.

[2018-07-26 16:21] ethanwhite commented on #1174
I did. Are you not seeing the same thing with 2.1.0?

[code]

[2018-07-26 23:18] ethanwhite commented on #1174
Fixed in #1176.

[2018-07-26 23:18] #1174 closed

[2018-08-05 16:58] ethanwhite opened #1184 "Add LakeCat data"
Dataset on US lake locations and associated watersheds: https://www.epa.gov/national-aquatic-resource-surveys/lakecat

[2018-08-05 22:03] henrykironde opened #1186 "Add National Land Cover Database (NLCD) spatial datasets"
https://www.mrlc.gov/nlcd06_data.php

[2018-08-06 04:51] henrykironde commented on #1184
I guess we have the spatial dataset and the tabular datasets.

Tabular : ftp://newftp.epa.gov/EPADataCommons/ORD/NHDPlusLandscapeAttributes/LakeCat/FinalTables/

Spatial: ftp://newftp.epa.gov/EPADataCommons/ORD/NHDPlusLandscapeAttributes/LakeCat/Framework/
Let me know if that is correct

[2018-08-12 12:25] ethanwhite commented on #1184
Yeah, I think that's right. It would be great to have both.

[2018-08-12 13:00] #1184 closed

[2018-08-28 18:01] ss-is-master-chief opened #1192 "Error while installing Vector Dataset into CSV"
When running the command `retriever install csv nrel-test` I get the following output
[code]
The output should be somthing like csv engine does not support spatial dataset.

[2018-08-28 18:06] henrykironde commented on #1192
Also use `retriever install postgres nrel-test` and let me know what happens

[2018-08-28 19:09] ss-is-master-chief commented on #1192
I changed the path in the nrel_test.json script as
` "path" : "nsrdb_boundary/nsrdb_boundary/nsrdb_bndry.dbf",`.

Running `retriever install postgres nrel-test` gives me the following
[code]

[2018-08-28 19:16] henrykironde commented on #1192
Still wrong path "nsrdb_boundary/nsrdb_boundary/nsrdb_bndry.dbf",  and that is ` Error: current transaction...` is not actually an error. This happens when we do not drop  tables well. But it overrides the contents however. I will find a better way to drop the tables/database.

[2018-08-28 19:31] henrykironde commented on #1192
`nsrdb_boundary/nsrdb_boundary/nsrdb_bndry.dbf `is not a shape file `nsrdb_boundary/nsrdb_boundary/nsrdb_bndry.shp`

[2018-08-28 22:02] henrykironde commented on #1192
ref:
[code]

[2018-08-29 04:32] ss-is-master-chief commented on #1192
[code]

[2018-08-29 04:44] henrykironde commented on #1192
Drop/delete the database `nrel-test` using `CASCADE ` and try again. I am working on that `ERROR:  current transaction.`

[2018-08-31 13:34] dmcglinn opened #1194 "gentry install error"
There seems to be a problem with the stem data. Specifically, on my windows machine the error is `"There is no item named 'NDAKANNI.xls' in the archive"`. I checked and this file does exist at this path `.retriever\raw_data\gentry-forest-transects\all_Excel.zip\africa\NDAKANNI.xls` so the file exists but for some reason retriever does not see it. I also check that `retriever install` would work fo

[2018-08-31 13:36] dmcglinn commented on #1194
It looks like my error may be related to #1144

[2018-08-31 13:44] dmcglinn commented on #1194
It looks like #1144 was addressed with a patch in #1145, specifically commit 27bd7849bceb8736fe6860d750a6bab43f92360c . If I roll back the changes for this script back to the state it was in 5280865792ab0246065793f35fa35b65f06f2187 then the install works. So something is going on with respect to how the data file paths are being parsed. Can someone who is more familiar with python please tackle th

[2018-08-31 14:07] ethanwhite commented on #1194
Hey @dmcglinn - thanks for reporting this. The current master seems to be working for me on Linux, but it looks like maybe we broke backward compatibility with 2.0.0 (which looks like what you're running. If you update to the current master things should work:

[code]

Let me know if that works.

@henrykironde - we should still try to fix the backwards compatibility issue.

[2018-10-02 18:44] henrykironde opened #1195 "Add National Land Cover Database 2011 (NLCD 2011)"
National Land Cover Database 2011 (NLCD 2011)  provides 16-class land cover classification scheme across the United States at a spatial resolution of 30 meters. The dataset is based on a decision-tree classification of circa 2011 Landsat satellite data.

Ref: https://www.mrlc.gov/nlcd2011.php
citation: `Preferred NLCD 2011 citation: Homer, C.G., Dewitz, J.A., Yang, L., Jin, S., Danielson, P., Xian

[2018-10-04 02:26] henrykironde opened #1196 "Update contribution instructions"
Remove nose instructions from `CONTRIBUTING.md` file.

[2018-10-08 18:35] JPGibert opened #1197 "Not working in R 3.5.1?"
I was coming back to an old project for which I used the retriever and I was hoping to get it running in my new setup. When I tried to get it to work in R (R 3.5.1, on a High Sierra mac), it just doesn't seem to correctly install or else, it's having some PATH issues? install.packages() runs well, and library() seems to load it well, but then it doesn't seem to recognize any function within the pa

[2018-10-08 18:39] ethanwhite commented on #1197
Thanks for the report @JPGibert!

Two quick follow up questions:

1. Are you running in a terminal or in RStudio?
2. Can you provide the output from `which retriever` run from a terminal?

[2018-10-08 18:39] henrykironde commented on #1197
Could you give me the results for
$retriever ls,
$retriever -v

[2018-10-08 18:45] JPGibert commented on #1197
Hey guys! Thanks for the prompt answer:

@ethanwhite :
1. R console + Script, I don't use RStudio.
2. /Applications/retriever.app/Contents/MacOS/retriever

@henrykironde
1.
Applications	Documents	Library		Music		Public
Desktop		Downloads	Movies		Pictures
2. -bash: -v: command not found

Something isn't right it seems :(

[2018-10-08 18:48] JPGibert commented on #1197
Also, the app itself seems to crash on startup. Dunno if that matters.

[2018-10-08 18:49] henrykironde commented on #1197
@JPGibert great, Are you using python on your computer.
I would recommend that you use python. The retriever.app is old and we are planning a release in the next two weeks. If you are using python let me know, we could have that configured for you pretty fast.

[2018-10-08 18:51] JPGibert commented on #1197
@henrykironde thanks! I definitely have Python on my computer, but I rarely ever code in Python, if that's what you're asking.

[2018-10-08 18:52] ethanwhite commented on #1197
I don't think it's crashing on startup. It's just that we removed the GUI so running the App directly doesn't appear to do anything.

I agree with @henrykironde that it's generally easiest to install directly using Python, but if you want to use the installer that you have I think maybe you just haven't gotten it properly added to the path. Install instructions for the OS X package (https://www.da

[2018-10-08 19:10] JPGibert commented on #1197
@ethanwhite, @henrykironde  alrighty!

Seems to be working on python, through the terminal. See below:

`>>> rt.check_for_updates()
Downloading scripts...
Download Progress: [#############################################] 100.00%
The retriever is up-to-date`

Thanks for the help guys!

[2018-10-08 19:32] ethanwhite commented on #1197
Awesome! Let us know if there's anything more we can do.

[2018-10-08 19:32] #1197 closed

[2018-10-08 20:20] JPGibert commented on #1197
Cool, thank you guys!

[2018-10-09 18:47] JPGibert opened #1198 "BBS dataset "counts" file issue"
Hey all,

Sorry to be back. I tried to download the Bird Breeding Survey dataset. In the past, it would download, among other things, a weather file, a routes file, a species list file, and a "counts" file, which is the important one. For some reason, regardless of which version of the BBS data I download, the counts file is nowhere to be found, but all other files are there. Communicating with @e

[2018-10-09 18:49] henrykironde commented on #1198
@JPGibert thanks for the issue. How did you install the retriever?

[2018-10-09 18:54] JPGibert commented on #1198
Hey @henrykironde! I followed the instructions in https://www.data-retriever.org/. Although it didn't quite work at first (got some error using the pip command, even after I installed pip the installation would go well then throw me an error) so in the end I installed the app then used:

[code]

[2018-10-09 19:00] apoorvaeternity commented on #1196
Do we want to completely remove it or replace it with the pytest instructions?

[2018-10-09 19:02] henrykironde commented on #1198
We could do a google hangout session and I could guide you through the installation . `henrykironde@ gmail.com`

[2018-10-09 19:06] henrykironde commented on #1196
@apoorvaeternity, we no longer use nose. Running the tests should describe `Pytests`.
Also, I have not tested your Pr, busy on the weaver, but i will get back up in a weak .

[2018-10-09 19:11] JPGibert commented on #1198
@henrykironde that'd be awesome! I'm running to a seminar now, any chance we could do that either later 4:30 EDT or tomorrow?

[2018-10-09 19:16] henrykironde commented on #1198
Both work for me , Just ping me 30-15 minutes before.

[2018-10-09 19:29] JPGibert commented on #1198
@henrykironde , turns out the seminar is canceled, do you want to do that now?

[2018-10-09 19:30] henrykironde commented on #1198
Sure

[2018-10-09 23:18] JPGibert commented on #1198
Alrighty, thanks @henrykironde who spent one and a half hours to make sure everything was working well. I just downloaded the BBS data, "counts" file and all!

[2018-10-09 23:18] #1198 closed

[2018-10-16 16:32] #1196 closed

[2018-11-05 15:21] ethanwhite opened #1208 "Improve efficiency of CSV installs using SQLite strategy"
For the SQLite engine we read and right in chunks when possible. This makes large installs like `breed-bird-survey` really quick. The CSV engine is currently much slower (~15x) and I'm wondering if we might be able to use a similar strategy to the SQLite engine to get some big speed ups.

[2018-11-20 23:00] henrykironde opened #1212 "Take note of changing package name `psycopg2` to `psycopg2-binary`"
UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
    """)
Ref: https://github.com/psycopg/psycopg2/milestone/14

[2018-12-22 01:48] henrykironde opened #1213 "Help a user report the env variables when creating an issue"
In case of an issue, the user could run a script to give us a detailed environment information.
For example the version of retriever installed, the interpreter used, (core python, Conda distribution), version of packages, and path where packages are loaded, etc.
This will enable the team to reproduce and issue or error.

[2019-01-02 12:51] ethanwhite commented on #1213
I love this idea. As I mentioned over in https://github.com/weecology/Retriever.jl/pull/27, I wonder if the best solution isn't a new retriever command like `retriever env` or even a flag like `retriever --report install sqlite breed-bird-survey`. Another option would be to leverage the existing `--debug` flag and have it great one or more log files with all of the necessary information.

[2019-01-03 16:22] henrykironde commented on #1213
Since it is not common for the retriever installation to fail, we should add the environment reporting scripts to the retriever.
The script should report based on the desired environment. For example, if we want variables under the `julia` environment or `R` environment or even `Python`. If an edge case happens, someone could download the script and run it independent of the retriever.

[2019-01-06 02:38] ethanwhite commented on #325
Implemented in 7d84795b942e5bb99863a476cf0a00969614a1a4.

[2019-01-06 02:38] #325 closed

[2019-01-06 02:40] ethanwhite commented on #798
Given the difficulty of testing I wonder if we should deprecate support for Access.

[2019-01-06 02:44] ethanwhite commented on #830
Implemented in 9440442f4be8b5f9a06ea892c283d22608c26215.

[2019-01-06 02:44] #830 closed

[2019-01-06 03:43] ethanwhite commented on #1006
Predicts is installing properly on `master`.

[2019-01-06 03:43] #1006 closed

[2019-01-06 03:58] henrykironde opened #1216 "Error handling improvement, tool should not exit or raise"
Remove or improve exit and raise instances.
exit(), quit(), and os._exit(0) kill the python process.
Will cause the dependent tools to halt execution since they stop the main process in python.
Consider using return

[2019-01-08 01:41] ethanwhite commented on #1028
My general feeling at the moment is that we should be moving away from packaged installers and towards providing simple clear instructions for installing Python and the package. We've generally been heading in that direction and if that's the approach I don't think we should spend any more time fine tuning the installers. What do you think @henrykironde (and others)?

[2019-01-08 02:05] ethanwhite commented on #1192
The original issue described here (not cleanly reporting when attempting to install spatial datasets into non-spatial engines) has now been addressed. E.g.,

[code]

[2019-01-08 02:05] #1192 closed

[2019-01-08 02:11] henrykironde commented on #1028
Yes I think source code package managers are a way to go. Easy to support and work with.
`I don't think we should spend any more time fine tuning the installers.`, I think this is a good idea, But I am also open to what others think.

[2019-01-10 15:24] ethanwhite commented on #1028
OK, given that lack of any protest I'm going to go ahead and close this issue and we will prioritize good documentation for installing Python packages over further improvements to the standalone installers.

[2019-01-10 15:24] #1028 closed

[2019-01-10 15:25] ethanwhite commented on #1194
@dmcglinn - Did upgrading to the current `master` (or now the new release) fix this for you?

[2019-01-10 15:31] ethanwhite commented on #1019
Implemented in f7dc96c22c80982cec81c86268e87c5ad76a6669. Thanks again @adhaamehab!

[2019-01-10 15:31] #1019 closed

[2019-01-10 15:32] ethanwhite commented on #1112
Closing since this was primarily a discussion issue related to GSOC.

[2019-01-10 15:32] #1112 closed

[2019-01-11 15:43] apoorvaeternity commented on #1038
@ethanwhite Okay! I think we can close this issue then.

[2019-01-11 16:50] ethanwhite commented on #1038
Thanks @apoorvaeternity! I hope that life is treating you well.

[2019-01-11 16:50] #1038 closed

[2019-01-16 16:28] henrykironde opened #1218 "List of Data sites to include"
Feel free to edit and add more dataset links or sources.

1. https://freegisdata.rtwilson.com/ (**GIS Datasets**)
2. https://data.gov/
3. https://data.worldbank.org/
4. http://data.un.org/
5. https://piktochart.com/blog/8-useful-databases-to-dig-for-data/(reference point)

[2019-01-23 16:37] ethanwhite opened #1221 "Harvard Forest error on Linux"
The `harvard-forest` spatial dataset is currently erroring on Linux on `master`:
[code]

This appears to the be result of the changes for Windows in a473ad288ffbf46ded93a3c7c8dc4177e69bf953, since `harvard-forecast` works as expected using 35d7b32b09cbee19ee30250941f59f70d2f11550.

[2019-01-24 13:01] ethanwhite commented on #1221
Fixed in abc4dbe3982caaccfff5700b87dc807e2f5d06a5. Thanks @henrykironde!

[2019-01-24 13:01] #1221 closed

[2019-01-24 21:23] henrykironde opened #1223 "DeprecationWarning: 'U' mode is deprecated"
pytest-dev/py it's core base has some changes.
And we have a warning as below

[code]
**The options based on usefulness:**
1.  Revisit any line that has ` io.open(arg, 'rU')`  and probably change to   ` io.open(arg, 'r')`

**Or but not recommended for long term:**

2. Find a way to temporarily suppress the warnings with -W ignore::DeprecationWarning or```
 import warnings
warnings.filterwarnings("

[2019-01-25 02:44] amanjain25 commented on #1223
I would like to work on this

[2019-01-31 20:11] ha0ye opened #1225 "Link update in installation instructions?"
The [install webpage](https://www.data-retriever.org/#install) points to https://www.continuum.io/downloads for installing Anaconda, which times out for me. I think the preferred place might be https://www.anaconda.com/distribution/, but I'm not sure?

[2019-02-02 08:53] henrykironde opened #1227 "Psycopg2 Warning"
Psycopg2 Warning:
[code]
This will disappear with the upcoming release https://github.com/psycopg/psycopg2/milestone/14

[2019-02-02 09:15] henrykironde opened #1228 "Pymysql Warning: (1051, "Unknown table"
The recent version of Pymysql 0.9.0 - 3 seems to be throwing warnings and some of the old versions do not seem to have backward compatibility with some of the current dependencies.
However, the warning (`Unknown table`) does not seem to reflect what the software is actually doing(working as specified)

[code]

ref:
https://github.com/PyMySQL/PyMySQL/issues/688

I will perform some final tests on P

[2019-02-03 16:19] ethanwhite opened #1229 "Restart required if scripts directory is empty"
If the `.retriever/scripts` directory is empty when starting a Python session the retriever reports that there are no scripts even after successfully running `check_for_updates`.

[code]

If you restart Python then everything works as expected.

See https://github.com/ropensci/rdataretriever/issues/173 for initial report.

[2019-02-03 17:21] ethanwhite commented on #1229
This results from 398ca50484d290c59eecf0d64b9e1d5c4bc0c7ce. In general this commit is great - we don't want to constantly be reloading scripts, but we do need to be able to after we've checked for updates. I played with this a bit, but I found the current structure of the code related to `global_script_list`, `StoredScripts`, and `SCRIPT_LIST` to be a bit confusing and couldn't figure out how to c

[2019-02-03 20:48] henrykironde commented on #1229
I also came across that https://github.com/henrykironde/retriever/issues/117
I think Andrew will be able to figure that out.

[2019-02-03 20:59] ethanwhite commented on #1229
:+1: We should fix this and roll a new release before we release the new version of `rdataretriever` because this issue will happen for all first time users on R. It's confusing enough that I think it's worth fixing before we generate new users through advertising around the release.

[2019-02-03 21:11] henrykironde opened #1230 "Update the passwordless setup on Windows 10 for Postgres"
Current Postgres instructions are using ~/.pgpass
There is a shift to using `pgpass.conf`
Let us include a setup for `pgpass.conf`

Could we try these instructions.

Entering `%APPDATA%` will take you to `C:\Users\username\AppData\Roaming`. Once you get there you need to create the `postgresql` directory and then create `pgpass.conf` inside it

[2019-02-04 19:03] harshitbansal05 commented on #1137
@ethanwhite can I work on this one?

[2019-02-04 19:14] ethanwhite commented on #1137
Yes @harshitbansal05 that would be great!

[2019-02-05 00:40] ethanwhite commented on #1223
Fixed by 4d1341d0c11ba32d4d009b03adea29d6baa006d2. Thanks @harshitbansal05!

[2019-02-05 00:40] #1223 closed

[2019-02-05 21:54] zhangcandrew commented on #1229
I think this should be fixed in #1231

I agree, the structure is a bit confusing. We ran into the problem because reload_scripts was being called by the singleton on instantiation before check_for_updates was called later on in the code. As a result, the global singleton scripts were set to nothing after a retriever reset.

I've made it now so that upon instantiation of the SCRIPT_LIST it will do

[2019-02-06 11:11] harshitbansal05 opened #1232 "UnboundLocalError when deleting an item from keywords key in json scripts"
I tried deleting an item from the list of the key `keywords` in the dataset scripts, but it threw an exception `UnboundLocalError: local variable 'del_key' referenced before assignment`.

[2019-02-06 11:20] harshitbansal05 commented on #1232
@henrykironde if possible, I would like to work on it.

[2019-02-06 22:07] zhangcandrew opened #1235 "Add in logic for when to check_for_updates"
Running `retriever reset all` after a previous one will cause retriever to download all files again only to be deleted. We should add some logic for when to check_for_updates on startup.

Related to issue #1229 and PR #1231

![image](https://user-images.githubusercontent.com/15080652/52377019-a914fd80-2a31-11e9-8758-b3db76733a61.png)

[2019-02-07 02:12] ethanwhite commented on #1235
Good catch.

[2019-02-09 18:25] ashishpriyadarshiCIC commented on #1136
Can I work on this?

[2019-02-10 00:16] zhangcandrew commented on #1235
Fixed in PR #1231

[2019-02-10 00:16] #1235 closed

[2019-02-10 00:17] zhangcandrew commented on #1229
fixed in #1231

[2019-02-10 00:17] #1229 closed

[2019-02-10 15:09] ethanwhite commented on #1136
Thanks for working on this @ashishpriyadarshiCIC! Note that it is also related to #1137, so you and @harshitbansal05 may want to communicate with each other either here or on gitter.

[2019-02-10 18:14] ashishpriyadarshiCIC commented on #1137
@harshitbansal05 We may to work together to solve the issues #1136 and this one. Can you tell me where we should communicate to work.

[2019-02-10 22:27] pradeepgangwar commented on #1225
@ha0ye Should i update it in this repo https://github.com/weecology/retriever-site?

[2019-02-11 08:05] henrykironde commented on #1225
Please go ahead

[2019-02-11 14:18] pradeepgangwar commented on #1225
@ha0ye @henrykironde Done. https://github.com/weecology/retriever-site/pull/6

[2019-02-11 14:24] ethanwhite commented on #1225
Thanks @pradeepgangwar! I just merged in the change to the website.

[2019-02-11 14:24] #1225 closed

[2019-02-11 17:03] harshitbansal05 commented on #1137
@ashishpriyadarshiCIC I have tried to fix this issue and pushed it to my fork(the above branch). You can pull this and work on #1136 and open a pull request on my branch.

[2019-02-11 17:08] harshitbansal05 commented on #1230
@henrykironde can I work on this?

[2019-02-11 18:32] henrykironde commented on #1230
Yes please do

[2019-02-12 03:59] juniperlsimonis opened #1239 "duplicate .retriever folders on windows"
there are sometimes that windows machines create a `.retriever` folder in `c:\users\<username>` as well as `c:\users\<username>\documents`

new installation of the development version from github (`pip install git+https://git@github.com/weecology/retriever.git`) on my laptop only creates it in `c:\users\<username>`.

the first time i run an `rdataretriever::fetch` call in R (using R Console), it c

[2019-02-12 18:56] zhangcandrew opened #1240 "edit_json cannot dump to file correctly"
Looks like the arguments json.dumps takes in have changed within the last year or so. It only takes in 1 positional argument now, whereas before it could take two. Looks like we might have to use json.dump instead.

Currently when doing an edit_json, I get this error on Ubuntu 18/python 3.7.

![image](https://user-images.githubusercontent.com/15080652/52660542-de0bcf00-2ecd-11e9-9eb6-e8cec10bd4c5.

[2019-02-12 19:00] #1232 closed

[2019-02-13 04:52] harshitbansal05 commented on #903
@ethanwhite @henrykironde is it still open for work? I was willing to work on it.

[2019-02-13 10:45] ashishpriyadarshiCIC commented on #1240
Can I work on this?

[2019-02-13 13:29] ethanwhite commented on #903
Hi @harshitbansal05 - yes, this is definitely still open for work. Have a read through all of the thoughts about what this should look like in this issue and let us know if you have any questions.

[2019-02-13 13:40] harshitbansal05 commented on #903
@ethanwhite I read the conversation and have these thoughts in my mind:
1. In case of an error, we need to display the cause of the error to the user on the CLI and remove the cached data.
2. Add a feature for `retriever reset dataset`.
Is there something I am missing?

[2019-02-13 16:46] harshitbansal05 commented on #903
@ethanwhite I found two ways on google to ignore incomplete files:
1. Initially, download files into a temp directory and move them into the original directory only when completely downloaded.
2. Download in the original directory and keep a list of the downloaded files, where a dataset would be added to it only when completely downloaded.

[2019-02-13 20:44] zhangcandrew commented on #1240
Sure thing @ashishpriyadarshiCIC!

[2019-02-14 17:29] ethanwhite commented on #903
I think you have the main ideas covered @harshitbansal05.

I think option (2) for the files will get overly complicated. Option (1) is OK, though it will result in copying some largish files which will slow things down. A third option would be to download as it is done now, but if there is an error the trigger the new `reset_dataset` function for the dataset that was being downloaded. I think that

[2019-02-14 19:10] harshitbansal05 commented on #903
@ethanwhite thanks for the suggestion, but I could not find an error that would be thrown if a file stops downloading due to no connectivity. @henrykironde could you add your suggestions, please?

[2019-02-14 19:14] harshitbansal05 commented on #903
@ethanwhite I also found the following link, https://unix.stackexchange.com/questions/277412/cp-vs-mv-which-operation-is-more-efficient. Since the move operation would be on the same filesystem, imo it would be a simple `rename`.

[2019-02-14 19:55] ethanwhite commented on #903
Good point about `mv`. In that case I think that using a temp directory along with a Python call that is equivalent to `mv` would be a great solution.

[2019-02-14 20:10] harshitbansal05 commented on #903
@ethanwhite thanks for the review. I was thinking to open a separate issue for the `retriever reset dataset`, and initially open a separate pr for it. Would it be fine?

[2019-02-14 20:56] ethanwhite commented on #903
Yep, that sounds good (and it looks like @henrykironde agrees to from the :+1:).

[2019-02-15 12:58] harshitbansal05 opened #1241 "Add reset dataset option"
Currently, the `retriever reset` only works for all the datasets or scripts. There should be an option to reset a specific dataset or script as well.

[2019-02-15 22:57] henrykironde opened #1243 "Suggesting name change for `testdb` to retriever specific namespace"
Current tests use` testdb`.
This is often used by many platforms and many projects.
However, I think it would be a good practice to use a retriever specific namespace for `testdb`,
something like `testdb_retiever` or ...
What do folks think

[2019-02-16 21:50] ethanwhite commented on #1243
Sounds good to me. Always worth avoiding stepping on other codes toes if possible.

[2019-02-17 04:32] henrykironde opened #1244 "Update docs on making scripts."
We currently do not need the the extra "urls": {}
For example:
In action-lake
we have https://github.com/weecology/retriever/blob/master/scripts/acton_lake.json#L104
"urls": {}
We do not need the values
Let us revise the acton-lake script and update the docs.

[2019-02-19 19:27] harshitbansal05 commented on #1136
@ashishpriyadarshiCIC are you working on it?

[2019-02-19 20:06] ashishpriyadarshiCIC commented on #1136
@harshitbansal05  Yes

[2019-02-19 20:50] zhangcandrew opened #1246 "Raw Github 503 error"
Looks like we can no longer hit  https ://raw.github.com/weecology/retriever/. This is causing issues with retriever update and check_for_updates.

The new github raw seems to have this format: https ://raw.githubusercontent.com/weecology/retriever/.

Not sure if this is a temporary change or not. Changing it over in defaults.py though solves the issue.

[2019-02-19 23:29] henrykironde commented on #1246
Looks like it is resolved https://twitter.com/githubstatus.

On my side it is working fine

[2019-02-20 19:12] henrykironde opened #1247 "Improve output when connection is not made"
In both cases (Postgres and MySql), I have no databases up.
A run will finish with a **Done!**. I think we should catch the error and print something that tells the user of no installation made.

`retriever install postgres poker-hands`
[code]
`C:\HenryGitHub\retriever [master +1 ~0 -0 !]> retriever install mysql  poker-hands`

[code]

[2019-02-20 19:49] ashishpriyadarshiCIC commented on #1137
@ethanwhite @harshitbansal05 I've fixed issue #1136 . Should I open a pull request here or @harshitbansal05's repository ?

[2019-02-20 20:09] #1246 closed

[2019-02-20 21:13] ashishpriyadarshiCIC commented on #1240
@zhangcandrew How should I test if the issue is fixed?

[2019-02-20 21:15] zhangcandrew commented on #1240
The best way to test it is probably just to run through the edit_json.

type in `retriever edit_json (script_name)` where (script_name) is any script we currently have. For example:

'retirever edit_json iris'

Try to make some changes using the edit_json interface and then when it gets to the end, it should dump out a json instead of erring out like above.

[2019-02-22 15:00] piyushchauhan commented on #1244
I anybody is not assigned can I work on this issue? @henrykironde

[2019-02-22 15:25] henrykironde commented on #1244
@piyushchauhan, please go ahead and work on the issue.

[2019-02-22 19:17] henrykironde commented on #188
I think we need to update this issue or close it.
Scripts can have more information added, but we are currently not processing this information. We shall need specific reasons or goals to process such information.

[2019-02-25 10:28] apoorvaeternity opened #1250 "[discussion] Retriever Provenance"
For adding the feature of provenance to retriever I am thinking of creating something like
[code]
or
[code]
to use a particular version of dataset.

For this, I am thinking of adding the ability to commit datasets.
Various commits of the dataset will be stored in a directory.
![multi](https://user-images.githubusercontent.com/21103831/53316539-5622bd80-38ee-11e9-8398-e5d46b362eb3.png)

The plus po

[2019-02-25 14:30] ethanwhite commented on #188
I'm fine with closing this.

[2019-02-25 14:30] #188 closed

[2019-02-26 19:41] ashishpriyadarshiCIC commented on #1247
@henrykironde So it means to remove the message `Done!` with a descriptive message in case installations fails? If that is the case can I work on it?

[2019-02-26 21:28] henrykironde commented on #1247
It should be something like connection failed. We  seem like we are not catching the connection failure error.
and we should not see that Done, coz we shall return on a failed connection.

[2019-02-26 21:36] ashishpriyadarshiCIC commented on #1247
So it should run a loop until it connects or there is a keyboard interrupt.

[2019-02-26 22:14] henrykironde commented on #1247
Not sure if that is what we should do.
For MySQL and PostgresDB, the API drivers have a connection type of looping done to get the connection values. And if the looping goes on beyond a default timeout value, then a connection failed signal is sent stdout.

Best place is to start in the get connect methods and play around with some code
may be some thing like
[code]

[2019-02-27 04:39] ashishpriyadarshiCIC commented on #1247
I understand. I will start working on it right away

[2019-02-27 21:26] zhangcandrew commented on #1240
fixed in #1249

[2019-02-27 21:26] #1240 closed

[2019-02-28 20:53] #1241 closed

[2019-03-01 09:22] harshitbansal05 commented on #1243
@henrykironde can I work on this one?

[2019-03-01 09:27] harshitbansal05 commented on #903
@ethanwhite @henrykironde now that the `reset dataset` has been implemented, can I work on the issue as described above, i.e. initially download the files into a temp directory and move the files to the original directory only when completely downloaded?

[2019-03-01 20:25] henrykironde commented on #903
Sure @harshitbansal05, but could we first get PR 1245 cleaned up. You will need those changes merged to work on the temp dir issue.

[2019-03-01 20:40] henrykironde commented on #1243
Sure got for it.

[2019-03-02 11:42] ashishpriyadarshiCIC commented on #1213
@henrykironde @ethanwhite   Can I try working on the scripts?

[2019-03-02 17:56] harshitbansal05 commented on #1172
@henrykironde I was thinking to work on it, but could not understand properly from the discussion in the link. Could you please elaborate?

[2019-03-02 18:12] henrykironde commented on #1172
Hi, @harshitbansal05 I think we should not work on this for not. I will have to revise the issue or I will close it and open a new one later.

[2019-03-02 18:16] henrykironde commented on #1213
Sure @ashishpriyadarshiCIC go for it

[2019-03-02 18:18] henrykironde commented on #1247
@ashishpriyadarshiCIC , ref #1255 yes we shall need to catch this error

[code]

[2019-03-02 22:28] #1137 closed

[2019-03-02 22:34] henrykironde commented on #1136
Fixed in #1245

[2019-03-02 22:34] #1136 closed

[2019-03-02 23:52] henrykironde commented on #79
Since we have

- Fetch function.
- And we efficiently install data and keep a record of the installed data table names (an engine instance will have those table names)

- Both CSV and SQlite and Pandas/Numpy make installing of data into HDF5 easy
Additional, reference is [PyTables](http://www.pytables.org).

[2019-03-03 00:24] henrykironde commented on #838
**This is open for anyone to work on**

Test with released versions

For example:
To test `retriever2.0.0`, first uninstall the current version of retriever.
And Install the release to be tested. `Pip install retriever==2.0.0`
and perform some tests like `retriever ls`

We could create this as a bash_script

[2019-03-03 04:54] #1243 closed

[2019-03-03 05:20] harshitbansal05 commented on #79
@henrykironde can I work on this one?

[2019-03-03 05:47] henrykironde commented on #1138
We are developing helper functions that could help in creating scripts(data packages) #1254.
The functions will give you a start on creating the scripts.

To use the tool, fetch his code or checkout the PR #1254.
make a new folder
Download the files to that new folder
and run the code as Andrew described in the PR.

**The code will only work for `csv` files**

[2019-03-03 05:51] henrykironde commented on #79
Yes, go for it

[2019-03-03 07:03] harshitbansal05 commented on #79
@henrykironde I read about pytables and as far as I understand, I only need to use the dictionary provided by the `fetch` function(consisting of table name with pandas df) and save them into an HDF5 file. Meaning first, a sqlite db would be created followed by the hdf5 file. Am I right?

[2019-03-03 08:50] henrykironde commented on #79
That could be one way. If you install data into `sqlite` or `csv`, `Pandas` can create a data frame from that. (We may not actually need to use fetch)
And I think we are doing the same in fetch.

If we have a data frame, we can check out  how `Pytables` creates `hdf5` files or even the python module `hdf5`. If we can create the `hdf5` files with out introducing any of these package dependencies, t

[2019-03-03 09:10] Naba7 commented on #1244
Can I take up this issue,if no one is working on it

[2019-03-03 09:36] henrykironde commented on #1244
@Naba7, thank you for your interests in the Retriever project, I think @piyushchauhan is working on this issue. A similar one could be using our new script making tool ref to issue 1254. I have given an abstract explanation but adding a well explained part to the docs, would be nice.

[2019-03-03 10:37] piyushchauhan commented on #1230
If this issue in not fixed can I work on this? @henrykironde  @harshitbansal05

[2019-03-03 10:41] harshitbansal05 commented on #1230
@piyushchauhan I have partially worked on it.

[2019-03-03 17:29] ethanwhite commented on #210
I agree that this has generally been addressed. Thanks for pointing this out @shreyneil!

We've fully addressed the first point in that they are explicitly linked at https://retriever.readthedocs.io/en/latest/datasets_list.html and through the verbose presentation that @shreyneil points to.

We've also improved the ability to digest and work with this metadata in Python and R.

We haven't yet grap

[2019-03-03 17:29] #210 closed

[2019-03-03 20:23] scls19fr opened #1262 "Using datasets"
Hello,

According description of this repository

    Quickly download, clean up, and install ecological datasets into a database management system

with this tool, we should be able to quickly download, clean up, and install datasets, unfortunately, according documentation, it doesn't seems very clear (at least to me) that being able to easily "use" a dataset is a goal of this project.

By "using

[2019-03-03 20:52] ethanwhite commented on #1262
Hi @scls19fr - thanks for your thoughts on this. We really appreciate the feedback and definitely want to support the "using" side of things.

At the moment that is handled through the `fetch()` function. This function goes through the installation process and then loads the data into a dictionary of pandas data frame (one data frame per table).

[code]

There are two steps that go into this, firs

[2019-03-03 20:57] henrykironde commented on #1262
Thanks @scls19fr for this great issue.
What the retriever does is download the data into your desired databases.
The returned engine object is a function used for testing. However in the current dev we are improving things and we could document how to get the paths of the cleaned and installed datasets.

[2019-03-03 21:04] henrykironde opened #1263 "Python interface errors and needs more tests."
We have currently added the `data_dir` parameter. This has caused some changes that introduced some errors.

[code]

To solve this we need to rewrite the disconnect functions for some of the engines like xml, json,

[2019-03-03 21:06] scls19fr opened #1264 "`fetch` errors when run after doing a flat file install in the same session"
Hello,

Following https://github.com/weecology/retriever/issues/1262#issuecomment-469062884

[code]

Maybe a message should warm user that `fetch` can't be use after installing dataset as a CSV file.

Kind regards

[2019-03-03 21:08] ethanwhite commented on #1263
This seems to be working for me on `master`:

[code]

[2019-03-03 21:08] henrykironde commented on #1264
Thanks @scls19fr, was about to create an issue for a similar problem.

[2019-03-03 21:10] scls19fr commented on #1264
I think it's quite different... this is a bug... not a feature request

[2019-03-03 21:13] henrykironde opened #1265 "Avoid the use of `raise`"
We should re visit error handling. The use of raise should be avoided and we should user return.
This is because raising will terminate the interpret and this will cause some of the tools using retriever to stop processing. Returning gives the users a chance to control the flow of execution.

[2019-03-03 21:14] ashishpriyadarshiCIC commented on #1264
@scls19fr I'm happy to see you again Sir. @ethanwhite @henrykironde Can I work on it?

[2019-03-03 21:15] henrykironde commented on #1264
Yes you can work on it. Also people can corroborate and get this fixed

[2019-03-03 21:16] henrykironde commented on #1263
Thanks Ethan, I will do a clean test and let you know

[2019-03-03 21:23] Jaffrey98 commented on #1265
@henrykironde Can I take up this issue?

So basically every raise has to be replaced by a return?

[2019-03-03 21:27] scls19fr opened #1266 "fetch method should return an ordered dict (not a dict)"
Hello,

I noticed that `fetch` method returns a dict of dataframes.
To preserve order of tables (which may have a meaning) it should return an ordered dict.
[Datapackage](https://frictionlessdata.io/specs/data-package/) ressources are stored in a list so it's ordered.

Kind regards

[2019-03-03 21:27] henrykironde commented on #1265
Hi @Jaffrey98 welcome to the Data retriever.

 In good well designed way with example to support the change.
Just a replacement may become terrible .

[2019-03-03 21:28] henrykironde commented on #1266
That would  be great  👍 @scls19fr

[2019-03-03 21:32] scls19fr commented on #1265
One Python motto is "Ask forgiveness not permission", so raising exception is completely part of the design of the language. Why not just catching exceptions?

[2019-03-03 21:33] henrykironde commented on #1265
Since raise shows the error trace, We could probably add raise to debug
[code]

[2019-03-03 21:34] scls19fr commented on #1265
[code]

could help

[2019-03-03 21:40] henrykironde commented on #1263
Am still getting the error

[code]

[2019-03-03 22:06] Jaffrey98 commented on #1263
@henrykironde I'm not getting the error too, just like @ethanwhite
The package I'm using was **installed from source (master)**
Platform: Windows 10 (64 bit)

[code]

Although I don't know why its showing 50% when i added the "data_dir" argument even though the file was fully downloaded inside the directory.

[2019-03-03 22:16] henrykironde commented on #1263
Thanks for the test @Jaffrey98, That is probably from running `tqdm` with out having asleep. But it does not affect the functionality of the retriever.
We could open an issue, to find a better way to represent the bars well.

[2019-03-03 22:36] #1244 closed

[2019-03-03 22:45] Jaffrey98 commented on #1266
@henrykironde  @scls19fr
For this to be implemented are the following changes enough in `retriever\retriever\engines\sqlite.py` ?

[code]

[2019-03-03 22:57] henrykironde commented on #1266
Thank @Jaffrey98, I am not sure, we shall have to test this. Could you put in a PR and we could follow up with some testing.

[2019-03-03 22:58] Jaffrey98 commented on #1266
Sure !

[2019-03-03 23:54] ethanwhite commented on #1263
OK, I did see a version of this error a minute ago. I think it's related to #1264 as @henrykironde noted. Don't have a fully reproducible example yet, but wanted to say that I'd seen it happen.

[2019-03-04 00:04] ethanwhite commented on #1264
Thanks for reporting this @scls19fr. I'm pretty sure @henrykironde is correct that this is related to #1263.

The issue is that `lib.engine.script_table_registry` is accumulating all tables created in a session. It is then being used in fetch to get a list of tables to load from the SQLite database. If tables with names that don't match those in the SQLite database get added during the session (by

[2019-03-04 00:23] ethanwhite commented on #1263
OK, I've got this one on the run. The new `data_dir` didn't get added to the `table_names` list that we're using for `disconnect`. So, not related to #1264 and @henrykironde had the source of the error right (no surprise). The reason @Jaffrey98 and I didn't see the error is because we ran the install without `data_dir` first, which put the file in the working directory, which allow `disconnect` to

[2019-03-04 00:46] ethanwhite commented on #1263
It was in all of the engines. PR is in.

[2019-03-04 01:28] Naba7 commented on #1244
Okay thank you I will be working on that

On Mon 4 Mar, 2019, 4:06 AM henry senyondo <notifications@github.com wrote:

[2019-03-04 02:39] #1263 closed

[2019-03-04 02:45] Jaffrey98 commented on #1265
👆  This is added in some places in the codebase.

I didn't fully understand why raise is an issue, as most likely the code written after it is usually dependent on successful execution of previous code.
For eg: - (in `retriever\retriever\__main__.py`)
[code]
Here as dataset  is not specified further execution doesn't make sense.

If possible an _explanation_ with an _example from the codebase_ wou

[2019-03-04 04:25] #1266 closed

[2019-03-04 06:06] scls19fr opened #1270 "PEP8"
Hello,

following https://github.com/weecology/retriever/issues/279
Travis can check if the Python code in this repository conforms to PEP8.

See https://github.com/weecology/retriever/pull/1269

Some cleanup is probably required.
See https://travis-ci.org/weecology/retriever/jobs/501333622#L934

Kind regards

[2019-03-04 06:40] #1230 closed

[2019-03-04 07:36] scls19fr opened #1271 "fetch method should preserve order"
Following https://github.com/weecology/retriever/issues/1266 (because I can't reopen issue)
because https://github.com/weecology/retriever/pull/1267 doesn't fix it (I'm pretty sure)

See https://github.com/weecology/retriever/pull/1267#issuecomment-469147555

[2019-03-04 07:42] scls19fr commented on #1265
Maybe this issue should be considered with #151 (logging)

[2019-03-04 07:50] henrykironde commented on #1271
Thanks @scls19fr, Could we get an example of the order to be preserved

[2019-03-04 07:59] scls19fr commented on #1271
Sorry but I can't do it now, I'm moving (using my phone)

You just need to create a sample dataset with tables not alphabetically ordered to catch this.

[2019-03-04 08:53] harshitbansal05 commented on #1271
@henrykironde I think that scls19fr is absolutely right. Reference: https://stackoverflow.com/questions/15711755/converting-dict-to-ordereddict. The dictionary passed to the Ordered Dict as an argument is inherently not ordered, so the the `ordered dict` would also not be ordered. It should be solved by passing tuples of key, value pairs. If possible, can I work on it?

[2019-03-04 08:57] henrykironde commented on #1265
@Jaffrey98,In case of a failing code, one can run it with debug=True, we expect it to print most of the errors and also most processes to get a clear picture of what is happening. We actually should limit raising in normal code flow.

Why is this an issue: Take an example of Reticulate in R library.
 Reticulate will interface with a python program, but whenever something fails in the python progra

[2019-03-04 09:24] henrykironde commented on #1271
I see what you mean and thank you for the explanation folks, I think what it is doing now is keeping the order of tables as they are given in the script. If we want to produce a new ordering, we can add a feature for that where we do some fetch or fetch ordered. Hope I am right. Feel free to put in a PR.

[2019-03-04 18:30] Jaffrey98 commented on #1271
@harshitbansal05 Yes I agree, it seems it slipped my mind that I was actually doing a `normal dictionary comprehension`  inside `OrderedDict()`. Thank you for the FIX 😄

[2019-03-04 20:08] piyushchauhan commented on #151
Can I take up this issue? and if possible along with #1265  @henrykironde @ethanwhite

[2019-03-04 20:13] henrykironde commented on #151
Sure

[2019-03-04 20:15] piyushchauhan commented on #1227
I suppose work on this will begin as soon as v2.8 of psycopg2 will be released. Right?
Beta Version has been released.

[2019-03-05 03:04] Jaffrey98 commented on #1271
@harshitbansal05
It seems it isn't necessary to wrap the `comprehension` in `square brackets` , not that it changes the execution. Just wanted to mention it 😅

[code]
[code]

[2019-03-05 03:31] henrykironde commented on #1271
I think what @scls19fr wants is to do a sort on the table here `for table in table_names`

[2019-03-05 04:08] harshitbansal05 commented on #1271
@Jaffrey98 I had noticed that but had put the square brackets anyway. @henrykironde IMO, no. We were initially creating the dictionary with (table_name, table) as (k, v) pairs. Now, if I had to loop across all the keys of the dictionary by `for k in dict:`, the ordering of the keys(tables) would not be the same as when we inserted the keys into the dictionary. This is because the dictionary calcul

[2019-03-05 12:44] Jaffrey98 commented on #1271
@henrykironde According to me, this is what @scls19fr expects :

I am using the analogy of `rows` for `tables` and `table` for `table_names` as in the actual code the `key` is the `table_name` and value is the `dataframe` consisting all rows in that table.

If a table like 👇  exists:

| id  | fname | lname |
|----| ------- |-------|
|  1  |   john  |  doe  |
|  2  |   jane  |   doe  |

If a **norm

[2019-03-05 19:16] harshitbansal05 commented on #79
@henrykironde @ethanwhite, currently pandas converts its dataframes to hdf5 files using a class named `HDFStore`. For this, it uses pytables under the hood. We can use this class to convert dataframes to hdf5 files(after forming pandas dataframes from sqlite). But for this, we would have to add a new dependency of pytables. I researched but I could not find any other suitable method to converting

[2019-03-05 19:38] henrykironde commented on #1271
I think you want the data to be in order
for example in the table, order is `id, first, last ` > in dataframe order should be  `id, first, last `
I do recommend that we changing
[code]
SQL  select * will return the tables not in any order
we should change  to select columns of the given table in that script

[2019-03-05 19:47] henrykironde commented on #1265
Thank you @sahiljajodia01, for the interest to contribute to the Data retriever. This issue is already work-in-progress with a PR up. Look through the issues list for issues tagged `getting-started`. We also welcome anyone to open new issues for new ideas.

[2019-03-05 19:56] scls19fr opened #1276 "latin-1 -> utf-8 / Python 2.7 support"
Hello,

Following https://github.com/weecology/retriever/pull/1274#issuecomment-469813400
maybe all scripts encoding should be changed from latin-1 to utf-8.
This is a quite common practice with Python 3.

Maybe this kind of decision should be considered with dropping Python 2.7 support
https://www.python.org/dev/peps/pep-0373/

Pandas core team dropped support for Python 2 since 1st January, 2019

[2019-03-05 20:04] scls19fr commented on #1276
http://pandas.pydata.org/pandas-docs/version/0.24.1/whatsnew/v0.24.1.html

[2019-03-05 20:53] henrykironde commented on #1276
Thanks @scls19fr, this is one great feature that I totally support and can't wait to drop 2.7.

However, on the other side, we have folks who are still in the middle of writing their research and are using the old versions of the retriever which do not have panda. We do not want to have these folks traumatized, I know how terrible it is to wake up one day and your whole pipeline is failing because

[2019-03-05 20:56] henrykironde commented on #79
Okey, lets go with that .Use pandas and we can import the `Pytables` if it is not shipped with panda

[2019-03-05 20:58] ethanwhite commented on #79
Does using pandas cause us any issues with out of memory scale data? In other words, do we need to load all of the data into an in-RAM data frame this way?

[2019-03-05 22:36] henrykironde commented on #79
Just throwing this here, pandas may have some thing like an external data frame. That reads from from disc. I am not sure

[2019-03-06 01:03] henrykironde opened #1277 "Plan to Drop Python 2"
We are happy to announce that we are planning to drop python 2.
However we shall need to do this is steps.
We plan to follow test driven development in this shift

The main areas of python 3 are the unicodes  I believe we should create tests first and them move to changes in code and structure.

- [ ] Create retriever test sets for python 3 only.
        I think we shall create a copy of `test_ret

[2019-03-06 02:44] #1264 closed

[2019-03-06 03:02] harshitbansal05 commented on #1277
@henrykironde can I work on one of these?

[2019-03-06 04:06] henrykironde commented on #1271
Thanks @harshitbansal05, I think it will be very good if we get a review from @scls19fr.
I do not think this solves the issue number 1271,  so we should remove the tag 1271.
Waiting for @scls19fr 's recommendation.

[2019-03-06 04:07] henrykironde commented on #1277
Please go a head.

[2019-03-06 04:14] Jaffrey98 commented on #1277
I too would like to work on this @henrykironde

[2019-03-06 04:49] henrykironde commented on #1277
Yes both of you can corroborate  on this. In case both of you are working on the same think you could make PR to each other and then later create one PR to master.
Also, It would be good to discus the design and the parts you are each working on among yourselves.
 Whichever way you would want to solve this.
`if `sys.version_info >= (3, 0, 0):``

[2019-03-06 05:55] scls19fr commented on #1271
LGTM
Thanks @harshitbansal05 @Jaffrey98 and @henrykironde

[2019-03-06 05:55] #1271 closed

[2019-03-06 12:35] ethanwhite commented on #1250
Thanks for your interest in this @apoorvaeternity. I like the general design, but I'm concerned about committing datasets using git because some of the datasets are too large for git to handle (e.g., vertnet). One of our goals is to help support out-of-memory scale data and that will by definition be too large for git. I think in most cases uses won't regularly be caching a lot of different versio

[2019-03-06 18:12] Jaffrey98 commented on #1277
@henrykironde I had a discussion with @harshitbansal05. He is taking up the following task:

I think we shall create a copy of test_retriever.py we can call it something like test_retriever_p_three.py and one for integration test. The files will be only run on python3 environment.

---

For task2 i.e. 👇

    Some contributors have suggested UTF-8
    references:
    latin-1 -> utf-8 / Python 2.7 s

[2019-03-06 21:05] apoorvaeternity commented on #1250
@ethanwhite Basically, the issue here is of reproducibility. When someone is doing some research, at a time they are not working with too many versions of a dataset. It would be great if someone can reproduce their scientific work easily even after a long time.
The idea of committing a dataset to a `.tar.gz` file is great. It will make portability of the dataset easier.
What I am thinking is when

[2019-03-07 00:48] henrykironde commented on #1277
@Jaffrey98, If you take a look at the code, you will see that we have the default encoding set to `# -*- coding: latin-1  -*-` and like
issue 1276 states, we need to change that.

[2019-03-07 03:28] Jaffrey98 commented on #1277
Thanks for the patient @henrykironde 😅. Will start working on **task2** right away. 🚀

[2019-03-07 21:33] henrykironde commented on #1277
No question is unnecessary. 👍

[2019-03-08 09:35] scls19fr commented on #1277
Searching for [sys.version_info](https://github.com/weecology/retriever/search?q=sys.version_info) could help

[2019-03-08 20:30] hugovk commented on #1277
https://github.com/asottile/pyupgrade is a useful tool for upgrading Python syntax for newer versions. For example:
[code]

[2019-03-10 19:09] hugovk commented on #1276
An good tip for ensuring whole pipelines don't fall apart, is to include an argument like this in the call to `setup()` in `setup.py`:

[code]

This ensures that pip only installs the right version of a package for the user's running Python version. In this example, 2.7 and 3.3+ are supported.

When dropping Python 2, use something like this for 3.3+:

[code]

[2019-03-10 19:10] hugovk commented on #1277
A good tip for ensuring whole pipelines don't fall apart, is to include an argument like this in the call to `setup()` in `setup.py`:

[code]

This ensures that pip only installs the right version of a package for the user's running Python version. In this example, 2.7 and 3.3+ are supported.

When dropping Python 2, use something like this for 3.3+:

[code]

[2019-03-11 02:57] Jaffrey98 commented on #1277
@henrykironde For task2 do we need to change the value of `ENCODING` variable in [`/retriever/lib/defaults.py` ](https://github.com/weecology/retriever/blob/master/retriever/lib/defaults.py#L10) ?

Also there are other references where `latin-1`  is being used for decoding and encoding like in:
- [`retriever/lib/scripts.py`](https://github.com/weecology/retriever/blob/master/retriever/lib/scripts.

[2019-03-11 04:07] henrykironde commented on #1277
I have created a branch to work towards dropping Python2 https://github.com/weecology/retriever/tree/python3_and_pep8

@scls19fr, could you please PR your previous PEP8 changes to this branch in case you have time else I go ahead and clean them up on your behalf. PR https://github.com/scls19fr/retriever/pull/1

@Jaffrey98

The tests will probably fail on Python 2 and we should remove the testing o

[2019-03-11 06:11] scls19fr commented on #1277
Hi,

I'm very busy for the 2-3 next following weeks.
So go ahead guys!

Kind regards

[2019-03-13 16:09] apoorvaeternity opened #1283 "Default REPO_URL leads to 400: Invalid request"
The current [REPO_URL](https://raw.github.com/weecology/retriever/)  defined in `retriever.lib.defaults.py` leads to a 400: Invalid request.

[2019-03-14 19:33] apoorvaeternity opened #1285 "JSON file generated using install json is not pretty"
The .json file generated when installing datasets into json is not pretty.

For example, consider abalone-age-

The output file generated when using 'retriever install json abalone-age` looks like:
![current_look](https://user-images.githubusercontent.com/21103831/54385322-5aa3f000-46bc-11e9-8ccd-6679462f4f37.png)

The size of this file is 726.5 kB.

The output file when setting the indentation of

[2019-03-15 15:41] #1283 closed

[2019-03-18 13:20] ethanwhite commented on #1285
Thanks @apoorvaeternity. I think this is an important point. Are most data produced by other folks that are stored in JSON stored in the pretty format?

[2019-03-18 13:45] apoorvaeternity commented on #1285
I personally don't know about good JSON dataset providers.
I just googled `datasets in json` and found some of these sites and most of their datasets were indented:
https://catalog.data.gov/dataset?res_format=JSON
https://json-datasets.zeef.com/jdorfman
https://data.world/datasets/json

Even `Django` allows dumping of data from database in JSON format with the option of setting the indentation.
`p

[2019-03-18 17:43] henrykironde commented on #1285
I think if we add something like that we should use a default indent spacing and no need to provide a 2.

[2019-03-18 19:16] ethanwhite commented on #1285
Thanks @apoorvaeternity - I definitely agree that this should at least be optional. I asked because if most folks using JSON for data are already using pretty formatting then I think there's an argument for just making everything pretty. I agree with @henrykironde that we should skip the customization of the indent and using something like  `retriever install json --pretty abalone-age`

[2019-03-19 16:26] p-murli commented on #1247
Hey, is this issue open and can I take it up? I'm a newcomer so could you give me a few pointers on how to get started?

[2019-03-19 17:33] ethanwhite commented on #1247
Hi @p-murli. Welcome to the retriever team! This issue is already being worked on in #1281. If you have questions about starting to engage with the project I'd recommend stopping by the Gitter channel (https://gitter.im/weecology/retriever) and introducing yourself and folks can help from there.

[2019-03-19 18:51] zhangcandrew commented on #1250
If you're set on keeping around different versions of the dataset, it might be cool to look into OrpheusDB for this:
- http://orpheus-db.github.io/index.html
- https://github.com/orpheus-db/implementation

which attempts to solve the problem of versioning for datasets. It is based on MySQL and Python, so I think it could lend itself to retriever well. They have a couple papers on the subject of da

[2019-03-20 06:52] #1285 closed

[2019-03-20 14:57] apoorvaeternity commented on #1250
@zhangcandrew Thanks for the suggestion. OrpheusDB is surely cool but  IMO  `"some analysis package combo of datasets/script/whatever"` would be more flexible in our case and for the users as well. This will allow users to easily reproduce the results without any external dependency and also allow easy sharing of their own created package with others.

[2019-03-20 15:54] ethanwhite commented on #1250
Sorry to be slow getting back to you @apoorvaeternity. I really like your current vision for this and think you should go ahead and start developing the proposal. I think that since most datasets won't update that often and most users won't update them repeatedly that keeping full copies (especially compressed) should be fine.

@zhangcandrew - that is a cool tool that I didn't know about before. T

[2019-03-20 17:39] apoorvaeternity commented on #1250
@ethanwhite Okay, I will start my work on the proposal.

[2019-03-20 19:22] DumbMachine commented on #79
Hey, I was wondering if this issue is solved or being worked upon currently. I had a few suggestions for it.

Pandas has good support for out of memory scale data. We read data from sources like csv in chunk sizes. So adding the data from a large csv to hdf5 file will become as simple as:
[code]
For using sqlite to transform data to h5 we can do the same as above only difference being the API used

[2019-03-20 19:54] DumbMachine commented on #1218
[EU Open Data Portal](http://data.europa.eu/euodp/en/data/)
[Public Data by Google](https://cloud.google.com/bigquery/public-data/)
[Unicef Data Resources](https://data.unicef.org/resources/resource-type/datasets/)
[Wikipedia Dump](https://wiki.dbpedia.org/develop/datasets)

[2019-03-20 20:34] DumbMachine commented on #1195
I fear that the [link](https://www.mrlc.gov/nlcd2011.php) is not functional anymore.
[This](https://nrcs.app.box.com/v/gateway/folder/39752407577) I beleive points to the same dataset. If so then I would like to implement the script for the same.

[2019-03-20 22:34] henrykironde commented on #1195
The data is here https://www.mrlc.gov/data and these are spatial datasets.
Some of the examples are `Bioclim` and `harvard-foreset`. I have not updated the docs on creating spatial datasets, so it may be a little hard. If you can start with some simpler examples like 1138

[2019-03-20 23:27] henrykironde commented on #79
@DumbMachine, this looks like what we need, I have not had time to get my hands on this however, since @harshitbansal05 was working on this, you could work together and Collaborate on this with a goal to have it working in the best way possible.

[2019-03-21 11:56] DumbMachine commented on #79
@harshitbansal05 , Let me know if I can help you in any way. In the mean time I made s rough implementation of the HDF5engine by reusing CSVengine and converting the csv to hdf5 file. The results can be seen [here](https://github.com/DumbMachine/retriever/blob/master/TEST.ipynb). If these are the results you desire then I can make a pull request to fully implement the same.

[2019-03-24 05:36] DumbMachine opened #1289 "Idea for Retriever in Docker"
I am proposing the Idea of using Docker along with Retriever to provide easy access to its users. With the help of Docker and Retriever setup, they can directly dive in without having to deal with any hassles of installation of packages or searching for the data.

There are many libraries which are hard to install for new users or are broken on certain system like Windows (xgboost library). Having

[2019-03-24 12:02] harshitbansal05 opened #1290 "[discussion] Extract Scripts into a separate system"
Hi, I was looking to work on the GSoC idea "Extract Scripts into a separate system". I researched for the project, and as far as I understand, it requires moving the scripts directory into a new repository for ease of maintenance(users downloading from source have to download the scripts directory as well because it comes with retriever). For moving it into a new repository, there have to be certa

[2019-03-24 12:03] harshitbansal05 commented on #1290
@ethanwhite @henrykironde @zhangcandrew sorry I was a bit involved in my midterm examinations, so could not create an issue earlier. Could you please add your suggestions here?

[2019-03-24 23:27] henrykironde commented on #1289
Thanks for the Idea, have you looked at the idea `Retriever Provenance`. This is very closely related to `Retriever Provenance` idea. I think it would be great to include the ideas that the Provenance issues are trying to solve. https://github.com/weecology/retriever/search?q=Retriever+Provenance&type=Issues.

And this will scale up the proposal/idea

[2019-03-25 03:47] DumbMachine commented on #1289
Solution for Provenance can surely be included here. Since the commit of a container creates an image with state same as that of commited container, all e
Command/code will be executed again. This will bring the state of the dataset to the one the author commited. This will work just fine with small datasets as executions on them won't be very time consuming.

For larger datasets we can use git-py

[2019-03-25 03:53] DumbMachine commented on #1289
I could provide a more detailed action plan after a few hours when my classes have ended.

[2019-03-25 23:00] henrykironde commented on #1290
I will add Andrew's comments here.

[2019-03-26 19:12] zhangcandrew commented on #1290
Thanks @harshitbansal05!

Some of the items we had hoped to tackle with this included:
- Moving all scripts to a separate area (new repository/cloud storage/whatever else sounds good) where it could be separately added to, versioned, and controlled
- Keeping track of scripts that would now be split across three different areas. Retriever looks in two local folders (~/.retriever and local retriever

[2019-03-27 02:32] henrykironde opened #1295 "Removing tests for python 2"
Officially removing tests for Python2 and this is because of the fact that the underlying tools are breaking more often.

**`On Travis:`**
We are moving to dockers specifically for Geo spatial testing
Most Geo-spatial tools will not work with Python 2  straight from the box.
**`On Appveyor:`**
There must have been some updates or changes in the environment and this is causing encoding problems.
Wh

[2019-03-28 23:41] #1295 closed

[2019-03-29 03:09] coolalexzb opened #1298 "[discussion] Retriever Out of Memory Functionality"
Hi, I am eager to work on the GSoC idea called "Extract Scripts into a separate system". I have added some parts of LTREB datasets to retriever and tried to download and install large vertnet datasets.  The download function takes several minutes as for vertnet datasets, while it seems related to the speed of network. Both download and install function can work for large datasets but it takes long

[2019-03-29 21:45] DumbMachine commented on #1289
Since I have decided to apply to a different organization, I won't be able to submit a proposal for the above Idea this time. If you see the potential in the above Idea, I would love it implement it outside of GSOC. If I'm not selected this time for GSOC, I would work on implementing this idea during the summer. If I'm selected I would work on this slowly and steadily on the side.
Do let me know y

[2019-03-29 21:52] henrykironde commented on #1289
@DumbMachine, that is totally fine. we shall keep this open.

[2019-03-29 23:24] henrykironde commented on #1298
Yes, after downloading we need to speed up more processing.
We also want to make sure that when we are dealing with large files, bigger than the vertnet, we do not take that long and we make sure we do not run out of memory. Have you tried `retriever fetch` on the main vertnet

Also have a look at this
Ref: https://github.com/weecology/retriever/issues/1112

[2019-03-30 04:45] coolalexzb commented on #1298
It seems that retriever fetch is not a valid command.
![2019-03-30 12-44-52屏幕截图](https://user-images.githubusercontent.com/19755247/55271571-b63fc180-52e9-11e9-9ccc-df5953f975a1.png)

[2019-03-30 04:46] coolalexzb commented on #1298
It seems that retriever fetch is an invalid command.  @henrykironde
![2019-03-30 12-44-52屏幕截图](https://user-images.githubusercontent.com/19755247/55271577-dd968e80-52e9-11e9-9fca-24152c45c0ce.png)

[2019-03-30 09:06] ethanwhite commented on #1298
fetch is only available in the Python interface, not the command line interface.

In Python try:

    import retriever as rt
    rt.fetch(“mammal-masses”)

[2019-03-31 09:28] coolalexzb commented on #1298
I tried run rt.fetch("vertnet"), this command got out-of-memory in my PC, and I tried rt.fetch("vertnet-fishes") instead, however, it went corrupted as well. I read the source code of fetch, I found that it implemented download and install function, but I was confused that why I could use download and install function by command retriever download and retriever install for vertnet dataset.  I also

[2019-03-31 21:48] henrykironde commented on #1298
What you have encountered is the problem that we want to solve.
Processing of large data files without putting everything in memory.

[2019-04-02 09:44] harshitbansal05 commented on #1290
@zhangcandrew thanks for the response. I was thinking that rather than searching for scripts in the local git repo and the home dir, we should only look for scripts in the home dir. First I found a shortcoming:
In the current Retriever implementation, if I call `edit_json` for a script, edit it, and then install that dataset while staying in the local git repo, the edited json script would not be

[2019-04-02 09:50] harshitbansal05 opened #1299 "Redundant functions in tools.py and scripts.py"
The functions `open_fr`, `open_fw`, `open_csvw`, and `to_str` are present in both tools.py and scripts.py. Can't we simply implement them in only one file, maybe tools.py? Please correct me if there's a reason behind doing so.

[2019-04-02 19:35] henrykironde commented on #1290
The edit json functionality is mainly for users.
Users do not usually work within the git repo. They install retriever using package manager like pip or conda and will only have one script directory which will be the `~/.retriever/script`

The git repo is mainly for developers.

[2019-04-02 20:42] zhangcandrew commented on #1290
Thanks for the suggestion @harshitbansal05! A large part of having the scripts folder before was for developmental purposes. If you create a new script and drop it in your git repo’s script folder, when you run `retriever ls`, it will (or should) show up with any changes you made. Since the folder in ~/.retriever is hidden an not front facing, we don’t intend for our users to change or modify it.

[2019-04-02 22:06] henrykironde commented on #1299
These functions are tailored to handle all sorts of file opening on multi platforms. We use the ones in the `scripts.py` module as part of the core functionality and tools as helper function (including testing).

The reason we are separating is to avoid circular dependencies. However, feel free to change the orientation/design where applicable.

[2019-04-04 09:20] coolalexzb commented on #1298
I used profiler to visualize the usage of memory. `df = sqlite.fetch_tables(dataset, db_table_names)` in fetch function and
[code]

[2019-04-04 09:21] coolalexzb commented on #1298
I used profiler to visualize the usage of memory. df = sqlite.fetch_tables(dataset, db_table_names) in fetch function and

[code]

[2019-04-04 09:22] coolalexzb commented on #1298
I used profiler to visualize the usage of memory. `df = sqlite.fetch_tables(dataset, db_table_names) `in fetch function and
[code]
in fetch_table function need large memory.
I am trying to set chunksize in `pd.read_sql_query()` function to control the number of rows to read each time and we will get an iterable set of data as a result.
Another point is that the installing speed gets slower compare

[2019-04-04 09:26] coolalexzb commented on #1298
I used profiler to visualize the usage of memory. `df = sqlite.fetch_tables(dataset, db_table_names) `in fetch function and
[code]
in fetch_table function need large memory.
I am trying to set chunksize in pd.read_sql_query() function to control the number of rows to read each time and we will get an iterable set of data as a result.
Another point is that the installing speed gets slower compared

[2019-04-04 11:13] harshitbansal05 commented on #1290
@zhangcandrew @ethanwhite @henrykironde  I have written an initial draft of the proposal and submitted it on the GSoC website. Could you please review it and suggest the possible changes?

[2019-04-05 08:48] harshitbansal05 commented on #1290
Also, @zhangcandrew could you please describe the last point `Finally, if we get the chance to, we want to be able to add a flag to download and create scripts that we DON'T currently keep track of (wouldn't be in our script repo). This allows users to leverage the retriever tools on data that is clean but we haven't created a script for. Users should be aware that they are downloading a foreign f

[2019-04-05 14:14] henrykironde commented on #1298
https://google.github.io/gsocguides/student/proposal-example-2.html

You need to figure out some of those areas that need to be changed so that we can handle the large data sets

[2019-04-08 00:18] #1299 closed

[2019-04-08 00:36] henrykironde opened #1302 "reset_script does not seem work well"
Add test for reset_retriever.
The test case should be something like.

[code]
[code]

[2019-04-08 03:41] harshitbansal05 commented on #1302
@henrykironde I think that the test condition would not be appropriate, as "iris" would still be present in `rt.dataset_names()` even after running `rt.reset_retriever("iris")`, due to its presence in the scripts folder of the retriever repository. It would pass when run from any other place besides the local git repo. Please correct me if I am wrong.

[2019-04-08 04:53] zhangcandrew commented on #1290
Thanks @harshitbansal05, I gave your proposal a look over and suggested some changes!

Also yes, that's exactly what's meant. Retriever scripts currently try to use specs written out by frictionless data (see: https://frictionlessdata.io/data-packages/). Around the internet there are datapackages floating around that follow these specs that we didn't necessarily make. It would be cool to see retri

[2019-04-08 05:16] henrykironde commented on #1302
We can actually test them using `reload_scripts()`
[code]

In the reset_retriever function, we could call reload_scripts at the end to update the script list.
In case there are cyclic dependencies. we can re-organize those functions.

[2019-04-08 07:18] harshitbansal05 commented on #1290
@zhangcandrew regarding the search of online scripts based on licenses and keywords, I thought of the following solutions:
1. Make a separate file similar to version.txt with two more columns, features and licenses. When a query is made, search this file.
2. Use github's search api. For example, the query `curl https://api.github.com/search/code?q=CC0-1.0+in:file+path:scripts+repo:weecology/retrie

[2019-04-08 10:11] coolalexzb commented on #1298
I have wrote most part of my proposal. In the first two month, I decided to solve the problem of out of memory mainly by the usage of lazy computation mimicing the thoughts of Resilient Distributed Dataset(RDD) in spark and dividing datasets in several parts and process them sepearate when real computaion happen.  For large dataset, users are required to use sql command first  and I  decided to wr

[2019-04-08 11:27] henrykironde commented on #1298
Can I see the proposal. You can upload it on the GSOC page as a doc, I will be able to see it

[2019-04-08 16:23] coolalexzb commented on #1298
I shared my draft with you and @ by your email. Some parts have not been filled yet and I will fill it soon. Thanks! @henrykironde

[2019-04-08 16:37] harshitbansal05 commented on #1290
@zhangcandrew I have also made some key design changes based on your suggestions. I request you to have a look at them.

[2019-04-08 18:09] henrykironde commented on #1298
I have finished adding comments

[2019-04-09 04:50] harshitbansal05 commented on #1290
@zhangcandrew sorry, but I could see only one comment on the doc. Are the design changes for the second and third task fine?

[2019-04-09 05:28] coolalexzb commented on #1298
My draft has been uploaded and this is my final draft. Please give me some suggestions and guide. Thank you! @henrykironde

[2019-04-09 07:20] henrykironde commented on #1298
Looks ready, go ahead and submit

[2019-04-10 14:56] ethanwhite opened #1303 "Support multiple citations for datasets"
Some datasets have multiple citations and sometimes we want to combine multiple datasets into a single dataset (see #1297). It would be nice to be able to support this by effectively displaying more than one citation. We'll need to check if there are issues with the Frictionless Data specs, but from a first glance it looks like `citation` isn't actually in their specs (surprisingly) so we can prob

[2019-04-10 20:53] henrykironde commented on #1303
We can use a dictionary
[code]

or we could just provide a list of the all the citations and leave it to the user to identify which citation belongs to which data

[code]

[2019-04-10 21:03] henrykironde commented on #1303
**Note:** This will break backward compatibility, hence when designing we need to put that into account.
A cleaner version, I would say, is introducing a new keyword. In this case, we can use `"table_citations": {}` or `"table_citations": []`

[2019-04-11 15:40] henrykironde commented on #1302
update:
[code]

[2019-04-15 20:19] harshitbansal05 commented on #1303
@henrykironde does it require that we add a new field `table_citations` to all the scripts, which would be a list, initially populated with the present citations. Also, make corresponding changes when creating a new json file?

[2019-04-15 20:28] henrykironde commented on #1303
We do not have to add the field to all scripts, we have to just process it if present. look for places where we process citation and thinking of how to add `table_citations`
https://github.com/weecology/retriever/search?l=Python&p=1&q=citation.

A good example is https://github.com/weecology/retriever/blob/16d4d0cf07d08221f50756e169c9b35deaebf99a/retriever/__main__.py#L65

To be able to test this

[2019-04-15 20:34] harshitbansal05 commented on #1303
ok, I would try to look into it @henrykironde.

[2019-04-15 23:26] henrykironde commented on #1218
https://edg.epa.gov/metadata/catalog/main/home.page

[2019-04-16 12:22] apoorvaeternity opened #1308 "Error when running retriever license with no dataset as argument"
Currently, when running `retriever license` and providing no dataset as an argument it results into `KeyError: 'No dataset named: None'`
![retriever_ls](https://user-images.githubusercontent.com/21103831/56208546-069b7b00-606f-11e9-84e5-9952be6cc097.png)

In case of `retriever citation` if no dataset is given we show the citation for retriever.
![retriever_ct](https://user-images.githubusercontent

[2019-04-16 19:58] zhangcandrew commented on #1227
Fixed in #1301

[2019-04-16 19:58] #1227 closed

[2019-04-16 20:01] zhangcandrew commented on #1308
Hey @apoorvaeternity thanks for catching this!

I think we should keep with convention and create a LICENSE variable in defaults to show.

[2019-04-16 20:29] #1308 closed

[2019-04-16 20:51] apoorvaeternity opened #1312 "File generated using retriever new should be json by default"
The sample script that is being created using `retriever new` should be a `json` by default.

Currently, we ask for the filename from the user but we also take the extension entered by the user and if the user does not provide an extension it becomes a simple file.
![ret_new2](https://user-images.githubusercontent.com/21103831/56243095-63bb1f00-60b7-11e9-9954-43c4a36e99b1.png)

[2019-04-17 17:08] #1302 closed

[2019-04-20 09:30] coolalexzb commented on #903
Is this problem been solved or can I do something to help solve the problem if there is a feasible solution already? When I download large datasets, in most case it interrupts due to network problem and I need to download whole datasets again which consumes long time, and so can I just solve the download problem by this cause?  If a feasible solution to help solve download problem caused by each p

[2019-04-20 17:58] henrykironde commented on #903
We have not solved this yet. If you are facing the same problem please go ahead and try to solve it.
Also it would be good to describe how you encountered the problem or the dataset that you where downloading.

[2019-04-21 21:42] henrykironde commented on #1303
Adding a different data type for citation worked fine using both string "", and list []. We should allow users to add a list of citation when creating scripts. Proposed by @harshitbansal05

[2019-04-21 22:05] henrykironde opened #1316 "Update the wiki page for creating a release"
It looks like we don't need this anymore `In __init__.py change MASTER = False to MASTER = True`.

[2019-04-22 20:36] henrykironde commented on #971
Most of the what is needed is assembling the moving parts. If anyone wants to work on this feel free to discus with me the way forward.

[2019-04-22 22:10] henrykironde commented on #971
Initial steps would include improving PR https://github.com/weecology/retriever/pull/1051

[2019-04-23 14:00] coolalexzb commented on #1208
Hello, I have a question about this issue. When installing datasets by sqlite, it improves its efficiency by the use of `cursor.executemany`. When installing datasets by csv, it writes to a .csv file by `executemany` function in csvengine.py. In` executemany` function, when I print the value of statement or values(these two variable have the same value using csv engine), data is also divided in ch

[2019-04-23 15:18] henrykironde commented on #1208
In the CSV engine, `executemany` still reads line by line and tries to write several of these. It is like `writelines` vs write for a single line.
However, SQL engines can load data into the database without processing line by line. When data is clean we do not need to process the line by line. we need to more less load the whole file to the engine. I think for postgres that function is COPY and f

[2019-04-23 20:46] henrykironde opened #1318 "Urgent linux help: Auto complete failing"
Is anyone getting an error related to
activate-global-python-argcomplete ,  eval "$(register-python-argcomplete retriever)"
When you run `python setup.py install` or `build.sh`

[2019-04-23 22:12] zhangcandrew commented on #1318
I just tried it out and I'm getting an Errno 13 Permission Denied error

[2019-04-23 22:37] henrykironde commented on #1318
Seems to be working, tested by @zhangcandrew and thank you.

[2019-04-23 22:37] #1318 closed

[2019-04-28 00:16] ha0ye opened #1322 "[Bug] Data transformations with install_csv"
I noticed that data was importing slightly different on linux than on my Mac laptop for a particular data file and it seems to be an issue with how the CSV file is being generated on my Mac.

In all cases, I'm using retriever v2.3.0, and running from within Python3.
1. I use retriever to download dataset "veg-plots-sdl":
[code]

2. Then I look at the "Photo_info" file. On my mac, line 9 of the dat

[2019-04-28 02:27] henrykironde commented on #1322
Thank you @ha0ye, this needs some redesign.
[code]
I guess we shall have to change the way we detect the data type in https://github.com/weecology/retriever/blob/master/retriever/lib/engine.py#L265

[2019-04-29 13:39] coolalexzb commented on #1208
I have improved the speed of large csv installs like ` breed-bird-survey` successfully, while I cannot pass pr test. I feel difficult to understand the error information. It seems a encoding problem. Could you give me some help? Besides, are there some ways to test locally rather than committing several times? The test functions need some data as parameters but it seems that I cannot provide it lo

[2019-04-29 13:39] coolalexzb commented on #1208
I have improved the speed of large csv installs like breed-bird-survey successfully ＃1323, while I cannot pass pr test. I feel difficult to understand the error information. It seems a encoding problem. Could you give me some help? Besides, are there some ways to test locally rather than committing several times? The test functions need some data as parameters but it seems that I cannot provide it

[2019-04-29 13:40] coolalexzb commented on #1208
I have improved the speed of large csv installs like breed-bird-survey successfully #1323 , while I cannot pass pr test. I feel difficult to understand the error information. It seems a encoding problem. Could you give me some help? Besides, are there some ways to test locally rather than committing several times? The test functions need some data as parameters but it seems that I cannot provide i

[2019-04-29 13:41] coolalexzb commented on #1208
I have improved the speed of large csv installs like breed-bird-survey successfully #1323 , while I cannot pass the pr tests. I feel it difficult to understand the error information. It seems an encoding problem. Could you give me some help? Besides, are there some ways to test locally rather than committing several times? The test functions need some data as parameters but it seems that I cannot

[2019-04-29 16:28] ha0ye opened #1324 "[bug] (successful) version checking depends on updated pkg_resources/setuptools"
I ran into an issue where retriever didn't properly identify itself as being able to use certain scripts. For example, the R CMD check fail logs in https://travis-ci.org/weecology/MATSS/jobs/521510095 show a lot of messages like:
[code]

I traced this back to the `check_retriever_minimum_version()` function, which uses `parse_version` to compare version numbers (and didn't quite work).

The soluti

[2019-04-29 17:30] henrykironde opened #1325 "Change Debian packaging tool set or cancel packaging for Debian"
The current tool used for creating the debian package has not seen maintenance for a long time. The last release was in 2015 https://pypi.org/project/stdeb/.

I propose that we use dpkg-buildpackage
A sample example is illustrated here.
https://krzysztofzuraw.com/blog/2017/building-python-packages-for-debian.html

I am trying this out but feel free to jump in and contribute.

[2019-04-29 22:58] henrykironde opened #1326 "Add plant layer plot layer spatial data set of veg-plots-sdl"
`veg-plots-sdl` has both csv and sqlite datasets, we can create a new dataset say `veg-plots-sdl_spatial` and add those files.

Since we have not tested combined datasets(tabular and vector), I would prefer keeping them separate.
ref https://figshare.com/articles/Data_Paper_Data_Paper/3555756

[2019-04-29 23:43] henrykironde commented on #1324
Thanks for catching this @ha0ye , I am not sure why it never showed up in a new docker environment.

[2019-04-30 01:14] #1324 closed

[2019-04-30 01:18] ethanwhite commented on #1322
For future reference (since I couldn't believe that 2_0 == 20): https://www.python.org/dev/peps/pep-0515/

[2019-04-30 08:40] coolalexzb opened #1329 "Request more large datasets"
When I am testing the threshold of large datasets, `vertnet` dataset is the largest dataset in retriever and it will cause out of memory problem when users implement `fetch` function. However, compared with `vertnet` datasets, other datasets are too small which makes it difficult to find a threshold. I hope users and developers can provide more datasets source (size between 400M to 3G is better),

[2019-04-30 13:35] henrykironde commented on #1208
Hi @coolalexzb,

Committing(Pushing) several times is okey, but it is not ideal. Usually you test locally first and then push once your local tests pass.

I am not sure what parameters but I think you are talking about passwords for MySQL and Postgres engines. https://retriever.readthedocs.io/en/latest/developer.html#passwordless-configuration
If the docs can't help we can set up sometime this wee

[2019-04-30 14:16] #1322 closed

[2019-04-30 14:17] ethanwhite commented on #1325
I think we should broaden this conversation to whether or not to drop all of the installers and focus our energy on really well refined and test installation instructions.

[2019-04-30 14:44] henrykironde commented on #1329
You can create and test one locally.
For example, create a python script to read the row values of any` vertnet_*` csv data and write to a new file  _`n`_ times. (_`n`_ starting from the small numbers and test with increasing _`n`_)
That could be a lot of data. Save the new data in `~/retriever/rawdata/bertnet-birds`
I would name this file i.e `bertnet_birds.csv`.
Make a copy of the `vertnet_bird.

[2019-05-01 02:18] coolalexzb commented on #1329
A useful suggestion! I will try it!

[2019-05-01 02:26] henrykironde commented on #1329
Okey, I will close this for now

[2019-05-01 02:26] #1329 closed

[2019-05-01 02:38] coolalexzb commented on #1208
Thanks for your help! Other than the encoding problem, another problem is made by Nan value which I described in #1323 . When you get through the error, I think it also an important part to review. This is a polite reminder. I will try to help solve this problem by myself this week as well. Thank you! @henrykironde

[2019-05-02 18:45] ethanwhite opened #1334 "Allow consuming JSON data"
Currently we only support ingesting delimited tabular data. It is increasingly common for tabular style data to be distributed in JSON files and it would be nice to also be able to consume this. We would probably just convert it to CSV as a starting point and then process it using our standard pipeline.

There are a few not particularly active packages for doing this, but the code to do it is so s

[2019-05-02 18:46] ethanwhite commented on #1334
Here's one example of the basic approach: http://blog.appliedinformaticsinc.com/how-to-parse-and-convert-json-to-csv-using-python/

[2019-05-06 03:13] coolalexzb commented on #1208
Hi, I was trying to set up a developer environment these days to test function locally but I got a problem which might be an encoding problem. I search the error on google but do not find a good solution. Could you give me some advice or provide some configuration information of postgresql in detail? Thanks! @henrykironde
![2019-05-06 11-07-08屏幕截图](https://user-images.githubusercontent.com/1975524

[2019-05-06 03:51] henrykironde commented on #1208
Which version of Postgres are you using?

[2019-05-06 08:57] coolalexzb commented on #1208
postgresql-9.6 & postgis-2.3

[2019-05-06 11:43] henrykironde commented on #1208
Could you try to install version 10.

[2019-05-06 12:06] henrykironde commented on #1208
Also, could you try this
[code]
Let me know what happens

[2019-05-06 15:49] coolalexzb commented on #1208
I get a similar error saying that schema "testschema_retriever" does not exist, which is also caused by the encoding problem(`psycopg2.errors.UntranslatableCharacter: character with byte sequence 0xe9 0x94 0x99 in encoding "UTF8" has no equivalent in encoding "LATIN1"`). Other errors are also caused by this reason. Besides, I use the command `apt-get install -y --force-yes postgresql-10` and then

[2019-05-06 15:56] coolalexzb commented on #1208
I get a similar error saying that schema "testschema_retriever" does not exist, which is also caused by the encoding problem(psycopg2.errors.UntranslatableCharacter: character with byte sequence 0xe9 0x94 0x99 in encoding "UTF8" has no equivalent in encoding "LATIN1"). Some errors are also caused by this reason. Some errors are caused by the failed installation of the schema. Besides, I use the co

[2019-05-06 16:04] henrykironde commented on #1208
Lets try running this command and see

[code]

[2019-05-06 16:15] henrykironde commented on #1208
You can set the local to
windows
[code]

nix

[code]

[2019-06-04 18:09] gmyenni opened #1340 "Update Biotime"
The latest version is here: https://zenodo.org/record/2602708#.XPazU9NKjOQ

Complete data are in the .sql, but there are also metadata and citations separately in .csv.

[2019-06-07 03:44] henrykironde commented on #1340
@gmyenni thanks for the request. Update, I am almost done. I will use an extra day for validating this dataset.

[2019-06-08 16:50] #1340 closed

[2019-06-08 16:55] henrykironde commented on #1340
@gmyenni, @diazrenata, @ha0ye In case you use `Biotime`, we have added the data from the sql file as `biotimesql`.

[2019-06-10 20:54] gmyenni commented on #1340
Thank you @henrykironde !!

[2019-06-22 11:06] zhangcandrew commented on #1290
Putting this in here to keep track of things. @harshitbansal05, feel free to use this if it helps you too

- [ ] Moving all scripts to a separate area (new repository/cloud storage/whatever else sounds good) where it could be separately added to, versioned, and controlled
- [ ] Create CLI for retriever-recipes [WIP]
- [ ] Keeping track of scripts that would now be split across three different area

[2019-06-22 16:45] henrykironde opened #1347 "Repair biotimesql"
define NULL

[2019-06-22 18:23] henrykironde opened #1348 "Post release bump of version to 2.4.1-dev"

[2019-06-22 18:48] #1347 closed

[2019-06-22 20:06] #1348 closed

[2019-06-26 11:30] ethanwhite commented on #1290
First off - I'd just like to say that I'm super impressed with all of the work and thought that's been happening on this. It's so exciting to see this GSOC project making such great progress.

Given the length of the To Do list I thought I'd mention that I think that "Restructuring code to not redownload everything unless needed" might be something to consider placing lower down on the priority li

[2019-06-26 17:30] DumbMachine commented on #1334
Some time ago, I was doing the same and found that **pandas** provide good functions to help with JSON data.
1. For simple ( not nested JSON ), it can be read directly:
[code]
2. For nested jsons, **pandas.io.json** provides [json_normalize](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.json.json_normalize.html). Using this [data](https://data.cityofnewyork.us/api/views/25th-

[2019-06-27 14:00] harshitbansal05 opened #1353 "Codec error while installing some datasets"
Highlighted by @zhangcandrew, the installation of some datasets raises the following error: ![](https://user-images.githubusercontent.com/15080652/60234319-c37d3580-9871-11e9-95a5-12c8baf63fcc.png)

[2019-06-27 15:26] henrykironde commented on #1353
Try to include `"encoding": "latin-1"`, in `mt-st-helens-veg's` json file.

[2019-06-27 17:14] #1353 closed

[2019-07-12 23:23] ethanwhite opened #1359 "Add Global Population Dynamics Database"
https://knb.ecoinformatics.org/view/doi:10.5063/F1BZ63Z8

[2019-07-19 19:04] apoorvaeternity opened #1361 "Travis builds are failing"
We are using `python==3.5.2` on Travis and `python==3.5.4` on AppVeyor. The AppVeyor builds are passing.
If we look at the logs on Travis the issue seems to be with `pandas`.
Possibly related to https://github.com/pandas-dev/pandas/issues/27247

[2019-07-19 19:06] apoorvaeternity commented on #1361
We can either pin the dependency down to a lower version of pandas or move to a higher python version( will require more checks to see how it affects other things)

[2019-07-19 19:54] ethanwhite commented on #1361
I think we should move to the higher Python version since otherwise things could be breaking with up-to-date installs of Pandas.

[2019-07-19 21:17] #1361 closed

[2019-08-11 02:14] ethanwhite opened #1372 "breed-bird-survey broken due to change by data source"
Looks like BBS did it's annual update and we're broken again:

[code]

[2019-08-20 16:17] henrykironde opened #1378 "Issues in PR 1374"
@harshitbansal05 and @apoorvaeternity we can paste all the issues here and test command that have worked fine #1374

- [x] 1. retriever-recipes edit-json abalone-age (and  delete_json)
- [x] 2. Print statement after `retriever ls` results needs a change on how it displays

[2019-08-22 02:38] zhangcandrew commented on #1378
This was a minor issue but it seems like in the retriever-recipes-dev branch, retriever ls will sometimes show duplicates after a script has been reset.

![image](https://user-images.githubusercontent.com/15080652/63481546-ba6ca700-c463-11e9-8174-eede8f10f57b.png)

I imagine it's because we're looking for the existence of a script in multiple areas but this shouldn't be a big deal. If we put the l

[2019-08-22 07:20] harshitbansal05 commented on #1378
@zhangcandrew thanks for pointing them out. I have solved both the above issues. Also, I have implemented the feature, you pointed out in https://github.com/weecology/retriever/pull/1362?fbclid=IwAR2cF6ARya2JXgNQXIhIg0E2hJBMk9jStxYL4q_yAPHYIpAMhcG9Sj9asts#discussion_r305595368. So, should I now create a new pr for them, or push to the existing one?

[2019-08-22 07:28] harshitbansal05 commented on #1378
Provenance commands tested:
1. `retriever commit iris -m "Test commit" --path "./"`
2. `retriever install csv iris-7358ae.zip`
3. `retriever commit iris -m "Test commit"`
4. `retriever log iris`
5. `retriever install sqlite iris --hash 7358ae`

All the above commands worked fine and as expected for me.  Great work @apoorvaeternity.

@zhangcandrew @henrykironde ^.

[2019-08-23 01:12] zhangcandrew commented on #1378
This is really cool! I was playing around with the new commands, all of them seemed to be working as well as normal retriever functions. This is really going to be awesome going in.

@apoorvaeternity, while I was playing around, I noticed that commits don't seem to show up when I use the path flag in the logs:

![image](https://user-images.githubusercontent.com/15080652/63559814-7344eb80-c521-11e9

[2019-08-23 08:41] apoorvaeternity commented on #1378
@zhangcandrew It was intentional. The logs are meant for dataset only in `PROVENACNE_DIR`.

[2019-08-24 16:04] apoorvaeternity commented on #1378
### Testing `retriever-recipes new_json`
<img width="594" alt="Screenshot 2019-08-24 at 9 02 47 PM" src="https://user-images.githubusercontent.com/21103831/63639779-4de8e680-c6b5-11e9-8cec-bd1feaa9ab74.png">
Why is encoding being asked two times?

### Testing `retriever-recipes edit_json`
<img width="1678" alt="Screenshot 2019-08-24 at 9 20 47 PM" src="https://user-images.githubusercontent.com/211

[2019-08-24 16:30] harshitbansal05 commented on #1378
@apoorvaeternity thanks for pointing out. I found the cause for the `encoding` being asked twice, but I could not reproduce the other two errors. They just worked fine for me. Are you using the latest version?

[2019-08-24 16:33] apoorvaeternity commented on #1378
Yeah just realised my version was not updated. Testing it out more. Other commands seem to work fine.

[2019-08-24 20:24] henrykironde commented on #1378
**`retriever ls `** : I do not get to see the red colors and I think it depends on system.
Let us reword the print statements. And we can print 2 lines instead of one really long line
`To see the full list of available online datasets, visit https://github.com/weecology/retriever-recipes.`

<img width="1280" alt="Screen Shot 2019-08-24 at 4 14 25 PM" src="https://user-images.githubusercontent.com/

[2019-08-25 01:52] ethanwhite commented on #1378
@henrykironde is right that color won't be universal. One option is to also display a character to indicate the same information (e.g., an `*`, `+`, or `@`) at the end/beginning of those datasets (e.g., `vertnet*`) so that they're status is visible whether there is color or not.

[2019-08-25 13:20] henrykironde commented on #1378
fixed in #1381

[2019-08-25 13:20] #1378 closed

[2019-08-25 18:50] ethanwhite opened #1383 "Rebuild docs"
It looks like that docs haven't been building on readthedocs for the last few months. Since we just merged the two GSOC projects we'll want to get the docs updated so that folks can read the very nice documentation that's been generated as part of those changes.

[2019-08-25 18:55] henrykironde commented on #1383
I will check what is happening with that. I know they did change some rules based on their advertisement business model but I didn't expect it to affect our builds. Locally they are building fine

[2019-08-30 04:39] henrykironde opened #1384 "Urgent: Error with no internet connection"
[code]

[2019-08-30 11:43] ethanwhite commented on #1384
See #1385 from @harshitbansal05.

[2019-08-30 13:21] #1384 closed

[2019-09-17 18:32] ssnell6 commented on #1372
Ethan, I was using the rdataretriever dataset to access the bbs (counts dataset specifically, 2001-2015) and the rpid column seems to have been added in, duplicating some routes in my dataset. Now I have to have a line filtering out certain rpid codes to remove duplicates.  I was using the same code before this with no duplicates, is it possible these settings also changed with this update?

[2019-09-17 18:57] henrykironde commented on #1372
Hi Sara, sorry for the delay on this. I am getting it fixed right away. Since the folks from bbs change the data annually, It may be hard to get your analysis looking exactly the same.

`The good news is that we have added a new feature, Provenance, to the current master that enables you to commit and archive datasets and installation of the committed dataset at a later date. This ensures that the

[2019-09-17 19:04] ssnell6 commented on #1372
thanks so much, this is really helpful!

[2019-09-18 06:46] henrykironde commented on #1372
@ssnell6 I think I got breed-bird-survey(BBS) to work locally, I will put in the changes in the evening.
The new version of BBS has some changes with the encoding which we will need to handle and a few file changes that are not mentioned in the `whatsnew.txt`
After which, we shall be good to run BBS.

ref: ftp://ftpext.usgs.gov/pub/er/md/laurel/BBS/DataFiles/

[2019-09-18 17:27] henrykironde commented on #1372
@ssnell6, What operating system are you using?

[2019-09-18 18:05] ssnell6 commented on #1372
windows

[2019-09-19 01:26] ethanwhite commented on #1372
@ssnell6 - @henrykironde just put in a fix. To see if it works for you can you please run:

[code]

And then reinstall BBS and let us know how things look.

[2019-09-19 15:49] ssnell6 commented on #1372
Thanks Ethan and Henry, I’m good to go now!

[2019-09-24 17:48] #1372 closed

[2019-09-25 00:35] #1359 closed

[2019-09-25 05:16] andy6975 commented on #1326
Hi, I would like to work on this issue, if it's still open. Thanks!

[2019-09-25 05:21] andy6975 commented on #863
Hi, is this issue still available for contribution? I would like to work on this.

[2019-09-25 05:34] andy6975 commented on #1138
Can I still help with adding more data? I would like to work on this project too...basically I am looking for some good issue to work on in this repository so please don't mind me commenting on many. Thanks!

[2019-09-25 05:38] andy6975 commented on #971
Hi, I am willing to work on this. Thanks a lot!

[2019-09-25 06:31] henrykironde commented on #1138
Oh no, we do appreciate any contribution and all comments. Did to get the environment set up?

[2019-09-25 06:42] henrykironde commented on #1326
This is a good start, any issue marked with `Dataset Request` or `getting-started` label would be a good start. We do recommend that you get the environment setup and that you can run tests locally.

The Dataset infrastructure has gone through some great changes and we have made the process of creating new datasets mush easy and faster. With the environment set, we shall be able to guide you on th

[2019-09-25 13:59] ahhurlbert opened #1390 "Problems with rdataretriever installation on Windows"
Hi @ethanwhite @henrykironde

It's my annual "trying to get undergrads up and running with Rdataretriever for a class exercise" problem. I want to make it as simple as possible for them to get up and running, and would prefer NOT to assume that they have Python or, in the case of Windows, a special terminal program like Git Bash.

So ideally, they download the installers from data-retriever.org, f

[2019-09-25 17:30] henrykironde commented on #1390
I will let Ethan have a look into this first, he uses it for his classes too

[2019-09-25 22:55] ethanwhite commented on #1390
Hey @ahhurlbert - we've been moving away from the installers as part of our shift to using `reticulate` over the last year. The idea is to to rely on the core packaging systems while also minimizing the need for R users to think about Python.

Can you take a look at https://github.com/ropensci/rdataretriever#installation and see if this fits the "easy-for-undergrads" bill? Basically it involves ru

[2019-09-26 00:49] ahhurlbert commented on #1390
This sounds like a great and manageable solution! EXCEPT...
[code]
[code]

[2019-09-26 12:51] ethanwhite commented on #1390
Can you try restarting RStudio and see if that fixes things?

If not can you email me so that we can find some time for me to take a look and see what's going on?

[2019-09-30 00:00] ethanwhite commented on #1390
The reason the new instructions don't work turns out to be a bug in `reticulate`. The latest release does not work properly on Windows because it fails to load its own default `r-reticulate` environment.

Upgrading to their development version fixes this, so for now it is necessary to install `reticulate` using `devtools`.

[code]

[2019-10-02 01:28] ethanwhite commented on #1390
Turns out this bug was original reported reported to `reticulate` two months ago: https://github.com/rstudio/reticulate/issues/571. I have re-reported it and asked about the possibility of a quick release: https://github.com/rstudio/reticulate/issues/601

@ahhurlbert - from reading in between the lines of that issue it's possible that install Anaconda instead of miniconda will solve the issue. I'm

[2019-10-02 02:01] ethanwhite commented on #1390
Sadly Anaconda has the same issues. 🤞 for a new release of `reticulate` soon.

[2019-10-02 12:09] ethanwhite commented on #1390
Closing and replacing with a new issue over in https://github.com/ropensci/rdataretriever

[2019-10-02 12:09] #1390 closed

[2019-10-08 05:30] henrykironde opened #1391 "Provenance install commit dataset not working"
The provenance install commit dataset feature was not added during the merge.
I remember testing the same and may have not merged the PR or we cleaned it up by mistake.
@apoorvaeternity do you have time to check this out, thanks

[2019-10-29 14:48] ethanwhite opened #1396 "Re-add eBird EOD"
We previously support eBird EOD before it was removed from DataONE. It's back now so it would be good to re-add that support: https://search.dataone.org/view/EOD_CLO_2016.eml

[2019-10-29 19:43] henrykironde commented on #1396
Notes:
This is `11.4 gb` of compressed data and `103 gb` of data uncompressed.
File name for zip `EOD_CLO_2016.csv.gz.gz` with two `.gz` and the unziped file is `EOD_CLO_2016.csv.gz` with one `.gz`

[2019-12-02 23:24] henrykironde commented on #1138
@gmyenni , we managed to get some datasets.
However some do have the data in formats that we do not support at the moment like pdf.

`LTREB: High-amplitude midge fluctuations and the ecosystem dynamics of Lake Myvatn, Iceland` This looks like a collection of over 200 datasets, we could create it's own issue

[2019-12-05 19:31] henrykironde commented on #1396
ref: 8c58a4de -> https://github.com/weecology/retriever-recipes/pull/49

[2019-12-11 04:32] apoorvaeternity commented on #1391
@henrykironde Is this issue still present? I think we can close this one.

[2019-12-11 04:34] apoorvaeternity commented on #1312
This has been resolved.

[2019-12-11 04:34] #1312 closed

[2019-12-12 09:19] henrykironde commented on #1391
Thanks @apoorvaeternity, this has been fixed

[2019-12-24 13:46] apoorvaeternity opened #1401 "Allow creation of environments based on the information stored in committed datasets"
Rationale: Currently, we are storing information of the environment(installed packages etc.) in which the dataset is committed in a metadata file inside the committed zip file. We warn the users in case the packages found in the environment are different during installation of a committed dataset but there is no way to create an environment automatically based on the information present in the met

[2019-12-31 02:38] henrykironde opened #1402 "List of Public Data sources to add"
- http://www.samhsa.gov/data/report/2015-2016-nsduh-state-estimates-individual-excel-and-csv-files-outcome
- https://world.openfoodfacts.org/data
- https://github.com/turalus/encycloDB/tree/master/Countries
- https://www.kaggle.com/mylesoneill/world-university-rankings/download
- https://uclspp.github.io/datasets/
- https://corgis-edu.github.io/corgis/csv/
- http://www.ncaa.org/about/resources/res

[2020-01-07 12:32] ethanwhite commented on #1401
I think this sounds like a good idea. We'll need to think about differences for users running on conda vs standard pip and what the complexities may be across operating systems, but in concept I'm :+1:

[2020-01-15 13:37] veb7vmehra commented on #1326
Hey @henrykironde can I start working on this issue?

[2020-01-15 14:08] veb7vmehra commented on #1325
@henrykironde where should I create the folder for new version of dpkg-buildpackage, also should we have to remove something related to the previous version?

[2020-01-15 18:32] henrykironde opened #1403 "Improve retriever autocreate"
Some features of `retriever autocreate` do need some improvements

I have some changes already, feel free to take over and  create a new PR with the needed changes
ref : https://github.com/henrykironde/retriever/pull/127/files

[2020-01-15 20:28] henrykironde commented on #1403
More issues discovered:

- The json file created should have `_` and not `-`.

- The resource `name`  (`resource_dict["name"]`) should be cleaned up and no "dots", space and not `-`

[2020-01-15 21:26] henrykironde commented on #1325
Thanks @veb7vmehra, the feature seems really cool however, I think I am leaning towards the removal of Os based packaging. I will update this issue if we really want to go in this direction

[2020-01-16 01:48] henrykironde commented on #1326
Please feel free to work on this issue. This will need you to have a GIS tool to verify the data you are loading.

[2020-01-16 10:25] pathak-mayurdeep commented on #1403
I have cleaned up the resource name and path.
But regarding other issue with json file name with `-`, I'm little confused. Should I clean up the file name at `def write_out_scripts` or did you meant something else? @henrykironde

[2020-01-16 16:42] henrykironde commented on #1325
@veb7vmehra, after discussion with the team, you can go ahead and work on this. 👍
You could refer to the https://krzysztofzuraw.com/blog/2017/building-python-packages-for-debian.html or any other current method. The more simple, the better.

`You can develop this as you wish. I do not think the files collide. We shall remove the old way after confirming this works fine and smooth `

[2020-01-16 18:01] henrykironde opened #1404 "Add datasets from data hub awesome collection"
## Collections

* [Bibliographic data](https://datahub.io/awesome/bibliographic-data)

	 *List of datapackages created*
	 - [ ] add

* [Climate Change](https://datahub.io/awesome/climate-change)

	 *List of datapackages created*
	 - [ ] add

* [Demographics (population)](https://datahub.io/awesome/demographics)

	 *List of datapackages created*
	 - [ ] add

* [Economic Data and Indicators](https:/

[2020-01-17 11:59] veb7vmehra commented on #1325
@henrykironde I am almost done with this issue I guess but there is a dockerfile in which I have to fill up the FROM part(which most prob needs server version or something) and MAINTAINER part which needs I guess the official email id. Can you please help me with that?

[2020-01-17 13:32] veb7vmehra commented on #1326
@henrykironde I have downloaded and checked the data set but would you please explain a bit what verification were you talking about.

[2020-01-18 04:18] henrykironde commented on #1326
You will need a GIS tool to load the data. There are a number of tools to select from https://gisgeography.com/free-gis-software/
I have been using QGIS.
1) Create a script for the data and install it into Postgres
2) Use QGiS to load the data you have installed from Postgres

**To verify the data**

- Load the raw data in QGIS and see if you are getting the same maps and the properties are the sa

[2020-01-18 04:33] pathak-mayurdeep commented on #1403
@henrykironde I added a line that should remove any `white-space` and `-` in the json file name.
I am not sure if this is what you meant.

[2020-01-18 05:59] henrykironde commented on #1403
@pathak-mayurdeep, create a PR and I will test it.

[2020-01-18 08:09] pathak-mayurdeep commented on #1403
Ok... I have created a clean branch from master and corrected all the changes. I am creating another PR.

[2020-01-19 10:44] veb7vmehra commented on #1334
Created a function which take json file input as a list of dictionaries and then convert it to a csv file. It is appropriate for most of the json data I guess.
`def convertJson(data):
    count = 0
    for diction in data:
        print(diction)
        print(type(diction))
        if type(diction) == str:
            employ_data.write(diction+',')
        elif type(diction) == dict:
            t

[2020-01-19 10:53] DumbMachine commented on #1334
@henrykironde  @ethanwhite Is this feature still required? I would love to work on this issue.

[2020-01-19 10:58] veb7vmehra commented on #1334
Created a function which take json file input as a list of dictionaries and then convert it to a csv file. It is appropriate for most of the json data I guess.
The Example code is here:
[data.txt](https://github.com/weecology/retriever/files/4082543/data.txt)

@ethanwhite Should I make a pull request to add it to the repo? Also just tell me a bit about with which file in repo can I make proper pat

[2020-01-19 12:55] pathak-mayurdeep commented on #1404
Almost all the datasets at Datahub collection already uses its own `datapackage.json` to define the schema of the data.
https://datahub.io/docs/core-data
https://frictionlessdata.io/data-packages/

So can we not build a module that can parses `datapackage.json` and restructure it to our format.

I can work on that if this seems a good idea..

[2020-01-19 14:36] henrykironde commented on #1404
@pathak-mayurdeep, thats great. We should add all the datapackages here https://github.com/weecology/retriever/blob/master/scripts/datapackages.yml and then create the module

[2020-01-19 15:16] henrykironde commented on #1334
[code]
Thank you @veb7vmehra for this code,  based on your work the out put was
[code]
I expected something more to the lines of

[code]

and
[code]
 I would think that the structure should be consistent with in the entire Json. These two Json objects have different structures in "job_profile".

[2020-01-19 15:23] henrykironde commented on #1334
I would recommend @DumbMachine and @veb7vmehra to work together on this issue if possible. This has been incorporated into GSoC 2020

[2020-01-19 15:24] veb7vmehra commented on #1334
@henrykironde thanks for your review. The 2 structures were just to show the 2 kinds of complexities. I have used parenthesis to show kind of parent-child relationship but I can fix it to the way you are saying. Just tell me.

[2020-01-19 15:25] veb7vmehra commented on #1325
@henrykironde Any update sir?

[2020-01-19 15:39] hrs2203 commented on #1218
https://www.kaggle.com/datasets
https://www.figure-eight.com/data-for-everyone/
https://registry.opendata.aws/

[2020-01-19 15:48] henrykironde commented on #1334
In fact the first edge case is covered well by the panda as @DumbMachine showed
[code]
for the second am not sure for now.

[2020-01-19 15:54] henrykironde commented on #1325
Could you put in a PR and we have this conversation on the PR

[2020-01-19 17:00] ethanwhite commented on #1218
Kaggle required logging in to download data the last time I looked, which won't work for our current tooling. If they've implemented API key based access (something they were talking about the last time I talked with them) then we could talk about adding functionality to allow users to specify an API key for datasets that require it.

[2020-01-19 17:04] ethanwhite commented on #1404
@pathak-mayurdeep Here's our existing (unmerged) work from a couple of years ago on using existing Frictionless Data data packages: https://github.com/weecology/retriever/pull/980 Feel free to build off this if helpful.

[2020-01-19 17:06] DumbMachine commented on #1334
@henrykironde, I believe the second case represents a flaw in the dataset. It seems like an example of unstructured data to me. Since the second row entity, `job_profile` represents a different pattern from its previous occurrence. Such cases would require special preprocessing to cater to the uniqueness of the dataset.
If you agree with the above, then we would have two solutions:
1. Make a separ

[2020-01-19 17:07] ethanwhite commented on #1404
Or maybe this got included in #1010? @henrykironde - #980 suggests that everything went into #1010, but I don't remember us getting all the way to loading external packages. Do you remember the status of that work as of #1010?

[2020-01-19 17:36] DumbMachine commented on #1334
While scrolling through various JSON datasets, i came across this data:
[code]
I wasn't able to use pandas to read this in the proper order, which i believe is something like this:
[code]
This can be generalized by a function, which gets its input as the `main column keys` ( id firstname surname motivation share) and the `seconday column keys` (category year) which are obtained from parent keys of

[2020-01-19 17:55] henrykironde commented on #1404
We had reached a point where we could ingest some of the data but then specifications changed.
Currently we need to create a dictionary for the data types.

[2020-01-19 19:37] DumbMachine commented on #1334
@henrykironde let me know which route we are taking on this one.

[2020-01-19 19:43] DumbMachine commented on #1218
Kaggle has a very solid, cli based api for downloading and uploading datasets. The api requires an `access_token` in the ~/.kaggle folder. User could allow `retriever package` to read that dataset and accordingly perform the required actions or we could take the key as a parameter.

[2020-01-19 19:46] ethanwhite commented on #1218
@DumbMachine - ah that's great! I'm :+1: for adding support for reading the api key and then adding the Kaggle datasets. When adding this support we'll need messaging to users that indicates that they need to get the api key if they try to download a kaggle dataset and don't have one. Would you be up for opening an issue describing this feature addition?

[2020-01-19 19:53] DumbMachine commented on #1218
@ethanwhite I would love to open the issue and describe it further. I'll do it soon.

[2020-01-19 20:20] henrykironde commented on #1334
Let us create generic function that does that.

[2020-01-19 21:10] DumbMachine opened #1407 "Add support for Kaggle Datasets"
Kaggle is home to numerous datasets and pre-trained models. Adding support to easily use the kaggle API would be beneficial to download and upload dataset.
To interact with Kaggle API, user requires two things:
- Kaggle account
- Kaggle access_token stored at ~/.kaggle/kaggle.json or the access_token can be exported to environment `export KAGGLE_USERNAME=datadinosaur
export KAGGLE_KEY=xxxxxxxxxxxx

[2020-01-19 21:24] DumbMachine commented on #1407
Talking about this issue reminds me of a feature I had thought of last GSOC season. Dataset's sizes have been on the rise, usage of cloud services are common for training/inference/analysis. What do you think about a feature, which would help users choose their favored cloud provider and we provide a means to easily fetch and update datasets? This might enable people to use customs datasets and up

[2020-01-19 21:45] henrykironde commented on #1407
I may be wrong but I think we do have what you mentioned in the `Python` interface but not in the `Command line`. Users can create, fetch datasets from their own repositories using `get_script_upstream` but we have not tested this with any other repo other than the `retriever-recipes repo`. You could add an issue and we improve this.

[2020-01-20 00:42] veb7vmehra commented on #1334
@henrykironde and @DumbMachine I guess for any complex data like mentioned above we can use numeric notation to specify the generation(like the main key will be 1 and its first child will be 1.1 and so on). We can continue this for any complex JSON data and once it is converted to CSV we can also easily clear the data if we want before sending it for further processing. Or maybe we can also use ta

[2020-01-20 03:47] DumbMachine opened #1409 "Support for uploading datasets"
Sizes of datasets are increasing and so is the computational power required for processing them. Most data scientists and other users prefer to use cloud-based solutions for storing the dataset. This issue is opened for the discussion about a feature, which does the following:
- Allowing users to use the Kaggle platform to upload datasets (up to 10gb).
- Allowing users to connect to their choice o

[2020-01-20 03:51] henrykironde commented on #1334
I guess that would work too

[2020-01-20 04:08] DumbMachine commented on #1334
Pandas's `json_normalize` already does what you have mentioned. Also using the numeric notation
of each sub_entity would create columns with id as parents_0, parents_1 and so on. Consider the "laureates" column, we need each of the sub-entity to be a row of the dataset. So I believe the best bet would be saving the required columns in the `scripts/<dataset>.json` and then using that information we

[2020-01-20 04:18] DumbMachine commented on #1334
Considering the nobel prize example, we can just do the following:
[code]
This could be looped for all the prizes, giving output similar to:
[code]

[2020-01-20 04:26] pathak-mayurdeep commented on #1404
Thanks for all the info.. I'll start working on this.

[2020-01-20 04:58] henrykironde commented on #1334
Thanks @DumbMachine. Now let us all get some code working and then we all contribute to sample jsons that would test the edge cases. And we can all work on this as a PR.

[2020-01-21 15:39] ethanwhite commented on #1407
Thanks for opening this issue @DumbMachine. I definitely think getting some Kaggle datasets into the retriever would be useful and I think setting up API key support is a generally useful way for us to start incorporating datasets requiring some sort of authorization. A couple of quick thoughts related to your points above:

The good news is that this is a Python package, so packaging should be OK

[2020-01-21 19:12] DumbMachine commented on #1407
After some searching around and reading the [kaggle api code](https://github.com/Kaggle/kaggle-api/blob/master/kaggle/api/kaggle_api_extended.py), I found that we can download files, without having to use the cli. The code for it as follows:
[code]
It is pretty straight forward, we call the dataset_download_files or competetion_download_files according to the origin of the particular dataset. If t

[2020-01-21 19:19] ethanwhite commented on #1407
Sounds good to me @DumbMachine. Ideally I think this will end up being two PRs. The first into this repo implementing the Kaggle API related code and any associated checks of the dataset recipe (i.e., to determine that the dataset is a Kaggle dataset). Ideally this PR would also include a test for this functionality, but to do this we'll need to figure out how to pass an api key securely on the co

[2020-01-22 04:06] DumbMachine commented on #1409
@ethanwhite @henrykironde let me know your thoughts on this.

[2020-01-22 07:32] henrykironde commented on #1409
I do think this is a good idea and  I do really like it. We could start with integrating with Kaggle and see were we go from there. Also about the versioning, we do have a tool to track that, we shall see how we advance to support this feature further.

[2020-01-22 17:05] DumbMachine commented on #1407
@ethanwhite, I have thought of the following flow, firstly retriever will search if the dataset is present in the current scripts if it is, then it does the normal. If not then it calls a Kaggle API function to check if kaggle has the dataset. If yes then that is set as the script name and returned, if not then it displays the error message. I'm thinking something along the lines of:
[code]

Make

[2020-01-22 20:24] DumbMachine commented on #1334
@henrykironde I got children, parent row representation working, wherein row is made from data from two dicts, one having the columns which are unique to each dict and another which are common to them (["years", "category"]) in this case. This worked very well for the nobel prize dataset but fail at the example you had given. This makes me think if we should consider cases like those (employee exa

[2020-01-23 04:56] henrykironde commented on #1334
Can we do it without prior knowledge of the `columns`, `parents`

[2020-01-23 05:00] veb7vmehra commented on #1334
@henrykironde there is a library named flatten_json which is easily able to flatten all kind of json data sets. I have checked both noble prize problem and employees problem on that and both are pandas data frame easily which in turn can be easily converted to csv files. The example is shown below:
[flatten2.txt](https://github.com/weecology/retriever/files/4101312/flatten2.txt)
I request you to c

[2020-01-23 05:45] henrykironde commented on #1334
Well both methods look like they are getting us to where we want to be headed to.
Let us replace the code in here
https://github.com/weecology/retriever/blob/647441104d87979738104fe0dab9048f0c85c5be/retriever/lib/engine_tools.py#L104.

And we can add all the test cases here.
https://github.com/weecology/retriever/blob/master/retriever/lib/engine_tools.py#L104

[2020-01-23 06:24] DumbMachine commented on #1334
@veb7vmehra your result returns:
[code]
It gives a row for each year, but it would make more sense to have each laureate to have a row, something like what I had presented earlier
[code]