[2020-01-23 06:37] DumbMachine commented on #1334
We would have that information available in the script for the dataset, right? This ensures the proper structure. Either we use json_normalize as it works well when we know which key has the rows. Or we can use the `walk` function for cases like that of `nobel_prize`.

For starters we could start by supporting only those cases where simple or json_normalize works. And then iteratively adding more

[2020-01-23 06:59] henrykironde commented on #1334
Sounds good, and about the comment

I think we can forget about that and we see what we have when the Pr is in

[2020-01-25 13:40] veb7vmehra commented on #1334
@henrykironde Sir is there any other file format also which needs such conversion?

[2020-01-25 16:05] henrykironde commented on #1334
Yes we do have more thats part of the Gsoc project like convert from xml to csv.

[2020-01-27 14:14] ethanwhite commented on #1407
Thanks @DumbMachine. I'm envisioning something a little different I think. The core benefit of the retriever is that it doesn't just download files, it does things with them (loads them into Python, databases, etc.). To support this we need information about each dataset, which is stored in the JSON recipes. So, I'm envisioning the following:

1. Add a JSON field to indicate that the dataset is on

[2020-01-27 14:26] ethanwhite commented on #1409
I think the idea of cloud storage backends is a good one. If storing into a cloud database this should already be supported through the existing ability to pass remote database locations, so this issue would be about adding flat file storage, which I agree would be useful. I think this could be combined with https://github.com/weecology/retriever/wiki/GSoC-2020-Project-Ideas#data-retriever-add-sup

[2020-01-28 20:44] pathak-mayurdeep commented on #1404
Sorry about the late PR, I was offline for several days due to some personal health issues..

I have used `datapackage-py` in this. Please let me know whatever changes is needed.

[2020-01-29 22:28] DumbMachine commented on #1407
Yes this does make sense. Should this implementation be done using a new `KaggleEngine` ?

[2020-01-30 12:56] ethanwhite commented on #1407
The engines are different output formats, not different input formats. I think the key logic of (2-4) will go in `download_file` and `download_files_from_archive` which are both in `engine`:

* https://github.com/weecology/retriever/blob/647441104d87979738104fe0dab9048f0c85c5be/retriever/lib/engine.py#L468
* https://github.com/weecology/retriever/blob/647441104d87979738104fe0dab9048f0c85c5be/retri

[2020-01-30 19:04] henrykironde commented on #1407
Yes that is right. We shall add a key:value in the script ie. `"kaggle": "true"` or  `"apitype": "kaggle"`.
In the download function, we shall check if this key:value is set to indicate that it is a kaggle datapackage being downloaded.
If It is a `kaggle` dataset, use the `KaggleAPI` to download the data.

[2020-01-30 20:14] bleds22e opened #1416 "Add Jornada and Shortgrass Steppe Rodent Time-Series Data"
Link to Jornada rodent data: https://portal.lternet.edu/nis/mapbrowse?packageid=knb-lter-jrn.210086009.74

Link to Shortgrass Steppe data: https://portal.lternet.edu/nis/mapbrowse?packageid=knb-lter-sgs.137.17

[2020-01-30 20:21] ha0ye opened #1417 "Add dataset of Maizuru Bay fish community"
zenodo archive: https://zenodo.org/record/1181937
There's only data file, which is `Maizuru_dominant_sp.csv`

linked to as part of weecology/MATSS#155

[2020-01-30 20:26] ha0ye opened #1418 "Include `.bib` format output for dataset citations"
Description of the format standard: http://www.bibtex.org/Format/

[2020-01-30 21:10] ethanwhite opened #1419 "Implement citation lookup in Python interface"
At the moment this appears to only be present in the command line interface. This change would involving moving the core code from this section of `__main__.py`:

https://github.com/weecology/retriever/blob/0d9c16c4c874b366e6a0a64875bb4fc026187cc5/retriever/__main__.py#L64

Into a Python interface function and then calling that function from inside of `__main__.py`. The new function should return

[2020-01-31 02:34] henrykironde commented on #1416
Do you also want the data referenced in the [Link to Shortgrass Steppe data](https://portal.lternet.edu/nis/mapbrowse?packageid=knb-lter-sgs.137.17)

[2020-01-31 13:27] #1416 closed

[2020-01-31 13:45] #1417 closed

[2020-01-31 21:09] bleds22e opened #1421 "add SanParks data"
Kruger data: http://dataknp.sanparks.org/sanparks/metacat/judithk.814.4/sanparks
Karoo data: http://dataknp.sanparks.org/sanparks/metacat/peggym.117.10/sanparks

[2020-01-31 22:12] henrykironde commented on #1421
The server for these links seem to be down at the moment.

[2020-02-10 18:17] ANURADHAJHA99 commented on #1419
@ethanwhite I will like to work on this issue. KIndly assign it to me

[2020-02-10 18:53] henrykironde commented on #1419
@ANURADHAJHA99  thank you for the interest to get this issue solved. I had started part of it.
The PR is https://github.com/weecology/retriever/pull/1422/files.
However the [CLI here](https://github.com/weecology/retriever/blob/0d9c16c4c874b366e6a0a64875bb4fc026187cc5/retriever/__main__.py#L64) should also use the interface. You can add that to the PR.

Also something that may be needed is creatin

[2020-02-11 09:47] ANURADHAJHA99 commented on #1419
@henrykironde  so, basically i will add the citation function in the CLI Module and call it?

[2020-02-11 09:56] henrykironde commented on #1419
Import it https://github.com/weecology/retriever/blob/0d9c16c4c874b366e6a0a64875bb4fc026187cc5/retriever/__main__.py#L15

[2020-02-11 10:24] ANURADHAJHA99 commented on #1419
@henrykironde the function return for licence is already there, where am i following wrong, kindly guide me.

`if args.command == 'license':
            if args.dataset is None:
                print(LICENSE)
            else:
                dataset_license = license(args.dataset)
                if dataset_license:
                    print(dataset_license)
                else:

[2020-02-11 13:55] henrykironde commented on #1419
Ok first finish up the citation pr and we can move on to the license

[2020-02-13 19:52] gmyenni opened #1424 "Add Cowley herp data"
Snake and lizard time series:

https://doi.org/10.1655/0018-0831(2006)62[378:EORMOC]2.0.CO;2

Data are in .gif table :(

[2020-02-13 20:03] gmyenni commented on #1421
Yeah, it's still down. I've contacted judith.botha@sanparks.org

[2020-02-20 05:32] mbjones commented on #1421
The server is not down, its just got a firewall restriction that prevents external access from outside of Kruger. I've been talking with Judith about getting it upgraded so the firewall restriction can be lifted, but its been slow progress for a variety of mundane reasons.

In the meantime, all of that data has been replicated through DataONE to the KNB, and so is still accessible.  You can view i

[2020-02-23 10:48] DumbMachine commented on #1409
I believe combining `provenance` with this idea of uploading data is cool. Users will have two choices, mostly, when working with this:
1. User is working a dataset included in `retriever-recipes`. After some modification user wishes to save the changes he made to the dataset. He can commit changes: `retriever commit <dataset> -m "<commit_message>" --path <path> `
Then if he wishes to upload these

[2020-02-25 16:47] henrykironde opened #1429 "Add azure"
We should add azure to have more tests since travis has been failing and almost has always needed restarts.
I believe travis is going through some improvement at the moment.

[2020-02-26 14:34] henrykironde opened #1431 "Update mammal-community-db encoding"
add encoding latin-1

[2020-02-27 08:04] coolalexzb opened #1433 "Is there any problem with the The Travis CI build"
Hi, is there any problem with The Travis CI build? When I debug for #1428 after serval times, I mainly meet two problems with different changes. I also find that pull requests dealing with other problems by other programmers have similar error information. Following is the error information:
1
<img width="969" alt="屏幕快照 2020-02-27 上午1 59 19" src="https://user-images.githubusercontent.com/19755247/

[2020-02-27 16:06] coolalexzb commented on #1429
Hi, it seems that I found the same problem yesterday and mentioned in #1433. What is the next step for us new contributors to solve or avoid the problem? Thank you! @henrykironde

[2020-02-27 16:36] henrykironde commented on #1433
Yes currently there is something wrong with travis and docker. We may be doing something wrong or something changed. I will try to be debug this later.

[2020-02-27 19:33] henrykironde opened #1434 "Add bump version"
When we make a release, bump version should automatically update the places where we should up date the version numbers

This is a new feature and easy to add if you look at some examples online.

Places to update :https://github.com/weecology/retriever/commit/a82905671aa59407f51ff5aa2264539917fe4d11

[2020-02-27 19:50] ashishpriyadarshiCIC commented on #1434
@henrykironde  I would like to work on it

[2020-02-27 20:41] coolalexzb commented on #1433
I want to how can I continue to make new change if my previous pull request does not pass the test online. Do I need to make a new branch in my repository if I want to make a new pr? Thank you! @henrykironde

[2020-02-27 21:47] henrykironde commented on #1433
Good question.
For every issue, you should make a new PR at least.
 In your repo checkout a new branch.
Usually, I name the branches in relation to the issue.  eg. `git checkout -b repair-iris-dataset`
`git checkout -b issue-11433`.

When creating a new branch, I always checkout master and update it, then I branch off from master.

Please read through the docs here:
https://retriever.readthedocs.i

[2020-02-27 21:48] henrykironde commented on #1434
Please go ahead @ashishpriyadarshiCIC

[2020-02-27 22:12] coolalexzb commented on #1433
Ok, I will go ahead. Thank you! @henrykironde

[2020-02-29 06:33] coolalexzb commented on #1434
I think it easy to change bump version in setup.py, _version.py and version.txt automatically if we follow the creating release steps metioned in developer documentation.

But, how does file retriever_installer.iss generate? Is it generated manually before? If so, is it better to add a new function to update retriever_installer.iss in setup.py?

Another question is that when I want make change in

[2020-03-02 07:11] DumbMachine commented on #1421
I was trying to create the script for this, and I think the metadata for [sanparks_karoo_karoo2008.txt](http://dataknp.sanparks.org/sanparks/metacat?action=read&qformat=sanparks&sessionid=&docid=peggym.117.10&displaymodule=entity&entitytype=dataTable&entityindex=4). I read the karoo2008.txt file with seperator as `\t`.
We get some unnamed columns:
![image](https://user-images.githubusercontent.com

[2020-03-02 07:57] henrykironde commented on #1421
Put in the PR as it is, I will look at it first thing in the morning

[2020-03-03 09:48] DumbMachine opened #1440 "Correction to setup.py"
The current `setup.py` gives errors when installing `python-argcomplete`.
![image](https://user-images.githubusercontent.com/23381512/75762315-7aff0b80-5d60-11ea-8951-63d4733446ea.png)
-  ```bash
   usage: activate-global-python-argcomplete [-h] [--dest DEST] [--user]
                                          [--no-defaults]
                                          [--complete-arguments ...]
   a

[2020-03-05 05:52] #1419 closed

[2020-03-07 06:56] coolalexzb commented on #1440
I want to help solve this error. What is the command you use will give such error? Thank you! @DumbMachine

[2020-03-08 01:06] Jay-Iam commented on #1440
I found that changing
`argcomplete_command = 'eval "$(register-python-argcomplete retriever)"'`
to `argcomplete_command = "eval $(register-python-argcomplete retriever)"`
solves the problem. But, I tried it only on Ubuntu and Linux Mint

[2020-03-08 17:53] pathak-mayurdeep commented on #1440
@Jay-Iam I tested the changes you suggested and it seems to fix the issue.
 I tested it on WSL (win10) with multiple distros, and it works fine. It works fine for both `bash` and `zsh`.

Issue -
![image](https://user-images.githubusercontent.com/35169218/76168197-691fcd00-6193-11ea-942b-831ca46313f8.png)
after edits -
(zsh)
![image](https://user-images.githubusercontent.com/35169218/76168198-6cb35

[2020-03-09 00:50] henrykironde commented on #1440
Thanks @Jay-Iam, Could you put in a PR for this.
@pathak-mayurdeep thanks for the tests

[2020-03-09 17:20] Jay-Iam commented on #1440
@henrykironde Sorry, but does PR means pull request.

[2020-03-09 17:38] apoorvaeternity commented on #1440
@Jay-Iam Yes.

[2020-03-09 20:30] coolalexzb commented on #1303
Does this issue still have any problem? It seems that multiple citations can be supported by using `citations: ["citatition for one", "citation for two"]`

[2020-03-09 23:28] henrykironde commented on #1303
No we have not yet supported this

[2020-03-10 04:25] coolalexzb commented on #1303
I want to make sure that I fully understand the issue.
Do you mean that the scripts need to support multiple citations using citations list
e.g `"citations": ["citatition for one", "citation for two"]`
I noticed that in scripts like` ecoregions_us.json` have used this approach
[code]
What is the furthre change to support mulitple citations? Thank you!

[2020-03-10 06:08] henrykironde commented on #1303
@coolalexzb thank you for pointing that out. I think we have covered this issue. I have tested that and I will test that again tomorrow and report back.

[code]

[2020-03-10 06:34] henrykironde commented on #1303
@coolalexzb  We may have to make sure that we return the same type, list in this case.
You can check if there is away to improve that.

[2020-03-10 16:08] coolalexzb commented on #1303
Maybe the `get_script_citation` funciton in `retriever/__main__.py` I added before will return the same citation type (list).
[code]

[2020-03-10 16:33] coolalexzb commented on #1303
Maybe the `get_script_citation `funciton in `retriever/__main__.py` I added before will return the same citation type (list). But the information print on console will be line by line. Another question is: it seems that `get_script_citation` function cannot be recognized locally. How to deal with the problem? Thank you!

[code]
<img width="1077" alt="屏幕快照 2020-03-10 上午11 32 37" src="https://user-i

[2020-03-12 18:04] Prodyte commented on #838
I want to work on it. Any suggestions?

[2020-03-12 18:09] henrykironde commented on #838
There is a pull request (PR) on this issue. Feel free to take over it and create a new one. https://github.com/weecology/retriever/pull/1288/files
The idea is to install retriever as shown here https://github.com/weecology/retriever/pull/1288/files#diff-354f30a63fb0907d4ad57269548329e3R31
And test if you get any errors when you run retriever ls as in https://github.com/weecology/retriever/pull/128

[2020-03-13 16:35] #1403 closed

[2020-03-13 16:35] #1391 closed

[2020-03-14 09:00] mauwazahmed commented on #1402
google public datasets
https://datasetsearch.research.google.com/

[2020-03-14 09:07] mauwazahmed commented on #1402
FiveThirtyEight https://data.fivethirtyeight.com/ - datasets related to news and sports
https://github.com/BuzzFeedNews
https://opendata.socrata.com/
http://archive.ics.uci.edu/ml/index.php
http://academictorrents.com/browse.php

[2020-03-14 09:12] mauwazahmed commented on #1402
https://github.com/caesar0301/awesome-public-datasets

[2020-03-15 04:44] coolalexzb opened #1448 "Failed test in test_postgres_spatial"
When I build and test retriever on Mac, there are three failed  tests, which are all related to datasets(testschema_retriever.raster_bio1, testschema_retriever.raster_bio2 ,testschema_retriever.us_eco). The error information is following:
<img width="791" alt="Ping-Mu-Kuai-Zhao-2020-02-25-Xia-Wu5 39 34" src="https://user-images.githubusercontent.com/19755247/76695443-733b4300-664d-11ea-9221-c76fc9

[2020-03-18 16:36] mauwazahmed commented on #1434
we can change the major,minor and patch in the version
[bumpversion]
current_version = 0.0.0
commit = True
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+)(?P<build>\d+))?
serialize =
    {major}.{minor}.{patch}-{release}{build}
    {major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = prod
first_value = dev
values =
    dev
    prod

[bumpver

[2020-03-18 16:42] mauwazahmed commented on #1434
we run it as
$ bumpversion major/minor/patch; cat version
and the output results in an increment in the mentioned element

[2020-03-18 17:50] DumbMachine opened #1450 "Broken links in docs"
Currently the following link seem to be broken:
- [Adding datasets to the Data Retriever](https://retriever.readthedocs.io/en/latest/scripts.html)

The link is found on https://www.data-retriever.org/.
I think the link should refer to : https://retriever.readthedocs.io/en/latest/recipes.html

[2020-03-21 00:22] DumbMachine opened #1452 "[Discussion] Data Retriever: Add support for more raw data formats"
I'm interested in writing a GSoC proposal for this project.
This project aims to introduce support in the package to allow for ingestion of data from the sources like( I have mentioned my questions/thoughts about each in the respective section):
- XML: For this, I have prepared a small script, its results can be seen [here](https://github.com/DumbMachine/retrieiver-poc/blob/master/XML_Showcase.ipy

[2020-03-21 06:13] coolalexzb commented on #1334
As for problem such as allowing consuming JSON data, or XML data, what is the real need? I noticed that engines such as jsonengine, xmlengine only support read json file or xml file into a string format.
I have two thoughts about the actual needs for the problems mentioned above:
1  Convert xml or json file to csv file or dataframe type in Pandas, and then we can operate the converted csv file or

[2020-03-21 06:14] henrykironde commented on #1452
Add this to the shared doc file as part of your draft for mentors to comment

[2020-03-21 06:14] #1452 closed

[2020-03-21 06:19] henrykironde commented on #1334
Yes and I think many have talked about this, that would be a good start.

[2020-03-21 06:34] coolalexzb commented on #1334
Yeah, since I read the discussion in this issue and the solution to HDF5 engine in #79 , I am a little bit confused about method 1 and method 2 which is better. @henrykironde

[2020-03-22 00:42] ashishpriyadarshiCIC opened #1453 "Link for rdataretriever not provided in Retriever documentation"
Link for R Data Retriever not provided in the documentation [here](https://github.com/weecology/retriever/blob/master/docs/rdataretriever.rst)

[2020-03-23 05:25] #1431 closed

[2020-03-24 01:32] coolalexzb commented on #1303
Hi, I found the real difference here.
All the scripts' citations except `ecoregions-us` are `str`type , while `ecoregions-us` is list type.
In order to support multiple citations, the native way is to change all the citations to list type in each json file or py file. It is difficult to split scripts with multiple citations because the multiple citations are stored in just one line without any spe

[2020-03-24 19:56] ha0ye opened #1456 "Add instructions to update scripts to quick start guides."
After installation of retriever for the first time, the scripts need to be updated. This step seems to be missing from the "Quick Start" guide for `retriever` ( https://www.data-retriever.org/#quickstart ), as well as the landing page for `rdataretriever`.

In these cases, I think the commands to be added (in between the installation step and before the first example for installing/downloading a d

[2020-03-25 04:56] #1453 closed

[2020-03-25 17:24] asarmakeeva commented on #1402
housing data:
https://www.zillow.com/research/data/
data from world bank:
https://datacatalog.worldbank.org/
climat data:
https://www.ncdc.noaa.gov/cdo-web/datasets

[2020-03-26 22:26] ashishpriyadarshiCIC commented on #1448
@coolalexzb I think I got a similar issue a while back. I dropped my database, created it again and then ran the following queries:
[code]
It worked for me.

[2020-03-27 00:40] coolalexzb commented on #1448
Ok, Thanks and I will try for this. @ashishpriyadarshiCIC

[2020-03-27 15:57] henrykironde commented on #1450
I guess we have more of these like http://specs.frictionlessdata.io/data-packages/

[2020-03-31 18:19] ha0ye opened #1463 "error downloading `biotimesql`"
When trying to download "biotimesql" with the latest version of retriever (v2.4.1.dev), I get the following error:
[code]

My `.retriever/raw_data/biotimesql` ends up with the following files:
* `BioTIMESQL02_04_2018.sql`
* `abundance.csv`
* `allrawdata.csv`

so, from examining the script, it looks like something fails in generating the `biomass.csv` file from the sql tables. Beyond this, I haven'

[2020-04-23 03:19] ha0ye commented on #1463
resolved in #1464

[2020-04-23 03:19] #1463 closed

[2020-04-27 14:23] #1424 closed

[2020-06-11 17:20] Kodiologist opened #1476 "Is there a way to define a dataset that requires arbitrary code to clean up?"
The retriever-recipes repository seems to consist entirely of DataPackage JSON "scripts", and I'm sure that there are some things you might want to do to clean up a dataset that aren't supported in this format. Can you write a Python function to retrieve and clean up the data, for example?

Relatedly, is it possible to define parts of a dataset, so the user can choose which part to retrieve (e.g.,

[2020-06-15 10:53] henrykironde commented on #1476
@Kodiologist sorry I missed this. Thanks for the issue. You can create custom data packages in `Python` with specific reprocessing procedures.  The `Python` files in the script folder are custom data packages. Here is one example https://github.com/weecology/retriever-recipes/blob/master/scripts/fao_global_capture_product.py

You can also request for a data package to be added by creating an issue

[2020-06-15 15:24] Kodiologist commented on #1476
@henrykironde Great, thank you. My group at Mount Sinai does a lot of work on models to predict air and pollution at high spatiotemporal resolutions for use in epidemiology (e.g., https://zenodo.org/record/3891475). My interest in Retriever is mostly in that it could be a convenient way to distribute some of our prediction products. I'll reach out if we decide to do that and have trouble.

By the

[2020-06-15 16:18] ethanwhite opened #1478 "Redirect websites to Read The Docs?"
I think we might want to get rid of the https://www.data-retriever.org/ website and redirect everything to Read The Docs so that we only need to maintain docs in one location. See https://github.com/weecology/retriever/issues/1476#issuecomment-644202239 for an example of link breaking resulting from having docs in two locations. Thoughts?

[2020-06-15 17:12] ethanwhite commented on #1478
I can take care of this if we decide to make this change.

[2020-06-15 19:55] henrykironde commented on #1478
Sounds good to me

[2020-06-15 23:57] henrykironde commented on #1448
Solved

[2020-06-15 23:57] #1448 closed

[2020-06-15 23:59] henrykironde commented on #1289
I will close this since we have an issue that covers updating the retriever docker image

[2020-06-15 23:59] #1289 closed

[2020-06-16 00:00] henrykironde commented on #1007
Tests have been modified and this is covered

[2020-06-16 00:00] #1007 closed

[2020-06-16 00:02] henrykironde commented on #1172
Closing due to change in the frictionless table schema.
We also have a pr that handles using frictionless data packages.

[2020-06-16 00:02] #1172 closed

[2020-06-16 00:03] #1212 closed

[2020-06-16 00:04] #1433 closed

[2020-06-16 00:05] #1277 closed

[2020-06-16 00:05] #1276 closed

[2020-06-16 00:06] henrykironde commented on #1270
This was added thanks for all the contributions

[2020-06-16 00:06] #1270 closed

[2020-06-16 00:06] #1290 closed

[2020-06-16 00:07] henrykironde commented on #1298
We need to recreate this when we have a better example of such data

[2020-06-16 00:07] #1298 closed

[2020-06-16 00:10] henrykironde commented on #49
Added https://github.com/weecology/retriever/pull/1369

[2020-06-16 00:10] #49 closed

[2020-06-16 00:12] #75 closed

[2020-06-16 00:14] ethanwhite commented on #1478
OK, I've made this change. I think we want to add a `Quick Start` page. Will open a new issue for that.

[2020-06-16 00:14] #1478 closed

[2020-06-16 00:14] henrykironde commented on #172
Covered with the new json packaging system.

[2020-06-16 00:14] #172 closed

[2020-06-16 00:17] henrykironde commented on #440
Bulk insert is covered and is auto prioritized. Retriever will automatically try to bulk insert and falls back to normal insert

[2020-06-16 00:17] #440 closed

[2020-06-16 00:17] ethanwhite opened #1481 "Add a Getting Started/Quick Start page to the docs"
We've gotten rid of the separate website to make maintaining the docs easier, but I think that means we need something similar in on Read The Docs, which is like the one page Quick Start guide that contains the information in https://github.com/weecology/retriever-site/blob/master/_posts/2016-02-27-quickstart.md.

[2020-06-16 00:17] #798 closed

[2020-06-16 00:20] henrykironde commented on #903
I think we have covered this to the best extend as for now. In case some peculiar pops up, we can open a new issue

[2020-06-16 00:20] #903 closed

[2020-06-16 00:21] henrykironde commented on #863
We are deleting the data incase a file is downloaded and an error is caught.

[2020-06-16 00:21] #863 closed

[2020-06-16 00:25] henrykironde commented on #959
Thanks for this issue, we do appreciate the contribution

[2020-06-16 00:25] #959 closed

[2020-06-16 01:11] henrykironde commented on #981
We handled this and more specification to ingest such data is in the PR https://github.com/weecology/retriever/pull/1420

[2020-06-16 01:11] #981 closed

[2020-06-16 01:13] #1194 closed

[2020-06-16 01:14] #1228 closed

[2020-06-16 01:16] henrykironde commented on #1383
They are building fine https://readthedocs.org/projects/retriever/

[2020-06-16 01:16] #1383 closed

[2020-06-16 11:41] henrykironde commented on #1262
Thanks for this issue and contributing to the project, we really appreciate. We have this handled to our best at the moment and we hope to improve later

[2020-06-16 11:41] #1262 closed

[2020-06-16 11:43] ethanwhite commented on #1481
I'm going to work on this for a bit this morning if no one else has picked it up already.

[2020-06-16 11:48] henrykironde commented on #1481
Go for it, thanks

[2020-06-17 15:05] ethanwhite commented on #1250
Closing since this was a discussion issue for last year's GSOC (which @apoorvaeternity implemented!)

[2020-06-17 15:05] #1250 closed

[2020-06-17 15:07] ethanwhite commented on #1239
@juniperlsimonis - thanks again for opening this. Did you find this as an issue when using either the CLI or Python interface or just when using R. My impression from my initial digging into this is that this is an R related issue, in which case I'll move the issue over to https://github.com/ropensci/rdataretriever and get it on my To Do list over there.

[2020-06-17 15:10] ethanwhite commented on #838
I can't remember if we ended up getting this in, but if we have't I think we should go ahead and expect users to upgrade at this point and maybe make the next release 3.0 to make that explicit.

[2020-06-17 15:11] ethanwhite commented on #838
Oops, didn't mean to close. @henrykironde - if you agree with my comment above go ahead and close this.

[2020-06-17 15:16] ethanwhite opened #1483 "Results from `datasets` and `dataset_names` do not reflect changes in session"
To reproduce:
1. Run `datasets` or `dataset_names`
2. If it returns an empty list run `check_for_updates`, if it returns a list of datasets run `reset`
3. Rerun `datasets` or `dataset_names` and see that it hasn't changed

This is problematic because it means that an initial install requires the user to install everything, run `check_for_updates`, and then restart. It will also cause reproducibili

[2020-06-17 15:20] ethanwhite commented on #1483
OK, looks like we discussed this here: https://github.com/weecology/retriever/pull/1231

I think we underestimated the issues with installs at the time so I think we need to improve the logic to make sure that we have up-to-date lists of datasets within a session.

[2020-06-17 15:40] ethanwhite commented on #1483
And now I'm remembering that it's a circular import issue that makes this so hard. @zhangcandrew or @henrykironde do either you remember the details of what is happening with the circular import to help point me in the right direction for working on this.

I'm trying to run `reload_scripts` in both `repository.py` and `engine_tools.py`, which would allow us to update the script list at the end of

[2020-06-18 00:24] juniperlsimonis commented on #1239
@ethanwhite  I only tried using it through R.

[2020-06-19 16:17] ethanwhite commented on #1239
Thanks @juniperlsimonis! I'm not seeing this using Python and the CLI on a Windows 10 machine, so I'm going to move it over the `rdataretriever`.

[2020-06-19 16:21] #1239 closed

[2020-06-20 02:13] henrykironde commented on #1483
I think after testing this we should emphasize that `check_for_updates` should be followed by `reload_scripts`. I think that was something I came up with, but we  can improve it. Lets try this same issue commands followed by `reload_scripts` and wee if that works

[2020-06-22 12:49] #1481 closed

[2020-06-22 13:37] ethanwhite commented on #1483
You mean adding this to the documentation as a solution?

[2020-06-24 18:49] ethanwhite commented on #1483
This does work properly and I agree that at a minimum we should improve the documentation on this. Interestingly, because of the way this works it means we can easily address the issue in the R & Julia wrappers by having the wrapping function call both functions.

I think it's still a little fragile to not automatically reload the scripts in Python, but I'm OK with the documentation change and sil

[2020-07-01 10:56] ethanwhite commented on #1483
After a little more exploring I'm :+1: for just updating the docs. The new online/offline functionality addresses a lot of this because the behavior is the same regardless of whether a script is present locally or not.

[2020-07-06 11:29] ethanwhite opened #1487 "Make package version available at __version__"
It is possible to look up the version of the currently imported package at:

[code]

However the [standard location for this information](https://www.python.org/dev/peps/pep-0396/#examples) is:

[code]

It is given in `setup.py`, so not sure why it isn't showing up.

https://github.com/weecology/retriever/blob/5cac59bbbf99ebf432638bd84031dc5b29100a23/setup.py#L25-L28

[2020-07-06 22:11] ethanwhite commented on #1487
Implemented in 00d8aaf28e88d10e7793b93b0bb69f5ab31b64e9. Thanks @henrykironde!

[2020-07-06 22:11] #1487 closed

[2020-08-22 19:26] ashishpriyadarshiCIC opened #1510 "XML not able to read special symbols in test"
These special characters are not recognized by xml
[code]
This is causing issues for tests in #1507

https://stackoverflow.com/questions/1091945/what-characters-do-i-need-to-escape-in-xml-documents

Note: We can come up with a solution and add this to test data

[2020-08-23 17:08] ses4j commented on #90
@tomauer Just FYI, I started with your table definition and COPY approach and have been using it to load eBird EBD data into PostgreSQL successfully.  I customized the COPY a little, added some indexes and such... Just posted a gist of it: https://gist.github.com/ses4j/22ccd5350eb28697d25c962d32879431

[2020-09-18 18:58] trashbirdecology opened #1516 "North american breeding bird survey"
Few things here.
1. [NABBS is now on USGS ScienceBase](https://www.sciencebase.gov/catalog/item/52b1dfa8e4b0d9b325230cd9)
1.  [This link](https://catalog.data.gov/dataset/breeding-bird-survey-route-locations-for-lower-48-states-direct-download ), as provided in the [this webpage,](https://ecologicaldata.org/wiki/breeding-bird-survey-north-america) is 404.
1. FYI -- [USGS Sciencebase has an api](ht

[2020-09-21 23:06] henrykironde commented on #1516
Thanks @trashbirdecology we have updated these code however before we merge, was the region_codes data changed to `Migrants` and `MigrantSummary` data present in `MigrantNonBreeder.zip`

[2020-09-22 13:19] trashbirdecology commented on #1516
@henrykironde I am not sure

[2020-09-23 01:27] henrykironde commented on #1516
Since we do not have the regions codes data and this dataset is failing I will go ahead and update it with the current version.
We can update incase regions codes is not the migrant data

[2020-09-23 01:27] #1516 closed

[2020-09-23 01:27] henrykironde commented on #1516
Thanks @trashbirdecology

[2020-09-23 12:12] trashbirdecology commented on #1516
Yeah, the region codes are currently buried in the metadata file.

[2020-09-23 21:36] henrykironde commented on #1434
Thanks @mauwazahmed for the input on this

[2020-09-23 21:36] #1434 closed

[2020-09-23 21:38] henrykironde commented on #1440
Thanks @DumbMachine for the input and everyone who contributed to this

[2020-09-23 21:38] #1440 closed

[2020-09-23 21:39] #1247 closed

[2020-09-23 21:39] #1265 closed

[2020-09-24 00:42] mauwazahmed commented on #1434
You're welcomed Henry!! Wish you safety and goodwill.

On Thu, 24 Sep 2020, 03:07 henry senyondo, <notifications@github.com> wrote:

[2020-09-24 20:33] MarconiS opened #1520 "Add gSSURGO soil database"
**Data overview**: soil database with a few dozen tables with soil surveys information.
**Data format**: geodatabase (.gdb)
**Main source**: https://gdg.sc.egov.usda.gov/GDGHome_DirectDownLoad.aspx
**Data link**: https://nrcs.app.box.com/v/soils
**Description of the data**: data is in the folder July2020 gSSURGO by State. This folder contains a pdf (description of the dataset) and one zip file for

[2020-10-18 22:53] trashbirdecology opened #1522 "All links to "Documentation" are 404 on ecologicaldata.org node"
All links under #Documentation are 404. Not sure who manages this webpage, but just an fyi

https://ecologicaldata.org/node/42

[2020-10-18 23:54] henrykironde commented on #1522
@trashbirdecology thank you for reporting.
We shall look into that.
However, that was an old site, most of the information has be integrated into the main docs

`docs`
https://retriever.readthedocs.io/en/latest/
`datasets info`
https://retriever.readthedocs.io/en/latest/datasets_list.html

[2020-10-19 03:29] trashbirdecology commented on #1522
Figured, just a heads up since I found it when clicking around to find
information about the project!!

On Sunday, October 18, 2020, henry senyondo <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2020-10-19 12:04] ethanwhite commented on #1522
Thanks @trashbirdecology! I've fixed that page that point to the latest docs.

[2020-10-19 12:04] #1522 closed

[2020-10-25 18:54] ethanwhite opened #1524 "UTF error when committing breed-bird-survey dataset"
The `breed-bird-survey` dataset installs correctly (into both SQLite and csv), but when attempting to commit it I get a UTF error:

[code]

Commiting the `portal` dataset works as expected.

[2020-10-27 01:07] henrykironde commented on #1524
fixed #1525

[2020-10-27 01:07] #1524 closed

[2020-11-20 15:46] jayvdb opened #1526 "sdist doesnt include test data"
Running tests in an isolated RPM build from the PyPI sdist results in lots of errors like

[code]

The fix is typically to update MANIFEST.in to add patterns for the test data files.  This makes the sdist quite a bit larger, but as most users fetch the wheel, this growth of the sdist doesnt impact the majority of users.

[2020-11-24 02:08] henrykironde commented on #1526
Thank you for the Issue @jayvdb. I will discus this issue with the team and update you.

[2021-01-09 17:58] mauwazahmed commented on #1476
some basic tasks like checking datatype of values in a particular column and based on majority vote, get the apt datatype and check for values and replace them with Null.

For similar strings in a column and differing in case(upper or lower)..converting them to a single case so as to enable proper label encoding

same goes for length of data points in each cell and removing outlier values.

Boxplo

[2021-01-10 19:07] henrykironde commented on #1476
@mauwazahmed is the data public? I could take a look at the data and see what I can do. I could help you to tailor a script that can do most of that.
- use correct datatype and check for values and replace them with Null
- single case
- removing outlier values(We call say these are nulls to),The retriever can do this but we generally don't remove these since that should be part of the analysis. Ho

[2021-01-11 01:47] mauwazahmed commented on #1476
@henrykironde just suggesting about some cleaning tasks that can be part of automation

[2021-01-19 14:48] henrykironde opened #1529 "Download from Kaggle function needs to be updated"
The function [download_from_kaggle](https://github.com/weecology/retriever/blob/fe5148b66a44fd94ba714a5cf8f9cda4f35e3249/retriever/lib/engine.py#L512) uses the Kaggle API to download datasets. This functions need to be updated to work well.

[2021-01-29 17:26] #1529 closed

[2021-02-24 17:42] bw4sz opened #1535 "NEON Tree Dataset"
The woody vegetation structure data from NEON. confirming with @MarconiS

The date of release is key, since data collection is ongoing.

https://github.com/weecology/DeepTreeAttention/blob/master/data/raw/neon_vst_data_2021.csv

The components and column definitions from this dataset are described here:

https://data.neonscience.org/data-products/DP1.10098.001

While it is possible to download the

[2021-02-24 17:47] ethanwhite opened #1536 "Add NEON field datasets"
These are all moderately sized tabular datasets that either we are actively using or are being used for the Ecological Forecasting Initiative forecasting competition.

- [ ] Vegetation Structure https://data.neonscience.org/data-products/DP1.10098.001/RELEASE-2021/
- [ ] Beetle pitfall traps https://data.neonscience.org/data-products/DP1.10022.001/RELEASE-2021/
- [ ] Ticks https://data.neonscience

[2021-02-24 17:49] ethanwhite commented on #1535
@MarconiS - is this the sort of work that could be moved into the retriever and maintained usefully there?

[2021-02-24 17:49] patdumandan commented on #1402
is this a good example of a publicly available dataset that we can work on @henrykironde  : https://www.srs.fs.usda.gov/sustain/data/fia/ewplot/index.htm?  (FIA plot-level)

[2021-02-24 17:50] bw4sz opened #1537 "Hummingbird interaction dataset"
One of the largest ecological plant-pollinator networks collected. Released in this paper:
https://onlinelibrary.wiley.com/doi/abs/10.1111/ele.12730

Data are here:
https://github.com/bw4sz/BetaNetwork/tree/master/data

Key dataset is
https://github.com/bw4sz/BetaNetwork/blob/master/data/HummingbirdInteractions.csv

Key Columns:

"ID": Camera placement
"Video":  Video ID
"Date": Date of recording

[2021-02-24 17:51] bw4sz opened #1538 "NEON Crowns Dataset"
Both spatial .shp and .csv files.

https://zenodo.org/record/3765872

[2021-02-24 18:11] bw4sz opened #1539 "US census data"
# key aspect
population, race, ethnicity, age, by county.

might already exist: https://github.com/walkerke/tidycensus

although it might be useful in using that API to pull in data

[2021-02-24 18:19] patdumandan opened #1540 "Modelled Historical Land-Use Dataset for CONUS"
LULC maps developed for conterminous United States from 1938 back to 1992 through hindcasting methods: https://www.sciencebase.gov/catalog/item/59d3c73de4b05fe04cc3d1d1

[2021-02-24 18:19] ethanwhite opened #1541 "Add Libraries.io data on open source software"
General Link: https://zenodo.org/record/1068916
Data Link: https://zenodo.org/record/1068916/files/Libraries.io-open-data-1.1.1.tar.gz?download=1
Format: CSV
Files: 7
License: CC-BY
Description: "Data about software distributed and/or crafted publicly on the Internet. You will find information about its development, its distribution and its relationship with other software included as a dependency

[2021-02-24 18:22] bw4sz opened #1542 "Harvard forest data megaplot"
2014 survey of the tree species and location at Harvard Forest, one of the largest plots in the country. 2020 data is expected soon.

https://harvardforest1.fas.harvard.edu/exist/apps/datasets/showData.html?id=hf253

[2021-02-24 18:25] MarconiS commented on #1535
It definitively should be possible. Mostly, what the neon wrangler does is interfacing with the NEON API, calculating the geolocation, and cleaning the info into a single csv file. Same with the traits data.
@henrykironde we can work on it together in our in house "hackaton" next Monday?

[2021-02-24 18:28] patdumandan opened #1543 "PanTHERIA dataset"
PanTHERIA: a species-level database of life history, ecology, and geography of extant and recently extinct mammals: https://doi.org/10.6084/m9.figshare.c.3301274.v1

Dataset details:

PanTHERIA_1-0_WR93_Aug2008.txt -- 4629 records, not including the header row, ASCII text, tab-delimited, no compression scheme was used.

PanTHERIA_1-0_WR05_Aug2008.txt -- 5416 records, not including the header row,

[2021-02-24 18:31] MarconiS commented on #1535
Also, the wrangler can be used to clip AOP data at the individual/subplot/plot level. That's probably a little more complicated to include in the retriever I believe (yet, it may be a way to include reflectance/rgb data in a csv file for a custom set of targeted pixels?)

[2021-02-24 18:37] ethanwhite opened #1544 "Add Turing Change Point Dataset"
Main link: https://github.com/alan-turing-institute/TCPD
Format: JSON
Description: A set of time series specifically collected for the evaluation of change point detection algorithms on real-world data.
Complexities: Only some datasets are available directly in the repo. Others are downloadable via Python scripts.

[2021-02-24 18:42] ethanwhite commented on #1535
And it may well make more sense to just keep this separate if the wrangler is going to become a thing, the description just sounded like something retrievery for this part.

[2021-02-24 19:14] henrykironde opened #1545 "Add Agriculture datasets from awesome-public-datasets"
Agriculture
-----------

- [ ] The global dataset of historical yields for major crops 1981–2016 https://doi.pangaea.de/10.1594/PANGAEA.909132

10 Plant species data from 1981 -2016.
[code]

- [ ] Hyperspectral benchmark dataset on soil moisture - https://doi.org/10.5281/zenodo.1227837

[code]

- [ ] U.S. Department of Agriculture's PLANTS Database - The Complete PLANTS http://www.plants.usda.gov/

[2021-02-25 17:36] henrykironde commented on #1543
Thanks you @patdumandan. The dataset  is now in the data retriever 👍

[2021-02-25 17:36] #1543 closed

[2021-02-26 05:03] henrykironde commented on #1402
https://github.com/datasets/world-cities

[2021-02-26 19:15] henrykironde opened #1546 "Add Soil db from canada"
https://open.canada.ca/data/en/dataset/6457fad6-b6f5-47a3-9bd1-ad14aea4b9e0

Pre-packaged CSV files | Dataset | CSV
Licence: Open Government Licence - Canada

has .gdb files too

[2021-02-26 19:16] henrykironde commented on #1402
https://open.canada.ca/en/open-data Canada open data

[2021-02-26 19:24] henrykironde opened #1547 "Add Soil water content data - macrosys"
Soil water content (volumetric %) for 33kPa and 1500kPa suctions predicted at 6 standard depths (0, 10, 30, 60, 100 and 200 cm) at 250 m resolution

source https://zenodo.org/record/2784001#.YDlJ02pKiBR
or
https://developers.google.com/earth-engine/datasets/catalog/OpenLandMap_SOL_SOL_WATERCONTENT-33KPA_USDA-4B1C_M_v01

citation: "Tomislav Hengl, & Surya Gupta. (2019). Soil water content (volumetr

[2021-03-01 17:19] MarconiS opened #1548 "Add fire and management history data"
There are many geospatial layers collected and managed by Forest Service programs available in a map service
here: https://data.fs.usda.gov/geodata/edw/datasets.php

These data are shapefiles and contain many different kind of information. The most useful for ongoing projects, right now, are those containing fire occurrence, prescribed fire management, and generally silviculture and forest cut man

[2021-03-01 17:26] henrykironde commented on #1547
@MarconiS https://gitlab.com/openlandmap/global-layers

[2021-03-01 17:40] MarconiS commented on #1547
Here is the link to the Zenodo archive for all derived datasets of global soil properties (0.065km2 spatial resolution)

- [ ] Soil bulk density: https://zenodo.org/record/2525665
- [ ] Soil pH in H2O: https://zenodo.org/record/2525664
- [ ] Soil texture classes (USDA system): https://zenodo.org/record/2525817
- [ ] Coarse fragments %: https://zenodo.org/record/2525682
- [ ]  Silt content in % (kg

[2021-03-01 17:42] MarconiS opened #1549 "Global river density, seasonal and surface water occurrence and upstream area"
From the same source of soil data (www.OpenLandMap.org) there is a dataset of global density of rivers and upstream area that can be used to infer the effect of hydrology on forest dynamics and diversity at scale.

Here is the link to the derived dataset:
Global river density, seasonal and surface water occurrence and upstream area: https://zenodo.org/record/3355007

[2021-03-01 17:48] MarconiS commented on #1548
- [ ] Activity Range Vegetation Improvement: https://data.fs.usda.gov/geodata/edw/edw_resources/shp/S_USA.Activity_RngVegImprove.zip
- [ ] Activity Silviculture Timber Stand Improvement: https://data.fs.usda.gov/geodata/edw/edw_resources/shp/S_USA.Activity_SilvTSI.zip
- [ ] SilvicultureReforestation: https://data.fs.usda.gov/geodata/edw/edw_resources/shp/S_USA.Activity_SilvReforestation.zip
- [ ]

[2021-03-01 18:44] MarconiS opened #1550 "Add Forest Health Monitoring historical dataset"
From 1991 to 1999 the USDA collected information of individual tree crown and health for trees in the FIA.
The data is stored in .csv files, but there are some challenges for cleaning and harmonizing it.

A description of the dataset can be found here: https://www.fs.fed.us/foresthealth/protecting-forest/forest-health-monitoring/
Data can be found here: https://www.fia.fs.fed.us/tools-data/other_d

[2021-03-03 08:44] henrykironde opened #1552 "Provenance does not seem to work well"
Run  Provenance out of retriever directory to replicate the error.

retriever commit abalone-age -m "Example commit" --path .

Possible error:
We did not normalize the paths or we did not provide the default path to the provenance directory `~/.retriever_provenance/'`
https://github.com/weecology/retriever/blob/main/retriever/lib/scripts.py#L125

get_script_provenance(path_to_archive): should look

[2021-03-09 18:21] henrykironde opened #1553 "Compare copy vs insert for raster2pgsql"
https://github.com/weecology/retriever/blob/e277c74281092cb79efdc974cd6dd78e7754e740/retriever/engines/postgres.py#L169
[code]

-Y  Use COPY statements instead of INSERT statements.

[2021-03-11 20:59] Mohitkumar6122 commented on #1549
@henrykironde could you tell me what to do in the issues labelled as dataset requests?

[2021-03-11 21:11] Mohitkumar6122 commented on #1456
@henrykironde ,@ha0ye whenever i open [https://www.data-retriever.org/#quickstart](https://www.data-retriever.org/#quickstart) it is showing me site not found could provide an alternative link for this.
Thanks.

[2021-03-11 21:28] ha0ye commented on #1456
I guess it should be https://retriever.readthedocs.io/en/latest/quickstart.html now?

[2021-03-12 00:11] henrykironde opened #1555 "Solving issues labeled dataset request"
For Folks asking about how to handle the dataset request issues, the retriever has a tool to enable you do the heavy lifting by creating for you a template. The `autocreate` tool can be used to create a starting script (template) for both tabular data and spacial data.

Sample example using the [airport script](https://github.com/weecology/retriever-recipes/blob/main/scripts/airports.json)(recipe)

[2021-03-12 00:32] henrykironde commented on #1456
@Mohitkumar6122 which page are you getting this error?

[2021-03-12 05:31] Mohitkumar6122 commented on #1456
Thanks now the link is working fine .

[2021-03-12 05:32] Mohitkumar6122 commented on #1456
I was getting the error in the link provided at the issue description but thanks to @ha0ye now it is working fine.

[2021-03-12 05:34] Mohitkumar6122 commented on #1456
Can you tell me how to update the documentation and whether do we need to update this in README too ?

[2021-03-12 10:48] henrykironde commented on #1456
This has been fixed. In case of any new problem, create an issue and I will see which part of the docs you have to change in the docs folder

[2021-03-12 10:48] #1456 closed

[2021-03-12 20:04] Mohitkumar6122 opened #1557 "Link Broken of the 'Read The Docs'."
Link of the **Read the Docs** section under **Running tests locally**  section in the [https://retriever.readthedocs.io/en/latest/developer.html#setting-up-servers](https://retriever.readthedocs.io/en/latest/developer.html#setting-up-servers) is broken.
<br>
Here is the broken link **MARKED IN RED**. <br>
![Image](https://i.ibb.co/D1J9yhb/Screenshot-2021-03-13-033600.png).
<br> After visiting link

[2021-03-12 20:08] henrykironde commented on #1557
This is kind of strange, the page loads fine on my end. Anyone else can’t see the docs?

[2021-03-12 20:26] ethanwhite commented on #1557
Opens fine for me. Maybe just a brief outage?

[2021-03-12 22:09] Mohitkumar6122 commented on #1557
It is still broken for my side. Can you check one more time .

[2021-03-12 22:41] henrykironde commented on #1557
Can you try to open the link in a private browser

[2021-03-12 23:38] Sohan022 commented on #1557
No, it did not fix. Can I fix this issue?

[2021-03-12 23:53] henrykironde commented on #1557
Sure

[2021-03-13 00:21] #1557 closed

[2021-03-13 00:22] henrykironde commented on #1557
@Mohitkumar6122 that you for reporting this. Let me know incase it is not solved

[2021-03-13 21:30] Mohitkumar6122 commented on #1555
@henrykironde  can you recheck the link [https://ourairports.com/data/](https://ourairports.com/data/) in the issue as on my side it is not reachable :(

[2021-03-15 12:54] Sohan022 commented on #1546
@henrykironde
I downloaded the pre-packaged CSV or XLS files through the above link, that file downloaded into zip format. There are 7 datasets inside the zip file. Can I create scripts using the command `retriever-recipes new_json`? I have no idea how to create scripts for the datasets inside zip file?

[2021-03-15 23:13] henrykironde commented on #1546
This has been solved. https://github.com/weecology/retriever-recipes/commit/b377df7ecde93db81f77c6acfda0f32ee101293a
For future reference, When the file has a zip, you unzip it and use retriever auto-create.
I have given an example https://github.com/weecology/retriever/issues/1555

[2021-03-15 23:14] #1546 closed

[2021-03-16 20:58] Mohitkumar6122 commented on #1553
@henrykironde  Could you elaborate on what we have to do in this issue?

[2021-03-16 21:06] Mohitkumar6122 opened #1562 "Confusion regarding Passwordless configuration in Postgresql."
A lot of newcomers contributors gets confused with passwordless configuration and there is also not a lot of documentation reading this.
So I suggest that we should add a link to the official documentation of Postgresql on `The Password File` i.e [Password File](https://www.postgresql.org/docs/current/libpq-pgpass.html)  which will not only clear their doubts and also help them to learn more about

[2021-03-16 21:42] henrykironde commented on #1555
Some more notes
Three types of datatypes -dt
- tabular -> csv
- vector -> Shapefile, Geojson etc
- Raster -> Basically images

1) Run `retriever autocreate` using the right datatype and obtain the json file.
2) Populate the Json file as the description in the [developer docs](https://retriever.readthedocs.io/en/latest/recipes.html#script-creation)
3) Add the script into the [retriever-recipe](http

[2021-03-16 21:43] henrykironde commented on #1555
@Mohitkumar6122 let me know if this is clear to you as well.

[2021-03-16 21:55] henrykironde commented on #1562
This is good. Go for it

[2021-03-17 01:31] Sohan022 commented on #1555
I have doubts regarding 3rd point. Do we not need to add scripts into [retriever](https://github.com/weecology/retriever/tree/main/scripts) repo or we have to add scripts into both repo  [retriever](https://github.com/weecology/retriever/tree/main/scripts) and  [retriever-recipe](https://github.com/weecology/retriever-recipes/tree/main/scripts)

[2021-03-17 02:22] Sohan022 commented on #1540
I have downloaded the tif files/images in a folder and run the command `retriever autocreate -dt raster -d <path of downloaded folder>`. But it is giving some error. Can you please help me creating scripts for this?

[2021-03-17 02:57] henrykironde commented on #1553
This is a performance test to compare what the better command is

[2021-03-17 02:58] henrykironde commented on #1540
What error is it giving you ?

[2021-03-17 03:06] henrykironde commented on #1555
Add the scripts in the retriever-recipe. Initially we used to keep scripts in the retriever repo but due to the increase in size and other factors, we now host the scripts separately.

[2021-03-17 03:29] Sohan022 commented on #1540
[code]

[2021-03-17 03:57] henrykironde commented on #1540
Can you show me the command you used

[2021-03-17 04:28] Sohan022 commented on #1540
[code]

[2021-03-17 04:42] henrykironde commented on #1540
You do not have Gdal installed. Install `Gdal` and let me know if you are able to run the file.
As you install Gdal, note down all the steps. We could make sure that others do not have the same issue.

After the installation, you should be able to go to Python and import Gdal using `from osgeo import gdal`

[2021-03-17 06:29] Sohan022 commented on #1540
Thanks, Henry. Now, it is working
Steps for installing Gdal
[code]
for reference: https://mothergeo-py.readthedocs.io/en/latest/development/how-to/gdal-ubuntu-pkg.html

[2021-03-17 11:07] Mohitkumar6122 commented on #1555
Yeah, it is clear now.
Thanks 😄!

[2021-03-18 09:14] henrykironde commented on #1555
## How to test a newly created script.

We assume you are in the retriever-recipe repo and you have checked out the branch you want to work on.

- Check the created template after running retriever autocreate to see if the information looks correct.
    i.e
[code]

- When you create a script, you should test if it actually works.  Some commands that I can run are:

Check if the new script name sho

[2021-03-18 15:31] Sohan022 commented on #1540
@henrykironde Please review my PR.
Link: https://github.com/weecology/retriever-recipes/pull/101

[2021-03-18 19:19] Mohitkumar6122 commented on #1555
@henrykironde I think we should add this to the documentation of retriever-recipes
What are your suggestions ?

[2021-03-18 19:40] henrykironde commented on #1555
## When `retriever ls` does not show the name of the new script

1) Make sure the working directory where you run `retriever ls` has the path `./script/new-script.json.` Meaning you should be in the retriever-recipes directory as your working directory.

2) The name of the file should always use `_`, the "name" key in the file should be the same as the file name but with` -` not `_`.

3) The conte

[2021-03-23 19:42] henrykironde opened #1564 "Solve FATAL: password authentication failed for user "postgres""

[2021-03-23 19:42] henrykironde opened #1565 "fe_sendauth: no password supplied"

[2021-03-23 20:48] Aakash3101 commented on #1565
I think we should remove the reference of testdb_retriever from CONTRIBUTING.md also.

[2021-03-24 00:11] #1564 closed

[2021-03-24 00:11] #1565 closed

[2021-03-24 00:12] #1562 closed

[2021-03-24 08:33] Aakash3101 opened #1567 "Deprecated Warning for "from pandas.io.json import json_normalize"

[2021-03-24 08:37] Aakash3101 opened #1568 "Deprecated Warning for "from pandas.io.json import json_normalize""
[code]
Future Warning for ```pandas.io.json.json_normalize``` faced during ```py.test -k "postgres"```.

[2021-03-24 08:40] Aakash3101 commented on #1568
Fixing this issue right now.

[2021-03-24 08:53] #1567 closed

[2021-03-24 09:40] Aakash3101 commented on #1552
I would like to work on this issue.  Can you explain with another example?

[2021-03-24 09:51] henrykironde commented on #1552
I will update you on this after testing again, It seems to have been fixed but I have to confirm

[2021-03-24 10:14] Aakash3101 commented on #1552
Sure

[2021-03-24 10:14] #1568 closed

[2021-03-24 14:50] Aakash3101 commented on #1547
Are these datasets added to ```scripts``` in ```retriever-recipes``` ? If not then I would like to solve this issue.

[2021-03-24 16:01] henrykironde commented on #1547
@Aakash3101 feel free to work on the issue. Recommend that you start from down to up

[2021-03-24 16:10] Aakash3101 commented on #1547
Sure @henrykironde

[2021-03-24 16:58] Aakash3101 commented on #1547
@henrykironde I wanted to clear a doubt, In the last dataset "Soil available water capacity in mm derived for 5 standard layers", I can make a single script for all the files in the dataset, right? The dataset has 7 files so when I run ```retriever autocreate```  I can have all the files in the same directory ?

[2021-03-24 17:17] Aakash3101 commented on #1547
Also shall I make separate commits for each dataset or a combined commit?

[2021-03-24 17:26] henrykironde commented on #1547
Yes all the files in the same directory. In this case, I think a fitting name for the directory would be `Soil_available_water_capacity`

[2021-03-24 19:45] Aakash3101 commented on #1547
@henrykironde I think this PR can be completed during my GSOC project, if I get selected, Because these files are very big indeed, and I might take time to check each one, and then make a PR for the dataset added.

[2021-03-24 20:23] henrykironde commented on #1547
Each checkbox is a single PR, I am actually working on them so do worry about the whole issue. Your goal should be to understand or get a good overview of the moving parts in the project.

[2021-03-25 06:52] Aakash3101 commented on #1547
Yes, actually I am enjoying doing this kind of work as I am learning new things.

[2021-03-27 12:58] Aakash3101 commented on #1547
@henrykironde I am not able to load the ```.tif``` files into postgresql. There is some kind of limitation of size for ```raster2pgsql``` to work efficiently. ```raster2pgsql``` works completely fine with small files,  but it is just stuck when I run it for the big files which are around 3 to 4 GB.

[2021-03-27 18:29] henrykironde commented on #1547
I will check this out

[2021-03-27 18:34] Aakash3101 commented on #1547
Well I am also figuring out something, and it turns out that the tile size can impact the processing time. In the code for the ```install``` command the tile size is ```100x100```, and when I tried for tile size ```2000x2000```, the file was saved in the database, but I cannot view it in QGIS. Both pgadmin4 and DB manager in QGIS show that the table does have raster values.

[2021-03-29 16:42] Aakash3101 commented on #1547
Any updates @henrykironde? To me, it seems that when a tile size of ```100x100``` is used, a lot of rows will be generated with the tile size.
For example, the size of this file is ```172800x71698```
[code]
When I run the ```raster2pgsql``` command for a tile size of ```100x100```, it takes an indefinite time to process, while for tile sizes ```2000x2000``` or ```5000x5000``` it takes about 40 min

[2021-03-29 18:00] henrykironde commented on #1547
@Aakash3101 what are your computational resources?

[2021-03-29 19:57] Aakash3101 commented on #1547
CPU : i7 8th Gen
GPU: GeForce GTX 1050 Ti
Ram: 8GB DDR4
GPU Ram: 4GB
OS: Ubuntu 20.04 LTS

[2021-03-29 20:08] henrykironde commented on #1547
Could you try to close other applications(especially IDEs), open QGIS and try to load the map. I will try it later from my end.
Give it a few minutes to render.

[2021-03-29 20:10] Aakash3101 commented on #1547
I can load and view the map from the raw data file, but not from the PostGIS database.

[2021-03-29 20:14] henrykironde commented on #1547
Yes lead the data from PostGIS database and give it at least 10 minutes based on your resources. Make sure we free at least 4 gb of memory.  Most Ides will  take about 2gb closing those will enable QGIS lead the data

[2021-03-29 20:19] Aakash3101 commented on #1547
Okay, I will let you know if it opens.

[2021-03-29 20:39] Aakash3101 commented on #1547
So this time while loading the file in QGIS, I monitored my RAM usage through the terminal and it uses all my memory. And then the application is terminated. I don't know the reasons, but I will soon find out.

[2021-03-29 20:42] Aakash3101 commented on #1547
And when I open the raw data file, it uses just around 2GB of my RAM
.

[2021-03-30 07:54] Aakash3101 commented on #1547
When I query the table in pgadmin4 to show all the values in the table, postgres uses all the RAM, and then it freezes, so I think I need to optimize the memory available for queries. Please let me know if you find something useful to optimize the memory usage.

[2021-03-30 07:59] henrykironde commented on #1547
Okey I think at this point you should let me handle this. It could take at least one day or two. I will try to find a way around.
This is at a good point/phase. I will update you. I need to finish up with some other spatial datasets first

[2021-03-30 08:43] Aakash3101 commented on #1547
Sure @henrykironde

[2021-03-30 19:24] Aakash3101 opened #1570 "retriever ls -v command does not work"
While executing the ```retriever ls -v``` command, output is incorrect due to ```IndexError: list index out of range```.
Possible reasons are that some dataset json files have no license field or the license field is empty.
[code]

[2021-03-30 19:43] henrykironde commented on #1570
@Aakash3101, thanks for reporting this issue. You may be having a script that is malfunctioning locally. Try to clean your repo. In case you have any changes, commit them and probably
1)  run `retriever reset scripts` and
2) run `git clean -f` in both your working directory and the /script directory. Or `git clean -fd` if you do not have any project IDE setting that you don't mind removing.

[2021-03-30 19:49] Aakash3101 commented on #1570
I was just too early for making the pull request. I will check this and let you know

[2021-03-30 20:03] henrykironde commented on #1570
@Aakash3101 you care correct, that is a bug

[2021-03-30 20:04] Aakash3101 commented on #1570
Okay, it seems my exploration did help me find a bug!

[2021-03-30 20:32] henrykironde commented on #1570
Okey after a look at this, There may be some changes that we can test.
I have noticed that with the python interface, we use the function [def datasets(keywords=None, licenses=None):](https://github.com/weecology/retriever/blob/bb06180a030d34eafa2e1ea13b74a3719df827e1/retriever/lib/datasets.py#L5).
This should be able to return what we are doing in the main (CLI interface) at [line](https://github

[2021-03-30 20:37] henrykironde opened #1572 "Clean up CLI to use the python interface"
In the python interface, we use the function [def datasets(keywords=None, licenses=None):](https://github.com/weecology/retriever/blob/bb06180a030d34eafa2e1ea13b74a3719df827e1/retriever/lib/datasets.py#L5).
This should be able to return what we are doing in the main (CLI interface) at [line](https://github.com/weecology/retriever/blob/main/retriever/__main__.py#L105).
 and the results can be print

[2021-03-30 20:39] henrykironde commented on #1570
@Aakash3101
Check the file lib/get_opts
the way retriever `retriever ls -v ` works should be the same  as `retriever ls -k`

[2021-03-30 20:42] henrykironde commented on #1572
@Aakash3101

[2021-03-30 20:48] henrykironde commented on #1570
<img width="918" alt="Screen Shot 2021-03-30 at 4 47 55 PM" src="https://user-images.githubusercontent.com/5192965/113054652-af1d4980-9177-11eb-81ab-8400b85c7105.png">

[2021-03-31 06:21] Aakash3101 commented on #1570
Okay I will have a look at this, and let you know about any further updates

[2021-03-31 06:32] Aakash3101 commented on #1572
Okay, so from what I understood is that the ```retriever ls -v``` command should also display the error message that at least one argument should be passed, right?

[2021-03-31 14:08] henrykironde commented on #1572
Yes

[2021-03-31 14:48] Aakash3101 commented on #1572
I found this in ```lib/get_opts.py```

[code]
I think it was intended to display the verbose list of all datasets when no arguments are provided.

Also when I run ```retriever ls -v airports``` it displays the verbose for the airports dataset.
[code]
I just want to clarify before making any changes

[2021-03-31 19:37] Aakash3101 commented on #1572
Following are the changes observed after the commits
[code]
[code]
[code]

[2021-03-31 21:03] henrykironde opened #1573 "Update Docker file for the retriever"
We should update the docker file with a goal to have Python 3+

And/or  Postgres/Mysql installation(optional)

[2021-04-04 00:17] henrykironde opened #1574 "Datasets and data sources that need API"
https://github.com/weecology/retriever/issues/1539

[2021-04-04 07:43] Aakash3101 commented on #1574
@henrykironde How should I proceed with this? In the issue mentioned, the dataset is uploaded as an R package on CRAN.

[2021-04-04 09:03] henrykironde commented on #1574
This is an issue related to the GSOC project https://github.com/weecology/retriever/wiki/GSoC-2021-Project-Ideas#data-retriever-support-for-loginapi.
In this case the data can be dowloaded using the R tool.

The first step would be getting to know how the R tool downloads the data.
In the [documentation](https://walker-data.com/tidycensus/articles/basic-usage.html) the demonstrate how you can acce

[2021-04-05 04:08] henrykironde opened #1575 "More data sources"
https://data.chhs.ca.gov/
https://vectorsurv.org/

[2021-04-05 05:21] henrykironde opened #1576 "Improve script creation platform to detect already existing data packages before we duplicate them"
**Easy:**

Before a user/developer spends time on the data, we should be able to tell if we already have that data in the retriever.
Once the user gets the exact url of the data source. We should run a command to check all the urls in the scripts instance if the url exists.

**How to solve:**
User has a url of a data source, i,e. `new-data-source-url`
Use already available functions like
[def SCRI

[2021-04-06 02:43] #1572 closed

[2021-04-07 12:35] Aakash3101 commented on #1574
I would like to take the GSOC project ``` Data Retriever: Support for Login/API```. Can you please send me more information related to the API support in retriever. This would help me create a better proposal. Also, can you share an example of how the Kaggle API is called/used in ```retriever install```? Should I communicate about my proposal to you privately on gitter?

[2021-04-07 15:23] henrykironde commented on #1574
Yes you can communicate privately on gitter.

How `Kaggle  api works` https://technowhisp.com/kaggle-api-python-documentation/
`Kaggle` is a python package that enables users to download `kaggle dataset` using programing tools. Basically like a small Data Retriever. So can use the Data Retriever to call the package and download data. Then Retriever will clean it up and standardize it.  https://git

[2021-04-09 05:16] henrykironde opened #1581 "Spatial dataset: Enable installing based on a bounding box"
The goal is to enable  users to install just the area of the spatial data that they require

The good thing is gdal can do this.

The proposed structure _**could be**_  as below or otherwise.
`retriever install postgres bioclim --bbox -14648825.0817 3552130.7825 -14627575.5878 3565507.2624`

**Idea:**
After the data retriever has downloaded the raw data. we clip the images and used in the clipped

[2021-04-09 06:20] henrykironde opened #1582 "Add COVID-19 Case Surveillance Public Use Data with Geography"
homepage: https://dev.socrata.com/foundry/data.cdc.gov/n8mc-b4w4
Looks like there is a csv file having the data
<img width="480" alt="Screen Shot 2021-04-09 at 2 19 28 AM" src="https://user-images.githubusercontent.com/5192965/114137326-050d9200-98da-11eb-8b60-9aea0565f7f4.png">

[2021-04-11 03:19] Mohitkumar6122 opened #1583 "`retriever download` command throwing error."
After running `retriever download iris`, I am getting this error :
![image](https://files.gitter.im/606462c26da037398478bdfb/LB3L/image.png)

[2021-04-11 16:44] ethanwhite commented on #1583
I can confirm this as a general error with `download` from the CLI in the current `main`. The issue is not present in the current release and is also does not appear to be present in the Python interface for current `main` (which is why the tests aren't catching it).

[code]

[2021-04-11 17:12] ethanwhite commented on #1583
Thanks for reporting this @Mohitkumar6122! Can you check #1584 to see if that fixes things for you?

[2021-04-11 17:56] ethanwhite commented on #195
Closing since this is really stale and is the kind of special format that we'd need an expert to help support.

[2021-04-11 17:56] #195 closed

[2021-04-11 18:00] ethanwhite commented on #838
It's been long enough at this point that I think we can assume everyone has upgraded to the new script format.

[2021-04-11 18:00] #838 closed

[2021-04-11 18:05] ethanwhite commented on #1325
We have dropped support for OS specific installers thanks to pip and conda both providing good stable approaches to installing via Python and support for installing Python packages in both R & Julia.

[2021-04-11 18:05] #1325 closed

[2021-04-11 18:06] ethanwhite commented on #1316
This has been removed from https://retriever.readthedocs.io/en/latest/developer.html#create-release

[2021-04-11 18:06] #1316 closed

[2021-04-11 18:09] ethanwhite commented on #1450
The data-retriever.org domain now redirects to readthedocs.

[2021-04-11 18:09] #1450 closed

[2021-04-11 18:11] ethanwhite commented on #1476
Closing since this was more of a discussion topic. Feel free to open specific requests in their own issues.

[2021-04-11 18:11] #1476 closed

[2021-04-11 18:14] ethanwhite commented on #1510
Looks like this got address since #1507 was successfully merged.

[2021-04-11 18:14] #1510 closed

[2021-04-11 18:23] ethanwhite commented on #1552
Testing outside of the repository director works fine for me.

[2021-04-12 04:13] Mohitkumar6122 commented on #1583
Thanks @ethanwhite, but when i run `rt.download('_dataset_name_')` it is working fine.
But when I run `retriever download '_dataset_name_'` it is still showing error.
![image](https://user-images.githubusercontent.com/47894634/114337564-ef64ca80-9b6e-11eb-96b9-9c715b592e83.png)
<br>
![image](https://user-images.githubusercontent.com/47894634/114339750-9481a200-9b73-11eb-9fff-999bd2237780.png)

[2021-04-12 06:05] henrykironde commented on #1583
@Mohitkumar6122 did actually fetch #1584 and run a pip install

[2021-04-12 06:06] henrykironde opened #1586 "Add nytimes covid data"
https://github.com/nytimes/covid-19-data
Has about 5 files related to covid

[2021-04-12 07:22] Mohitkumar6122 commented on #1583
I didn't get it, what do you mean @henrykironde ?

[2021-04-12 08:35] Aakash3101 commented on #1583
@Mohitkumar6122 He wants you to fetch the `upstream` and then checkout to branch `pr/1584`, and then run pip install

[2021-04-12 18:12] ethanwhite commented on #1583
Thanks for the clarification @Aakash3101!

@Mohitkumar6122 - you can fetch that PR using `git fetch upstream pull/1585/head:ethansPR`. `1585` is the number of the pull request and `ethansPR` is whatever you want to name it locally. You can then check it out using `git checkout ethansPR` and install using `pip install .` and see if it fixes your issues.

[2021-04-14 01:27] henrykironde commented on #79
Added in 05351dc

[2021-04-14 01:27] #79 closed

[2021-04-14 01:28] henrykironde commented on #151
I do not think we still need this feature. In case it is needed later, we shall reopen the issue

[2021-04-14 01:28] #151 closed

[2021-04-14 01:34] henrykironde commented on #968
Adding this to #1574

[2021-04-14 01:34] #968 closed

[2021-04-14 01:38] henrykironde commented on #1012
Since we moved away from builds, we are closing the issue

[2021-04-14 01:38] #1012 closed

[2021-04-14 01:42] henrykironde commented on #1062
Spatial data support is now supported.

[2021-04-14 01:42] #1062 closed

[2021-04-14 01:43] #972 closed

[2021-04-14 01:47] henrykironde commented on #1074
These data sources have been added to the latest issue `Ref 1575`

[2021-04-14 01:47] #1074 closed

[2021-04-14 01:49] henrykironde commented on #1208
I think we may be doing this efficiently right now. We can open a new issue in case we need some more twitching on the the engine

[2021-04-14 01:49] #1208 closed

[2021-04-14 01:50] henrykironde commented on #1216
We are currently not having issues with exit()

[2021-04-14 01:50] #1216 closed

[2021-04-14 01:54] henrykironde commented on #1218
Added to the latest data collection `# 1575`

[2021-04-14 01:54] #1218 closed

[2021-04-14 01:54] #1303 closed

[2021-04-14 01:55] henrykironde commented on #1334
Added

[2021-04-14 01:55] #1334 closed

[2021-04-14 01:57] henrykironde commented on #1396
Added to #1575

[2021-04-14 01:57] #1396 closed

[2021-04-14 02:04] henrykironde commented on #1402
Thanks everyone for contributing to the list, we are adding the data to ref # 1575

[2021-04-14 02:04] #1402 closed

[2021-04-14 02:10] #1407 closed

[2021-04-14 02:11] henrykironde commented on #1026
related to #1409

[2021-04-14 02:11] #1409 closed

[2021-04-14 02:12] henrykironde commented on #1429
We are currently testing on Azure

[2021-04-14 02:12] #1429 closed

[2021-04-14 02:13] henrykironde commented on #1483
Reload takes care of this. More emphasis may be done on revising all the documentation before the release.

[2021-04-14 02:13] #1483 closed

[2021-04-14 02:18] henrykironde commented on #1553
We have moved on with Y `Copy`.

[2021-04-14 02:18] #1553 closed

[2021-04-14 02:21] henrykironde commented on #1555
Fixed in https://github.com/weecology/retriever/pull/1577

[2021-04-14 02:21] #1555 closed

[2021-04-14 02:24] henrykironde commented on #1195
Added to list of `#1575`

[2021-04-14 02:24] #1195 closed

[2021-04-14 02:26] henrykironde commented on #1186
Added to `#1575`

[2021-04-14 02:26] #1186 closed

[2021-04-14 02:26] henrykironde commented on #1570
Fixed

[2021-04-14 02:26] #1570 closed

[2021-04-14 02:28] henrykironde opened #1588 "Clean up CLI to use the python interface"
This is work in progress https://github.com/weecology/retriever/pull/1578

[2021-04-14 03:40] #1583 closed

[2021-04-23 13:48] dassaniansh commented on #1576
I have tried working on this issue, how do I check if my implementation is correct?

[2021-04-23 14:15] henrykironde commented on #1576
Could you open a pull request. I could look through what you have done.

[2021-04-24 00:35] henrykironde commented on #1576
The design of the solution is almost as you have done but instead of checking for the `script ==dataset`, we want to check if the script object has an attribute 'url` and if that url is the same as what we have passed.

[2021-04-24 08:21] #1550 closed

[2021-04-27 14:13] dassaniansh commented on #1586
Hey @henrykironde , I would like to work on this issue. I have gone through the repository you mentioned. There are many dataset's present in that repository, which of them I need to add?

[2021-04-28 06:15] henrykironde commented on #1586
You need to go the readme page https://github.com/nytimes/covid-19-data#readme
They describe the data. When I skimmed through, the first files I saw were

[Prisons:](https://github.com/nytimes/covid-19-data/blob/master/prisons) Cases in prisons
[Colleges:](https://github.com/nytimes/covid-19-data/blob/master/colleges) Cases on college and university campuses.
[Excess deaths:](https://github.com/ny

[2021-04-29 14:27] dassaniansh commented on #1576
@henrykironde sir, can you please look into this?

[2021-04-29 15:18] henrykironde commented on #1576
@dassaniansh, I commented on the Pull request. I need to seem some commands that you used to test this.

[2021-04-30 18:00] MarconiS commented on #1549
It seems that the rasters are too big to be correctly processed by raster2pgsql

here is the error I get by running `./raster2pgsql`

[code]

[2021-05-04 06:08] henrykironde commented on #1586
@dassaniansh, We needed this data so I went a head and created the script.
You can use this as a reference when creating the next package

[2021-05-04 06:09] #1586 closed

[2021-05-11 17:04] henrykironde opened #1591 "Add natural earth data"
https://www.naturalearthdata.com/downloads/10m-cultural-vectors/

[2021-05-11 20:13] henrykironde opened #1592 "Enable subsetting / clipping the spatial dataset to smaller extents"
Users may need just a small part of the raster or vector

For raster, we have come to a conclusion that Rasterio could be the better solution ,https://rasterio.readthedocs.io/en/latest/cli.html

@MarconiS

ref :
https://mountcreo.com/article/gdal-translate-basics-functionality-and-examples/
https://joeyklee.github.io/broc-cli-geo/guide/XX_raster_cropping_and_clipping.html
https://duncanjg.wordpres

[2021-05-11 20:52] henrykironde commented on #1592
We can use this sample data https://zenodo.org/record/3355007#.YJrngH1Ki3A

[2021-05-21 08:21] Aakash3101 commented on #1574
It uses the same API as opendata.utah.gov uses, which is the Socrata (Sodapy) API. So it would not add any new API, as I have already discussed the Socrata API for the project

[2021-06-11 10:15] Aakash3101 opened #1593 "API research for API integration in Data Retriever (GSoC '21)"
# APIs researched for Data Retriever API integration

## 1. Stash API

Dryad Homepage: https://datadryad.org/stash
Stash API: https://datadryad.org/api/v2/docs/#/

Datasets are mostly related to biological sciences. Here is a screenshot of the search page for datasets: https://datadryad.org/search

All datasets are provided with a DOI string to uniquely identify them. These doi strings are present

[2021-06-14 16:41] kkothari2001 opened #1595 "Add a default bounding box for usgs-elevation"
#1111

[2021-06-14 17:25] kkothari2001 opened #1596 "Retriever doesn't detect new python scripts"
On creating a new python script and running `retriever ls` doesn't list the script.
On running `python version.py` this script will be detected.

[2021-06-28 16:26] dassaniansh commented on #1596
I tested it and it looks working fine for me.

[2021-06-28 16:27] #1596 closed

[2021-07-05 17:38] #1576 closed

[2021-07-19 16:28] Aakash3101 opened #1608 "Add RDatasets"
[Repo](https://github.com/vincentarelbundock/Rdatasets)
[Website](https://vincentarelbundock.github.io/Rdatasets/datasets.html)

[2021-07-20 17:18] Aakash3101 commented on #1608
Found another website related to RDatasets which has a search functionality - https://vincentarelbundock.github.io/Rdatasets/articles/data.html

[2021-08-23 17:40] kkothari2001 opened #1616 "Tidycensus dataset doesn't work with the download and install csv commands."
https://github.com/weecology/retriever/pull/1606 introduced the tidycensus dataset. Since it uses the rpy2 library, it had to be made as a Python script instead of the usual JSON script.

On testing it on my local computer, I realised the commands `retriever download tidycensus --path PATH` and `retriever install csv tidycensus` do not seem to be working as expected. The dataset gets downloaded in

[2021-08-23 18:06] henrykironde opened #1617 "Make sure that the the R api dataset are run on the retrieverdash"
We have added some API to the retriever. Some of the APIs, like Tidycensus, can be run and tested on the retriever dashboard.

You can clone the retrieverdash project and test locally using the developer docs for the dashboard https://retrieverdash.readthedocs.io/developer.html#setting-up-locally.

When working locally, first you will need to have the APIs working well on the retriever. Use the [D

[2021-08-23 18:09] henrykironde commented on #1616
Thanks for catching this @kkothari2001, Please go ahead. I believe this is related to the issue #1617.

[2021-08-24 05:59] kkothari2001 commented on #1616
Yes, I believe so @henrykironde.

I have found the error, the `engine.final_cleanup()` function wasn't working properly as the `data_path` property wasn't working properly. I solved it by setting the `data_path` and then calling the `engine.create_raw_data_dir()` function for the CSV and the Download engines.

[2021-08-25 03:49] henrykironde commented on #1616
Thanks @kkothari2001 for solving this issue

[2021-08-25 03:49] #1616 closed

[2021-08-28 10:59] Aakash3101 opened #1619 "Add new functions to rdataretriever and Retriever.jl"
The new functions added to Data Retriever are:

## Socrat API functions

https://github.com/weecology/retriever/blob/ae5d7073dc05e7960c15bf62be8e42c8bacedbda/retriever/lib/socrata.py#L26

https://github.com/weecology/retriever/blob/ae5d7073dc05e7960c15bf62be8e42c8bacedbda/retriever/lib/socrata.py#L51

https://github.com/weecology/retriever/blob/ae5d7073dc05e7960c15bf62be8e42c8bacedbda/retriever/li

[2021-10-31 06:06] henrykironde opened #1628 "Excel xlsx file; not supported"
`xlrd` does not currently support `xlsx`
We can use `panda` and `openpyxl`

[code]

Repair:
https://github.com/weecology/retriever/blob/f9f435b848df167259aa9fb35612aa3da6c7fd12/retriever/lib/tools.py#L11
short term solution set `xlrd>=1.2.0`
https://github.com/weecology/retriever/blob/f9f435b848df167259aa9fb35612aa3da6c7fd12/requirements.txt#L2

[2022-01-07 07:51] henrykironde opened #1632 "Update codecov to action stage in workflows"
[![codecov.io](https://codecov.io/github/weecology/retriever/coverage.svg?branch=main)](https://codecov.io/github/weecology/retriever?branch=main)
- remove the Codecov code coverage configuration file codecov.yml
- Add action step in python-package.yml after tests

[code]

[2022-01-11 12:24] Nageshbansal commented on #1591
Hey @henrykironde , i want to work on this issue , can you guide me  how to proceed for this issue?

[2022-01-11 19:39] henrykironde commented on #1591
@Nageshbansal thank you for the interest in working on this issue. Since these are vector files, once you have download the dataset, run  retriever autocreate -dt vector -d path-to-the-directory-containing-the- data-files.
This will give you a template that you can work with. Let me know how that goes

[2022-01-11 20:19] Nageshbansal commented on #1591
@henrykironde i tried this , and i'm getting some error in some files so working on that
Thanks for letting me know

[2022-01-12 08:37] #1619 closed

[2022-01-12 19:39] Nageshbansal commented on #1591
@henrykironde  installed GDAL successfully , but still getting this error
"Skipped file:  ne_10m_admin_0_antarctic_claims.shp name 'ogr' is not defined
Remove the file from the folder and try again"
![image](https://user-images.githubusercontent.com/76246968/149209865-ba644d9f-d752-4e22-8ef0-fe27818d88e9.png)

[2022-01-12 19:44] henrykironde commented on #1591
Try runing imports from python and report back what you get.
[code]

[2022-01-12 19:49] Nageshbansal commented on #1591
Import error i.e is osgeo not found.
 I have installed GDAL  by using OSGeo4W installer

[2022-01-13 11:32] Nageshbansal commented on #1591
@henrykironde successfully created template of data.

[2022-01-13 11:59] henrykironde commented on #1591
Good, now you will populate the fields based on the appropriate meta data.
For example from reading about, it takes me to the GitHub page where the files are hosted.https://github.com/nvkelso/natural-earth-vector/blob/master/LICENSE.md

From the repo I see they have a license file that states
"non-exclusive license", I would use that in the license field.
And so on.

When working with raster data,

[2022-01-13 12:00] henrykironde commented on #1591
<img width="830" alt="Screen Shot 2022-01-13 at 7 00 25 AM" src="https://user-images.githubusercontent.com/5192965/149326529-ea1da099-41f2-4e83-bb8e-2e4065deb8c3.png">

[2022-01-13 12:01] henrykironde commented on #1591
<img width="803" alt="Screen Shot 2022-01-13 at 7 01 20 AM" src="https://user-images.githubusercontent.com/5192965/149326665-7364ccb5-af84-47ad-9439-c0a7b471ac58.png">

[2022-01-13 12:02] Nageshbansal commented on #1591
Got it, will try to do it asap,
Thanks for this information
:)

[2022-01-13 12:04] henrykironde commented on #1591
You can drag and drop the `.shp` file into Qgis

[2022-01-15 08:32] Nageshbansal opened #1633 "not able to use gdal==3.3.2 while working with ".shp" files"
## NOTES
## Expected behavior and actual behavior.
While I am having gdal 3.2.2, if I try to import ogr in a script dealing with ".shp" files, it doesn't import,
but if I downgrade my gdal to 3.0.2 I'm able to import ogr and script run successfully

 ### ogr_not_working
![ogr_not_defined](https://user-images.githubusercontent.com/76246968/149594012-9fb4e909-a9e9-45d6-8e07-cd3c1b1556c6.jpg)
### ogr

[2022-01-18 09:04] Nageshbansal commented on #1591
@henrykironde, I have added the dataset, tested it by using PostGIS in qgis,
out of 81 tables, 75 are able to add to the database, rest of 6 is throwing error .for e.g  NOTICE:
 table "ne_10m_admin_0_countries_bdg" does not exist, skipping and when i tried to debug it
 i found out that this file ne_10m_admin_0_countries_bdg exist but it's not able to be read

[2022-01-18 10:53] henrykironde commented on #1591
Create a PR on the Retriever-recipes repo, I will look at it.

[2022-01-18 13:17] Nageshbansal commented on #1591
okay i will create a PR , and there is one thing i want to know that by using ` "extract_all": "True" ` , it extract file
in  `/.retriever/raw_data/cultural-10m/10m-cultural/`  folder due to which retriver is not able to get  shapes file
can you tell me is there any way to extract files in   `/.retriever/raw_data/cultural-10m/` itself.

[2022-01-20 10:15] henrykironde commented on #1545
The first data set is not supported currently.
The second data set is included.
The third dataset is is not available, link broken

[2022-01-20 12:54] Nageshbansal commented on #1632
@henrykironde  , removed file `codecov.yml` and added this action step
[code]
in python-package.yml
that's all i have to do right?

[2022-01-21 10:41] henrykironde commented on #1632
Thanks @Nageshbansal for contributing to this issue.

[2022-01-21 10:41] #1632 closed

[2022-01-21 10:42] henrykironde opened #1637 "Improve test coverage"
Currently Codecov code coverage is at 60%. Let us aim for 75%+

[2022-01-21 13:19] Nageshbansal commented on #1628
@henrykironde, can you please tell me how to proceed with this issue .

[2022-01-23 11:25] Nageshbansal commented on #1637
@henrykironde, I have to increase the number of tests so that test coverage can improve?

[2022-01-24 04:37] henrykironde commented on #1637
Some lines of code are not tested, so we need to identify them and try to create tests to cover those lines.

[2022-01-26 15:51] Nageshbansal commented on #1628
@henrykironde, can you please tell me how to proceed with this issue?

[2022-01-26 19:01] henrykironde commented on #1628
It is not solved, Change the implementation of def excel_csv to use something like this

import pandas as pd
df = pd.read_excel('sample.xlsx')
df_sheet_multi = pd.read_excel('sample.xlsx', sheet_name=[0, 'sheet2'])
# pandas_to_excel.csv
df.to_excel('pandas_to_excel.xlsx', sheet_name='new_sheet_name')

[2022-01-26 19:04] Nageshbansal commented on #1628
okay , Thanks

[2022-01-27 05:58] Nageshbansal commented on #1628
@henrykironde, in excel_csv we want to convert a  file from excel to csv , then why we're calling to_excel method
[code]

[2022-01-27 14:12] Nageshbansal commented on #1628
@henrykironde, excel_csv should be like this right?
[code]

[2022-01-30 05:32] Nageshbansal opened #1638 "function display_all_rdatasets_names in rdatasets takes a list of package_name"
display_all_rdatasets_names takes list of package_name insted of taking a string of package_name as  a parameter
[code]
[code]

[2022-02-01 07:49] Nageshbansal commented on #1637
@henrykironde , i have made  65% code coverage , should I make PR now ?

[2022-02-01 08:42] henrykironde commented on #1637
Yes make a PR so that I can review the changes.

[2022-02-02 06:06] henrykironde commented on #1628
I think this should work

[2022-02-02 08:39] Nageshbansal commented on #1628
okay, should i create a PR for this issue now ?

[2022-02-02 08:54] henrykironde commented on #1628
Sure

[2022-02-02 08:56] Nageshbansal commented on #1628
can you please check my PR #1640 first , so that I can make a new PR .

[2022-02-02 08:56] Nageshbansal commented on #1628
can you please check my PR #1640 first , so that I can make a new PR .

[2022-02-02 09:47] henrykironde commented on #1628
You can make a new PR using a different branch. Since those two PR have different changes, we shall have no issues. #1640 is still under review.

[2022-02-05 14:46] Alt-Shivam commented on #1573
Hey @henrykironde
I want to work on this issue.
But a bit confused.
can you guide me on how should I get started.

Thanks

[2022-02-05 18:19] dassaniansh commented on #1573
Thank you @Alt-Shivam, this issue has already been completed, can you go through some other open issues,

[2022-02-05 18:22] Alt-Shivam commented on #1573
Thanks for the Clarification @dassaniansh.

[2022-02-09 08:48] henrykironde opened #1644 "Create breeding bird survey for all releases."
Currently we keep the latest version of` breeding bird survey` and `breed bird survey 50stop`. It would be nice to have all the four versions.
ie.
breed-bird-survey:
https://github.com/weecology/retriever/blob/main/scripts/breed_bird_survey.py

breed-bird-survey-50stop:
https://github.com/weecology/retriever/blob/main/scripts/breed_bird_survey_50stop.py

We can create copies of each for all the 4

[2022-02-10 19:35] pri1311 commented on #1575
Hey @henrykironde! Would love to start contributing, and I believe adding datasets might be a good place to start. Could I pick up one from the lot or would you be assigning any particular one?
I have been going through the code and previous commits to get an idea of how a dataset is added but are there any specifics I need to know in order to get started?

[2022-02-10 19:40] pri1311 commented on #1575
Hey @henrykironde! Would love to start contributing, and I believe adding datasets might be a good place to start. Could I pick one up from the lot or would you be assigning any particular one?
I have been going through the code and previous commits to get an idea of how a dataset is added but are there any specifics I need to know in order to get started?

[2022-02-10 21:04] henrykironde commented on #1575
Hi @pri1311, Feel free to pick any data source. Let me know in case you need any clarification.

[2022-02-11 08:01] Nageshbansal commented on #1637
@henrykironde can you please assign this issue to me , I'm working on this and I already increased coverage up to to 65% by adding tests for socrata_create_dataset.

[2022-02-11 13:11] Nageshbansal commented on #1638
Added a check if the given parameter package_name is a string then we will simply convert it into a list, and if package_name is a list or a tuple  we don't need to convert them.
[code]
[code]
[code]
[code]

[2022-02-14 12:23] pri1311 commented on #1575
Also, I had one small doubt. I was going through some of the json files in the `retriever-recipes` repository. A lot of the Kaggle datasets were included. But since Kaggle allows downloading test and train data all at once as a zip file, how will those be added to this package? (Since I saw Kaggle mentioned as one of the data sources here.)

[2022-02-14 20:35] Nageshbansal commented on #1637
@henrykironde, I came to know about [SEDAC](https://sedac.ciesin.columbia.edu/) data source, it contains raster, vector datasets etc. We can add these datasets.

[2022-02-24 15:45] Lalitmohansharma1 commented on #1644
hello @henrykironde  what to do in this issue

[2022-02-24 20:35] ethanwhite commented on #1644
I wondering whether or not we want to support the change through time this way or whether we should be leaving that to users using the provenance functionality.

[2022-02-24 20:53] henrykironde commented on #1644
Yes nice catch, Provenance can enable users do that.

[2022-02-24 20:56] henrykironde commented on #1644
@Lalitmohansharma1 one of the users wanted historical version of the data, I was of the view to add all historical versions but the provenance tool can support storing those artifacts in time. I will close the issue.

[2022-02-24 20:56] #1644 closed

[2022-03-06 06:16] Nageshbansal commented on #1592
@henrykironde, is it already implemented, if it isn't then can I work on this?

[2022-03-06 07:02] henrykironde commented on #1592
This has been handled. Thank you @Nageshbansal for the reminder.

[2022-03-06 07:02] #1592 closed

[2022-04-18 00:05] drstewart19 commented on #1539
Check out [census-parquet](https://github.com/makepath/census-parquet)

[2022-04-26 19:59] #1637 closed

[2022-07-29 13:35] henrykironde opened #1659 "Downloading fails for files with no Content-Disposition"
Example packages:
1: Package file: https://github.com/weecology/retriever-recipes/blob/main/scripts/usda_agriculture_plants_database.py
Sample url:  https://plants.sc.egov.usda.gov/csvdownload?plantLst=plantCompleteList

2: package file: https://github.com/weecology/retriever-recipes/blob/main/scripts/aquatic_animal_excretion.py
url: https://esajournals.onlinelibrary.wiley.com/action/downloadSuppl

[2022-08-03 17:22] ethanwhite commented on #1659
The second one is fixed by spoofing the user agent with a browser, i.e., it's Wiley (the publisher) trying to block automated downloads. I did it using `wget` to test but we should be able to do the same thing in Python.

As you mentioned earlier the first one is a mess. Not only is it rendering into html, but the data itself isn't in the html it's being rendered by javascript, so I think you'd ba

[2022-10-13 01:07] henrykironde opened #1660 "Retriever should gracefully fail if there is no internet."
Currently, the retriever fails if there is no internet connection. We should handle that better.

[2022-10-17 21:01] Nageshbansal commented on #1628
@henrykironde, we can close this issue now as we've already resolved this issue.

[2022-10-17 21:21] henrykironde opened #1661 "hacktoberfest guide"
For contributors who want to take part in the hacktoberfest, please check the issue lists from the various projects

**Retriever:** https://github.com/weecology/retriever/issues
**Retriever-recipes:** https://github.com/weecology/retriever-recipes/issues
**Rdataretriever:** https://github.com/ropensci/rdataretriever/issues
**Retriever.jl:** https://github.com/weecology/Retriever.jl/issues

[2022-10-18 17:53] #1628 closed