[2016-08-05 05:11] henrykironde commented on #595
Could you give a few lines of code that I could run to see that problem we are having clearly. Pyyaml doesn't seem to be maintained and it is hard to install on Mac. We should indeed remove it. I think there is a way to tell json to return either Unicode, which looks like the default or to use the defined encoding to get the string equivalent.

[2016-08-06 21:09] goelakash commented on #595
@henrykironde Currently there seems to be no way to return non-unicode strings using `json`. I am running into issues with Python 3 while implementing this solution - stackoverflow.com/questions/956867/how-to-get-string-objects-instead-of-aunicode-ones-from-json-in-python

[2016-08-08 18:17] goelakash opened #600 "sphinx-build fails with python 3"

[2016-08-08 18:18] henrykironde commented on #600
What are the Errors it gives

[2016-08-10 14:47] goelakash commented on #600
Seems to be working now. Closing.

[2016-08-10 15:27] henrykironde commented on #595
Looking at [the solution](http://stackoverflow.com/questions/956867/how-to-get-string-objects-instead-of-unicode-ones-from-json-in-python)

could this be one solution to removing the dependency

[code]

[2016-08-10 18:52] henrykironde commented on #595
@goelakash  another thing I tried

import json
original_list = ['a', 'b']
json_list = json.dumps(original_list)
json_string = json.dumps(json_list, ensure_ascii=False)
script_contents=json.loads(json_string)
print  json_list
new_script = open('json_file.py', 'w')
new_script.write("import os\n")
new_script.write("os.getcwd()\n")
new_script.write(script_contents)
new_script.close()

[2016-08-11 05:37] henrykironde commented on #487
@ethanwhite, and @goelakash,  after a long summer of code, we are almost coming to the end with some good updates on the retriever, ref: [data package branch](https://github.com/weecology/retriever/tree/data-package). Thanks to the hard work from @goelakash, not forgetting all other summer contributors, @Deborah-Digges, @ghoshbishakh, @QuLogic.

Please feel free to add comments or suggestions.

Th

[2016-08-11 05:54] henrykironde commented on #595
@goelakash in edit_json we still have yaml https://github.com/weecology/retriever/blob/data-package/lib/datapackage.py#L376

when we are trying to limit editing of scripts to only json files  in the try block, it looks like you are trying to open a file but passing the script name
`retriever edit_json MammalLH`

[code]

I am assuming this should have been something like what you have in line 384-3

[2016-08-15 04:01] goelakash commented on #600
This issue is only resolved in the data-package branch. Reopening.

[2016-08-15 04:07] henrykironde commented on #600
@goelakash  can you provide a sample of the output

[2016-08-15 04:12] henrykironde commented on #600
@goelakash it would be nice to know what was failing.
I noticed some errors where due to outdated `.rst` files and bad doc strings.
So I tried to rectify that.

[2016-08-15 20:57] sdtaylor opened #604 "install fails on ubuntu"
I get the following error when running `pip install retriever`

[code]

[2016-08-16 01:40] ethanwhite commented on #604
Thanks for reporting @sdtaylor.

I see some warnings, but no errors on the install itself.

What happens if you run:

[code]

[2016-08-16 13:19] sdtaylor commented on #604
Ok, it does actually install. But it gets installed inside `~/.local/` which I didn't have in my path. So it seemed like it wasn't working. Also using pip it only works with python2, python3 does have install errors.

Henry suggested I install the latest version from github, which does work with python3

[code]

[2016-08-16 13:31] ethanwhite commented on #604
Yes, Python 3 support was only recently added and isn't in the most recent release, so direct from GitHub is the only way to get that at the moment.

That's definitely not what's supposed to happen and it doesn't happen on a number of other Ubuntu machines. Is that where `pip` is installing other modules as well or is it just the retriever?

[2016-08-16 13:43] sdtaylor commented on #604
There is nothing else in `~/.local/bin/`, so no. But I'm not a big user of pip either.

I just tried it with sudo and it installed correctly in `/usr/local/bin`

[2016-08-16 13:57] ethanwhite commented on #604
Just looked at this locally with @sdtaylor. It was a permissions issue with using Ubuntu's Python and not installing using `sudo` (needed to put the executable in a directory on the path). If anyone else comes across this the following should solve it:

[code]

[2016-08-16 13:57] #604 closed

[2016-08-18 17:24] goelakash commented on #595
@henrykironde The `yaml` dependency is removed, but now all the strings in python scripts have `u'` prepended to them.

[2016-08-18 23:50] henrykironde commented on #241
closing fixed in 	27f02f2

[2016-08-18 23:50] #241 closed

[2016-08-18 23:51] henrykironde commented on #246
closing fixed in #546 8766cd9

[2016-08-18 23:51] #246 closed

[2016-08-19 18:04] sdtaylor opened #612 "Installing BBS errors on Python 3 using SQLite"
I just installed the latest [build](https://github.com/weecology/retriever/tree/1a9bbb3c1564db6c6bbc2349508187f9286ed12e) and it's giving an error when downloading BBS

[code]

[2016-08-19 19:22] ethanwhite commented on #612
This looks like an issue with the new Python 3 support. @goelakash - can you take a look at this if you have a few minutes?

[2016-08-19 19:22] ethanwhite commented on #612
Thanks for reporting this @sdtaylor and for the really nice bug report!

[2016-08-19 19:44] sdtaylor commented on #612
debug output for @henrykironde

[code]

[2016-08-19 20:14] goelakash commented on #612
@ethanwhite I get a different error log:
[code]

[2016-08-19 20:47] ethanwhite commented on #612
@goelakash - I get that at home, but not at work. I was wondering if maybe I'd gotten firewalled for hitting their servers too much. Regardless, this is definitely a separate issue.

Can you download the relevant files manually into the `~/.retriever/raw_data/BBS` directory to explore this issue? When I hit this error I was able to do that last time.

Could you also open an issue on the error you'

[2016-08-22 04:21] henrykironde opened #617 "Retriever does not install using pip"
Using  python2 retriever fails to get installed. Only tested with Mac, will test on windows and Unix and update (also will test on python3)

**Note:**  `python setup.py install` works fine for both systems on py2 and py3

To get this error, do a manual clean up first by removing the `dist`, `build` and `retriever.egg-info` in the retriever directory
If retriever is installed, reset using `retrieve

[2016-08-22 04:39] henrykironde opened #618 "Retriever docs are not building"
Seems like last build was on June 15.

Build log https://readthedocs.org/projects/retriever/builds/4105369/

My quick guess is that we may need to change some setting in either the conf.py file or the general setting on the website https://readthedocs.org/dashboard/retriever/advanced/

[2016-08-22 05:04] goelakash commented on #595
Currently resolved.

[2016-08-22 05:04] #595 closed

[2016-08-22 05:11] henrykironde commented on #618
locally they are building fine. It may be the server issue from readthedocs

[2016-08-22 08:29] ethanwhite commented on #617
Seems to be working on Ubuntu 16.04.

[2016-08-22 19:03] henrykironde commented on #618
Closing issue fixed in 6b3633.
Builds are passing we just have to update the badge url

[2016-08-22 19:04] #618 closed

[2016-08-24 02:04] ethanwhite commented on #612
I've updated the title to reflect that this is a Python 3 issue and am moving @goelakash's report into a separate issue.

[2016-08-24 02:23] ethanwhite opened #622 "Errors on BBS"
As reported in #612 by @goelakash, in some cases when installing the BBS data we receive an FTP error: `IOError: [Errno ftp error] 200 Switching to Binary mode.`

I have seen this error on Ubuntu 16.04, Python 2.7. The error occurred on the same machine both at my house and on the wireless at UF. Installing BBS works fine on my work Desktop (Ubuntu 15.04, Python 2.7) which would seem to suggest th

[2016-08-24 02:44] ethanwhite opened #623 "Scripts in `./scripts` not being found?"
After running `retriever reset scripts` when I try to do an installation from inside the repository I get a dataset unavailable error. This shouldn't happen since the data is in the local `scripts` directory.

[code]

There was a recent discussion about not making a change that would have removed this functionality. Maybe it slipped through in the refactoring around the datapackage changes?

[2016-08-24 03:58] henrykironde commented on #623
I think that is because, we didn't include the search paths.
I remember mention this in one of the PRs
`ref: current master https://github.com/weecology/retriever/blob/master/__init__.py`
[code]

[2016-08-24 04:11] henrykironde commented on #622
I am able to download bbs fine. I think they put a temp firewall which shouldn't be a big issue for users. This could be solved by mimicking a browser request but I think its not useful. This could be  solution if that persists for long. On the other hand, we should keep local copies of BBS for testing so that we do not over use their resources.

[2016-08-24 18:03] goelakash commented on #600
The recent datapackage PR closed this issue (https://github.com/weecology/retriever/pull/615)

[2016-08-24 18:03] #600 closed

[2016-08-25 04:14] goelakash commented on #487
@henrykironde I think we should split the last objective to edit scripts through CLI as a separate one, as it is still in progress.

[2016-08-25 04:26] henrykironde commented on #487
I don't get it quiet well,

[2016-08-25 11:19] goelakash commented on #487
The feature to edit JSON files is disabled. That means that the 3rd objective is only partially completed.

[2016-08-25 11:20] goelakash commented on #623
This should be closed now.

[2016-08-25 14:45] henrykironde commented on #487
@goelakash could we include json test in the integration test

[2016-08-25 15:38] henrykironde commented on #487
Since we shall get rid of `parse_script_to_json` later, I wanted us to have  something like
[code]

but I think i will change that later on.

[2016-08-27 20:36] henrykironde opened #627 "change test setup"
Currently tests  are run from the test directory
`os.chdir(os.path.dirname(os.path.abspath(__file__)))`
we need the to run in the retriever directory

[code]

[2016-08-30 05:12] zhangcandrew opened #628 "Update Developer Docs for MySQL Installation"
**
For MySQL installation, while going through the inital setup and installation process, it is important to let the user know that access and file privileges must be granted to travis on their new database testdb on the localhost.

If this is not addressed, the following error will occur:

Couldn't create database ((1045, "28000Access denied for user 'root'@'localhost' (using password: YES)")). T

[2016-08-30 13:05] ethanwhite commented on #628
Some of this information is currently in the [Continuous Intregration section of the docs](https://retriever.readthedocs.io/en/latest/developer.html#services-used). I agree that it would be better to move it up under [Testing](https://retriever.readthedocs.io/en/latest/developer.html#testing) since it really applies to local testing instead of CI. Would you like to try a PR moving that docs sectio

[2016-08-30 14:58] #627 closed

[2016-08-30 18:00] zhangcandrew commented on #628
Sure! I was going solely off the readMe in the retriever gitHub Repository initially, and only found out about the travis mySQL grants through talking to Henry. Just wondering though, what does PR stand for?

[2016-08-30 18:47] henrykironde commented on #628
:) PR is a Pull request. I was confused the first time I heard it.  you can call me to go through the workflow of that.

[2016-08-31 18:41] ethanwhite commented on #318
The plan for handling this is to move towards a system where:

* Scripts are always updated from `master`
* Scripts have their own version number for tracking provenance
* Scripts have a 'minimum retriever version' to prevent conflicts with new features. Only scripts that have minimum retriever versions <= the running version of the retriever will be loaded. Users will be notified that a new versi

[2016-09-03 11:23] goelakash opened #632 "Release edit_json feature."
Currently, the `edit_json` feature has been put on hold due to incomplete testing. Since the main implementation has been merged in `master`, and the feature has been only disable at the CLI, we should refactor the code and add tests to complete this.

@henrykironde @ethanwhite Do you have some suggestions on how to go about this?

[2016-09-03 11:24] goelakash commented on #617
I have been unable to test this, as I couldn't get my hands on a Mac. Does this still exist?

[2016-09-03 11:24] goelakash commented on #551
@ethanwhite What is the current status on this?

[2016-09-03 11:31] henrykironde commented on #632
yah sure lets get it that part finished

[2016-09-03 11:32] henrykironde commented on #617
Thanks @goelakash, I will close this, the issue was due to rights configuration.

[2016-09-03 11:34] henrykironde commented on #632
I think the tests should be just dry runs. The last time I tried it it failed for some edits

[2016-09-03 11:48] goelakash commented on #632
Could you post those examples?

On Sep 3, 2016 5:04 PM, "Henry Senyondo" <notifications@github.com> wrote:

[2016-09-03 12:10] henrykironde commented on #632
okey based on what I have searched, we had this `https://github.com/weecology/retriever/pull/596`
I can find the exact PR where we had discussed that issue, however from my recollection we may have solved the issue that was causing the feature to fail a times. So we have added some keys in the json file

[code]

`values["retriever"] = "True"` helps to identify the retriever script from other json

[2016-09-03 12:11] henrykironde commented on #632
I suggest creating a PR with the edit_json feature and we can go on and test it again.

[2016-09-03 12:13] goelakash commented on #632
Okay, will do.

[2016-09-04 15:27] ethanwhite commented on #623
Fixed by 88d6fcc5d8422c3b725dbe4b299679c35ceb9e63.

[2016-09-04 15:27] #623 closed

[2016-09-05 22:56] henrykironde commented on #318
script [MammalSuperTree](https://github.com/weecology/retriever/blob/master/scripts/MammalSuperTree.py) has some issues that we need to address #208. Any comments

[2016-09-06 13:28] ethanwhite commented on #551
I haven't run this in a while. Just started one using Python 2 and will update when it's finished.

[2016-09-06 13:58] ethanwhite commented on #318
I'm not sure what you're looking for here. Can you expand a little?

[2016-09-06 14:02] henrykironde commented on #318
Do we still need to perform the check` if (VERSION == 'v1.6') or (VERSION == 'v1.6.0'):`

[2016-09-06 15:10] ethanwhite commented on #318
I think we should remove that check at the same time that we remove the `.script` files from `master` since that will be the point we decide to permanently break `1.6` to let us move forward more smoothly.

[2016-09-07 12:27] ethanwhite commented on #551
Here's what I got yesterday:

[code]

This doesn't include postgres since I apparently entered the wrong password.

Here are examples of the `Woods2009` and `Gentry` errors:

[code]

[2016-09-07 15:44] goelakash commented on #632
Fixed by #633

[2016-09-07 15:44] #632 closed

[2016-09-07 15:44] #617 closed

[2016-09-07 18:48] ethanwhite opened #637 "Error is `json` data files are in working directory"
If there are `json` data files in the working directory this causes the following error:

[code]

@henrykironde already has a plan for fixing this, but I just wanted to flag it.

[2016-09-07 18:51] ethanwhite commented on #551
The `StopIteration` errors are the result of #637, so that just leaves `Ramesh2010`, which is working fine on a rerun. So, great work everyone. I'm calling this one closed!

[2016-09-07 18:51] #551 closed

[2016-09-10 23:35] ethanwhite opened #639 "Add plant growth form dataset"
http://onlinelibrary.wiley.com/doi/10.1002/ecy.1569/full

[2016-09-10 23:56] henrykironde commented on #639
@ethanwhite are you working on this now? Just wondering because I was working on some data and i could look at this after?

[2016-09-11 00:01] ethanwhite commented on #639
No, I'm not working on it. Just saw it had come out and thought it would be useful to add. No rush on this.

[2016-09-11 00:11] henrykironde commented on #639
Ok, thanks. I was baffled by the date 27 August 2016, Cos I was pretty sure that we do not have data papers for 2016 yet.  based on[ Ecological Archives](http://esapubs.org/archive/search.php?journal=E&year=2016&firstAuthor=&isDP=0) wondering why this is not yet in the database here.

[2016-09-11 00:22] ethanwhite commented on #639
When the journal Ecology transitioned to being published by Wiley they stopped adding new data papers to Ecological Archives and started posting them as supplemental material on Wiley's site. So, the data for this paper is located at:

http://onlinelibrary.wiley.com/store/10.1002/ecy.1569/asset/supinfo/ecy1569-sup-0001-DataS1.zip?v=1&s=219c74fa85bfe6738e649bedd844f40428351802

I have no idea how s

[2016-09-11 00:23] henrykironde commented on #639
okey thanks.

[2016-09-11 02:13] henrykironde commented on #639
This has issues with data, similar to `The thermal dependence of biological traits` by Dell.
I will look at it and enhance the script later

[2016-09-11 02:15] ethanwhite commented on #639
Sounds good. No rush on this one at all.

[2016-09-11 04:06] henrykironde opened #640 "Support unicode for json creation from .script"
An example of this issue can be replicated if we want to add data sets having french character

[code]

trying to run `parse_script_to_json.py` will create the json

[code]

This will not compile the json file to python file `paquette2007.py`

[2016-09-11 05:50] henrykironde commented on #640
@goelakash if you have time could you look at this issue in conjunction to PR #641

[2016-09-11 12:28] goelakash commented on #640
The function `compile_json` is able to compile the JSON (I tried manually using ipython). But for some reason, retriever doesn't compile it.

[2016-09-11 13:49] goelakash commented on #640
@henrykironde It seems that this is a Python 2 issue. I was testing on Ipython using Python 3.5.2, so didn't come across this.

[2016-09-12 19:05] henrykironde opened #643 "Name conflict in Mammaldiet and when updating"
Download Progress: [##############------] 67.95%https://raw.github.com/weecology/retriever/master/scripts/MammalDiet.json C:\Users\Henry\.retriever\scripts\MammalDiet.json

error
[code]

[2016-09-12 19:09] #640 closed

[2016-09-12 21:32] henrykironde opened #645 "Refactor add to table function in the engine module"
Currently the [engine](https://github.com/weecology/retriever/blob/master/lib/engine.py) module has a function that loops through the lines to be inserted, it cleans them up and makes them ready for insert.

This all happens in the function   `add_to_table()` with over 100 lines of code.
We need to refactor this module as much as we can to make maintaining easy.

[2016-09-12 21:54] henrykironde opened #646 "refactor checks of platform and python system,"
Since we are supporting python3, python2 systems running on Windows, IOS(mac) and Linux. we need to refactor some of these checks to one module of location.

We can overwrite the underlying functions so that retriever has its own implementation of the same.
I which case, if we want to open a file we just use our own function rather than having multiple checks whenever we call open.

Examples of ch

[2016-09-12 23:17] henrykironde opened #647 "Refactor insert_statement in lib/engine"
current status:

[code]

This function could be refactor to improve readability

[2016-09-13 02:16] #312 closed

[2016-09-13 07:10] henrykironde commented on #643
@goelakash could you have a second look at this issue

[2016-09-14 13:25] ethanwhite commented on #432
Finished (hopefully) in e14fd39d05bd1c80be8b1100208aa15593b3c560.

[2016-09-14 13:25] #432 closed

[2016-09-15 10:40] goelakash commented on #643
Will do.

[2016-09-15 13:53] ethanwhite commented on #643
It's possible we fixed this yesterday in e14fd39d05bd1c80be8b1100208aa15593b3c560.

[2016-09-15 14:12] ethanwhite opened #652 "Wrap retriever_minimum_version value in str() in compile"
On line 241 of `compile.py` the call to `value` should be changed to `str(value)`. It is natural for people to think of version numbers as numbers and if they accidentally enter `2.0` instead of `"2.0"` this causes a type failure.

[2016-09-15 14:14] ethanwhite opened #653 "Stop bad scripts from causing errors"
Currently when `compile_json` gets run if something goes wrong the retriever errors out even on commands not running the script (e.g., `retriever ls`). What it should do is ignore the bad script and possibly report back that there is an issue with the script but keep running normally otherwise.

[2016-09-15 15:02] ethanwhite opened #654 "Add a code of conduct"
I keep planning on doing this and not getting around to it so I'm opening an issue. As usual we can probably just copy @ctb: https://github.com/dib-lab/khmer/blob/master/CODE_OF_CONDUCT.rst

[2016-09-16 20:24] henrykironde commented on #654
This is the latest version, http://contributor-covenant.org/version/1/4/  for comparison

[2016-09-18 18:07] ethanwhite commented on #654
Let's go with the latest version then.

[2016-09-21 12:25] ethanwhite opened #659 "Distribute and update scripts on install"
We want the software to be immediately functional on install without having to run any extra commands. Currently following install it is necessary to run `retriever update` to download all of the scripts.

Future releases should do two things:

1. Auto-populate `.retriever/scripts` with the scripts at the state of the release being installed.
2. Automatically run `retriever update` (or something e

[2016-09-28 06:29] goelakash commented on #653
@ethanwhite Can you post an example error trace so I can look into the issue?

[2016-09-28 13:01] ethanwhite commented on #653
To reproduce:

1. Change the `"retriever_minimum_version"` value in `MoM2003.json` to `2.0` from `"2.0.0-dev"`.
2. Run `retriever ls`

[code]

[2016-09-29 01:18] ahhurlbert opened #660 "error in retriever install/update on Windows 8"
I tried installing the retriever from scratch from the command line:
[code]
after which I get
[code]
So it looks like it's not a clean install, or it installs, uninstalls, and then reinstalls.

In any case, which and version are:
[code]
I ran retriever reset all and said yes, with no complaints. But `retriever update` gives:
[code]

[2016-09-29 13:56] ethanwhite commented on #660
Thanks as always for reporting @ahhurlbert. I can't currently replicate this. I've tried Linux and Windows, Anaconda and core Python, and Python 2 and 3.

My initial recommendation is to try to get to a completely clean state and reinstall. I would run

`retriever reset all`

to get rid of all the associate files. I'd then check to make sure that the `.retriever` directory is in your home director

[2016-09-29 14:20] henrykironde commented on #660
This is probably because of old files that need to be removed. Like @Ethan said, doing pip uninstall retriever repeteadly will remove the retriever files installed

[2016-09-30 01:25] ahhurlbert commented on #660
Tried uninstalling and reinstalling, but still same result:
[code]
And then, in R:
[code]

[2016-09-30 01:29] ethanwhite commented on #660
OK, thanks. Want to find an evening sometime soon to screen share and figure out what's going on? Or bring the machine to work on Tuesday and we can look at it if we have time during our meeting?

[2016-09-30 01:31] ahhurlbert commented on #660
Tonight, now? Or Tuesday.

From: Ethan White [mailto:notifications@github.com]
Sent: Thursday, September 29, 2016 9:30 PM
To: weecology/retriever <retriever@noreply.github.com>
Cc: Hurlbert, Allen Hartley <Hurlbert@bio.unc.edu>; Mention <mention@noreply.github.com>
Subject: Re: [weecology/retriever] error in retriever install/update on Windows 8 (#660)

OK, thanks. Want to find an evening sometime

[2016-09-30 01:35] ethanwhite commented on #660
Let's do Tuesday (though this sounds like more fun than what I'm working on right now...)

[2016-10-02 18:37] goelakash commented on #653
When running a local python environment via virtualenv, I don't get the error. Instead, the exception is handled already:
[code]

[2016-10-02 18:41] goelakash commented on #653
I think I can explicitly cast `value` to `str` before concatenating. See if that helps.

[2016-10-02 18:47] goelakash commented on #487
@henrykironde and @ethanwhite I think this super-issue can be closed now.

[2016-10-02 18:48] ethanwhite commented on #487
:+1: Thanks!

[2016-10-02 18:48] #487 closed

[2016-10-02 19:11] #652 closed

[2016-10-02 19:22] ethanwhite commented on #653
It's interesting that this is the result you get since this is what I thought should be happening already following a718c8d798903f1e096c4fb5ca0da9354a1dd536 from a few years ago, but I don't get this behavior in either my normal anaconda install or using Ubuntu's core Python install (with or without sudo) without the virtualenv.

Did you introduce exactly the same issue I did or something differen

[2016-10-03 11:52] goelakash commented on #653
Python 2, with the modification you suggested. I tried both, a system install and local install of retriever before modifying and subsequently calling `retriever ls`.

[2016-10-03 12:02] goelakash commented on #647
This function is so confusing!

[2016-10-03 12:39] ethanwhite commented on #647
Yeah, definitely some serious technical debt in there.

[2016-10-03 14:30] ethanwhite commented on #653
@henrykironde - can you let us know what you see when you do this when you get the chance?

[2016-10-04 13:59] lauraantao opened #662 "Error downloading FIA data"
---- I was unable to download the FIA database using the R package ----

I have re-installed both the 'Retriever' and the R package ecoretriever (Windows installer; version v1.8.3).

Apparently everything works fine - get_updates() and datasets() worked, and I was able to download the Gentry and Adler2007 datasets into R.

However, I get this object when running

![image](https://cloud.githubuserc

[2016-10-04 14:30] ethanwhite commented on #662
Thanks for reporting this issues @lauraantao! We really appreciate it. We'll get into this and hopefully get a fix implemented quickly. From a first glance it looks like FIA changed the structure of it's data again and so we just need to adjust our code to accommodate those changes.

[2016-10-04 14:32] ethanwhite commented on #662
Here's the debug output for `master`, which may be failing in a different place than `1.8.3` since the `FIA_species` looks OK on my system and almost all of the raw data files get downloaded :

[code]

[2016-10-05 10:51] ethanwhite commented on #662
I tried this on my system at home last night and everything ran smoothly.

[2016-10-05 11:13] ethanwhite commented on #662
Hi @lauraantao - The weird contents you see in the `REF_SPECIES` file happened because when the retriever went to download the data it didn't find the correct data and hit a 404 page. This can happen either because FIA has updated their data locations or file names or because the FIA server is having temporary issues.

The current development version of the retriever successfully installed FIA for

[2016-10-05 17:13] lauraantao commented on #662
Thank you very much @ethanwhite
Unfortunately, I could not make it work (I apologize in advance if these are beginner's mistakes!)

I tried replacing the py file in the .retriever/scripts folder (which was not hidden (?)), but then I get this error message:

newdata <- ecoretriever::fetch('FIA')
Failed to load script: fia (C:/Users/liha/Documents/.retriever/scripts/)

It "modified" both fia.py and

[2016-10-06 00:16] ethanwhite commented on #662
Hey @lauraantao - Terribly sorry about that. Totally my fault. I forgot an important step:

2b. Install Git for Windows: https://git-for-windows.github.io/ During the installation you can use all of the defaults except when asked select `"Use Git from the Windows Command Prompt"`.

Then try running the `pip` command again. If it works run:

[code]

and try things again.

Also, I forgot to mention

[2016-10-06 14:43] goelakash commented on #653
Guys, seems that I fixed the side items instead of the main issue earlier. Should be fixed now.

[2016-10-06 14:46] goelakash commented on #653
Re-opening for confirmation.

[2016-10-06 18:15] ethanwhite opened #665 "Change `script_version` to `version` in JSON"
In turns out that the data package spec already includes a version designator for use with semantic versioning, which is basically what we do. They call if `version` so we should use the spec.

[2016-10-08 07:20] ethanwhite opened #666 "Postgres testing config instructions produce error on Ubuntu"
The first line of the postgres testing configuration instructions state that the user should run:
`psql -c "CREATE USER postgres WITH PASSWORD 'testpass'"`

On a clean postgres install on Ubuntu 16.04 this produces an error since the user exists by default:

[code]

I wonder if we should instruct the user open postgres and create the password using `\password` instead.

[2016-10-08 07:21] ethanwhite commented on #666
@zhangcandrew if you have a few minutes to take a look at this that would be great. Thanks.

[2016-10-08 07:33] ethanwhite opened #667 "Remove unnecessary warning when using `download`"
When running `retriever download` an unnecessary warning displays

[code]

The command executes correctly, but this warning isn't really correct (there is no database to create since we're just downloading the raw data files) and could be distracting to users.

[2016-10-08 08:52] ethanwhite opened #668 "Python 3 `bytes` vs `str` errors for most `.py` dataset scripts"
E.g.,

[code]

and a slightly different error

[code]

Datasets include:
- First error: baad, Gentry, BBS, BBS50,
- Second error: leda, EA_petraitis2008

These datasets fail on all engines.

[2016-10-08 15:24] ethanwhite opened #670 "Data too long for column error in `leaf_herbivory`"
From `try_install_all.py` on Python 3:

[code]

[2016-10-08 15:30] ethanwhite opened #671 "Data too long for column error in ` Palmer2007`"
Python 3.

[code]

[2016-10-08 15:31] ethanwhite opened #672 "Data too long for column error in `EltonTraits` on Python 3"
[code]

[2016-10-08 15:32] ethanwhite opened #673 "Data too long for column error in ` FrayJorge` on Python 3"
[code]

[2016-10-08 15:35] ethanwhite opened #674 "Encoding error in `gwdd` install into MySQL on Python 3"
Doesn't occur for other engines.

[code]

[2016-10-08 15:38] ethanwhite opened #675 "Download only fails for `gwdd`"
[code]

And the file doesn't appear.

From `try_install_all.py`:

[code]

[2016-10-11 15:35] henrykironde commented on #672
I suggest writing to the authors http://esapubs.org/archive/ecol/E095/178/#authors and informing them about the errors in the data.

The authors are using tab delimiters and end of line as "\t\t\t" making it hard to handle the data because they also use `\n` to mark a continuing line as shown in the fig below.

When the retriever tries to detect for incomplete lines, it will fail in this case sinc

[2016-10-11 16:54] ethanwhite commented on #672
Ah, OK. So was this failing on Python 2 as well? I thought it was working there.

[2016-10-11 17:18] henrykironde commented on #672
On Python 2, It does not fail but it install the wrong data. We need to add a check for such errors.
Sample installed using able data
![installed](https://cloud.githubusercontent.com/assets/5192965/19280528/47678b08-8fb4-11e6-84b2-3b5fee8afabc.png)

Installed rows / do not match the total number of rows in the raw data
![cmd](https://cloud.githubusercontent.com/assets/5192965/19280685/f68a954e-8fb

[2016-10-11 17:24] henrykironde opened #676 "Add check for the number of rows inserted against the raw data set number of rows"
For some datasets that are poorly assembled, retriever may not be able to detect and install the right number of rows as expected from the raw data. For example in EltonTraits shown below.

We should report such cases.
![cmd](https://cloud.githubusercontent.com/assets/5192965/19280960/dee63d34-8fb5-11e6-9d51-5a32fd718e60.png)

[2016-10-11 20:19] #675 closed

[2016-10-12 18:39] ethanwhite opened #678 "Remove old `.script` files and `.script` -> `.json` converter"

[2016-10-12 18:46] ethanwhite opened #679 "Convert `test_integration.py` to using `.json` data package scripts"
To complete #678 we will need to convert the integration test suite over the using `.json` data packages instead of using the old `.script` format and converting them on the fly.

E.g., the `'script'` value in the following code uses the `.script` format and that value should be converted to the `.json` format.

[code]

[2016-10-13 14:21] davharris opened #682 "AOU codes in BBS data sets"
At the top of the `SpeciesList.txt` file, it says the following:

[code]

In other words, the "AOU" column refers to internal BBS codes and the "Seq" column refers to codes actually used by the AOU.

Should the columns be renamed to reflect this?

[2016-10-13 14:34] ethanwhite commented on #682
So when they say "indicating phylogenetic order" they mean that actual AOU codes?

This is a tricky case. The challenge is that if we want people to be able to easily relate the dataset we create to the raw BBS data and it's associated documentation, then we're better off keeping the column names. If we want folks to be able to easily related BBS data to other data sources through AOU codes, then

[2016-10-13 14:37] #665 closed

[2016-10-13 14:57] ethanwhite opened #683 "Move main package into subdirectory"
The root directory has gotten pretty crowded, and standard structure for Python projects is to have the main package code in a subdirectory with the package name (see http://docs.python-guide.org/en/latest/writing/structure/).

[2016-10-13 15:08] ahhurlbert commented on #682
"Phylogenetic order" is the official order in which species are listed based on their phylogenetic relationships to each other. This gets revised from year to year based on discoveries, e.g., that quails are now considered basal compared to whatever, etc.

The only reason one would ever use `Seq` is if one wanted to print out a local or regional bird checklist in Phylogenetic order (as birders exp

[2016-10-13 15:12] davharris commented on #682
Actually, I [just discovered](https://www.pwrc.usgs.gov/BBl/manual/bandsize.cfm):

So I think @ahhurlbert is right: we can probably just drop the `Seq` column entirely. The rank ordering of the two columns is mostly pretty similar anyway (spearman's Rho = 0.82).

[2016-10-13 15:14] ethanwhite commented on #682
OK thanks everyone. Unless anyone sees a positive value in getting rid of the `Seq` column I think we'll keep it so as to remain close to the original data source, but I'm also happy to take a PR to get rid of it with an explanation of why.

[2016-10-13 15:14] #682 closed

[2016-10-13 18:46] #654 closed

[2016-10-16 22:00] henrykironde commented on #667
Could not replicate this error.

[2016-10-16 22:34] ethanwhite commented on #667
To expand my report: I'm seeing this on Linux (Ubuntu 16.04) on both Python 2 and Python 3.

[2016-10-17 13:30] #667 closed

[2016-10-17 17:34] zhangcandrew commented on #666
I think it'd be best if we kept the psql commands just to ensure that the entire setup is consistent and users can build everything up using just line commands to the CLI instead of logging into psql, changing the password, and logging back out.

On my computer I can pass the command:

psql -c "ALTER USER postgres PASSWORD 'testpass';"

and that seems to achieve the same effect. I'm not 100% certa

[2016-10-17 17:40] #678 closed

[2016-10-17 17:41] ethanwhite commented on #679
Closed by ddf7cc5e9bdd513a395699980f174856e836078e.

[2016-10-17 17:41] #679 closed

[2016-10-17 17:42] ethanwhite commented on #666
Thanks @zhangcandrew! I think you're right that using `ALTER` should solve the problem, but definitely worth checking to make sure.

[2016-10-18 17:56] ethanwhite commented on #660
This turned out to be an old Python version (2.7.8) where backports had an issue with https. Updating to 2.7.12 fixed it.

[2016-10-18 17:56] #660 closed

[2016-10-18 17:59] ahhurlbert opened #688 "retriever update error on Windows 8"
After installing fresh from master and typing `retriever ls`:

[code]

[2016-10-18 18:05] ethanwhite commented on #688
I watched this happen on @ahhurlbert's machine. There is an entire string of lines like

[code]

when `retriever ls` runs (one for each script probably). It looks like for some reason we're rejecting scripts based on versions even though the versions match?

Maybe we missed a `script_version` -> `version` in #681? e.g.,
https://github.com/weecology/retriever/search?utf8=%E2%9C%93&q=script_version

[2016-10-19 16:29] ethanwhite commented on #662
Hi @lauraantao - just wanted to check in and see if you got this working.

[2016-10-19 16:40] lauraantao commented on #662
Hi @ethanwhite I'm sorry for the slow reply (been caught up in other datasets!)

Unfortunately, it did not work :/
I did re-install Git for Windows - I already had it anyway. When running the pip install commad I get this message:

![image](https://cloud.githubusercontent.com/assets/12911566/19528215/088d0e4c-9623-11e6-937e-4836efbc21cf.png)

Thank you
Laura

[2016-10-19 17:25] ethanwhite commented on #662
No problem, I imagine you've got a lot of datasets to juggle.

The current issue you're seeing is that you're computer can't find `pip` even though it's installed. The right way to fix this is to reinstall Anaconda and make sure to chose the option to make it your default Python. The last screen of the installer should look like:

![screenshot 2016-10-19 13 19 45](https://cloud.githubusercontent.c

[2016-10-20 20:08] lauraantao commented on #662
Thank you again @ethanwhite

Ok, so this time some progress! I re-installed Anaconda/Python and ran the pip install using the git bash, and it worked! It installed retriever and updated the scripts.
But then when running "ecoretriever::install('FIA', 'sqlite')" in R, I get this error message:

Cannot open C:\Users\liha\ANACON~1\Scripts\RETRIE~1-script.py
Warning message:
running command 'retriever

[2016-10-20 21:33] ethanwhite commented on #662
We're making progress. Yeah!

That's actually an issue that crops up with the R package sometimes and it appears to have returned (https://github.com/ropensci/ecoretriever/issues/73). Try running:

[code]

from the command line and see if that works for you.

[2016-10-21 22:43] goelakash opened #692 "Error downloading eBird_observation data."
The URL doesn't work anymore.

[2016-10-21 23:41] goelakash opened #693 "NPN installation errors"
[code]

Tested with Python 3 on Ubuntu 16.04.

[2016-10-22 15:33] lauraantao commented on #662
It has finally worked - or at least it seems it has downloaded most of the data (?) I get this message in the end
![image](https://cloud.githubusercontent.com/assets/12911566/19620361/d583978e-9873-11e6-9861-4b9d6ffcbf4c.png)

Now I just have to get working on figuring out the actual data and sqlite.
Thank you again @ethanwhite for walking me through all of the steps!

[2016-10-22 16:40] ethanwhite commented on #662
Glad it's working! It looks to me like you got cut off mid download (probably due to a connection issue somewhere between you and FIA. The good news is that all of the data you successfully downloaded is cached locally so it won't have to download it again. I'd try rerunning to same command to get the rest and get it all installed.

[2016-10-22 17:14] ethanwhite commented on #454
Closing since this was for a unsupported GSoC project. Thanks for the recommendation @mbjones. We'll definitely take a look at ProvONE when we come back to this.

[2016-10-22 17:14] #454 closed

[2016-10-22 17:21] ethanwhite commented on #692
Unfortunately they pulled this dataset down several months ago. It had sounded from @mbjones (in #513) like it might go back up, but I just checked DataONE and now it says "This file is too large to download, please contact us about how to access this data". This probably makes it impossible for us to support the dataset going forward.

@mbjones - do you know if there's anyway to access the eBird

[2016-10-22 18:04] ethanwhite opened #694 "Increment versions on BAAD, leda, EA_petraitis2008, BBS, and BBS50"
#691 updated 5 scripts but didn't update their version numbers (since we haven't documented this requirement yet). The version numbers in these five scripts all need to be upped to 1.2.

@zhangcandrew - if you have a time this would be something fairly straightforward to help out with. The values for `version` in each of those 5 JSON files just need to be updated.

[2016-10-22 18:14] ethanwhite commented on #668
Errors in leda, EA_petraitis2008, and baad were all fixed by #691.

[2016-10-22 18:18] ethanwhite opened #695 "Document requirement to increment version when updating script"
Any time a script gets updated we are going to increment the minor version number to track provenance and allow for reproducibility. This needs to be added to the developer documentation.

[2016-10-22 18:19] ethanwhite commented on #695
@zhangcandrew - this would be another good PR to work on as you get used to things. I sent you an invite to join the project as a collaborator. Once you accept you should be able to assign yourself to issues. If you're planning on tackling one please go ahead and do that so we know you're planning on taking care of it. Thanks.

[2016-10-23 17:52] zhangcandrew commented on #695
I can add this to the documentation pretty easily! Just to be clear though, am I changing the version number within the script like I did for #694, or is this purely within the documentation?

Also, I still seem unable to assign issues to myself, but I'm not sure why. I don't have the checkbox next to issues, so I am unable to give myself issues.

[2016-10-23 17:58] zhangcandrew commented on #694
Am I upping the versions in their respective .py files? I can't seem to find a .json for each of these in the scripts folder.

[2016-10-23 18:31] ethanwhite commented on #694
Yes, that's right. For datasets requiring more complicated cleanup and restructuring the information can't be captured in JSON files so the core script is the Python file.

[2016-10-23 19:18] ethanwhite commented on #695
Awesome. Yes, this is just about a change to the documentation so that contributors know to increment the version numbers.

[2016-10-24 11:26] lauraantao commented on #662
Hi @ethanwhite
Apparently it is giving the same error message that we started with...
I ran "retriever install sqlite FIA -f fia.sqlite again"

![image](https://cloud.githubusercontent.com/assets/12911566/19643957/003f5b12-99e5-11e6-84d3-3762cd046e62.png)

It did not download any additional files, but the .sqlite is modified.
...

[2016-10-24 11:47] ethanwhite commented on #662
Ah, OK, you probably just have the old script cached. Try the following:

[code]
Answer yes

[code]

and then try again.

[2016-10-24 12:16] lauraantao commented on #662
Thank you @ethanwhite
I had run the retriever update but not the reset command. However, still got the same error message :/

![image](https://cloud.githubusercontent.com/assets/12911566/19645245/bc599096-99eb-11e6-8aa1-c5c9b9c4ee61.png)

[2016-10-24 19:18] zhangcandrew commented on #666
It seems like the commands

[code]

are all invalid on a new installation of ubuntu with a freshly installed postgresql. I ran into the error:

[code]
whenever I tried to run those commands. I was only able to run the commands when I added sudo -u postgres to the beginning of the commands. Otherwise, using alter user works fine. The final changed commands would look like this:
[code]

[2016-10-24 19:19] zhangcandrew commented on #666
Accidentally closed the issue, my bad.

[2016-10-24 19:37] #659 closed

[2016-10-24 19:49] zhangcandrew commented on #695
Looking at the Scripts documentation, there are 5 fields which are strongly recommended when using the new_json retriever function. If I remember correctly though, when we tested out the new_json function, those fields were required. Should I get rid of the Strongly Recommended header and move those fields into "Required", or change datapackage.py so that their stored dictionary values don't rely

[2016-10-24 20:31] henrykironde commented on #695
I think we could go ahead and change that to work for recommended instead of  mandatory

[2016-10-24 21:18] henrykironde commented on #666
how about` sudo psql -c "CREATE USER postgres WITH PASSWORD 'testpass'"`

[2016-10-24 22:34] ethanwhite commented on #666
@henrykironde's suggestion should work for me.

[2016-10-25 08:44] ethanwhite commented on #662
Hi @lauraantao - terrible sorry this is taking so long to figure out.

I can't seem to replicate this at the moment, and I'm also seeing a different number of rows in the `FIA_species` table, which is weird:

[code]

We'll keep working on this, but just wanted to post an update here before hopping on a plane.

[2016-10-25 09:17] lauraantao commented on #662
No worries @ethanwhite Thank you for all your patience with this issue

[2016-10-26 02:09] ethanwhite commented on #662
@lauraantao - based on the difference in the number of rows in the species table I'm wondering if you have some old data cached as well that is somehow messing things up. Would you mind running:

[code]

Answering yes, and then trying to install FIA again in case that clears it up?

If that doesn't work then my only remaining guess is that there's a piece of an old version of the software somewher

[2016-10-26 14:28] ethanwhite commented on #692
OK, at this point I think we should go ahead and remove eBird support.

[2016-10-26 14:29] ethanwhite commented on #643
This was fixed in e14fd39.

[2016-10-26 14:29] #643 closed

[2016-10-26 18:35] #694 closed

[2016-10-26 18:49] zhangcandrew commented on #666
When I run
[code]
I get
[code]

It seems like since the default user that comes with postgresql is postgres, we have to explicitly use it in the commands.

Running
[code]
also returns the error:
[code]

[2016-10-27 13:16] lauraantao commented on #662
@ethanwhite It has finally worked!

![image](https://cloud.githubusercontent.com/assets/12911566/19768382/29114b74-9c4f-11e6-805b-2815f44af7fa.png)

It took more than 12 hours to complete those final scanning/creating steps, but it has apparently worked, and the sqlite file has a respectable size now (6.81 GB).

Thank you once again for walking me through all the steps, and I hope this also helped

[2016-10-28 10:02] ethanwhite commented on #662
Awesome! I'm super glad that we got it working for you!

FIA is definitely a big/slow one. Good luck digging into it now that you've gotten it up and running.

[2016-10-28 10:02] #662 closed

[2016-10-29 20:47] zhangcandrew commented on #662
Just a small update on downloading the SQLite datasets.

When I ran
[code]

on Ubuntu (16.04) with Python3, the information was retrieved, but the following was also returned:
[code]
I have not tested this on Windows with python3. Using python2, Windows and Ubuntu seem to work fine. Might just be a small translation error between 2 and 3.

[2016-10-31 03:42] #647 closed

[2016-10-31 18:59] zhangcandrew opened #699 "new_json function requires values during script creation which are recommended on the scripts documentation"
Looking at the Scripts documentation, there are 5 fields which are strongly recommended when using the new_json retriever function. If I remember correctly though, when we tested out the new_json function, those fields were required. I will address these issues by making those values not required.

[2016-11-01 19:40] #699 closed

[2016-11-02 18:17] #695 closed

[2016-11-03 13:55] #692 closed

[2016-11-04 02:01] ethanwhite opened #702 "Add NYC TreesCount dataset"
Just came across this really cool citizen science project via twitter with ~500,000 identified and measured trees in NYC.

Live map:

https://tree-map.nycgovparks.org/

Citizen science project:

https://www.nycgovparks.org/trees/treescount

Data:

https://data.cityofnewyork.us/Environment/2015-Street-Tree-Census-Tree-Data/pi5s-9p35?category=Environment&view_name=2015-Street-Tree-Census-Tree-Data

[2016-11-04 02:33] henrykironde commented on #702
What is the size of the file?

[2016-11-04 02:44] henrykironde commented on #702
Okey seems like the first thousand and so lines are empty.

[2016-11-04 12:21] ethanwhite commented on #702
Yeah, I saw that too, but there's definitely real data eventually. Anyway, this isn't a priority, just something cool to add at some point.

[2016-11-06 04:24] goelakash commented on #668
This issue with `str` has been fixed. I think we should track the new errors that occur with BBS and BBS50 installation.

[2016-11-06 05:06] goelakash opened #703 "Retriever doesn't fetch AvianBodyMass script on update."
Outside retriever directory:
[code]

Inside retriever directory:
[code]

[2016-11-06 07:01] goelakash opened #705 "Error while installing BBS and BBS50 on python2"
[code]

[2016-11-06 22:08] ethanwhite commented on #668
Last I checked Gentry was still having issues as well. I'm happy with closing this and moving on to more specific issues.

[2016-11-08 11:30] goelakash commented on #668
Yes, my thoughts exactly.

[2016-11-08 13:15] henrykironde commented on #668
Don't close this issue, It's actually bigger than it looks, working on it and will give you the details. Almost there.

[2016-11-10 19:51] goelakash commented on #668
The title is misleading and actually follows a different error, which has been fixed by previous commits. We should file separate bug reports for different bugs.

[2016-11-10 19:52] goelakash commented on #653
Closing this as issue seems to be resolved.

[2016-11-10 19:52] #653 closed

[2016-11-10 20:15] henrykironde commented on #668
Okey I will close this over the weekend when I am cleaning all the issues. Thank you so much
@goelakash

[2016-11-11 19:43] ethanwhite commented on #637
A fix was added for this in 5bed7a4340248abf8cf3139933eef970689b97ec, but it seems to just produce a new problem now:

[code]

Both Python 2 and 3.

[2016-11-11 19:45] ethanwhite commented on #612
This is the same issue as #668. Since it's more general than BBS I'm going to go ahead and close this one. Henry should be finished fixing #668 shortly.

[2016-11-11 19:45] #612 closed

[2016-11-11 19:46] ethanwhite commented on #622
This is the same as #705. Since the more recent issue is tied in to some other discussions I'm going to close this one.

[2016-11-11 19:46] #622 closed

[2016-11-11 19:48] ethanwhite commented on #628
This was fixed in 0190f7824f4769d893134ca95b2cae8080a491a1. Thanks @zhangcandrew!

[2016-11-11 19:48] #628 closed

[2016-11-11 19:57] ethanwhite commented on #532
I can no longer replicate this error, but I also can't find where we would have fixed it.

@zhangcandrew and/or @goelakash can you see if this error is happening for you on the current master?

[2016-11-11 19:58] ethanwhite commented on #518
What did we end up doing with this and should this issue be closed now?

[2016-11-11 19:59] ethanwhite commented on #463
I'm going to go ahead and close this since we now have plans in place for supporting 32-bit builds with the next release.

[2016-11-11 19:59] #463 closed

[2016-11-11 20:05] ethanwhite opened #707 "Add developer tools to assure script versions get update"
Whenever a script is changed its `version` value needs to be incremented. This sort of thing is easy to forget and we should have some tools to help avoid missing it.

- [ ] Add a pre-commit hook that checks if there are changes in ./scripts/ and if so runs `version.py` and runs `git add version.txt`
- [ ] Update `version.py` to check scripts that have been changed (i.e., that have diffs) to see i

[2016-11-11 20:07] ethanwhite commented on #318
I have added a new issue to take care of the last two pieces of this task. We moved those last pieces to the 2.1 milestone. Closing this issue as complete.

[2016-11-11 20:07] #318 closed

[2016-11-11 20:07] ethanwhite commented on #256
I'm going to go ahead and say that we won't support this dataset until direct bulk downloads are possible.

[2016-11-11 20:07] #256 closed

[2016-11-11 20:15] ethanwhite opened #708 "Add ability to print a dataset specific message after installation"
Sometimes we want to communicate something about a dataset to the user. E.g.,

1. The data disappeared from the web so we can't download it anymore
2. There is an issue in one of the files that prevents us from processing it so we didn't download that one (#238)

We should add a field to take a text based message and print it after the installation of the dataset to cover all of these possibilitie

[2016-11-11 20:16] ethanwhite commented on #238
Closing in favor of the more general #708.

[2016-11-11 20:16] #238 closed

[2016-11-11 20:18] ethanwhite commented on #252
Since  it seems that eBird is basically stepping back from keeping any of it's data public I don't think this is a priority for us anymore. If they become more open we can reopen this and reconsider.

[2016-11-11 20:18] #252 closed

[2016-11-11 20:18] ethanwhite commented on #253
Since  it seems that eBird is basically stepping back from keeping any of it's data public I don't think this is a priority for us anymore. If they become more open we can reopen this and reconsider.

[2016-11-11 20:18] #253 closed

[2016-11-11 20:23] ethanwhite commented on #188
I've updated this issue to reflect the new JSON script approach.

[2016-11-13 15:57] goelakash commented on #518
@ethanwhite We ended up not making any changes to existing syntax.

[2016-11-13 16:54] ethanwhite commented on #518
OK, thanks. I think there are definitely improvements to be made here and I like your original suggestion. The biggest question is in my mind is whether we want to maintain any soft of structure to this tagging at all. If we do then your original suggestion looks good to me and it should handle the lists of values issue that @henrykironde mentioned using something like:

[code]

The alternative ap

[2016-11-13 17:51] goelakash commented on #532
Doesn't happen for me.

[2016-11-13 18:04] goelakash commented on #518
@ethanwhite I think we should follow the datapackage.JSON standard, since we do not use the classes for any segregation between the tags currently.

[2016-11-13 18:10] ethanwhite commented on #518
@goelakash I agree. Let's go ahead and plan on moving to the `keywords` example above. This will take a little more work to change, but I think sticking with the spec is the right approach.

If anyone wants to tackle this they can just assign themselves to the issue to let everyone else know they are working on.

[2016-11-13 18:12] ethanwhite commented on #532
Thanks @goelakash. Much appreciated.

I'm going to go ahead and close this since it doesn't seem to be an issue anymore. If it crops up for anyone else please feel free to reopen and provide details about the system and how the error was triggered.

[2016-11-13 18:12] #532 closed

[2016-11-15 13:41] ethanwhite opened #710 "Update release docs/scripts"
In the lead up to 2.0 we have both removed the GUI and changed the scripting system so that we no longer set `MASTER`. The docs definitely need to be updated to reflect the scripting change and I suspect there is some old code in the build scripts that needs to be removed as well.

[2016-11-15 13:48] ethanwhite opened #711 "Add Python 3 to setup.py"
We need to note in the setup.py that Python 3 is supported.

[2016-11-15 15:57] zhangcandrew commented on #532
Just wanted to affirm that it doesn't happen for me either.

[2016-11-15 21:22] ethanwhite commented on #532
Thanks @zhangcandrew. Much appreciated.

[2016-11-16 17:42] ethanwhite commented on #710
Turned out it was just the docs that needed updating.

[2016-11-20 14:41] #705 closed

[2016-11-20 14:41] #711 closed

[2016-11-20 14:41] #710 closed

[2016-11-21 16:13] henrykironde opened #715 "Improve memory usage when creating cross tab"
Currently  `def get_ct_data` returns a list of all the lines in the dataset for large datasets.
This will result in to memory problems.

Best way to go about this is perform the cross tab processing as we loop through each line in the add to table. Currently we are processing the cross tab lines before we start looping through the lines

[2016-11-21 21:51] henrykironde opened #716 "Remove encoding='latin-1'"
Remove the hard coded assignments for encoding.
We should have an optional value in the scripts that could utilize a different encoding.
The retriever should be able to use that property when opening files and processing data based on the assigned encoding, otherwise the retriever will stick with the default encoding.

[2016-11-24 04:19] zhangcandrew opened #717 "Problem downloading UlrichBodySize"
When downloading UlrichBodySize, an error pops up:

[code]

This error doesn't seem to be triggered by any one line however. I tested all the datasets from body_sizes2008.txt in the raw_data folder of .retriever in small groups and each seemed to pass. It seems like past a certain number of lines, this error mysteriously triggers. I'm not sure why.

[2016-11-24 04:33] henrykironde commented on #717
Could you add the script too.

[2016-11-25 07:19] zhangcandrew commented on #717
Sure thing, here is the Ulrich script:

[code]

[2016-11-30 19:37] zhangcandrew opened #720 "Version.txt rearranged when running version.py with a new dataset."
After introducing the Iris data set and running Version.py, the items within Version.txt were rearranged, causing a new PR to show that there were a lot of changes in Version.txt when there were really only a few.

[2016-12-05 03:33] henrykironde commented on #693
@ethanwhite, This dataset needs update.
The National Phenology Database might have made some internal changes on the location of files(urls)

[2016-12-05 14:10] #673 closed

[2016-12-05 14:27] ethanwhite commented on #693
Yes, and probably has for quite a while. There's a three year old issue #118 that apparently got dropped at some point.

Here's a link to their API documentation:
https://docs.google.com/document/d/1yNjupricKOAXn6tY1sI7-EwkcfwdGUZ7lxYv7fcPjO8/

which we might be able to use to get what we want if there isn't a limit on the number of records.

Here's an example:
http://www.usanpn.org/npn_portal/obs

[2016-12-05 14:52] ethanwhite commented on #720
Fixed in 6a63bb19d38995e16899b2bcfad8f0913db24dca.

[2016-12-05 14:52] #720 closed

[2016-12-09 19:42] zhangcandrew opened #732 "'utf-8' decoding error for Raymond2011.json Script"
Using branch linux-encoding-test and the script Raymond2011.json

[code]

returns an error:
[code]

[2016-12-09 20:39] zhangcandrew commented on #637
I'm not sure if this has been resolved, but I looked a little into this. Here is the chunk of code from where the error triggers:

[code]

from lib/compile.py.

I'm not 100% sure why the error triggers, since the list should be caught in the boolean before it calls for object.keys(), but I think we can circumvent this problem by using the python function hasattr(). We could place it as another che

[2016-12-09 21:05] ethanwhite commented on #637
Thanks for looking into this @zhangcandrew. I think @henrykironde fixed this a few days ago in 3b34ce698a1eb1daa67886e34a8606bc094f0406 and we just didn't get the issue closed.

@henrykironde - if I'm understanding that right from the history can you close this issue.

[2016-12-09 22:06] henrykironde commented on #637
Yes, this is fixed. I that is why you don't get error again.

[2016-12-09 22:06] #637 closed

[2016-12-11 09:33] goelakash commented on #716
Yeah we can do that. How do we know which scripts don't support `latin-1` or `utf-8`?

[2016-12-11 09:35] goelakash commented on #703
Resolved by #714

[2016-12-11 09:35] #703 closed

[2016-12-13 08:43] zhangcandrew opened #736 "Scripts with null values that are certain characters are unable to be loaded"
Error:

[code]
Where qq is a newly created script using retriever new_json.
The error is returned due to this line:

[code]
since the null value is a character, it should be nulls = '?' instead of just nulls = ?. Fixing this change however will cause certain tests in travis and appveyor to be violated, so I have created an issue for now.

[2016-12-14 18:21] henrykironde opened #737 "MOM2003 needs property "header_rows": 0"
Currently we are not downloading the file with the right number of rows.
This change will change the MD5 sums  used in testing. (should be 5731 instead of 5730)

[2016-12-16 22:06] zhangcandrew commented on #737
Hey Henry, I committed a change to one of my branches which fixes this issue, but I don't think the tests will pass, so I've held off on putting a merge request in for now.

[2016-12-16 22:49] henrykironde commented on #737
Nice @zhangcandrew, the Md5sum will definitely change. Go a head and create that branch only for mom and change the `Md5sum(92bf63eb5b36b777c600d0a95229222c)` with the new one

[code]

[2016-12-16 23:59] #737 closed

[2016-12-19 16:33] ethanwhite commented on #716
The script writer will have to figure that out. We should use the optional `endoding` field from the datapackage spec to store this info:
http://specs.frictionlessdata.io/data-packages/#optional-fields-1

[2016-12-21 18:56] henrykironde commented on #736
@zhangcandrew what branch was that, were you had tried to fix this issue?

[2016-12-22 03:26] zhangcandrew commented on #736
I believe it was called newJsonChanges

[2016-12-30 19:34] ethanwhite opened #741 "Add Test New Script functionality to tests"
As we scale up the number of datasets a common issue will be testing new scripts both locally and through CI. A nice feature would be a test that detects new scripts (by comparing the local script list against those listed in `version.txt` on `master`) and performs an equivalent to the `try_run_all.py` code for those scripts.

For small to medium datasets this should be runable on CI. For large da

[2017-01-08 16:31] ethanwhite commented on #717
@zhangcandrew - can retest this on the current `master`?

[2017-01-08 16:33] ethanwhite commented on #732
@zhangcandrew - can you retest this on the current master and open a PR for it whether it works or not? Having a PR makes it easier to look at what isn't working. Thanks.

[2017-01-08 16:41] ethanwhite commented on #688
I was wrong in my initial suspicion about what might have been happening here.

This error happens when there are no scripts to be displayed (see #119), so it is being triggered in this case by the fact that the retriever doesn't think any of the scripts are up-to-date and doesn't update them.

@ahhurlbert - we've made a few changes that may prevent this from happening in the last couple of months

[2017-01-08 17:28] zhangcandrew commented on #717
Just tested on the updated master, everything works well!

[2017-01-08 19:44] ethanwhite commented on #717
Great. Closing since it's fixed. Is this one of the big set of new datasets that you and @henrykironde are working on getting included?

[2017-01-08 19:44] #717 closed

[2017-01-08 20:03] ethanwhite commented on #395
Closing since we can't replicate the first output and the warnings can be ignored.

[2017-01-08 20:03] #395 closed

[2017-01-08 20:10] ethanwhite commented on #386
Here's the relevant source if anyone wants to dig into putting this url together:

[code]

[2017-01-09 18:09] henrykironde commented on #732
closing solved

[2017-01-09 18:09] #732 closed

[2017-01-09 18:42] henrykironde commented on #575
Am thinking of closing this issue, I think we may not need this anymore

[2017-01-09 18:51] henrykironde commented on #676
Current state: This issue was partially covered in b2e20708e70e889101c802ba7e56695fb38f6dee
However, we still have some clean up to do with "https://github.com/weecology/retriever/blob/master/lib/engine.py#L117"

Error can be seen when downloading BBS.

[2017-01-09 18:53] henrykironde commented on #570
enable in  64909f9d44b274a8f08ceefc83f28ec026536042

[2017-01-09 18:53] #570 closed

[2017-01-09 18:57] ethanwhite commented on #575
I still like the change proposed above since I think it's more readable and probably less error prone, but I don't think it's a high priority. Seems like something that could have an `easy` or `getting-started` tag attached to it and leave it for a new(ish) contributor to try to tackled at some point.

[2017-01-09 19:00] henrykironde commented on #415
@ethanwhite does this still hold? #416

[2017-01-09 21:20] zhangcandrew commented on #717
Yeah, it's part of the Ecological Archive which we hope to have in for version 2.0.

[2017-01-09 22:06] ethanwhite commented on #415
Yes. It happens for the following line:

[code]

I'll submit a PR to fix this shortly.

[2017-01-09 22:50] #415 closed

[2017-01-11 06:51] henrykironde opened #752 "Testing for 2.0"
As we move towards releasing 2.0, please help me run `try_install_all.py` on the current master.
Make sure your postgres password is set since we made some changes to the default password for tests.

Comment below in case you are willing to test any part.

Note: A lot of data is downloaded so make sure you have unlimited internet

The current status of `try_install_all.py` creates a dump directory

[2017-01-11 14:52] ethanwhite commented on #752
I've got these running on both Python 2 and Python 3 now.

[2017-01-11 15:29] ethanwhite commented on #676
Is this just an issues with:

`total = self.table.record_id + real_line_length`

My guess is that the `self.table.record_id` part is designed for when we're appending data to an existing table, but then we compare that to just `current` or `real_line_length`. So presumably we want either add `self.table.record_id` to both numbers or neither.

[2017-01-11 15:36] ethanwhite opened #754 "Add third digit to script versions"
The [current spec](http://specs.frictionlessdata.io/data-packages/#recommended-fields) states that:

Which [state](http://semver.org/#spec-item-2) that:

A normal version number MUST take the form X.Y.Z where X, Y, and Z are non-negative integers, and MUST NOT contain leading zeroes. X is the major version, Y is the minor version, and Z is the patch version.

This would also be useful for little t

[2017-01-11 16:03] ethanwhite commented on #754
@henrykironde agrees with this change so I'll add it to the 2.0 milestone and put it on my list.

[2017-01-11 16:06] ethanwhite opened #755 "Make all package names lowercase and descriptive"
This will make our names match the [current spec](http://specs.frictionlessdata.io/data-packages/#required-fields), and making them more descriptive (e.g., `bbs` -> `breeding-bird-survey`) will avoid name conflicts both within the retriever and the ecosystem more broadly. Before 2.0 is the time to do this since all the previous versions of the retriever use their release tags and so will continue

[2017-01-11 16:41] ethanwhite commented on #752
Just added errors for Ubuntu + Python 3 to the issue.

[2017-01-11 16:59] ethanwhite opened #756 "Switch from `nulls` to `missingValues` in json package files"
This isn't in the official spec yet, but it looks like that's the direction it is heading. I've asked for clarification in https://github.com/frictionlessdata/specs/issues/353.

[2017-01-11 18:27] ethanwhite commented on #756
OK, we have confirmation of this from the frictionlessdata issue.

[2017-01-12 01:42] ahhurlbert commented on #688
Different, but still not desired behavior I don't think.

Status lines for all of the datasets repeat twice (see output below), and at the end it lists only 2 datasets available. As far as I can tell (by playing around with ecodataretriever in R), those are the test datasets Adult and Wine.

[code]

[2017-01-12 02:14] henrykironde commented on #688
@ahhurlbert, thanks am working on it right away

[2017-01-12 04:24] zhangcandrew commented on #752
Just ran this on Ubuntu + Python 3 also.

Generated this list of errors:

ERROR.

Engine, Dataset, Error
('mysql', 'HomeRanges', ProgrammingError(1064, "42000You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Tucker, M. A., T. J. Ord, and T. L. Rogers. 2014. Evolutionary predictors of mam' at line 1"))
('xml', 'Fal

[2017-01-12 14:28] ethanwhite commented on #752
Here are the current errors from my runs last night, but as @henrykironde and I noticed yesterday some of these aren't real (there appear to be some issues with try_run_all trampling on itself):

Ubuntu + Python 3:

[code]

[2017-01-14 12:29] ethanwhite opened #764 "Add test to check if all .json files are valid json"

[2017-01-14 13:05] ethanwhite opened #765 "Update internals to match datapackage spec"
After updating our language to match the datapackage spec our internal naming doesn't match the naming in our datapackage files. We should update this to make everything easier to understand. Specifically

* tags -> keywords
* nulls -> missingValues
* name -> title
* shortname -> name

Possibly a few others I'm not thinking of.

In many cases this will basically be find & replace, but being carefu

[2017-01-15 03:39] ethanwhite commented on #62
Since we have expanded in the direction of handling data generally instead of just ecological data this now seems out of scope. Closing for now, but feel free to reopen if you disagree.

[2017-01-15 03:39] #62 closed

[2017-01-15 03:41] ethanwhite commented on #90
eBird has basically pulled all of their data back behind closed doors, so I'm going to go ahead and close all of the eBird issues until such time as they decide to participate in the community in a more open way that we can readily help support.

[2017-01-15 03:41] #90 closed

[2017-01-15 03:49] ethanwhite commented on #584
This function is definitely a lot better than it was 6 months ago. @henrykironde - do you think we should leave this open for further improvements or call it good for now?

[2017-01-15 03:51] ethanwhite commented on #645
Closing as duplicate of #584.

[2017-01-15 03:51] #645 closed

[2017-01-15 03:53] ethanwhite commented on #646
This is now complete. The primary work is in f657ee00d05c94f0b5a2b3560efdf79d5480b67d.

[2017-01-15 03:53] #646 closed

[2017-01-15 03:54] ethanwhite commented on #668
This is fixed now.

[2017-01-15 03:54] #668 closed

[2017-01-15 03:55] ethanwhite commented on #670
Fixed by #740.

[2017-01-15 03:55] #670 closed

[2017-01-15 03:56] ethanwhite commented on #671
Fixed by #740.

[2017-01-15 03:56] #671 closed

[2017-01-15 03:56] ethanwhite commented on #672
Fixed by #740.

[2017-01-15 03:56] #672 closed

[2017-01-15 03:57] ethanwhite commented on #674
Fixed by #740.

[2017-01-15 03:57] #674 closed

[2017-01-15 18:07] henrykironde opened #766 "Reinstate Fia script (Forest Inventory and Analysis)"
Forest Inventory and Analysis changed the file locations.
New species table url: https://apps.fs.usda.gov/fiadb-downloads/CSV/REF_SPECIES.csv
new main:

The new changes needed for FIA

        self.urls = {"main": "https://apps.fs.usda.gov/fiadb-downloads/CSV/CSV/",
                     'species': 'https://apps.fs.usda.gov/fiadb-downloads/CSV/REF_SPECIES.csv'}

[2017-01-15 18:26] henrykironde commented on #766
@ethanwhite, should we make the changes in a separate PR, or include them in the current PR under review?

[2017-01-15 18:44] ethanwhite commented on #766
Separate PR.

[2017-01-16 02:56] henrykironde commented on #766
Am waiting for `FIA` server to go up again,
https://apps.fs.usda.gov/fiadb-downloads/CSV/CSV/AL_TREE.zip
Else we may switch to downloading  `.csv` files instead of `.zip`

[2017-01-16 18:11] #518 closed

[2017-01-16 22:05] #766 closed

[2017-01-17 15:58] tomauer commented on #90
Hi @ethanwhite, are you referring to the eBird Basic Dataset (EBD) being behind the access wall? I now work at eBird and know that we don't want our data to be perceived as closed. Have you been in contact with anyone here? Or are you just basing this on the way EBD is accessed?

[2017-01-17 16:11] ethanwhite commented on #90
@tomauer - I'd love to be wrong about this data being openly accessible. My perception is based on a combination of meaningful efforts to access the data over several years and some interactions with folks at eBird.

Originally we could find no way to access the data without creating a login, explaining why we wanted to use the data, getting permission, and then downloading a one time snapshot of

[2017-01-17 16:44] ethanwhite commented on #90
I just did a little looking around and came across [this description](http://help.ebird.org/customer/portal/articles/1010524-can-i-download-raw-data-from-ebird-) of how to currently get the data. I then started the process for requesting the data again (I've done this in the past, but apparently that permission expires). In general I would say that while there's clearly some desire to make the dat

[2017-01-18 18:09] emchristensen opened #773 "Installs into sqlite failing on Windows 10, Python 2.7"
I get an error when trying to run command "retriever install sqlite wine-quality" (same problem with wood-density too)
installing as csv, json, or xml works fine
running on windows 10, using python 2.7

[code]

[2017-01-18 19:54] ethanwhite commented on #773
Thanks @emchristensen. Are those two datasets the only two you tried using SQLite or were some things installing successfully?

Also, can you open Python run the following and let us know what it returns:

[code]

Thanks!

[2017-01-18 22:16] ethanwhite opened #774 "Catch errors when `install` and `download` are run w/o arguments"
Running `install` and `download` without the name of a dataset triggers a messy Python error. We should report the associated usage help instead.

[code]

[2017-01-19 00:04] henrykironde commented on #773
Yes this looks like an sqlite3 version problem. Very old sqlite3 versions will not work. Update and let me know if the error prevails. I did not update docs because the versions that don't work end in 2013.

[2017-01-19 00:08] henrykironde opened #775 "Update sqlite minimum version in docs"
Older versions of sqlite do not work with the current engine design. The sqlite engine is currently using multi-valued insert and not supported by holder version especially 3.7.
Any recent version 2016 and above are fine.

[2017-01-19 14:44] emchristensen commented on #773
It says I have version 3.6.21

[2017-01-19 14:46] emchristensen commented on #773
And I just tried it with a few more datasets, I get the same "syntax error" with all of them.

[2017-01-19 15:16] ethanwhite commented on #773
Thanks @emchristensen. The version is definitely the issue. Now we just need to figure out why such an old version is getting distributed with Anaconda Python...

[2017-01-19 16:32] emchristensen commented on #773
I deleted and re-installed Anaconda, and now it works!

[2017-01-19 16:35] henrykironde commented on #773
Could you check the version again?

[2017-01-19 16:42] emchristensen commented on #773
3.8.11

[2017-01-19 16:56] ethanwhite commented on #773
I had Morgan update her Python and that took care of it as well. Thanks for the help @emchristensen!

[2017-01-19 16:56] #773 closed

[2017-01-20 02:14] ShivamNegi commented on #756
I would like to work on this issue. All the json files under the ./scripts folder need to be changed, right?

[2017-01-20 02:50] ethanwhite commented on #756
@ShivamNegi - oops, this should have been closed as it was implemented in d2645078c87670a447e7457bf133567ccee8ca44. Sorry about that.

It's great that you're looking for more things to work on. Let me know if you need any help or suggestions. I'll take a quick glance through the issues and make sure there isn't anything else that didn't get closed properly so this doesn't happen again.

[2017-01-20 02:50] #756 closed

[2017-01-20 02:51] ethanwhite commented on #764
Closed by 71f4639. Thanks again @ShivamNegi!

[2017-01-20 02:51] #764 closed

[2017-01-20 02:52] ethanwhite commented on #754
Implemented in d2e33d7de406d7c638c61d105a3d914e5b2af00a.

[2017-01-20 02:52] #754 closed

[2017-01-20 02:52] ethanwhite commented on #755
Implemented in 4bfc4abf59b320ef88f0291928ac1173dee72690.

[2017-01-20 02:52] #755 closed

[2017-01-20 02:55] ethanwhite commented on #688
@ahhurlbert - can we set up some time for me to screen share with you on this machine? We recently did installs on a bunch of Windows machines and haven't been able to replicate.

[2017-01-20 08:22] ShivamNegi commented on #741
What about the scripts which are behind the version mentioned in the `version.txt`. There are three instances of these namely `Car.json`, `WineQ.json`, `BreastCancer.json`. Could you explain the part of what is to be done with the `try_run_all.py`.

[2017-01-20 13:25] ethanwhite commented on #741
That shouldn't generally happen in the repository. Because when a script is updated the `version` should be incremented and `version.py` should be rerun. I can see accidents happening in the presence of merge conflicts, but in this case...

Following da37cd these files are no longer in `master`. If you're still seeing them I would recommend doing the following if you have this repository set up as

[2017-01-21 02:50] henrykironde commented on #774
@ethanwhite could you try to run that command `retriever install` if error,
followed by `retriever reset`

[2017-01-21 09:30] Parth-25m commented on #774
I think that the issue has been resolved.

[2017-01-21 10:02] henrykironde commented on #774
@Parth-25m did you try to run `retriever install`?

[2017-01-21 11:56] Parth-25m commented on #774
yes

`retriever git:(master) retriever install

usage: retriever install [-h] [--compile] [--debug]
                     {mysql,postgres,sqlite,msaccess,csv,json,xml} ...

retriever install: error: too few arguments

➜  retriever git:(master) ✗ retriever download

Exception: no dataset specified.
`

[2017-01-22 13:53] ShivamNegi commented on #741
I am having a problem with the script file names. While making the test script for checking script versions, I am importing the scripts under the `retriever/scripts` folder. Due the the file names having a `-` character in them python is not able to import these file. eg. `breed-bird-survey.py`. I have found some workarounds for this but I think it would be better to rename all the files with prop

[2017-01-22 14:27] ShivamNegi commented on #715
I am working on this. Can you tell me the command to use to test the `engine.py`.

[2017-01-22 14:33] ShivamNegi opened #777 "Update for README.md required"
Due to the changes in file naming that has taken place. Some changes need to be made in the `README.md`.

[2017-01-23 15:18] ethanwhite commented on #741
Can you provide a specific example of the problems you're running into? Python doesn't allow `-` in variable names, but it should be fine with reading files with those names. I'm open to using `_` if it's a real problem, but `-` is more common in the package managers I've worked with.

[2017-01-23 15:20] ethanwhite commented on #774
Looks like this might be a Python version number difference. On Ubuntu using Python 2 I get the correct behavior, but using Python 3 I get the error reported above. Can anyone else confirm that this is the source of the different behaviors?

[2017-01-23 15:24] ethanwhite commented on #715
To run the full test suite you can use `py.test`.

To just run the unit tests `py.test -k "test_retriever"`.

The integration tests run some tests to make sure that the cross tab functionality is working and can be run with `py.test -k "integration"`.

Let me know if you had something else in mind.

[2017-01-23 16:43] zhangcandrew commented on #774
I am on Ubuntu, running Python 3 with the most current version of retriever. I am also getting the error above, mentioned by Ethan.

[2017-01-23 17:11] zhangcandrew commented on #736
This issue was resolved after a discussion in #753.

[2017-01-23 17:11] #736 closed

[2017-01-23 17:19] ShivamNegi commented on #741
I was thinking of importing the scripts for testing. If reading is a better way to get the script versions then there is no problem.

[2017-01-23 17:22] ethanwhite commented on #741
Ah, I see your point now. Thanks. We are importing these, but we must be doing it in a non-standard way since it's handling the dashes.

@henrykironde - what are your thoughts on this. Since these are .py files should we rename them with `_` so they can be imported in the usual way?

[2017-01-23 17:58] henrykironde commented on #741
I am not really sure the exact problem @ShivamNegi is facing. Could you explain to me the issue in detail. For the naming convention we could follow the recommended use of `_` rather than `-` . And if that solves the problem you are facing, go ahead and make a PR.

[2017-01-23 18:02] henrykironde commented on #774
This could be a permission issue, could you give me the sequence of  command you are running including the command you are using to install

[2017-01-23 18:03] ShivamNegi commented on #741
`import breed-bird-survey`
gives an error in python due to the presence of `-` in the filename. Though the script can be import using `__import__`, which is non-standard.

[2017-01-23 18:05] henrykironde commented on #741
Okey I get it thanks

[2017-01-23 18:07] ethanwhite commented on #774
[code]

@henrykironde - are you not seeing this on Python 3?

[2017-01-23 18:13] ethanwhite commented on #741
OK, so the recommendation for [naming Python modules from PEP 8](https://www.python.org/dev/peps/pep-0008/#package-and-module-names) is:

So, my suggestion at this point is to use `-` in the `name` field in the module (since that's standard for naming in package management systems) and use `_` in place of `-` for the filenames to follow Python convention.

Thoughts?

[2017-01-23 18:21] ShivamNegi commented on #715
I want to locally test the change I have done in `def get_ct_data`, which is under `./lib/engine.py`. How can I go about this?

[2017-01-23 18:34] ethanwhite commented on #715
Ah, got it. To do a local install go to the top level directory of the repository and run:

[code]

You can then run the `retriever` commands as you normally would, but it will include the changes you've made.

As part of checking to see if you're changes worked you'll also want to check to make sure they didn't break anything. You can do this by running:

[code]

from the same directory. You'll n

[2017-01-23 20:03] henrykironde commented on #774
my errors vary, I am going through it to find why there is a difference

[2017-01-24 12:44] ShivamNegi commented on #715
Thanks.

[2017-01-24 14:03] Parth-25m commented on #693
I have converted xml to csv using this url : http://www.usanpn.org/npn_portal/observations/getObservations.xml?start_date=2012-01-01&end_date=2012-01-03&request_src=data-retriever-test

But in this url there is no separate data file for plants and animals.
So should I separate plants and animal in different csv or keep them in one csv?

[2017-01-24 15:47] henrykironde commented on #693
@Parth-25m great, however there is work in progress PR #768  related to npn dataset,
The current problem is we if we fetch an entire year, we have lots of data, if you could look through the code and make changes to iterate per month or every 3 months instead of annual. In this way we could be able to use the code.

[2017-01-24 15:48] henrykironde commented on #693
@Parth-25m feel free to let me know what you think

[2017-01-24 20:22] Parth-25m commented on #693
@henrykironde I can do that

[2017-01-25 02:38] ShivamNegi opened #778 "Version.py throws error when run in python2"
`str` has no attribute `casefold` in python 2. I suggest we change the `casefold` to `lower` to correct this.

[2017-01-25 13:25] ethanwhite commented on #778
Agreed.

[2017-01-25 15:01] #777 closed

[2017-01-25 15:46] ShivamNegi commented on #778
#781 done.

[2017-01-25 15:56] ShivamNegi commented on #741
I agree to naming with `_`. PEP 8 naming conventions also say so.
https://www.python.org/dev/peps/pep-0008/#package-and-module-names

[2017-01-26 12:47] Parth-25m commented on #693
#783 @henrykironde I have updated your file to fetch data in iterations of 3 months

[2017-01-26 21:43] #774 closed

[2017-01-26 21:44] ethanwhite commented on #778
Fixed in 509dd5802a4dab8fae61650bf39e389eb14a4945.

[2017-01-26 21:44] #778 closed

[2017-01-26 21:44] ethanwhite commented on #778
Thanks @ShivamNegi!

[2017-01-27 10:17] ShivamNegi commented on #741
I have only made the test script till now.

@ethanwhite where you referring to `try_install_all.py`?
The function that would be equivalent to the `try_install_all.py` should be made as a new script? Or should I add it in the test file itself.

[2017-01-30 18:48] ahhurlbert commented on #688
@ethanwhite and I will try to resolve this while he's here in NC this week.

[2017-02-03 18:10] henrykironde commented on #331
I can't get the exact problem set scenario.
Since Auto-numbered is a field we create, a case in which we skip it is a little abstract to me.

[2017-02-03 18:57] henrykironde commented on #741
` try_install_all.py` , gets all the scripts and runs them over the data base engines.
We shall take the design from ` try_install_all.py` and provide the new function/test with the value of the new scripts.
In other words, the new test module/function you are designing should have most of the part as in ` try_install_all.py`, but it will instead take a list of values(these are the new scripts) as

[2017-02-03 19:01] henrykironde opened #786 "Update Portal script to get all datasets from the GitHub repository"
The [home](http://esapubs.org/archive/ecol/E090/118/) page of the [portal dataset](https://github.com/weecology/retriever/blob/master/scripts/portal.json) has more data that need to be included.

[2017-02-03 21:27] henrykironde opened #788 "Builds fail on python3"
when running [build_win](https://github.com/weecology/retriever/blob/master/build_win)
Could not import pyodbc
- pyodbc has an error on python 3

Tried:
http://stackoverflow.com/questions/39492762/pyodbc-module-does-not-work-with-python3

[2017-02-06 04:05] ethanwhite commented on #331
OK, let's go ahead and close this for now. There are also no current uses of `skip` in any of the scripts.

[2017-02-06 04:05] #331 closed

[2017-02-14 19:17] dmcglinn opened #792 "Incorporate the PREDICTS database release"
This is an impressive global database on species richness and abundance - it seems well suited for the `retriever`

http://data.nhm.ac.uk/dataset/902f084d-ce3f-429f-a6a5-23162c73fdf7

[2017-02-14 19:23] ethanwhite commented on #792
Totally agree.

I tried to do this right when it came out but there was no direct download link. I've been corresponding with the folks in charge and they provided this link:
http://data.nhm.ac.uk/dataset/the-2016-release-of-the-predicts-database/resource/78dac1a9-6aa0-4dcb-9750-50df04f8ca6e/download

We are allowed to use it for the retriever, but we're not supposed to advertise it more broadly.

[2017-02-15 13:20] ethanwhite commented on #786
In addition to getting all datasets (not just the rodents) let's also update to use the GitHub repository:

https://github.com/weecology/PortalData

The main `portal` script should use the latest release and we should add a separate `portal-dev` (or something equivalent that uses `master`. The access to `master` will be useful for our Portal Forecasting project (e.g., https://github.com/weecology/

[2017-02-15 13:35] dmcglinn commented on #792
ah yea I see now that they want your email address to download the files. Nice job getting that direct link!

[2017-02-15 17:42] tomauer commented on #90
@ethanwhite You make a lot of good points about the "openness" of the data. We're talking about it here and may end up revising some of terms in the future. Most of this is quite a ways above me. Thanks for your feedback.

The current API does only support recent sightings, but there is a new API that is in the works that should have more features.

[2017-02-15 18:21] ethanwhite commented on #90
Thanks @tomauer. I greatly appreciate your engaging with this. Let me know if there's anything I can do to help at any point.

[2017-02-15 18:50] ShivamNegi commented on #741
Thanks. I see that the `version.txt` has been changed. Which now does not conform to the `version.py` output. Can you tell me from where this new `version.txt` is being created?

[2017-02-16 17:52] ethanwhite commented on #741
@ShivamNegi - I suspect that what's happening is that you have some old scripts cached that have now been renamed. Can you run `retriever reset scripts` and then try running `version.py` again and see if that cleans things up?

[2017-02-16 17:53] ethanwhite commented on #741
Oh, and you'll need to run `retriever update` as well. So:

[code]

[2017-02-17 16:30] ShivamNegi commented on #741
I am unsure on how to structure the script. Should it be divided into two separate scripts. One under /test as the test script which checks script versions and other as `./try_install_modified.py`. Where the `try_install_modified.py` is called when test fails for modified scripts.

[2017-02-18 00:13] henrykironde opened #795 "Tests for 2.0.0 version release"
Hi everyone, we are wrapping up the release of the data retriever 2.0.0. Kindly asking for your time to try the tool out. We have installer for windows, linux and mac. Use the appropriate  installer to test out the software.  Downloads are available. And If you have a question please let me know. Remember if you installed the retriever from source using pip, make sure you uninstall it first. Use `

[2017-02-18 20:00] ethanwhite opened #796 "Update docs"
* `ecoretriever` -> `rdataretriever`
* Update `retriever --help` output
* Expand description of CLI with more details.

[2017-02-19 18:38] ShivamNegi opened #797 "GSOC idea: Add Spatial Data Support to the Data Retriever"
I would like to know more about this idea. Could you help me with insight of the project goals and implementation requirements. Thanks.

[2017-02-20 16:23] emchristensen opened #798 "install to msaccess error"
When I try to install a dataset to msaccess I get the error:
Couldn't create table (no module named 'pypyodbc')

I've tried doing "pip install pypyodbc --upgrade" which seems to work, but doesn't help with the retriever error.

I'm on a windows 10 machine

[2017-02-20 16:23] ethanwhite commented on #795
You can also test `pip` based installs using:

pip install git+https://git@github.com/weecology/retriever.git

[2017-02-20 16:30] henrykironde commented on #797
@ShivamNegi, The Data retriever handles tabular data from fetching it to cleaning and installing this data into the respective database systems like Postgres, Mysql, sqlite, csv and etc. The Data retriever also handles spacial data but to a limited support. The tool can fetch spacial data to your local system, however no installation of this data into any database management systems is supported.

[2017-02-20 18:56] ethanwhite commented on #795
You can also test the R package using:

[code]

[2017-02-20 19:46] ahhurlbert commented on #795
All good now on my previously bonking Windows 8 machine after reinstalling Anaconda

[2017-02-20 19:47] ahhurlbert commented on #688
After updating my Anaconda install from scratch, this error (which seemed to be an error in a base python parse function) now seems to be resolved.

[2017-02-20 19:47] #688 closed

[2017-02-20 20:12] ethanwhite commented on #688
🎉 That's great news. Thanks Allen!

[2017-02-22 13:40] Parth-25m opened #801 "Question about Python and Julia Interfaces for the Data Retriever."
@ethanwhite @henrykironde
What do you mean by adding native Python Interface? Does it mean implementing GUI for retriever?
Also what is wrapping CLI in Julia ? Is it making Julia as frontend and python as backend?

[2017-02-22 13:45] ethanwhite commented on #801
@Parth-25m Right now the package has a command line interface, but no proper interface in Python and nothing in Julia.

This would create a Python interface so that you could run everything directly from inside Python programs, e.g.,

[code]

The Julia part is basically to create a Julia frontend for the Python backend, yes. So basically just an equivalent to the [existing R package](https://githu

[2017-02-22 13:51] Parth-25m commented on #801
Yes, thanks for the answer.

[2017-02-22 13:56] ethanwhite commented on #798
Is this install done using the Windows installer (the .exe)? If so then I think we packaged the wrong ODBC package with it.

[2017-02-22 14:10] emchristensen commented on #798
Yes I used the .exe

[2017-02-22 14:14] ethanwhite commented on #798
Thanks. @henrykironde will rebuild that package and have you test again.

[2017-02-22 15:07] ShivamNegi commented on #797
Yr

[2017-02-22 17:52] davharris opened #802 "Mac app bundle"
From @ethanwhite, I understand that the .app bundle on the mac doesn't need to do anything for retriever to work (because there's no GUI anymore).

Would it be possible to make it so that double-clicking the .app bundle brings up a little window with the rest of the installation instructions? Or a link to the correct section of the web site?  I think a lot of users will just try double-clicking th

[2017-02-22 17:53] sdtaylor commented on #795
On ubuntu:

- [x] debian package
- [x] rdataretriever + debian package
- [x] anaconda pip install from github
- [x] rdataretriever + anaconda pip install from github

[2017-02-22 18:06] davharris commented on #802
Alternatively, making a DMG is pretty easy.  I just followed the steps on this page: http://www.wikihow.com/Make-a-DMG-File-on-a-Mac

The dmg is nice because you can add a background image or a README file with instructions

[2017-02-22 18:23] emchristensen commented on #798
after installing with the new .exe, I now get the error "Access Driver is not found"

[2017-02-22 18:31] MarconiS commented on #795
on MacOs Sierra  10.12.3 (16D32)
All good, included rdataretriever, anaconda pip installer and retriever app

[2017-02-24 05:04] henrykironde opened #804 "Update the readthedocs description"
The description of the project is old

[2017-02-24 14:57] henrykironde commented on #804
@ethanwhite Check out https://github.com/rtfd/readthedocs.org/issues/2668

[2017-02-26 02:19] henrykironde commented on #804
Closing  because I updated the description. Any further updates later are welcome.

[2017-02-26 02:19] #804 closed

[2017-02-26 02:21] henrykironde commented on #796
Updated as of 2.0.0 release

[2017-02-26 02:22] #796 closed

[2017-02-26 02:24] henrykironde commented on #795
Thanks everyone who contributed to the release of 2.0.0. We really appreciate the efforts, and being part of the endeavors to make science better and smooth.

[2017-02-26 02:24] #795 closed

[2017-02-26 02:26] henrykironde commented on #788
Resolved. I think there was some slight problem but it didn't happen again

[2017-02-26 02:26] #788 closed

[2017-02-26 02:28] henrykironde commented on #775
fixed in #782

[2017-02-26 02:28] #775 closed

[2017-02-26 02:28] #752 closed

[2017-02-26 02:39] henrykironde commented on #584
I am closing this. It is good for now

[2017-02-26 02:39] #584 closed

[2017-02-26 02:44] henrykironde commented on #439
We have worked on this part and I feel that we have designed the `install` and `update` to the specifications that we felt best.

[2017-02-26 02:44] #439 closed

[2017-02-26 03:03] henrykironde commented on #377
We updated the required versions in docs and updated the source to perform bulks appropriately.

[2017-02-26 03:03] #377 closed

[2017-02-26 03:12] henrykironde commented on #666
Closing this issue. I have installed Postgres several times and I didn't have this issue. Any one experience this at any time, please feel free to reopen the issue.

[2017-02-26 03:12] #666 closed

[2017-02-27 16:38] ethanwhite opened #809 "Add `description` field to dataset list?"
Someone just [asked on Twitter](https://twitter.com/lexnederbragt/status/836252543831396353) about having more info on each dataset on the dataset list page in the docs. I think we maybe talked about including the `description` field at some point and decided it was too much, but looking at that page now I definitely think having the opportunity to see that additional info would be useful. We shou

[2017-02-28 23:03] jainamritanshu commented on #809
Sir I would like to work on this. Could you help me proceed on this?

[2017-02-28 23:32] henrykironde commented on #809
@jainamritanshu, unfortunately this is already finished, Just waiting to put in a PR.

[2017-03-01 06:17] ShivamNegi commented on #797
So If I understood right. Python scripts will have to be made for installing above mentioned GIS formats in Postgis. These scripts will be added under `./engines`. Retriever already has support for non GIS data formats. For adding support for GIS file formats scripts can be divided into three phases  -
1. Adding Postgis in the build.
2. Downloading the different file formats like Esri grid, GeoTIF

[2017-03-01 10:06] articuno12 commented on #676
Hi ! I am new here.If this bug is not fixed then can I take it?

[2017-03-01 12:36] jainamritanshu commented on #716
@henrykironde @ethanwhite I would like to work on this issue

[2017-03-01 13:23] henrykironde commented on #716
sure go for it

[2017-03-01 14:41] jainamritanshu commented on #716
@henrykironde should there be an option for the user to change the encoding through command line?

[2017-03-01 14:47] henrykironde commented on #716
no it should only be the scripts that could change the default encoding

[2017-03-01 15:00] henrykironde commented on #797
Pretty much. So for Postgis we can add the scripts to the postgres engine in` ./engine`.

[2017-03-01 18:06] kunalpal commented on #683
Hi @henrykironde, @ethanwhite, I am working on this. The `version.py` file is more related to managing the repository rather than the core code. Should I keep it outside the core?

[2017-03-01 18:12] ethanwhite commented on #683
Yes, `version.py` should be in the root directory. I believe this is mentioned in the docs linked above. One tricky thing that you'll need to look out for is that existing releases download files from the current `scripts` directory so that directory will probably need to remain in the root directory.

[2017-03-01 18:12] ethanwhite commented on #683
Also, welcome and thanks for contributing!!

[2017-03-01 18:19] kunalpal commented on #683
Thanks. And yes, I have kept the test and the scripts on root directory. Only the codes strictly necessary for any user to import has been moved.

[2017-03-01 19:21] kunalpal opened #812 "Skip compiling .json files to .py files"
Hi, Is there a reason for compiling [file].json files to [file].py files? We can generate Script class instances directly from the loaded json files. So, what are the benefits of using the current approach?

[2017-03-01 21:34] jainamritanshu commented on #812
@kunalpal correct me if I am wrong, but as far as I have understood the flow of Data Retriever, the .json files are used for [datapackaging](https://specs.frictionlessdata.io/data-package/). As the documentation states -

There is a `lib/templates.py` which makes a `class Script(object)` which behaves as the parent class for the scripts in python. Instances of this class are created in individual

[2017-03-01 21:36] henrykironde commented on #812
Correct

[2017-03-01 21:42] henrykironde commented on #812
@kunalpal, feel to create a PR based on the design you feel we should adopt. I will be more than happy to go through it.

[2017-03-01 21:44] kunalpal commented on #812
Thanks @jainamritanshu and @henrykironde . I certainly will..:) Keeping this open till then.

[2017-03-02 08:13] ShivamNegi commented on #134
I am working on this issue.

[2017-03-02 14:27] ethanwhite opened #815 "Add autocomplete for commands and dataset names"
As we add more and more datasets making it easier to remember their names would be useful. One option for doing this is [argcomplete](https://argcomplete.readthedocs.io/en/latest/).

[2017-03-02 14:29] kunalpal commented on #815
I am looking into this.

[2017-03-02 14:33] ethanwhite commented on #809
Fixed by 148ceb37460f5c29056561ac5d32587486337569.

[2017-03-02 14:33] #809 closed

[2017-03-02 17:16] kunalpal commented on #815
I have introduced completion for datasets, json files and keywords with `argcomplete` so far. Should `argcomplete` be included in required packages? Also, `argcomplete` requires running `activate-global-python-argcomplete` and `eval "$(register-python-argcomplete retriever)"` after installation. Should I modify `setup.py` accordingly?

[2017-03-02 17:18] ethanwhite commented on #815
Yes to both. Thanks!

[2017-03-02 21:50] jainamritanshu commented on #792
@ethanwhite I would like to proceed on this. Shall I?

[2017-03-03 02:13] henrykironde commented on #792
@jainamritanshu, go for it

[2017-03-03 13:51] jainamritanshu commented on #792
@ethanwhite @henrykironde Sorry if I am missing something. I have created the json script of PREDICTS but the python script has not been created. I saw the comment in `def compile_json`(file `lib/compile.py`) that the command to do so is `retriever create_json <script name>`. When I do so, the cli tells me that it is an invalid argument. The exact error I got -
`retriever: error: argument command:

[2017-03-03 15:49] ShivamNegi commented on #792
I think that the argument you are searching for here is ```new_json```. You can view all the options using ```retriever -h```.

[2017-03-03 15:54] jainamritanshu commented on #792
@ShivamNegi I made the .json file using `new_json`. As I stated

But the .py file script wasn't created and as you can see in the screenshot -
![screenshot from 2017-03-03 21-22-35](https://cloud.githubusercontent.com/assets/15127027/23557865/931d4344-0057-11e7-98e7-1921bc68f471.png)

I saw the comment that stated that I need to execute the command `retriever create_json <script name>`. So I got c

[2017-03-03 15:58] henrykironde commented on #792
Sorry, we forgot to change the docs. You could PR the changes to correct that.

[2017-03-03 15:59] jainamritanshu commented on #792
@henrykironde Will do that :)

[2017-03-03 16:32] ShivamNegi commented on #134
I want some help here. I have updated the ```./lib/templates.py``` to incorporate ```--not-cached``` argument. But there are still many scripts which are not using the ```class BasicTextTemplate``` for downloading. These scripts have their own download functions. I can't seem to find any other way than to go in each file and change its download function. Any thought on how to go about incorporatin

[2017-03-03 17:18] KristinaRiemer opened #819 "Add option to install Vernet datasets separately"
Currently when someone installs the Vertnet dataset, it automatically downloads all five datasets (Amphibian, Reptile, Mammal, Bird, and Fish). Because they're so large, it would be helpful to have the option to specify downloading only one of the five datasets at a time, especially because some people will only need/use one of them.

[2017-03-03 17:20] kvnamipara commented on #702
I am unable to open csv file. error is showing as below.
![screen shot 2017-03-03 at 10 48 48 pm](https://cloud.githubusercontent.com/assets/18012563/23561284/a2e2deea-0063-11e7-874d-91711d3c137a.png)

[2017-03-03 18:17] ethanwhite commented on #702
Interesting, when I go back through the data page and get the link it is slightly different than the one I originally grabbed: https://data.cityofnewyork.us/api/views/5rq2-4hqu/rows.csv?accessType=DOWNLOAD

I wonder if what role the `5rq2-4hqu` is playing. Is it some sort of randomly changing session type code, in which case this would make things more difficult, or did something just happen to ch

[2017-03-03 18:18] ethanwhite commented on #702
@kvnamipara - thanks for looking into this. I think it would be great to go ahead and develop a JSON file using the above link and then we can dig into why that ID might be changing.

[2017-03-03 18:37] ethanwhite commented on #702
I have a query in with the person I know that's involved with the project to find out more about that ID.

[2017-03-03 21:31] jainamritanshu commented on #765
@ethanwhite I am working on this

[2017-03-04 03:18] kvnamipara commented on #702
@ethanwhite I am working on this issue. If you got reply from the person, please let me know.
thanks.

[2017-03-04 16:49] kvnamipara commented on #702
@ethanwhite  I have made json file, but i am facing issues in testing. Please help me, I have already checked developer's guide in website. Do i have to test on each, mysql, postgresql?

[2017-03-04 16:54] henrykironde commented on #702
@kvnamipara could you put in a PR for review. We can discus more using what you have done

[2017-03-04 19:42] kvnamipara commented on #786
@henrykironde @ethanwhite
Do we need to create separate json file for ant,plant and precipitation dataset or we want to add it by modifying portal.json .

[2017-03-04 19:48] ethanwhite commented on #786
Let's modify the current json file to get it all at once.

[2017-03-04 21:01] ethanwhite commented on #702
I heard back from the NYC TreeCount folks and the link should be stable now.

[2017-03-05 09:24] kvnamipara commented on #786
@ethanwhite
Dataset for plant is given category wise like annual, perennial, summer, winter, and also year wise. **Data set for ants and precipitation is also given category wise.**

I updated portal.json for Portal_plant_summer_annual_19831988 data.

Do we want to make separate table for different dataset(like portal_plant_winter_annual_19831988 ,etc.) or we want to add all data to one plant tabl

[2017-03-05 17:31] ethanwhite commented on #786
@kvnamipara we should actually be getting the Portal Data from https://github.com/weecology/PortalData (see the 1st comment on this issue). Sorry for the confusion. We want the data from the most recent release, so we should use links of the form:

https://raw.githubusercontent.com/weecology/PortalData/v1.0.1/Rodents/Portal_rodent.csv

If we're doing this using a JSON file.

[2017-03-05 17:49] zhangcandrew commented on #819
@henrykironde Do you think it'd be better if we made 5 different scripts instead of 1 with the option to choose from any of the 5 included?

[2017-03-05 18:13] kvnamipara commented on #786
@ethanwhite  I got this. but portal data from https://github.com/weecology/PortalData include many other data(like ants, weather). Should I include other data to this portal dataset?

Which is more better, JSON or python script? why?

[2017-03-05 18:40] ethanwhite commented on #786
We want all of the csv files in the Ants, Plants, Rodents, Weather, and SiteandMethods directories. (I have an issue in asking why the main plant table is split in half: https://github.com/weecology/PortalData/issues/54).

In general JSON is better for cases where it will work. It is part of [a standard](http://frictionlessdata.io/guides/data-package/) and simpler to create and understand. The onl

[2017-03-05 18:51] ethanwhite commented on #819
Seems like we have a couple of choices here:

1. Keep the current scripts and add additional scripts for each separately `vertnet-amphibians`, `vertnet-reptiles`...
2. Just have separate scripts for each separately `vertnet-amphibians`, `vertnet-reptiles`..., without an "everything script
3. Leave things they way they are

I don't see any harm to (1), except that we'll need to remember to update 6

[2017-03-05 19:25] henrykironde commented on #819
I will go with, Keep the current scripts and add additional scripts for each separately vertnet-amphibians, vertnet-reptiles...

If anyone wants to work on this, tag your self or comment.

[2017-03-05 19:32] zhangcandrew commented on #819
I thinks that's a good way to handle the situation, since they will still have the option to download data sets from vertnet if they would like to. In the future, would it be worth it to add a feature that lets users download multiple datasets in one command?

Something like:
[code]
to install csvs for the iris, portal, and pantheria datasets all at once?

[2017-03-05 21:18] ethanwhite commented on #819
Yes, that would be great!

[2017-03-05 23:33] ethanwhite commented on #797
Hi @ShivamNegi - glad to hear your interested in this one. Spatial data is becoming a such a common format it would be great to actively support importing it into databases.

In addition to PostgreSQL + PostGIS we'd also like to support SQLite + SpatiaLite.

[2017-03-06 00:29] jainamritanshu commented on #325
@ethanwhite @henrykironde I would like to work on this.

[2017-03-06 13:05] ShivamNegi commented on #819
I would like to work on this.
So 5 new scripts need to be made namely ```vertnet-amphibians```, ```vertnet-birds```, ```vertnet-fishes```, ```vertnet-mammals```, ```vertnet-reptiles```.
@zhangcandrew that would be a very useful addition.

[2017-03-06 13:22] henrykironde commented on #819
Yes

[2017-03-06 14:03] ShivamNegi commented on #819
How do I add a new script to Data Retriever list?
[code]

[2017-03-06 14:22] henrykironde commented on #819
You need to create a new script in the script folder. For this case you will copy the [vertnet.py](https://github.com/weecology/retriever/blob/master/scripts/vertnet.py),  and rename the copy with the new name say `vertnet_amphibians`

In the file, remove variables that are not for vertnet_amphibians.
Do the same for  the others.

Whenever we create a new script or edit a script, we have to update

[2017-03-06 18:07] ShivamNegi commented on #819
I have created ```vertnet_amphibians.py``` under the ```scripts``` folder. But on running ```version.py```  there is no new entry for ```vertnet_amphibians.py``` getting created in ```version.txt```. Hence on running the command I get this error message
[code]
I even ran ```retriever update```, to no effect. Could you please help.
I think the reason for this is that a ```.pyc``` is not getting gen

[2017-03-06 18:45] henrykironde commented on #819
Create a PR and I have a look at it

[2017-03-06 19:35] henrykironde commented on #716
@jainamritanshu, solved this issue.

[2017-03-06 19:35] #716 closed

[2017-03-06 19:40] henrykironde commented on #683
Closing, Fixed by @kunalpal  #811 merged into 29e5585

[2017-03-06 19:40] #683 closed

[2017-03-07 00:50] #815 closed

[2017-03-07 02:30] ethanwhite commented on #134
Implemented in bc0c2318a854de6c844bace6a28807f54328eae8. Thanks @ShivamNegi!

[2017-03-07 02:33] ethanwhite commented on #676
I think this has been fixed already. @henrykironde - can you confirm this?

@articuno12 - welcome, and thanks for your interest in contributing! We have a number of [issues labeled `getting-started`](https://github.com/weecology/retriever/issues?q=is%3Aissue+is%3Aopen+label%3Agetting-started) that we consider good starting points for people just getting familiar with the project.

[2017-03-07 02:36] ShivamNegi commented on #134
@ethanwhite after bc0c231. Running ```install``` output is shown below.
[code]
This can be fixed by adding a ```use_cache``` default argument in the ```download``` function of ```vertnet```.

[2017-03-07 02:48] ethanwhite commented on #134
Ah yes, thanks for catching that. This will actually cause issues for a number of files:

[code]

@ShivamNegi - do you have time to open another PR with the appropirate fixes?

[2017-03-07 02:50] ShivamNegi commented on #134
Yes, I will do that. After some time.

[2017-03-07 02:50] ethanwhite commented on #134
Thanks. Much appreciated.

[2017-03-07 03:01] ethanwhite opened #830 "Add regression test for a .py script"
We don't currently have any regression testing on `.py` scripts and that has lead to a couple of errors related to those scripts sneaking in in the past year (e.g., see #134). We should add one of these scripts (which ever runs most quickly) to the regression testing to avoid missing these sorts of things in the future.

[2017-03-07 03:02] kunalpal commented on #830
@ethanwhite, I would like to work on this.

[2017-03-07 03:07] ethanwhite commented on #830
Awesome. Go for it. The way the regression tests work is that they install a given dataset into all of the different output formats and then extract it from each of them into a csv file. The test is against a hash for that csv file that we've confirmed is correct (i.e., we've looked at the raw data and compared it to our csv and made sure the output looks right). Let us know if you have any questi

[2017-03-07 04:52] henrykironde commented on #676
Fixed

[2017-03-07 04:52] #676 closed

[2017-03-07 10:25] kapilkd13 commented on #708
Hi, I would like to work on this issue.

[2017-03-07 13:33] ethanwhite commented on #708
Great. Thanks @kapilkd13! Go for it and let us know if there's anything we can do to help.

[2017-03-08 16:28] jainamritanshu commented on #421
@ethanwhite @henrykironde I would like to work on this issue if it is still open

[2017-03-08 17:42] kvnamipara commented on #786
@ethanwhite As mentioned in Portaldata issue, they are updating cover with null value in file that contain data before 2015. But they have not made changes till now. Should i create json file with old data or with updated file containing cover.

Dataset are dependent on the organisation/people who collected the data. And if they update the data, there are chances that dataset file from which we ar

[2017-03-08 17:59] henrykironde commented on #421
Go for it, I  will PR you a branch that i was working on, you can start from there

[2017-03-08 18:14] henrykironde commented on #421
@jainamritanshu, the system with the branch is not with me but in case you need any clarification let me know

[2017-03-08 18:35] henrykironde commented on #702
@ethanwhite does this have a citation, cant seem to find away to cite this data

[2017-03-08 18:38] ShivamNegi opened #833 "Allow overriding cache option for specific scripts"
```--not-cached``` option doesn't work properly with some scripts:

[code]
These scripts are using their own ```download``` functions.

[2017-03-08 18:39] ShivamNegi commented on #833
@ethanwhite , I will take this issue myself as a continuation of #134 .

[2017-03-08 21:00] jainamritanshu commented on #421
Sure I will start working on the issue right away

[2017-03-08 21:42] ethanwhite commented on #786
Yes, and that certainly happens, but one of the strengths of the Data Retriever's approach is that a single change to the Data Retriever script will get things working again for anyone who uses our system. We are developing a system to regularly check if the underlying data has changed in a problematic way so that we can quickly update the scripts.

The final result for the portal data will be the

[2017-03-09 13:37] kvnamipara commented on #702
@ethanwhite @henrykironde
for some table we are mentioning schema and for some tables we are not. is there any particular criteria based on which we are writing schema?

[2017-03-09 16:27] ethanwhite opened #838 "Add CI testing against 2.0.0 <= Release versions"
This will help us avoid making any backwards incompatible changes to scripts.

[2017-03-09 19:20] ethanwhite commented on #702
@kvnamipara - the Retriever can auto-detect schemas in a lost of cases, so in the past we've generally added the schemas when we needed to for some reason. Examples of when this was the case included when headers were missing, when we wanted to change column names, or when there was something complicated happening with data types. That said, now that we have moved over to the datapackage standard

[2017-03-09 19:26] ethanwhite commented on #702
@henrykironde - I asked my contact there. Will report back the preferred citation if/when I hear something.

[2017-03-09 20:53] henrykironde commented on #702
Thanks Ethan, @kvnamipara, Sorry I forgot about the reply. But Ethan has explained it well.  I will go ahead and create an issue to include an explanation on the docs

[2017-03-09 21:09] henrykironde opened #840 "Update script writing documenation on fields"
From a conversation in one of the PRs, it's noticeable that we don't have documentations on somethings in the script, which may make things complicated

For example:
Why some scripts like the example below, just have links to the direct csv files and no columns/fields names, while others do have columns/fields names added
We should include such information in the docs

[code]

However like Ethan s

[2017-03-10 04:09] kvnamipara commented on #840
I am working on it.

[2017-03-10 15:25] ethanwhite opened #842 "Test coverage broken"
Our test coverage is currently reporting 0%. This happened when we moved to the standard Python package structure in 29e5585c5f22df22bdbf5679ff5e422b347fe552. Instead of checking the installed package like it was before:

[code]

It now appears to be checking the files in the package directory of the same name:

[code]

Presumably we just need to change the details of `py.test` line in `.travis.ym

[2017-03-10 19:43] kvnamipara commented on #786
@ethanwhite @henrykironde Should we consider unknown values as missing values?

[2017-03-12 08:23] kvnamipara commented on #840
@henrykironde @ethanwhite
In Documentation, In script creation example, name of table is given as `example-mammal`, while in created json file it is shown as `exMammal`.
![screen shot 2017-03-12 at 1 46 26 pm](https://cloud.githubusercontent.com/assets/18012563/23830190/cc715fb6-072a-11e7-9abd-e778b2ab4759.png)
![screen shot 2017-03-12 at 1 46 47 pm](https://cloud.githubusercontent.com/assets/1801

[2017-03-12 08:41] kvnamipara commented on #840
@henrykironde @ethanwhite
Should we change view of common task of Retriever like
![screen shot 2017-03-12 at 2 09 08 pm](https://cloud.githubusercontent.com/assets/18012563/23830303/b33def02-072d-11e7-9b7f-4ab98e2a86c1.png)
to number wise bullets per line like this
![screen shot 2017-03-12 at 2 09 25 pm](https://cloud.githubusercontent.com/assets/18012563/23830304/b4e392b2-072d-11e7-9763-94d9688d4

[2017-03-12 12:48] henrykironde commented on #840
`In Documentation, In script creation example, name of table is given as example-mammal, while in created json file it is shown as exMammal.`
 Yes change it

`Also should we update the example by giving example of addition of dataset which include addition of schema?`
Just giving the names would be fine.

`Should we change view of common task of Retriever like`
Go for it. i think it looks better.

[2017-03-12 14:02] jainamritanshu commented on #562
I would like to work on this if its still open :smile:

[2017-03-12 15:38] kvnamipara commented on #840
@henrykironde
`From a conversation in one of the PRs, it's noticeable that we don't have documentations on somethings in the script, which may make things complicated`
i am including `fields` section . Any other thing we should consider?

[2017-03-12 23:39] ethanwhite commented on #786
What file/column is this occuring in and how are unknown values being identified?

[2017-03-13 04:40] henrykironde commented on #562
Go for it

[2017-03-13 04:43] henrykironde commented on #840
I suggest making sure that all key values have an explanation.

[2017-03-13 17:19] kapilkd13 opened #847 "`edit_json` not working for files with `_` in their names"
`edit_json`  does not work properly with files having `_` in their name. This is due to the fact that script names and script.name can be different for a json file.

[2017-03-13 17:20] kapilkd13 commented on #847
Hi, I am working on this. Thanks

[2017-03-14 14:31] jainamritanshu commented on #847
@henrykironde @ethanwhite I guess this issue would be solved by #822 since this problem is probably due to internal naming of variables which is being solved in the pull request mentioned above.

[2017-03-14 14:33] henrykironde commented on #847
Could you test 822 it and confirm please.

[2017-03-14 14:45] jainamritanshu commented on #847
Sorry @henrykironde my bad. I guess the problem was [here](https://github.com/weecology/retriever/blob/master/retriever/lib/datapackage.py#L414) as while saving the file again it saves the file name as the title of the dataset which has '-' for separation. The problem could be solved by changing it.

[2017-03-14 17:57] dmcglinn opened #848 "Add Vanni et al. dataset - global database of nitrogen and phosphorus excretion rates"
This suggestion came from @emhart

[2017-03-15 02:09] kapilkd13 commented on #842
Hi @ethanwhite Can I work on this issue. If yes can you tell me how to obtain the coverage report mentioned above.

[2017-03-15 02:36] henrykironde commented on #842
@kapilkd13, the coverage is given by a service called codecov.https://codecov.io/github/weecology/retriever?branch=master
And we are passing the command in `.travis.yml`

Right now it reports 0%.  since we changed our directory structure,  I think we need to change the path of the tool.
https://github.com/weecology/retriever/blob/master/.travis.yml#L26

We have

[code]

but I think we should be ha

[2017-03-15 04:35] henrykironde commented on #842
@kapilkd13, thank you for the interests in solving this, I think we have found the error and I am putting in a pull request. Apparently we had to install using editable mode `pip install -e .` for coverage tests to work.

[2017-03-15 06:29] henrykironde commented on #693
fixed

[2017-03-15 06:29] #693 closed

[2017-03-15 11:08] #842 closed

[2017-03-15 11:47] kapilkd13 commented on #842
@henrykironde Great. It was a imp issue. I will look for some other significant issue. O can you suggest a issue that would help me with "Python and Julia Interface for retriever" Project. Thanks.

[2017-03-15 16:45] jainamritanshu commented on #121
@henrykironde @ethanwhite I am working on this issue.

[2017-03-16 03:05] kvnamipara commented on #440
@ethanwhite @henrykironde
I assume, Bulk insert means addition of file in the database if there is no need of cleaning of file.
What we want to add in documentation about this?

[2017-03-16 10:57] kapilkd13 commented on #306
Hi @ethanwhite  I would like to work on this problem.

[2017-03-16 13:41] henrykironde commented on #306
Yes go for it.

[2017-03-16 21:45] #840 closed

[2017-03-17 00:50] ethanwhite commented on #440
@kvnamipara - yes, that's basically right. Several database management systems have bulk insert functionality that allows one to very quickly import large amounts of clean data. These bulk insert approaches are stored in the `insert_data_from_file` functions in the individual engines.

This issue is a documentation task to help users make sure that MySQL and PostgreSQL are properly configured to a

[2017-03-17 20:03] ethanwhite commented on #833
Fixed in 3ac063c850c69d016ea45fbbce917ae387065546. Thanks @ShivamNegi!

[2017-03-17 20:03] #833 closed

[2017-03-17 20:04] ethanwhite commented on #819
Implemented in 489d45b2f70f75a710d32adbd40363cad9e47b40. Thanks again @ShivamNegi!

[2017-03-17 20:04] #819 closed

[2017-03-17 20:04] ethanwhite commented on #801
Closing since this seems to be all settled, but feel free to reopen if you have any more questions.

[2017-03-17 20:04] #801 closed

[2017-03-17 20:05] ethanwhite commented on #797
Closing for the moment, but feel free to reopen if you have more questions as you work on your proposal.

[2017-03-17 20:05] #797 closed

[2017-03-18 00:31] kapilkd13 commented on #566
Hi, Do we want to entirely remove the IGNORELIST,or just keep it there but still test its dataset. Also how do we know which dataset is not to be downloaded and should rather show a message.
Thanks.

[2017-03-20 03:32] henrykironde commented on #566
We have covered this.

[2017-03-20 03:32] #566 closed

[2017-03-20 05:18] kapilkd13 commented on #566
Great. :smiley:

[2017-03-20 17:10] dmcglinn opened #856 "Comprehensive search for site-by-species matrices"
Hey @ethanwhite is the team undertaking a comprehensive search of existing databases for site-by-species matrices? If you re interested it would be great to combine our energy into a more cohesive search of Dryad, ecol archives, etc. I noticed in #855 that it looks like all the ecol archive datasets will soon be available via the retriever which is amazing! My student @nathanbaker04 would be helpi

[2017-03-20 18:32] kapilkd13 commented on #137
Hi @ethanwhite In R interface https://github.com/ropensci/ecoretriever of Data Retriever, In case of a fetch command, we download our Dataset to a .csv file(only) and import that to data.frame.  So in Python Native Interface do we want a similar behavior, or we should allow users to specify which database they want to use to fetch, and then further import data from that database into pandas Datafr

[2017-03-21 12:17] ethanwhite commented on #137
@kapilkd13 - There's a bunch of good thinking in here. Nice work!

1. I would love to have the option of using different databases/file formats with csv as the default. So the interface would work something like `retriever.fetch('iris)`, retriever.fetch('iris', backend='postgres').

2. Yes, to fetching into a pandas data frame and `pandas.read_sql_table` should help make that easy.

3. The key thi

[2017-03-23 17:32] ShivamNegi opened #858 "Desgin complexity relating to adding a Python interface"
As mentioned in #137 and in gsoc project idea. A Python interface has to be developed for data retriever.
I am confused on how the file structure for this would be implemented.
The `__init__` file already contains the code for the CLI. In order to implement package capabilities alongside the CLI we will have to add functions for the package in `__init__`. Won't the functions of the CLI show up whe

[2017-03-23 19:18] ethanwhite commented on #858
The main CLI code is in `__main__` in the `main()` function. This function only gets executed if run from the command line.

Typically the way to get functions into `__init__` is through imports. Here's a standard simple example:
https://github.com/weecology/METE/blob/master/mete/__init__.py

So, we would want to create these Python interface functions somewhere and then import them. `main()` migh

[2017-03-23 19:30] kapilkd13 commented on #137
Hi @ethanwhite  I was going through Technical details of implementing python interface for retriever. I am little stuck at caching point. When we say we should use cache to save downloading and processing time, what I understood is When we load data into a `pandas Dataframe`. we should save it in cache using `pickle` or `HDF5`.   we should allow user to provide a option `use_cache`. If it is set t

[2017-03-23 20:29] ethanwhite commented on #137
Caching is actually built in already and happens by default so none of that needs to be built. There is a CLI flag that allows the cache to be overwritten and we would want that to be an optional names argument in any function that downloads data (download, install, fetch).

[2017-03-24 12:19] #858 closed

[2017-03-29 16:52] ethanwhite commented on #856
Hey @dmcglinn - other than #855 there's no push on site-by-species data at the moment. I don't think we have a ton of time to dedicate to it directly at the moment, but am happy to coordinate it through issues here and help new contributors with developing scripts etc.

[2017-03-31 15:38] zhangcandrew commented on #848
The dataset has been merged in #857! Closing this now. Feel free to open it again if any issue pops up with the Vanni dataset.

[2017-03-31 15:38] #848 closed

[2017-03-31 15:39] zhangcandrew commented on #707
Closing this for now after #849 was merged in! This can be reopened if any problems arise with the git hook.

[2017-03-31 15:39] #707 closed

[2017-04-03 20:39] henrykironde opened #862 "Move From Ecological Archives to Figshare"
Due to the new update in the organization of Ecological Archives, The datasets, and papers are now hosted on two servers ; the old Ecological archieves server`(unstable)` and on Figshare`(stable)`.

We have a task of moving the script's urls,(`homepage, and the URL links to the actual datasets, and changing filenames in some cases`).

To Solve this issue, I recommend searching Figshare  using cita

[2017-04-04 12:58] kvnamipara opened #863 "Do not cache data files after failed downloads"
While downloading dataset in csv format, if download fails due to any problem, partially downloaded file is stored.
when we rerun the command to install the data again, if the partially downloaded file is present, then retriever is not downloading it again. So the csv file only contains partial data only.
Please check once.

[2017-04-04 16:42] henrykironde commented on #863
Nice, could you give me an example dataset in which that happened for debugging?
And you trying to fix that issue?

[2017-04-04 16:51] kvnamipara commented on #863
@henrykironde
While i was doing local test to verify whether everything is working fine in `portal-dev`(#853). After download got interrupted due to network error, when i tried to rerun the install command, due to presence of partially downloaded file, Retriever didn't download the full version of file.

I think we have to make sure to store file if and only if it is completely downloaded.

Thanks

[2017-04-04 17:57] henrykironde commented on #863
I see, thats actually a good way to go.
But the implementation I have in mind is not feasible for all files downloaded from the internet.
`Reading the meta data of a file being downloaded to get the expected size
`
Unless the user knows the number rows he expects, I guess that will be hard to make perfect.
Let me know if you have a way to accomplish that.

[2017-04-04 18:38] ethanwhite commented on #863
What about modifying/improving the top-level error handling? I'm envisioning catching any errors in `__main__` and if an error occurs removing the data associated with that install and informing the user that something has gone wrong. If running with `--debug` then we can also return the associated error message.

[2017-04-05 07:52] kvnamipara commented on #863
@ethanwhite @henrykironde

I agree with above solution to catch error in `__main__` only.

We can also implement by adding feature of reseting individual dataset. Currently `retriever reset all`, remove all the script, data and connection. But ideas is to add one more option, for example `retriever reset portal-dev` will remove all the data for `portal-dev` dataset only. So now if error occur, we

[2017-04-05 17:04] zhangcandrew commented on #534
So it looks like to get this done we need a .md that has a format shown below, with the main points being:
* A list of the authors of the software
* Author affiliations
* A short summary describing the high-level functionality of the software
* A list of key references including a link to the software archive

[code]

Do we have anything like this already? I can start doing the writeup from scratc

[2017-04-05 17:11] zhangcandrew commented on #862
I can work on this, but just to make sure, are we changing all ecological archive script URLS to their Figshare counterparts?

[2017-04-05 17:14] henrykironde commented on #534
You have to start from scratch, go ahead and make a skeleton for that, I will give you the required details later

[2017-04-05 17:35] zhangcandrew commented on #386
I got the link as:
[code]
and just wanted to make sure that's the one we want before I make the script. It downloads the 2012 global CSV file.

[2017-04-05 19:32] #786 closed

[2017-04-06 12:58] kvnamipara commented on #863
@ethanwhite @henrykironde
Is above idea feasible or catching error in `__main__` is better? Thanks.

[2017-04-06 15:24] henrykironde commented on #863
Adding retriever reset [dataset] is a good add on.
However this does not actually solve the error.

Since it comes from downloading. We need to catch that error when the download fails.
To replicate this, try to install any large dataset and as it downloads, disconnect the internet connection and find the best place to add the try block.

[2017-04-06 17:29] dmcglinn opened #865 "Error message: cannot import name 'urlretrieve' on Windows 10 home"
The following retriever command generates an error:
[code]
The file is not downloaded

[2017-04-06 17:36] henrykironde commented on #865
@dmcglinn that is the problem with the server at http://esapubs.org
We have mentioned that in the #862 and therefore we are changing all ecological archive script URLS to their Figshare counterparts
Currently @zhangcandrew has offered to work on this, but I guess we shall need some more effort to get this done fast. I will chip in some time to get this up and running. Since you are using `mammal-c

[2017-04-06 17:36] #865 closed

[2017-04-07 02:25] kvnamipara commented on #863
@henrykironde Ok I will look for it. Thanks.

[2017-04-07 17:09] ethanwhite commented on #862
The ESA site has now been down for almost a full week and after several email exchanges with staff there I am not convinced this is going to be addressed any time soon. As a result I'd like to prioritize getting these links updated since it means a substantial fraction of our datasets are currently broken.

Here is the full list of datasets (23 of them) we need to deal with (based on a quick grep)

[2017-04-07 17:15] ethanwhite commented on #862
I'm going to work on the two `.py` scripts now.

[2017-04-07 17:22] dmcglinn commented on #865
thanks @henrykironde !!

[2017-04-07 17:26] henrykironde commented on #862
That is very true. Please make sure you only create one PR for each script. Testing these scripts will be very delicate.

[2017-04-07 17:36] ethanwhite opened #867 "Pre-commit hook causing error on Ubuntu"
Anytime I try to commit the pre-commit hook is currently producing an error:

[code]

Ubuntu 16.04.

[2017-04-07 17:40] ethanwhite commented on #862
Let's check things off of the list in this issue once PRs are submitted since the goal here is to coordinate the work and once a PR is in we don't want folks starting a new one.

[2017-04-07 17:43] ethanwhite commented on #862
I just put in PRs for `la-selva-trees` and `biomass-allometry-db`. Apologies if whoever check marked those was already working on it.

[2017-04-07 18:33] henrykironde commented on #862
One question; the citations of ESA differ from those on Figshare.
Do we change the original citation?

[2017-04-07 19:21] ethanwhite commented on #862
We should keep the original citations because those citations actually still stand. For example here's the `la-selva-trees` page:

http://onlinelibrary.wiley.com/doi/10.1890/0012-9658(2006)87%5B2132:TGMPCA%5D2.0.CO;2/full

[2017-04-07 20:04] zhangcandrew commented on #867
I will look into this tonight!

[2017-04-07 23:30] henrykironde opened #876 "update fray-jorge-ecolog data"
The data on the page has some seed data that is not currently included.

current figshare hopege: https://figshare.com/collections/Long-term_monitoring_of_mammals_in_the_face_of_biotic_and_abiotic_influences_at_a_semiarid_site_in_north-central_Chile/3305493

https://ndownloader.figshare.com/files/5625387 (Fray_Jorge_Seeds_20032005I.txt )
https://ndownloader.figshare.com/files/5625390 (Fray_Jorge_S

[2017-04-07 23:41] henrykironde commented on #862
Note: `amniote_life_hist.json` and `forest_plots_wghats.json` need to be converted to python scripts.
The data was zip to a single file

[2017-04-08 02:31] zhangcandrew commented on #862
I just wanted to add that in addition to what henry put, the following json files were also saved in .zip files on figshare, so they need to be converted to a .py file:

`pantheria.json`
`tree_deomg_wghats.json`

[2017-04-08 02:34] zhangcandrew commented on #862
I just put a PR up for the following scripts:

`scripts/mapped_plant_quads_co.json`
 `scripts/mapped_plant_quads_id.json`
 `scripts/mapped_plant_quads_ks.json`
 `scripts/mapped_plant_quads_mt.json`
 `scripts/phytoplankton_size.json`
 `scripts/plant_comp_ok.json`
 `scripts/plant_occur_oosting.json`
 `scripts/portal.json`
 `scripts/veg_plots_sdl.json`

[2017-04-08 16:28] zhangcandrew commented on #867
looks like it was a problem with line endings and formatting on Unix. I ran dos2unix on the file and added a PR for the hook to format it correctly in unix.

There was a nice quick article about it here: http://thesimplesynthesis.com/post/env-pythonr-no-such-file-or-directory

[2017-04-08 18:52] #867 closed

[2017-04-09 11:53] ethanwhite opened #884 "Add ability to handle simple archives using JSON scripts"
Some clean data files are distributed as archives. Instead of having to create `.py` scripts for these files it would convenient to have a way to designate this in the JSON. E.g., we are in the process of converting `tree-demog-wghats`, `pantheria`, and `forest-plots-wghats` to `.py` scripts because they were zipped when moved from the old Ecological Archives site to figshare.

[2017-04-09 11:55] ethanwhite opened #885 "Pre-commit hook errors on name change"
I'm in the process of merging #879 and get the following error due to the pre-commit hook:

[code]

I suspect this is due to the name change for the script. We'll want to add some logic to prevent this from happening.

[2017-04-09 16:37] zhangcandrew commented on #885
Right so it looks like we were previously comparing all differences in our git diff which caused deleted files to show up and cause this error. A fix to this could be to only look for staged files which are added and changed, not deleted. The git command would look like
`git diff --cached --name-only --diff-filter=AT scripts`.

I think I want to hold off on a little bit though before putting in a

[2017-04-09 18:28] ethanwhite commented on #885
No rush on my end. I'll just keep overriding with `--no-verify` until this is ready to go.

[2017-04-10 16:10] zhangcandrew commented on #885
Just put up the PR. Two minor fixes to the hook!

[2017-04-10 17:46] zhangcandrew commented on #534
The skeleton is put in. We needed a markdown file and a metadata file. They still needed to be filled in with accurate info (doi, references, orcid, etc.)

[2017-04-10 18:43] #885 closed

[2017-04-11 13:08] kapilkd13 commented on #151
Hi @henrykironde As we were talking about using `logging` module. I would like to add [logging](https://docs.python.org/3/library/logging.html) to our tool. I have gone through the steps involved and what I am thinking is:
1. We can create two handler, for `file` and `stdout`.
2. Our logger object will be set at `debug` by default and will send all logs to both handlers.
3. `file` handler will be

[2017-04-11 13:24] ethanwhite commented on #151
The general plan sounds good to me :+1:

[2017-04-11 13:28] ethanwhite opened #891 "Add COMPADRE databases"
http://www.compadre-db.org/

[2017-04-11 15:17] davharris opened #892 "Scripts not automatically downloading at installation"
While trying to reproduce Kristina's results, I downloaded the retriever with `pip install`. Next, I tried to download the vertnet data from within R using

    rdataretriever::install("vertnet", "csv", data_dir = "data/")

I got the following:

    The dataset vertnet isn’t currently available in the Retriever
    Run ’retriever ls to see a list of currently available datasets

Once I ran `retrie

[2017-04-12 13:28] dmcglinn commented on #856
Sounds great @ethanwhite. Should @nathanbaker04 just fork the repo and build a new branch off of master (or is there a different branch that would be better to build off of) for adding new scripts?

[2017-04-12 14:04] ethanwhite commented on #856
`master` is good.

Note the Ecological Archives is currently down and has been for a week and a half despite repeated contacts. Those datasets can be found on figshare now, though it may be trickier than it would have been otherwise.

[2017-04-13 02:27] kvnamipara commented on #863
@henrykironde @ethanwhite
I was busy with my university laboratory exams. Now I will look into this.
Thanks.

[2017-04-13 02:28] kvnamipara commented on #891
@ethanwhite I will work on this. Thanks.

[2017-04-16 04:20] kvnamipara commented on #891
@ethanwhite
The above database provide data in form of `.RData` file. How to proceed with this one?
Thanks.

[2017-04-16 04:31] kvnamipara commented on #884
@ethanwhite
Your idea is to use `JSON` file to access data from archives, but for that we require use of higher level language like `python`, right? Does `JSON` directly access archives?

[2017-04-16 07:07] jainamritanshu commented on #884
@kvnamipara If I got your question right, I guess there has been a little confusion here. Correct me if I am wrong, JSON scripts here are being used for [datapackaging](https://specs.frictionlessdata.io/data-package/) and does not directly involve the use of JSON to access any field. The JSON script is basically compiled to a `.py ` script with the help of `compile.py`, `templates.py`  and databas

[2017-04-16 11:53] kvnamipara commented on #884
@jainamritanshu Thanks for explaining.

[2017-04-17 17:21] ethanwhite commented on #884
Thanks to both of your for exploring this further.

Yes, the idea would be to either add new fields to the JSON or modify the existing fields so that they can contain information that multiple files all belong in the same table. We should check the datapackage specification to see if they have something for this and if not engage with that community on potentially drafting something.

We would the

[2017-04-17 17:28] ethanwhite commented on #891
Ah, that is a problem. Let me see if I know someone in that group who would get a csv version posted for us.

[2017-04-17 17:38] rachelss opened #898 "Use of data from Retriever"
For your records I have been using Retriever data in class (BIO539 - Big Data Analysis - University of Rhode Island Sp 2017 - https://rachelss.github.io/BigDataAnalysis/).

(1) Breeding bird survey to teach joins in R. The dataset was modified for a particular demonstration. The lesson is at https://rachelss.github.io/BigDataAnalysis/breedbird.html

(2) For a class assignment in python where stude

[2017-04-17 18:23] ethanwhite opened #899 "Store and provide license information"
We should have a license field for each script which stores the license information and should make it possible for users to obtain that information using commands like:

[code]

and

[code]

[2017-04-17 22:02] jainamritanshu commented on #899
@ethanwhite I want to work on this. Just a few clarifications. The basic idea to tackle this I can get is something like -
- Adding a field `license` in the .json scripts
- adding a function `license` in datapackage.py
[code]

Adding an argument clause of `license` in `__main__.py` and we will be good to go I guess. Kindly tell me if I am missing something.

[2017-04-18 00:03] ethanwhite commented on #899
That's the basic idea.

The `datapackage.py` function's purpose is to get a license from the user creating a new JSON script, so it should read a license values using `clean_input` and assign it to the appropriate field to be written in the JSON.

The description of the license(s) should follow the datapackage spec. See the description under Properties -> Optional Properties -> Licenses at https:/

[2017-04-19 14:04] dmcglinn commented on #898
Awesome, I see that you use R in your class so also checkout `rdataretriever` https://github.com/ropensci/rdataretriever

[2017-04-19 14:07] rachelss commented on #898
@dmcglinn I did use rdataretriever! would you like an rdataretriever issue for your records to support future funding?

[2017-04-19 14:42] dmcglinn commented on #898
its all good but thanks for letting me know it worked for you guys we
rolled out a new version recently which hopefully will greatly improve
cross system compatibility as well as compatibility with Rstudio.

On 04/19/2017 10:07 AM, rachelss wrote:

[2017-04-23 16:32] ethanwhite opened #901 "Is `parse_script_to_json.py` needed any more?"
I think this script file was created as part of the move to JSON datapackages in 6dc16a2f259f13b8a86dd64a099d6f29f55f2498. We don't have the script files anymore so I believe we can remove this. Can anyone else see a reason we would need to keep this?

[2017-04-23 16:37] henrykironde commented on #901
Yes, that is true. Left that in when we were working on the EA PR initially.

[2017-04-26 01:38] davharris opened #902 "'module' object has no attribute 'BadZipFile'"
I get the following error when I try to install some data sets. I'm using Retriever version v2.0.0 on my Mac (OS version 10.11.6)

[code]

I get the same error for vertnet-birds and if I switch `sqlite` for `csv`. I *don't* get the error if I ask for all of vertnet, so it may have to do with the scripts for specific vertnet subsets.

Possibly related to #662, which also mentioned `BadZipFile` (alb

[2017-04-26 01:59] ethanwhite commented on #902
Thanks for reporting @davharris.

It looks to me like the vertnet files on cyverse might be down at the moment. The link we have to `vertnet-amphibians`:

https://de.iplantcollaborative.org/anon-files//iplant/home/shared/commons_repo/curated/Vertnet_Amphibia_Sep2016/VertNet_Amphibia_Sept2016.zip

 is 404ing and if I go through vertnet's site I get a blank page:
http://datacommons.cyverse.org/brows

[2017-04-26 13:39] ethanwhite commented on #902
Cyverse was experiencing a network outage. It appears that this is fixed now. Can you follow the steps above and let us know if that fixes things. Thanks!

[2017-04-26 14:14] davharris commented on #902
Looks like that fixed it.  Thanks!

Seems like it might be helpful to add a more informative error message (e.g. "cyverse is down, try again later" or "404"). Otherwise, I can close the issue.

Thanks again!

[2017-04-27 02:15] ethanwhite commented on #891
I have a meeting tomorrow with the COMPADRE folks to talk more about this.

[2017-04-27 02:18] ethanwhite opened #903 "Gracefully handle failed downloads"
It is not uncommon for a data source to go down (e.g. #902) or for a download to fail for some reason (e.g., #863). We should catch these, not cache the data that comes down (which is sometimes a corrupt file and sometimes a 404 html page), and report to the user that the source appears to be down and that they should try again and if it still fails later let us know.

[2017-04-27 02:19] ethanwhite commented on #902
We definitely need better error handling and reporting for cases where the download fails (404 or otherwise). I've opened #903 to address this. Thanks again!

[2017-04-27 02:19] #902 closed

[2017-04-27 03:05] kvnamipara commented on #891
@ethanwhite Great!! Hope we will find out some alternative. Sorry I was inactive for a while, I am busy with my university exams. I will try to contribute from 2nd week of May. Thanks.

[2017-04-27 03:12] kvnamipara commented on #903
@ethanwhite Can't we have all our data set file in one place to solve the problem of data source going down. Like we can move all our data set files to service providers like AWS and we try to update it whenever the dataset files got updated?

[2017-04-27 12:26] ethanwhite commented on #903
@kvnamipara It would certainly be nice if it was that easy. Unfortunately many of the datasets we work with don't have clear open licences and many others update regularly so we'd be dealing with synchronizing with the central source. The philosophy of the project is to work with data as it is, where it is, instead of cleaning it up and moving it around. This has downsides, but it also lets us wor

[2017-05-04 00:26] henrykironde opened #905 "Dataset pantheriatest needs update of null values"
pantheriatest  also uses '-999.00', '-999'as null value indicators

[Ref](https://figshare.com/collections/PanTHERIA_a_species-level_database_of_life_history_ecology_and_geography_of_extant_and_recently_extinct_mammals/3301274):  metadata file(in zip file)

[2017-05-06 21:07] zhangcandrew commented on #876
I'll add these in when I get the chance!

[2017-05-08 18:37] zhangcandrew opened #908 "Script Versioning Protocol"
Right now we don't have an official protocol for changing or updating script version numbers. I think this is something we should add to the docs so that we have a guideline for future reference.

Some things that have been discussed so far:

| Changes in x. .         | Changes in  .x.            | Changes in  . .x  |
|:------------- |:-------------|:-----|
|Creation of new scripts | Adding new da

[2017-05-09 02:31] ShivamNegi commented on #903
The download functionality is being implemented in the `retriever/lib/engine.py` (https://github.com/weecology/retriever/blob/master/retriever/lib/engine.py#L396). The functionality is being implemented using `urllib` library. We could use `urllib2` which has better support for error handling. There is a similar question in stack overflow (http://stackoverflow.com/questions/987876/how-to-know-if-u

[2017-05-09 02:36] henrykironde commented on #903
@ShivamNegi, we also have consider python 3

[2017-05-09 02:50] ShivamNegi commented on #903
Thanks! @henrykironde I missed that. So implementing error handling with `urllib` is the way to go? I am looking for other options.

[2017-05-11 14:45] kvnamipara commented on #891
@ethanwhite have you find any alternatives for this? thanks.

[2017-05-11 15:01] ethanwhite commented on #891
@kvnamipara - it turns out to be a little more complicated than I'd assumed. They are using the `RData` format because they've stored the data in what is basically a heterogeneous nested list in which one of the sublists contains thousands of matrices. This makes distributing the data and using it in other languages tricky

I discussed this with them a couple of weeks ago and they said they would

[2017-05-11 15:05] kvnamipara commented on #891
@ethanwhite ok let me see if i can work on that. thanks.

[2017-05-11 16:41] articuno12 commented on #830
@ethanwhite Can I work on it?

[2017-05-11 17:38] henrykironde commented on #830
@articuno12, Thank you for showing interest in contributing to the retriever. Please go a head and work on this. If you need any help, feel free to ask. Our community is a very welcoming community with developers from various places of the world, We do welcome all skill sets and provide guidance where needed. :+1:

[2017-05-12 15:08] ethanwhite opened #910 "Naming for Julia package"
I'm very excited that @ShivamNegi will be developing a Julia wrapper for the retriever as part of his Google Summer of Code project. I'm going to setup a repository for this but we could use a name first. Any thoughts?

[2017-05-14 04:49] ShivamNegi commented on #910
Lets go with `DataRetriever.jl`. Julia is amaze! :heart:

[2017-05-15 13:32] ethanwhite commented on #908
Update: I recommended that we check in with the FrictionlessData folks on this, which @zhangcandrew has done (thanks @zhangcandrew!). They've recommended that we open a discussion of this over in their specs repo: https://github.com/frictionlessdata/specs/issues

When someone opens that issue if they could mention this issue then we'll have it tied in over here so that anyone who finds this will n

[2017-05-15 13:35] ethanwhite commented on #910
That works for me. Does `data-retriever-jl` work for a repo name?

[2017-05-15 15:25] henrykironde commented on #910
data-retriever-jl works fine.

[2017-05-15 15:25] henrykironde commented on #910
data-retriever-jl works fine.

[2017-05-15 19:32] ethanwhite commented on #910
OK, I just created a repo and gave @ShivamNegi and the core retriever folks write access:
https://github.com/weecology/data-retriever-jl

[2017-05-15 19:32] #910 closed

[2017-05-16 16:42] zhangcandrew commented on #876
Closing this issue after the merging of Fray Jorge. Feel free to open if a new pertinent issue arises

[2017-05-16 16:42] #876 closed

[2017-05-16 16:42] zhangcandrew commented on #908
I'll go ahead and put that issue in now

[2017-05-17 19:51] goelakash commented on #901
Yeah, I believe its not needed anymore.

[2017-05-17 19:53] henrykironde commented on #901
will go ahead and remove it after the EA Pr is finalized

[2017-05-17 19:54] ethanwhite opened #911 "Remove `parse_script_to_json.py`"
Following discussion in #901 we don't need this file anymore.

[2017-05-17 19:55] ethanwhite commented on #901
Great. Closing this and replacing with a To Do item to remote it #911.

[2017-05-17 19:55] #901 closed

[2017-05-18 18:06] ethanwhite commented on #898
Thanks so much for posting this @rachelss! It's always great to hear that the things you're building are helping people and useful for communicating it to funders as well. I have this written down where it needs to be so I'm going to go ahead and close the issue.

[2017-05-18 18:06] #898 closed

[2017-05-18 18:11] ethanwhite commented on #862
I'm pretty sure we finished all of this a month and a half ago so I'm closing this. If I missed something feel free to reopen.

[2017-05-18 18:11] #862 closed

[2017-05-18 18:24] ethanwhite commented on #892
Sorry for the delay @davharris. You're totally right, this should have been happening automatically since https://github.com/henrykironde/retriever/commit/5db19ee330b953e1f53fd7232ebff3662ea3996b. We'll dig into it and see what we can figure out.

[2017-05-18 18:30] #911 closed

[2017-05-20 18:01] henrykironde opened #914 "Python interface design and Julia interface"
Add Python interface #137

This issue will be used to discuss details of adding python interface and Julia

[2017-05-20 18:42] henrykironde commented on #914
We shall have to come up with new clean functions specifically for the interfaces in some cases. These functions should only return the required functions and should not include the print statements that we get when running retriever in command line.

**For example:**
`retriever ls` will print some information for users when in CLI, like the download progress when updating.

For the interface, we

[2017-05-30 04:19] zhangcandrew commented on #908
I just saw the updates on frictionless data, so it looks like we should begin with a draft and see what they think. @ethanwhite do you have an idea in mind about how you want to approach this, or is this something that I should discuss with @henrykironde and begin to write out.

[2017-05-30 04:40] henrykironde commented on #908
@zhangcandrew, we can have this discussion on how to proceed about this. First lets list all encounters that we have come across and then categorize them. We have mentioned three examples.

[code]

Additionally we have:

1. Updating data in files
2. Change in the format of storage(e.g shift to zipped data)
3. Change in the location of the files(url, file names)
4.

Will update with more occurrence

[2017-06-10 17:19] goelakash opened #922 "Out of the box testing errors on OSX Sierra"
Hi guys,

I recently ran the tests locally on Mac OSX Sierra, and a bunch of tests got errored out. I was expecting all the DB tests to fail, but I got some csv and others tests to fail as well. Error log:
[error.txt](https://github.com/weecology/retriever/files/1065966/error.txt)

[2017-06-11 01:03] henrykironde commented on #922
Looks like you are running `nose tests`.
We are using `pytests`
Also make sure the repo is clean and dependencies are up to date specially sqlite.
Could you try to run the tests in a new python environment
I am also using OSX Sierra.

[2017-06-11 15:03] goelakash opened #926 "Update docs for contributions."
Based on the recent comments by @henrykironde on #922 , I think some of it needs updating, especially the part relating to the testing.

[2017-06-11 15:04] goelakash commented on #922
Closing as this seems to be as it seems that the documentation is stale.

[2017-06-11 15:04] #922 closed

[2017-06-11 15:22] ethanwhite opened #927 "Pre-commit hook preventing new script additions?"
I've been in the process of cleaning up #821 and am running into an issue with the pre-commit hook:

[code]

I haven't looked into this, but a quick guess from the error message is that we may be looking up a version number for the script, but if it's a new script it isn't in the associated dictionary and so it errors.

[2017-06-11 21:25] henrykironde commented on #926
Thanks @goelakash, there are many changes that have taken place over the last period and we may have forgotten to keep track of some details. I will go through the docs and check for some updates required. Additionally, it would be helpful if you provide more information on the errors. Or point out some things that are not clear.

[2017-06-12 01:06] zhangcandrew commented on #927
So there's a part of our code where we check changes with a diff filter that looks for added and modified files but not deleted ones. I don't remember why I had it check to make sure we included added files in the git diff, but I made some comments to @henrykironde 's branch that should fix it up.

[2017-06-12 03:57] henrykironde commented on #306
We have refactored some of the code in the file based engines.
If working on this  you could reference, _`Moving dummy connection is Moving dummy connection and cursor code out to a shared module`_ 229ad05d4a0fb440ae5d1bc49359a16633922038

[2017-06-13 20:07] ethanwhite opened #931 "Some new datasets failing on 2.0.0"
Two or three of the new datasets that got added today (hooray!) appearing to having issues on `2.0.0`.

[code]

@henrykironde suspects that these datasets only work due to improvements in `master` that were made to get this whole set of datasets running, so we may just need to update their `retriever_minimum_version` values to `2.1.dev0`.

[2017-06-14 04:52] zhangcandrew commented on #931
I tried running a few of these datasets on 2.0.0 with a changed `retriever_minimum_version`, and the problems seemed to persist. I can talk about it with @henrykironde some more though. Looks like the temporary fix is removing these repositories. #932

[2017-06-14 06:12] henrykironde commented on #931
Yah I tried that too and it didn't work well. I think removing them for now will be good. I could try again later and see where the problem really is.

[2017-06-14 14:52] ethanwhite commented on #931
I understand this now and it's an easy fix. PR inbound.

[2017-06-14 15:02] ethanwhite commented on #931
For reference, the code to ensure `2.0` compatibility changes `self.keywords` back to `self.tags`, but these datasets didn't have any keywords which was triggering the error. I added an empty list in both cases so that we could keep the compatibility code since we'll probably add keywords at some point.

[2017-06-14 15:06] #931 closed

[2017-06-14 19:01] ethanwhite commented on #27
Closing as this clearly isn't high on the priority list :smile:.

[2017-06-14 19:01] #27 closed

[2017-06-14 19:06] ethanwhite commented on #117
Integration should be handled by our new upcoming software effort, so I'm modifying this issue to just include adding the data.

[2017-06-14 19:44] ethanwhite commented on #298
Turns out that some datasets have extra trailing delimiters (you know, just for fun) and this is handling them. E.g., `bird-size` has a bunch of extra trailing tabs on every line. There may be a cleaner way to handle this, but the code is definitely needed until that is found, so closing.

[2017-06-14 19:44] #298 closed

[2017-06-15 17:11] ethanwhite commented on #118
Fixed in cf8eb841008e75b1593cc44db065e3ee55dfb140. Better late than never I supposed :smile:.

[2017-06-15 17:11] #118 closed

[2017-06-15 19:28] ethanwhite commented on #134
Additional fixes made in 3ac063c. Thanks again @ShivamNegi!

[2017-06-15 19:28] #134 closed

[2017-06-15 19:29] ethanwhite commented on #137
@ShivamNegi is currently working on this as part of his GSoC project.

[2017-06-17 07:15] #168 closed

[2017-06-17 23:13] zhangcandrew commented on #927
Looks like it's fixed for now. Closing the issue. Re-open if necessary

[2017-06-17 23:13] #927 closed

[2017-06-18 23:05] henrykironde opened #939 "Improve insert performance"
Add to table function in engine `def add_to_table(self, data_source):`uses a fixed number of data lines` insert_limit =` .
This is currently set to 400. For each engine, this number could be increased.
We can set the values in the respective engines and initializing the number in respect to the used engine.

[2017-06-18 23:25] henrykironde opened #940 "Refactor sqlite insert data from file."
`insert_data_from_file()` in the sqlite engine uses `open` `with open(filename, 'r') as data_file:`.
This has been a problem in the past.
We can move the block of procedure to be handled `gen_from_source(data_source)`.

_gen_from_source_ returns the rows in a list, we could yield the generator to the CHUNK_SIZE for each insert

[code]

[2017-06-19 16:08] #792 closed

[2017-06-20 10:40] badamakashprasad commented on #939
Hi I want to look in this issue.We can set values in the respective engines by adding  a variable in the function argument itself.
def add_to_table(self, data_source,insert_limit = 400)
where default is 400

[2017-06-20 12:27] ethanwhite commented on #939
Hi @badamakashprasad - welcome and thanks for your interesting in helping out with the retriever. A couple of things to consider as you work on this:

1. We recently merged b25071e5a9896e67dacb6538b0344f20043943d3, which changes the way we handle inserts. We should check and make sure that the new implementation using `executemany` and parameter binding doesn't automatically handle the previous is

[2017-06-21 17:01] henrykironde commented on #914
Hi @ShivamNegi, I have looked at the branch `https://github.com/ShivamNegi/retriever/commits/restructure_commits`
In dataset there are still some merge conflicts `retriever/lib/datasets.py` I think you have included all the changes, Go ahead and clean up the last bit and I will get ready to review it. Also after making the last commit, run tests locally before you push.

[2017-06-21 17:35] ShivamNegi commented on #914
Hi! I have resolved the merge conflict in `retriever/lib/datasets.py`. Please review the the commits. These commits are only for the `python-interface` branch. Once these are done I will merge it with `master`.

[2017-06-21 18:02] henrykironde commented on #914
Okey, you can PR to this branch https://github.com/weecology/retriever/tree/python-interface2.
If from the latest master

[2017-06-21 18:04] henrykironde commented on #914
NOTE: the changes in scripts will break compatibility of older versions. But don't worry we shall deal with that later.

[2017-06-23 18:05] ahhurlbert commented on #892
Unsure if this is a related or separate issue. I just installed the latest retriever version:
[code]

Now in R with a freshly installed `rdataretriever` package, it can't seem to find the dataset scripts.
[code]
I get the same output (without line numbers) just typing `retriever ls` in the command line.

I feel like I've been here before...

Am on Windows 7 32-bit OS using retriever 2.0.0 and Anac

[2017-06-23 18:18] henrykironde commented on #892
Thanks @ahhurlbert, Could you delete the retriever `C:/Users/hurlbert/.retriever/` folder and try again. Let me know what you get after deleting and running `retriever ls`

[2017-06-23 18:28] ahhurlbert commented on #892
Thanks! Ok, the list looks good now.
[code]

Similarly, in R, I now get a reasonable looking list (although "Available datasets : 81" and "" are the first two items in the list and probably shouldn't be.

Now, a new problem , I'll open a new issue.

[2017-06-23 18:35] ahhurlbert opened #947 "Empty datasets (BBS, others) in retriever / rdataretriever"
I've just installed retriever 2.0.0 and am trying to access the North American Breeding Bird Survey dataset.

Doing this in R with the `rdataretriever` yields a seemingly empty object:
[code]

In the command line, I got:
[code]

I checked a few other datasets in R at random and found `plant-comp-ok`, `portal`, and `bird-size` to return the expected datasets but found `pantheria` and `socean-diet-d

[2017-06-23 19:46] ethanwhite commented on #947
Sorry about that @ahhurlbert. Looks like some development code got merged into `master` instead of it's dev branch. I reverting it and just need to wait a couple of minutes for the tests to run. Once they're green I'll ping you again and then if you run:

[code]

you should be working again. I'll respond again in about 5 minutes once the tests have finished running and I've merged the revert. Than

[2017-06-23 19:52] ethanwhite commented on #892
Thanks @ahhurlbert.

Can you open an issue in the `rdataretriever` issue about the first two items in the list?

For the original problem one good general debugging trick is the run `retriever reset all` (which just deletes the `.retriever` folder) followed by `retriever update` from the command line. If things have gotten out of whack with data or scripts, like in this case, it will fix things.

[2017-06-23 19:52] #892 closed

[2017-06-23 19:59] ethanwhite commented on #838
We just accidentally broke some scripts in `2.0.0` (see #947) by merging a breaking change to the `.py` scripts in #944. This is easy to do so it would be nice to figure out a way to do some testing on it.

[2017-06-23 20:02] ethanwhite commented on #947
OK @ahhurlbert. You should be all set. Run

[code]

and retry. If that works then we're in good shape and you can go ahead and close.

[2017-06-23 20:49] ahhurlbert commented on #947
Sorry, should have chosen something other than BBS so that it wouldn't take so long to verify.

Looks good. Thank you!

[2017-06-23 20:49] #947 closed

[2017-06-23 20:53] henrykironde commented on #838
Working on it

[2017-06-26 14:23] ethanwhite commented on #702
The link in my March 3rd comment (https://data.cityofnewyork.us/api/views/5rq2-4hqu/rows.csv?accessType=DOWNLOAD) is stable now in case anyone wants to proceed with this.

[2017-06-26 14:24] ethanwhite commented on #798
@emchristensen - I can't remember, did we ever get this figured out?

[2017-06-26 14:25] ethanwhite commented on #765
This is complete as of the merging of #897. Thanks again @jainamritanshu!

[2017-06-26 14:25] #765 closed

[2017-06-26 14:26] ethanwhite commented on #708
Implemented and merged in #846. Thanks again @kapilkd13!

[2017-06-26 14:26] #708 closed

[2017-06-26 15:40] emchristensen commented on #798
I can't remember either.  Can you remind me how to test this, and I'll try it again?

[2017-06-26 16:18] emchristensen commented on #798
I just tried it again and got the same error message -- Henry is going to check it out

[2017-06-26 16:58] #421 closed

[2017-06-26 18:27] emchristensen commented on #798
this is still not working -- on Windows 10 Pro

[2017-06-28 15:14] dmcglinn opened #955 "Data file names are being converted to numbers upon download"
[code]
As can be seen by the output above the file names assigned are 5603981, 3299474, and 3299483 which are not the correct data file names.

[2017-06-28 15:25] ethanwhite commented on #955
This is the result of Ecological Archives moving all of it's content to figshare. The file names are actually numbers now on the server (in the way that we're able to see them anyway). See, e.g., https://github.com/weecology/retriever/blob/master/scripts/portal.json#L184.

Renaming them would require additional development work. I guess the use case where this is problematic is for the `download`

[2017-06-29 02:07] dmcglinn commented on #955
This is an unfortunate side effect, but not a problem I would put a lot of resources into solving. How does `install` know what the correct file names are? Another not great solution for the portal example would be downloading the zipped versions that figshare provides. For McGlinn et al. 2010 dataset we could use the following url:
https://ndownloader.figshare.com/articles/3547209/versions/1

unp

[2017-06-29 11:39] ethanwhite commented on #955
The names for each table are defined for `install` by the names in the scripts, so we get whatever we give it.

Yeah, I don't love using the zipped versions since (until we implement #884) that would mean making these into `.py` scripts which is more difficult to maintain and contribute to.

I'm still struggling to understand the major use case here. `download` is designed for two things: 1) downl

[2017-07-03 03:55] raymondben opened #959 "socean_diet_data details could be updated"
Hi - I think the SO diet data set details could be usefully updated. First, the most direct reference is https://data.aad.gov.au/aadc/trophic/, not the figshare URL you are using. Also, this page points to the most up-to-date version of the data, which may not be propagated through to the ESA repository (and almost certainly not to the figshare copy). I think you're better off getting the data dir

[2017-07-03 06:54] henrykironde commented on #959
@raymondben, thank you for this issue, We are going to go through your request and let you know. The reason we are using Figshare is because the ESA moved the files to Figshare. Since the authors have provided repositories for these data sets, we shall test and work as appropriate.
Also feel free to put in a PR for these changes, otherwise we shall do so.

[2017-07-03 07:24] henrykironde commented on #702
If am not mistaken the url is the same
https://data.cityofnewyork.us/api/views/5rq2-4hqu/rows.csv?accessType=DOWNLOAD

as in the comment above
[code]

This works well in python2 but not python 3.

[2017-07-03 07:34] henrykironde opened #961 "NYC TreesCount dataset does not run on python 3"
Error:
[code]

[2017-07-03 11:12] ethanwhite commented on #702
Yeah that's definitely right. I forgot that we'd actually implemented this.

Closing since this was merged in 72b7c3107abc919dd185136b35bc9bf440feb353.

[2017-07-03 11:12] #702 closed

[2017-07-03 11:15] ethanwhite commented on #961
This works properly for me on Python 3, Ubuntu 16.04.

[2017-07-03 14:03] henrykironde commented on #961
I will do some tests to confirm.

[2017-07-05 15:01] #715 closed

[2017-07-12 16:02] ssnell6 opened #965 "problem with scripts in freshly installed retriever from installer on Windows"
Downloaded and ran the Windows installer this morning on my Windows 10 x64 machine.

Upon typing `retriever update` I get:

[code]

`which retriever` yields
[code]

[2017-07-12 16:14] ethanwhite commented on #965
Looks like you probably have some outdated scripts that were renamed and therefore aren't getting cleaned up by `update`. Can you try running `retriever reset scripts` and then `retriever update` again and see what happens?

[2017-07-12 16:49] henrykironde commented on #965
That should solve it.

[2017-07-12 17:18] ssnell6 commented on #965
thank you!

[2017-07-12 17:18] #965 closed

[2017-07-13 15:33] ethanwhite opened #966 "Add airports dataset"
http://ourairports.com/data/

[2017-07-13 15:37] ethanwhite opened #967 "Add GDP data"
There is a data package here: https://github.com/datasets/gdp

The raw data is at: http://api.worldbank.org/indicator/NY.GDP.MKTP.CD?format=csv

[2017-07-13 15:43] ethanwhite opened #968 "Add ability to use existing data packages"
We use Frictionless data's data package standard. One of the advantages of this is that we should be able to use any existing packages directly. This would let us easily support a large number of new datasets. Functionality would include:

* Store a list of data package locations, probably in a single file
* For each location download the data package
* Automatically place the csv files in the cor

[2017-07-13 19:40] henrykironde commented on #968
Thats great, amazing work

[2017-07-15 06:26] ShivamNegi opened #969 "List scritps by tags / keywords"
This is an issue for `python-interface2` branch raised in #954
The datasets function doesn't deal with the `-l` parameter which is a feature of the CLI. I propose on adding a separate parameter for `-l` functionality. Something like:
[code]
Which could be used like
[code]
Output:
[code]

[2017-07-15 06:46] ShivamNegi commented on #969
There still remains a need for detailed description of the scripts. This function isn't meant to handle such a case. We could add a verbose parameter in the `datasets` function and add in that functionality as well.

[2017-07-15 20:41] henrykironde commented on #969
`def datasets(arg_keyword=None) looks good`

[2017-07-15 21:18] henrykironde opened #971 "Make release automated"
We could utilize http://scikit-ci-addons.readthedocs.io/en/latest/addons.html#publish-github-release-py
@jcfr could help us on this.

[2017-07-15 21:20] henrykironde opened #972 "Add tests on Mac OSx"

[2017-07-15 22:49] ethanwhite commented on #971
I *love* the idea of better automating our release process since I feel like we don't release frequently enough because it takes too much time and effort. :+1:

[2017-07-15 23:04] henrykironde opened #973 "Add retriever to Conda"

[2017-07-17 18:57] henrykironde opened #975 "Add developer docs for updating or creating a conda release"
The way to add the package into conda, is done by add it to the conda forge recipe
https://github.com/conda-forge/staged-recipes/

This is done by creating the `meta.yml` file https://github.com/conda-forge/staged-recipes/pull/3307/files and requesting a pull request to https://github.com/conda-forge/staged-recipes/.

We should have a developers doc section on how and what we need to update when w

[2017-07-20 00:05] #973 closed

[2017-07-21 11:24] ethanwhite opened #978 "Travis failing for MySQL builds"
It looks like Travis must have changed the permissions for the `travis` user, which no longer has `INSERT` permissions (see #970 and #977). If I had to guess this changed during the [transition to Ubuntu 14.04 that happended on Tuesday](https://blog.travis-ci.com/2017-07-11-trusty-as-default-linux-is-coming). We probably need to change to using `root` instead.

[2017-07-22 16:38] ethanwhite commented on #968
FYI - I've started work on this. Others are more than welcome to help, but ping me if you're interested so I can get what I've done up onto a branch.

[2017-07-22 17:01] ethanwhite opened #979 "Is `urls` property in json files needed"
This isn't part of the spec and it looks to be like `lib\compile.py` assembles the urls (appropriately) from the individual `resources`. I removed this `mammal-life-hist` and it seems to run fine.

[2017-07-23 02:15] ethanwhite opened #981 "Use Frictionless data spec for types"
Our usage of `type` doesn't not currently match [the spec](https://specs.frictionlessdata.io/table-schema/#types-and-formats). This will require some changes to `lib/engine.py` and to the individual engines, probably with some care given to supporting both our old usage and the proper spec to maintain backwards compatibility.

Needed for #980.

[2017-07-23 02:16] ethanwhite commented on #967
Could be addressed using #980.

[2017-07-23 02:16] ethanwhite commented on #966
Could be addressed using #980.

[2017-07-25 00:35] ethanwhite opened #983 "Tests failing (sometimes) due to `test_modified_scripts.py`"
When running `py.test` without any arguments (and only without any arguments) some of the regression tests fail, at least on some systems. The failures are being triggered by `test/test_modified_scripts.py`. If there are any scripts with version number changes these failures occur. If you delete `test/test_modified_scripts.py` and keep the version number changes everything works normally.

This al

[2017-07-25 01:09] ethanwhite commented on #983
OK, now I understand by arguments to pytest matter. This code:

[code]

doesn't work properly when this module is run as test instead of directly. It checks to see if any arguments have been passed and interprets them as engines. Since none of them are engine names (they are pytest arguments) it ends up not running the tests at all. So this test file is always failing and just doesn't happen to ge

[2017-07-25 01:59] ethanwhite commented on #983
OK, found the other issue, which was that we weren't running `final_cleanup` after `download` and so were creating state and causing issues for other tests. #984 should solve this head scratcher.

[2017-07-25 15:03] #983 closed

[2017-08-02 18:19] henrykironde opened #988 "Add ND gain data set"
The ND-GAIN Country Index is a project of the University of Notre Dame Global Adaptation Initiative (ND-GAIN).
The index summarizes a country's vulnerability to climate change and other global challenges in combination with its readiness to improve resilience.
ref: http://index.gain.org/

Download data from: http://index.gain.org/about/download

[2017-08-21 14:41] ShivamNegi opened #994 "Changing to Read the Docs: sphinx_rtd_theme"
I really like this [sphinx theme](http://deeplearning.net/software/theano/index.html). I propose to update our docs to this theme. I am ready to take this up if everyone approves. The repository of the theme is here: [sphinx_rtd_theme](https://github.com/rtfd/sphinx_rtd_theme).

[2017-08-21 14:46] ethanwhite commented on #994
:+1:

[2017-08-24 20:41] henrykironde commented on #994
I prefer the old classic one  :smile: though it looks outdated.
Having said that, I look forward to having a new theme. :+1:

[2017-08-28 16:53] henrykironde opened #1001 "Co-authorship for the Data retriever."
Hi Everyone,

It is of great joy to inform you that we will soon be submitting the [Data Retriever](http://www.data-retriever.org/) for publication at the  Journal of Open Source Software (JOSS). JOSS is an academic journal designed to improve the quality of the software and utilizes a special software focused peer review process.

Following the lead of @ctb's group we are inviting all contributor

[2017-08-28 17:07] Wolflab commented on #1001
Henry: I would be honored, but I really did not contribute much. Ethan was using this as training tool for us. So I don’t deserve authorship.

Thanks

Paul
—
Paul G. Wolf
Director, Intermountain Herbarium
Professor and Associate Head
Department of Biology
Utah State University
5305 Old Main Hill
Logan, UT 84322, USA

From: Henry Senyondo <notifications@github.com<mailto:notifications@github.com>>

[2017-08-28 17:26] carol-rowe666 commented on #1001
Henry,

Henry: I too would be honored, but I really did not contribute much. Ethan
was using this as training tool for us. So I don’t deserve authorship.

Thanks

Carol

On Mon, Aug 28, 2017 at 11:07 AM, Paul Wolf <notifications@github.com>
wrote:

--
Carol Rowe
Adjunct Research Assistant Professor
Dept. of Biology
Utah State University
5305 Old Main Hill
Logan, UT 84322-5305

[2017-08-28 17:55] davharris commented on #1001
Thanks @henrykironde and @ethanwhite!

I think I've contributed enough bug reports etc. to qualify, assuming the definition of authorship is intended to be pretty broad/generous. Here's my information.

[code]

[2017-08-28 18:06] bendmorris commented on #1001
Thanks Henry. I don't think I have an ORCID. No current affiliation, please LMK if I can provide any other info.

(I think @gitter-badger will turn you down.)

[2017-08-28 21:52] jainamritanshu commented on #1001
Thanks @henrykironde @ethanwhite
I would be honored by being listed as the co-author for the publication of Data Retriever at the Journal of Open Source Software :smile:

[code]

[2017-08-29 02:02] Deborah-Digges commented on #1001
Thanks @henrykironde
I've  contributed a little  in bug fixes and would be honoured to be listed as co-author.

My full name: Deborah  Gertrude  Digges
I am not currently affiliated with an educational institution, neither do I have an orcid number

[2017-08-29 02:09] prabh27 commented on #1001
Thanks, @henrykironde <https://github.com/henrykironde> @ethanwhite
<https://github.com/ethanwhite>
I would be honored by being listed as the co-author for the publication of
Data Retriever at the Journal of Open Source Software.
Name: Prabh Simran Singh Baweja
I am currently not affiliated with an educational institute, neither do I
have an orcid number.

On Tue, Aug 29, 2017 at 4:02 AM Deborah G

[2017-08-29 02:16] ahhurlbert commented on #1001
Breaking your software when I can is reward enough! Thanks.

[2017-08-29 08:11] nestorperez commented on #865
First of all, thank you for your really useful package.
I have been trying to download FIA data, but the following error message appears:

`rdataretriever::install("forest-inventory-analysis", connection = "csv", data_dir = "data-raw/")`
=> Installing Forest Inventory and Analysis

Downloading REF_SPECIES.csv...
cannot import name 'urlretrieve'
Done!

Do you think is a server problem?
Thanks in ad

[2017-08-29 08:26] henrykironde commented on #865
@nestorperez, thanks for this report.
I Just checked and it looks like they updated the files on `August 17, 2017` and the files (csv)are displaced.  They have not realized it yet.

[2017-08-29 08:32] nestorperez commented on #865
Ok, I have to wait. Thanks for your quick response, @henrykironde.

[2017-08-29 11:54] skmorgane commented on #1001
Hi @henrykironde, thanks for the offer but I am declining authorship. I made 1 script that someone else had to fix, so I don't meet my personal authorship criteria!

[2017-08-29 12:12] ethanwhite opened #1002 "Update FIA links"
It's that time of year again where FIA puts out a new release and moves things around. See https://github.com/weecology/retriever/issues/865#issuecomment-325588307

We need to track down the most recent links and update the script.

Thanks to @nestorperez for reporting this.

[2017-08-29 12:15] ethanwhite opened #1003 "Improve error message when a file to be downloaded is missing"
If I file isn't present at the url when we try to download it the error that is reported isn't very useful:

[code]

We get this in part because of joint support for Python 2/3 (we try the Python 3 call, fall back to Python 2, and so if issue isn't Python 3 vs 2 we get an unhelpful error message), but we need to catch this better and report something more useful to the user.

See, e.g., https://gi

[2017-08-29 12:26] nestorperez commented on #1002
Thanks to the entire Retriever's team for making available this quite useful package.

[2017-08-29 14:06] akshayah3 commented on #1001
Thanks @henrykironde <https://github.com/henrykironde>
I would be glad to be listed as the co-author .

authors:
- Name: Akshay Narasimha
- ORCID: 0000-0002-3901-2610
- Affiliation name: Birla Institute of Technology and Science, Pilani

You are receiving this because you were mentioned.

[2017-08-29 14:17] Parth-25m commented on #1001
@henrykironde, thanks for the offer but I think I have not contributed enough for getting the authorship.
I just fixed a single script so I guess I don't deserve this.

[2017-08-30 06:23] saketkc commented on #1001
@henrykironde It would've been an honor. However, I did not contribute anything significant to the project.I decline to be listed an author.

[2017-08-30 16:39] ShivamNegi commented on #1001
Thanks @henrykironde. It will be an honor.
[code]

[2017-08-30 19:00] #1002 closed

[2017-08-30 19:02] henrykironde commented on #1002
@nestorperez, we have updated the links to match the new links from FIA. Thank you for reporting this.
In case you are using mac please read the comments in #1004

[2017-08-31 04:22] kapilkd13 commented on #1001
Thanks @henrykironde.  I would really be honored by this opportunity 😄
[code]

[2017-08-31 08:14] kvnamipara commented on #1001
Thanks, @henrykironde. I will be honored to be a co-author.
[code]

[2017-08-31 19:26] brymz commented on #1001
I just put in a couple of dataset scripts during lab sprints. No need to include me in the authorship.
Great work, @henrykironde!

[2017-09-01 10:55] nestorperez commented on #1002
Thanks again @henrykironde

[2017-09-01 11:12] goelakash commented on #1001
Thanks @henrykironde! Here's my details:
[code]

[2017-09-01 12:16] ethanwhite commented on #1002
For anyone else landing here: you'll need to update the retriever scripts using:

[code]

And then everything should work.

[2017-09-03 20:53] kunalpal commented on #1001
Hi Henry,

I'll be honored.

authors:
- Name: Kunal Pal
- ORCID: 0000-0002-9657-0053
- Affiliation Name: RWTH Aachen University, Aachen, Germany

Thanks and regards,
Kunal

On Fri, Sep 1, 2017 at 1:12 PM, Akash Goel <notifications@github.com> wrote:

[2017-09-03 23:43] ethanwhite commented on #1001
@prabh27 - can you create an ORCID? It should only take a couple of minutes: https://orcid.org/register

[2017-09-04 14:07] prabh27 commented on #1001
Hey Ethan,

My details:
Name : Prabh Simran Singh Baweja
ORCID: 0000-0003-3997-4470

Thanks a lot :)

On Mon, Sep 4, 2017 at 1:43 AM Ethan White <notifications@github.com> wrote:

--
Prabh Simran Singh Baweja
Software Developer
Booking.com

[2017-09-12 19:22] zhangcandrew commented on #1001
Hi all, so I think we have a sufficient amount of responses. I've created the markdown file to be submitted for the paper on PR #889. You can review your information there. Feel free to comment or point out any changes you'd like made to it!

[2017-09-16 18:06] henrykironde commented on #1001
Thanks to all our contributors for taking time off to reach out to us with the responses. Incase you missed please feel free to contact us.

[2017-09-16 18:06] #1001 closed

[2017-09-23 13:35] ShivamNegi commented on #979
I don't understand what you are trying to say here. Do you mean that the `json` files don't require `urls` field?

[2017-09-23 13:50] ethanwhite commented on #979
Yes.

[2017-09-23 17:10] zhangcandrew commented on #979
@henrykironde and I were just talking about this the other day. I think @goelakash introduced them in a previous version, so maybe he could elaborate on his reasoning for them?

[2017-09-28 20:10] henrykironde opened #1006 "Predicts data failing, looks like it is due to new updates"
It does look like the data has changed.
The two attributes are missing, [N_samples](https://github.com/weecology/retriever/blob/master/scripts/predicts.py#L94) and [Higher_taxa](https://github.com/weecology/retriever/blob/master/scripts/predicts.py#L111).

On the main website it says, "You are viewing a beta release of the Natural History Museum's Data Portal." http://data.nhm.ac.uk/dataset
I thin

[2017-10-11 03:46] henrykironde opened #1007 "Improve error handling for Test modified"
If some error occurs, It affects the execution of all succeeding tests.
We should handle those errors to avoid test fails

[2017-10-15 19:28] KristinaRiemer opened #1009 "Add GBIF to the retriever"
Global Biodiversity Information Facility, which is a compilation of datasets on occurrences of species from bacteria through mammals. https://www.gbif.org/

[2017-10-20 00:38] henrykironde opened #1011 "Release 2.1"
- [x] Compile Release notes

- [x] Run the tests

- [x] In the master branch update the version number in `setup.py`

- [x] Run python version.py  to make sure that version.txt is to date update

- [x] Update the version number in retriever_installer.iss

- [x] Commit changes

- [x] Add a tag with appropriate version number, e.g. ,git tag -a v1.8.0 -m "Version 1.8.0"

- [x] Push the release commit

[2017-10-20 00:41] henrykironde commented on #1011
Feel free to checkout out the draft of the release notes https://github.com/weecology/retriever/releases
Leave comments

[2017-10-21 07:37] henrykironde opened #1012 "Create a format for testing builds"
The scripts `build_win`, `build_mac`, `build.sh`, `retriever_installer.iss`, `pyinstaller.spec` are used when creating a new release. We need to find a mechanism to automatically test these function so that they are always up to date

[2017-10-21 07:41] henrykironde commented on #1011
We are failing on builds. Am thinking some paths are not well set. I have built it on mac and win and the same error pops up in the build application.

[2017-10-26 15:47] davharris opened #1015 "double-clicking the icon should give users instructions"
Right now, double-clicking the icon like a normal app causes it to load and then silently quit without any indication of what's wrong (at least on Mac).

If clicking the app would bring up the information about "Method 2: Installers" from http://www.data-retriever.org/, I think that would make things a lot less mysterious for users that download binaries.

[2017-10-27 20:52] #1011 closed

[2017-10-29 21:29] henrykironde opened #1016 "Conda-forge- retriever-feedstock documentaion"
Add documentation for Conda `conda-forge/retriever-feedstock` This enables Conda to get updates about the recent changes to the new releases

[2017-11-01 12:05] ethanwhite opened #1017 "breed-bird-survey dataset error"
Ubuntu 16.04, Python 2.7.12:

[code]

[2017-11-01 15:21] ethanwhite commented on #1017
Never mind. I had a BBS data file in my working directory that was causing this issue.

[2017-11-01 15:21] #1017 closed

[2017-11-04 01:01] ethanwhite commented on #961
Just confirmed that this is working fine on another machine. Closing for now. Feel free to reopen if you can confirm and provide some more specific system details so we can figure out what's going on.

[2017-11-04 01:01] #961 closed

[2017-11-04 01:03] ethanwhite commented on #908
This discussion resulted in the following addition to the Frictionless Data patterns:

https://specs.frictionlessdata.io/patterns/#data-package-version

It's not a perfect match since it envisions data and associated metadata being closely tied, which we often don't have, but we should try to follow this for now and then adjust if we encounter issues.

[2017-11-04 01:03] #908 closed

[2017-11-04 01:06] ethanwhite commented on #741
Implemented in 2293c2ee7194c767624a4ab1134b8283a2c59b2b. Thanks again for this @ShivamNegi!

[2017-11-04 01:06] #741 closed

[2017-11-04 01:08] ethanwhite commented on #575
Implemented in 3ec57441477253a5cfba51f41c50c6df231839c5 and c7d82726890c7d9c119cebb3a2e270c3230481ad. Thanks @henrykironde!

[2017-11-04 01:08] #575 closed

[2017-11-04 01:13] ethanwhite commented on #534
We should be ready to go on this now that 2.1 is out and has been successfully archived to Zenodo. Either @henrykironde or I probably need to be the ones to start the process at JOSS to satisfy the "I certify that I am submitting software for which I am a primary author" checkbox. @henrykironde - did you want to handle this or would you like me to do it?

[2017-11-04 01:15] ethanwhite commented on #137
It only took 3.5 years, but @ShivamNegi added this during this GSOC project and it was just released in 2.1. @ShivamNegi - you win the prize for closing the oldest issue I can ever remember closing!

[2017-11-04 01:15] #137 closed

[2017-11-04 01:53] henrykironde commented on #534
Submitted

[2017-11-04 01:54] henrykironde commented on #534
Thanks to @zhangcandrew for the work of pushing this forward. Closing the issue

[2017-11-04 01:54] #534 closed

[2017-11-04 01:56] henrykironde commented on #914
Closing because have have both interface and julia package. Any issues regarding this issue can be resubmitted as a new issue

[2017-11-04 01:56] #914 closed

[2017-11-04 20:16] ethanwhite opened #1019 "Add `fetch` to Python interface"
In the R package we have a `fetch` function which downloads a dataset as csv and then loads it into a list of data frames (one per table). We should add the same function to the Python interface. The default format for fetching should be a pandas data frame, but it might also be worth having some other optional formats (e.g., a numpy structured array).

[2017-11-04 21:32] henrykironde commented on #1019
Just wondering which one would serve better in terms of memory.

[2017-11-05 18:11] ethanwhite commented on #1019
Which input format (pandas vs. numpy) or something else? I think most folks will want the Pandas dataframe as the default, but once the basics are implemented I could definitely see adding some options for larger datasets that store the data in an SQL database or HDF5 so that they can be worked with on disk. We could also start to implement fine tuning based on types (e.g., https://www.dataquest.i

[2017-11-24 11:35] goelakash opened #1026 "Load data to a cloud-DB"
Hey guys!

Should we consider adding support for various relational or NoSQL cloud databases (DDB, RDS, Google Datastore, etc) ? Might be useful to run analyses on EC2 or similar cloud instances, so that people can share credentials and work collectively without having to manually share the files and keep track with each other.

Feel free to modify and suggest other variations on this theme.

[2017-11-26 03:05] henrykironde commented on #1026
@goelakash sounds like a good feature addition.

[2017-11-30 16:17] zhangcandrew commented on #1019
Pandas seems to have the ability to[ download a csv file directly from a url into a dataframe ](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html), and numpy supports [similar functionality when used with urllib](https://machinelearningmastery.com/load-machine-learning-data-python/). Which I think makes this a lot easier for us.

 When fetching the data, do we want our fe

[2017-11-30 16:32] ethanwhite commented on #1019
Because we want to take advantage of all of the cleaning code I think we probably want to use either `install_csv` to create a set of csv's and then load them or `install_sqlite` to create an SQLite file and then load all of the tables from it. Using SQLite would be a little more complicated up front because we'd have to write the code to look up the table names and then load them, but it might al

[2017-11-30 19:52] goelakash commented on #1026
@henrykironde Thanks Henry. I'll try to build a prototype for DDB when I get some time.

[2017-12-10 12:05] palnabarun commented on #1007
Hi @henrykironde,

Can you please elaborate more on the issue?

I want to work on this issue.

[2017-12-11 02:24] henrykironde commented on #1007
Hi @palnabarun, Thanks for showing interests in contributing to the retriever.

 I am traveling but I have created a test branch for you.
`travis :`https://travis-ci.org/henrykironde/retriever/jobs/314550560

`branch:`https://github.com/henrykironde/retriever/tree/test_mod_nofunc
This should fail because the url are just made up.
If you try to run it you could see some errors. I will be online in

[2017-12-12 03:46] palnabarun commented on #1007
Hi @henrykironde,
I made a fork to my account and cloned locally, setting up `weecology/retriever` as upstream.
How do I pull `henrykironde/test_mod_nofunc` and track it?

Also, I was trying to set up the project inside a virtualenv. I cloned the repo, installed it using `python setup.py install` and `nose`. When I ran `nosetests`, it returned `0 tests passed in 0.001 seconds`.
Any idea on this?

[2017-12-12 04:28] henrykironde commented on #1007
It’s  pytest like inthe the .travis.yml file

[2017-12-12 05:00] henrykironde commented on #1007
run `py.test  -v `. I also recommend installing using pip install . -U

[2017-12-12 05:16] palnabarun commented on #1007
I did try using both, `python setup.py install` and `pip install -e .`

I think the issue is with the conributing instructions. It asks to use `nosetests`. That needs to be changed. When I used `pytest`, the tests are executing.

One more thing, how do I pull the branch in your repo? I follow the standard GitHub flow for contributing.

[2017-12-12 05:29] henrykironde commented on #1007
Nice, one step finished.

1. For the contributing part, lets create a new issue and mention what needs to be handled.
2.  To create a pull request (PR), go to the main repo https://github.com/weecology/retriever.
next to the branch, there is a part that says new pull request. Follow this starting at minute 3.0 https://youtu.be/rgbCcBNZcdQ?t=191.
we create a PR to the main repo.
Let me know if it w

[2017-12-12 17:20] palnabarun commented on #1007
I have almost set up the project. The only issue right now is that the tests involving mysql are failing. I think the tests are unable to connect to the database. I have created a `travis` user without any password and granted all privileges to the `testdb` database.

Am I forgetting something or there is some issue?

[2017-12-12 17:27] henrykironde commented on #1007
Just a minute

[2017-12-12 17:32] henrykironde commented on #1007
Did run these commands?
[code]

[2017-12-12 17:45] palnabarun commented on #1007
I did not run the third command, but now that I did, there is no effect. The tests that were failing previously are still failiing. The failing tests are all in `test_regression.py`.

[2017-12-12 17:51] henrykironde commented on #1007
what error are you getting?

[2017-12-12 17:52] palnabarun commented on #1007
Should I comment the error trace here?

[2017-12-12 17:54] palnabarun commented on #1007
All those errors have one thing in common is that the expected md5 hash is not equal to the one that is being returned.

[2017-12-12 18:53] henrykironde commented on #1007
okey paste the a sample of the error here

[2017-12-12 19:11] palnabarun commented on #1007
Here it is:
[code]

[2017-12-12 19:20] henrykironde commented on #1007
Is this mac or ubuntu? And Did you use sudo?

[2017-12-12 19:26] henrykironde commented on #1007
You could also send me a quick message on hangouts`henrykironde@gmail.com` or use gitter https://gitter.im/weecology/retriever?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2017-12-12 19:28] palnabarun commented on #1007
I am using Ubuntu 16.04. Python 3.5 and virtualenv.

[2017-12-12 19:35] palnabarun commented on #1007
Now that the project is setup, how can I reproduce this issue? I saw your `test_mod_nofunc` branch. You modified some of the scripts.

[2017-12-12 20:03] henrykironde commented on #1007
@palnabarun You mentioned how to create a PR. I think you wanted to know the workflow.
I didn't understand then, however create a branch and PR your branch with changes to the main repo of `weecology`

[2017-12-13 06:29] palnabarun commented on #1007
@henrykironde  I know how to do the usual stuff. Just asking how to reproduce the issue mentioned here and go about solving it?

[2017-12-13 07:19] henrykironde commented on #1007
There is a pull request I sent you. The scripts have been changed on purpose to fail. However the tests pass on Python 3 and get stuck on Python 2. You should also check the travis or appveyor CI testing for details

[2017-12-13 20:23] ethanwhite commented on #994
Complete in #1027. Thanks again @ShivamNegi!

[2017-12-13 20:23] #994 closed

[2017-12-13 20:41] ethanwhite commented on #955
I'm going to close this for the time being since I don't think that `download` should be getting a ton of direct use. Happy to have it reopened it someone wants to tackle it at some point.

[2017-12-13 20:41] #955 closed

[2017-12-13 20:48] ethanwhite opened #1028 "Improve OS X installer"
There are a number of suggestions for improving the OS X installer (thanks @davharris!). This is basically one chunk of work for someone who knows something about packaging in OS X, so I'm going combine them together here:

1. Double clicking on the app should give users information (#1015 & #802). Right now, double-clicking the icon like a normal app causes it to load and then silently quit witho

[2017-12-13 20:48] ethanwhite commented on #1015
Replaced by #1028

[2017-12-13 20:48] #1015 closed

[2017-12-13 20:49] ethanwhite commented on #802
Replaced by #1028

[2017-12-13 20:49] #802 closed

[2017-12-13 20:49] ethanwhite commented on #390
Replaced by #1028

[2017-12-13 20:49] #390 closed

[2017-12-13 20:54] ethanwhite commented on #891
Closing due to a lack to response from the compadreDB folks. Feel free to reopen if the data is converted to a tabular format at some point.

[2017-12-13 20:54] #891 closed

[2017-12-13 21:03] ethanwhite commented on #969
It would be nice to support license based searches as well.

[2017-12-13 21:13] ethanwhite commented on #899
The core of this was implemented in #953. Closing and opening an issue focused on searching.